.language {
  &-content {

    h1,
    h2 {
      border-top: 0 !important;
      padding-top: 0 !important;
    }

    h1 {
      margin-top: get-spacing('small');
      margin-bottom: get-spacing('medium');
      padding-left: 60px;
      position: relative;

      .icon-48 {
      position: absolute;
        left: 0px;
        &:before, &:after{
          margin-right: 0;
          margin-left: 0;
        }
      }

      &.no-icon {
        padding-left: 0;
      }
    }

    h2 {
      margin-top: get-spacing('large');
    }

    pre {
      margin: auto;
    }
  }

  &-tabs {
    list-style: none !important;
    margin: 0;
    padding: get-spacing('small');
    background-color: $midnight;
    border-radius: get-spacing('xx-small');

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-right: get-spacing('small');
      margin-top: get-spacing('xx-small');
      margin-bottom: -#{get-spacing('xx-small')} !important;
      border-bottom: solid 2px $midnight;
      transition: 0.2s all;
      vertical-align: middle;

      a {
        @include font-size('base');
        @include font-weight('semibold');
        display: block;
        color: $periglacial-blue;
        height: get-spacing('medium');

        &:hover {
          text-decoration: none;
        }

        i {
          margin-right: get-spacing('x-small');
        }

        span {
          display: inline-block;
          vertical-align: top;
          line-height: 30px;
        }
      }

      &:hover,
      &.active {
        border-bottom: solid 2px $white;

        a {
          color: $white;
        }
      }
    }
  }

  &-ctas {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 0 !important;

    li {
      display: inline-block;
      margin-left: get-spacing('small');
      width: 265px;
      max-width: 100%;

      &:first-child {
        margin-left: 0;
      }

      a {
        text-align: center;
      }
    }
  }


  &-reference {
    .icon {
      display: inline-block;
      margin-right: 15px;
    }

    + span {
      &:last-child {
        @include font-size('new-small');
        margin-left: get-spacing('x-small');
      }
    }
  }

  &-libraries {
    padding: 0;
    padding-left: 0 !important;
    margin: 0;
    margin-top: get-spacing('medium');
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-self: center;
      background-color: #fff;
      flex: 1;
      box-shadow: 0 6px 25px rgba(5,5,5,0.3);
      height: auto;
      border-radius: 3px;
      min-height: 144px;
      width: calc(33% - #{get-spacing('medium')});
      flex-basis: calc(33% - #{get-spacing('medium')});
      flex-grow: 0;
      padding: get-spacing('small');
      margin-right: get-spacing('medium');
      margin-bottom: get-spacing('medium') !important;
      position: relative;

      &:hover {
        box-shadow: 0 6px 25px rgba(5,5,5,0.6);
      }

      i {
        position: absolute;
        top: 24px;
        font-size: 18px;
        color: $navy-blue;
      }

      a {
        flex: 1;
        color: $midnight;
        padding-left: 22px;

        &:hover {
          text-decoration: none;
        }

        span {
          font-size: 18px;
          color: $navy-blue;
        }

        span {
          margin-bottom: get-spacing('small');
        }

        p {
          margin-top: 0 !important;
        }

      }
    }
  }

  &-list {
    padding-left: 0 !important;

    li {
      list-style: none;
    }

    a {
      font-size: 18px;
    }
  }
}

@include media('<large') {
  .language {
    &-libraries {
      li {
        width: calc(33% - #{get-spacing('medium')});
        flex-basis: calc(33% - #{get-spacing('medium')});
      }
    }
  }
}

@include media('<medium-small') {
  .language {
    &-libraries {
      li {
        width: calc(50% - #{get-spacing('medium')});
        flex-basis: calc(50% - #{get-spacing('medium')});
      }
    }
  }
}

@include media('<small') {
  .language {

    &-content {
      h1 {
        .icon,
        [class^='icon-'],
        [class*='icon-'] {
          display: block;
          margin-bottom: get-spacing('small');
        }
      }
    }

    &-tabs {
      li {
        // width: 100%;
        margin-bottom: get-spacing('x-small') !important;
      }
    }

    &-ctas {
      li {
        margin-left: 0;
        width: 100%;
        max-width: 265px;

        &:first-child {
          margin-bottom: get-spacing('small');
        }
      }
    }

    &-reference {
      + span {
        &:last-child {
          display: block;
          margin-left: get-spacing('small');
        }
      }
    }
  }
}

@include media('<x-small') {
  .language {

    &-libraries {
      li {
        width: 100%;
        flex-basis: 100%;
        margin-right: 0;
      }
    }

    &-tabs {
      li {
        width: 100%;
      }
    }
  }
}
