.column-icon {
	background-size: 39px;
	height: 39px;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	top: (get-line-height('base') * .5);
	width: 39px;
	z-index: 10;

	&.rounded-onboarding {
		background-image: image_url("icons/rounded-onboarding.png");
	}
	&.rounded-password {
		background-image: image_url("icons/rounded-password.png");
	}
	&.rounded-authentication {
		background-image: image_url("icons/rounded-authentication.png");
	}
	&.rounded-authentication--blue {
		background-image: image_url("icons/rounded-authentication--blue.png");
	}
	&.rounded-profile {
		background-image: image_url("icons/rounded-profile.png");
	}
	&.rounded-groups {
		background-image: image_url("icons/rounded-groups.png");
	}
	&.rounded-policy {
		background-image: image_url("icons/rounded-policy.png");
	}

}

.rounded-user--blue {
	background-image: image_url("icons/rounded-user--blue.png");
}

.logo-placard {
    background: $white;
    display: block;
    height: 180px;
    line-height: 120px;
    padding: 30px;
    text-align: center;

    img {
	    display: inline-block;
	    max-height: 100%;
	    max-width: 100%;
	    vertical-align: middle;
    }
}
