.code-selector {
  background-color: get-color('ebony-clay');
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;

  h3 {
    color: $white;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 5px;
  }

  a {
    color: $white;
    display: inline-block;
    height: 42px;
    line-height: 32px;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
    &.active,
    &:hover {
      border-bottom: 2px solid $white;
    }
    .icon {
      left: 5px;
      position: absolute;
    }
  }

  li.with-icon a{
    padding-left: 45px;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
    }
  }
}

// Disable the margin width determined by the parent CSS.
.PageContent-main#quickstart-body {
  max-width: none;
  padding: 64px 0;
}


.example-content-well {
  padding: 10px 0;
  h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    border-top: none;
  }
  pre {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: none;
  }
}

.quickstart-page {
  h2 {
    border-bottom: none;
    font-size: 23px;
    font-weight: lighter;
  }
  h3 {
    border-bottom: none;
    font-size: 21px;
    font-weight: lighter;
  }
  h4 {
    border-bottom: none;
    font-size: 18px;
    font-weight: lighter;
  }
  .TableOfContents-item{
    &.active {
      border-left-color: get-color('accent');
    }
  }
}
