.authorization-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;

  background: #ffffff;
}

.authorization-layout .mr-15 {
  margin-right: 15px;
}

.authorization-layout .row {
  display: flex;
  margin-top: 0;
  margin-right: -24px;
  margin-bottom: 17px;
  margin-left: 0;

  @include media("<tablet") {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0;
  }
}

.authorization-layout .row .field-wrapper {
  position: relative;

  flex: 1;
  padding-top: 0;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 0;

  @include media("<tablet") {
    padding: 0;
  }
}

.authorization-layout .authorization-layout--header {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 111px;
  margin-left: 0;

  @include media("<desktop-xl") {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    padding: 0 35px;
  }

  @include media("<desktop") {
    padding: 10px;
  }
}

.authorization-layout .authorization-layout--content {
  margin: 0 auto;
  padding-top: 110px;
  padding-right: 64px;
  padding-bottom: 98px;
  padding-left: 64px;
  max-width: 1440px;

  @import "../components/form";

  @include media("<desktop") {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

.authorization-layout .authorization-layout--content .logo-wrapper {
  margin-top: 36px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
}

.authorization-layout .authorization-layout--content .logo-wrapper .company-logos--wrapper h4 {
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 20px;
  color: cv("text", "darker");
}

.authorization-layout .authorization-layout--content .auth0-banner {
  display: flex;
  padding: 30px;

  background-color: #f2f5ff;

  font-weight: 500;
  font-size: 22px;
  color: #00297a;

  @include media("<tablet") {
    flex-direction: column-reverse;
  }
}

.authorization-layout .authorization-layout--content .auth0-banner--logo {
  position: relative;

  display: flex;
  align-self: center;
  margin-top: 0;
  margin-right: 26px;
  margin-bottom: 0;
  margin-left: 66px;
  min-width: 97px;

  &::after {
    content: "";

    position: absolute;
    right: 0;

    display: inline-block;
    margin-left: 7px;
    min-width: 63px;
    max-width: 63px;
    height: 30px;

    background: url("/img/logos/auth0-inc-logo.svg") 50% 50% no-repeat;
  }

  @include media("<tablet") {
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
    min-width: 118px;
  }
}

.authorization-layout .authorization-layout--content .auth0-banner--logo img {
  width: 28px;
}

.authorization-layout .authorization-layout--content .auth0-banner a {
  font-weight: 500;
  font-size: 18px;
  color: #00297a;

  &:hover {
    border-bottom: 0;
  }

  &:link,
  &:visited {
    border-bottom: 1px solid currentcolor;

    text-decoration: none;
    color: #00297a;
  }
}

.authorization-layout .authorization-layout--footer {
  display: flex;
  flex-direction: column;
}

.authorization-layout .authorization-layout--footer img {
  width: 100%;
}

.authorization-layout .error-color {
  color: cv("cerise", "base");
}
