.authorization-layout {
  display: flex;
  background: #fff;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  .mr-15 {
    margin-right: 15px;
  }

  .row {
    display: flex;
    margin: 0 -24px 17px 0;
    @include media("<tablet") {
      margin: 0 0 24px 0;
    }
    .field-wrapper {
      position: relative;
      padding: 0 24px 0 0;
      flex: 1;
      @include media("<tablet") {
        padding: 0;
      }
    }
  }

  .authorization-layout--header {
    display: flex;
    align-items: center;
    margin: 0 0 111px 0;
    @include media("<desktop-xl") {
      margin: 0 0 50px;
      padding: 0 35px;
    }
    @include media("<desktop") {
      padding: 10px;
    }
  }

  .authorization-layout--content {
    padding: 110px 64px 98px;
    max-width: 1440px;
    margin: 0 auto;

    @import '../components/form';

    @include media("<desktop") {
      padding: 40px 20px 50px;
    }

    .logo-wrapper {
      width: 100%;
      margin: 36px 0 0 0;

      .company-logos--wrapper {
        h4 {
          font-size: 20px;
          font-weight: normal;
          color: cv('text', 'darker');
          margin-bottom: 60px;
        }
      }
    }
    .auth0-banner {
      display: flex;
      background-color: #F2F5FF;
      padding: 30px;
      font-size: 22px;
      font-weight: 500;
      color: #00297A;

      &--logo {
        display: flex;
        align-self: center;
        margin: 0 26px 0 66px;
        position: relative;
        min-width: 97px;
        img {
          width: 28px;
        }
        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          right: 0;
          margin-left: 7px;
          background: url(/img/logos/auth0-inc-logo.svg) 50% 50% no-repeat;
          min-width: 63px;
          height: 30px;
          max-width: 63px;
        }
        @include media("<tablet") {
          min-width: 118px;
          margin: 30px 0 50px 0;
        }
      }
      a {
        font-size: 18px;
        font-weight: 500;
        color:#00297A;
        &:link, &:visited {
          color:#00297A;
          text-decoration: none;
          border-bottom: 1px solid currentcolor;
        }
        &:hover {
          border-bottom: 0;
        }
      }

      @include media("<tablet") {
        flex-direction: column-reverse;

        &--logo {
          padding: 0 20px;
        }
      }
    }
  }

  .authorization-layout--footer {
    img {
      width: 100%;
    }
    flex-direction: column;
    display: flex;
  }

  .error-color {
    color: cv("cerise", "base");
  }
}
