.dark-theme {
	@import "../themes/dark/global";
	@import "../themes/dark/login";
	@import "../themes/dark/selectorTile";
	@import "../themes/dark/button";
	@import "../themes/dark/cards";
	@import "../themes/dark/signUp";
	@import "../themes/dark/sideBar";
	@import "../themes/dark/content";
	@import "../themes/dark/authorization";
	@import "../themes/dark/header";
	@import "../themes/dark/homepage";
	@import "../themes/dark/breadCrumb";
	@import "../themes/dark/code";
	@import "../themes/dark/onThisPage";
	@import "../themes/dark/signUpPopup";
	@import "../themes/dark/pricing";
	@import "../themes/dark/search";
	@import "../themes/dark/companyLogos";
	@import "../themes/dark/footer";
	@import "../themes/dark/liveWidget";
	@import "../themes/dark/stackSelector";
}
