html, body, #app {
  height: 100%;
}
body {
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  font-feature-settings: "lnum", "pnum";
  background-color: cv("body");
  color: cv('text', 'darker');
  display: none;

  &.loaded {
    display: block;
  }
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.wrap {
  background-color: cv("header");
}

.text-center {
  text-align: center;
}

.container {
  max-width: $container-width;
  margin: 0 auto;

  @include media(">=desktop-xx-large") {
    max-width: $container-width-desktop-large;
  }
}

.page-content {
  width: 100%;
}

[class$="--container"] {
  margin: 0 auto;
  padding: 0em 1.5em;
  display: flex;
  justify-content: space-between;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: cv("header");
}

.page-body {
  padding-top: 142px;
  background-color: white;
  flex: 1 0 auto;

  @include media("<desktop-xl") {
    padding-top: 125px;
  }
  @include media("<tablet") {
    padding-top: 115px;
  }
}

a[target="_blank"]:not([href^="mailto:"])::after {
  display: none;
  background-image: none;
}
a > img + span > svg.icon.outbound {
  display: none;
}
ol:not([class]), ul:not([class]) {
  max-width: 100%;
  margin-left: 5px;
}
p {
  max-width: 100%;
}
strong {
	font-weight: 500;
}