body {
  font-family: proxima-nova,"Proxima Nova",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  font-feature-settings: "lnum","pnum";
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.wrap {
  background-color: cv('brand');
}

.text-center {
  text-align: center;
}

.container {
  max-width: $container-width;
  margin: 0 auto;

  @include media('>=desktop-xx-large') {
    max-width: $container-width-desktop-large;
  }
}

.page-content {
  width: 100%;
}

[class$="--container"] {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0em 1.5em;
  display: flex;
  justify-content: space-between;

  @include media('>=desktop-xx-large') {
    max-width: $container-width-desktop-large;
  }
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: cv('brand');
}


.page-body:not(.redesign) {
  padding-top: 6rem;

  @media(max-width:1024px){
    padding-top: 5rem;
  }
}

.page-body.redesign {
  padding-top: 4.3rem;
}

a[target='_blank']:not([href^='mailto:'])::after {
  display: none;
  background-image: none;
}

