html,
body,
#app {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: none;

  background-color: cv("body");

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: $font-family;
  line-height: 1.5;
  color: cv("text", "darker");
  font-feature-settings: "lnum", "pnum";
}

body.loaded {
  display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.wrap {
  background-color: cv("header");
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: $container-width;
}

@include media(">=desktop-xx-large") {
  .container {
    max-width: $container-width-desktop-large;
  }
}

.page-content {
  width: 100%;
}

[class$="--container"] {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1.5em;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fixed-header {
  position: fixed;
  z-index: 100;

  width: 100%;

  background-color: cv("header");
}

.page-body {
  flex: 1 0 auto;
  padding-top: 141px;

  background-color: #ffffff;
  transition: padding-top 0.1s ease-out;
}

@include media("<desktop-xl") {
  .page-body {
    padding-top: 125px;
  }
}

@include media("<tablet") {
  .page-body {
    padding-top: 115px;
  }
}

a[target="_blank"]:not([href^="mailto:"])::after {
  display: none;

  background-image: none;
}

a > img + span > svg.icon.outbound {
  display: none;
}

ol:not([class]),
ul:not([class]) {
  margin-left: 5px;
  max-width: 100%;
}

p {
  max-width: 100%;
}

strong {
  font-weight: 700;
}
