.authorization-layout {
  .row .field-wrapper {
    color: cv("text", "darker");
  }
  .authorization-layout--content {
    input[type="text"],
    input[type="button"],
    select {
      background-color: cv("code");
      border-color: cv("text", "accent");
      color: cv("text");
    }
    a.btn {
      font-weight: 500;
    }
    input[type="submit"] {
      background-color: cv("link");
      border-color: cv("link");
      color: cv("body");
      font-weight: 500;
    }
    a.social-btn,
    button.social-btn {
      color: cv("text");
      background-color: cv("link", "gray");
      font-weight: 500;
    }
    .auth0-banner {
      color: cv("text", "accent");
      background-color: cv("code");
      a:link,
      a:visited {
        color: cv("link");
      }
      &--logo {
        &:after {
          background-image: none !important;
          mask-repeat: no-repeat;
          mask-position: center;
          background-color: cv("white") !important;
          -webkit-mask-image: url(/img/logos/auth0-inc-logo.svg);
          mask-image: url(/img/logos/auth0-inc-logo.svg);
        }
      }
    }
  }
  &--content {
    input[type="text"],
    select {
      color: cv("text", "accent");
    }
  }
}
