.authorization-layout .row .field-wrapper {
  color: cv("text", "darker");
}

.authorization-layout .authorization-layout--content input[type="text"],
.authorization-layout .authorization-layout--content input[type="button"],
.authorization-layout .authorization-layout--content select {
  color: cv("text");

  background-color: cv("code");
  border-color: cv("text", "accent");
}

.authorization-layout .authorization-layout--content a.btn {
  font-weight: 500;
}

.authorization-layout .authorization-layout--content input[type="submit"] {
  color: cv("body");
  font-weight: 500;

  background-color: cv("link");
  border-color: cv("link");
}

.authorization-layout .authorization-layout--content a.social-btn,
.authorization-layout .authorization-layout--content button.social-btn {
  color: cv("text");
  font-weight: 500;

  background-color: cv("link", "gray");
}

.authorization-layout .authorization-layout--content .auth0-banner {
  color: cv("text", "accent");

  background-color: cv("code");
}

.authorization-layout .authorization-layout--content .auth0-banner a:link,
.authorization-layout .authorization-layout--content .auth0-banner a:visited {
  color: cv("link");
}

.authorization-layout .authorization-layout--content .auth0-banner--logo::after {
  background-image: none !important;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: cv("white") !important;
  mask-image: url("/img/logos/auth0-inc-logo.svg");
}

.authorization-layout--content input[type="text"],
.authorization-layout--content select {
  color: cv("text", "accent");
}
