.announcement-banner {
  background-color: cv("code");
  color: cv("text");
  &--description {
    color: cv("text");
  }
  &--logo {
    background: url(/img/homepage/announcement-large--dark.png) 50% 0 no-repeat;
    background-size: cover;
    max-width: 245px;
    height: 100%;
    width: 100%;
    img {
      display: none;
    }
    @include media("<=tablet") {
      max-width: 74px;
      right: 0;
      background: url(/img/homepage/announcement-small--dark.png) 50% 50%
        no-repeat;
      background-size: contain;
    }
    @include media("<=tablet") {
      max-width: 97px;
    }
  }
  &--close {
    background-color: transparent;
    @include media("<=tablet") {
      background-color: cv("body", "orange");
    }
  }
}
