.breadcrumb--container {
  svg path {
    stroke: cv("breadcrumb", "svg");
  }
  ol {
    li a,
    li span {
      color: cv("breadcrumb", "link");
    }
  }
  ol li a.router-link-exact-active.router-link-active {
    color: cv("action");
  }
}
