.Button {
	&--redOutline, 
	&--redOutline:active, 
	&--redOutline:hover,
	&--red, 
	&--red:active, 
	&--red:hover,
	&--blueDarkOutline,
	&--blueDarkOutline:active, 
	&--blueDarkOutline:hover {
		color: cv('text');
		border-color: cv('text');
	}
	&--blueDarkOutline,
	&--blueDarkOutline:active, 
	&--blueDarkOutline:hover {
		background-color: cv('body', 'darkgray');
	}
}