.cards-own {
    .card--main {
        color: cv('text');
    }
    .is-card-clickable {
        border: 1px solid cv('breadcrumb', 'link');
        &:hover, &:active {
            background: cv('header');
            box-shadow: none;
        }
    }
}