.cards-own .card--main {
  color: cv("text");
}

.cards-own .is-card-clickable {
  border: 1px solid cv("breadcrumb", "link");

  &:hover,
  &:active {
    box-shadow: none;
    background: cv("body", "obscure");
  }
}
