.cm-s-neat {
  span.cm-variable {
    color: cv("text");
  }

  span.cm-comment {
    color: cv("breadcrumb", "svg");
  }

  span.cm-property {
    color: cv("code", "property");
  }

  span.cm-keyword {
    color: cv("code", "keyword");
  }

  span.cm-string {
    color: cv("code", "define");
  }
}

.CodeMirror {
  border-color: transparent;
  background-color: cv("code");

  color: cv("text");

  &-gutters {
    background-color: cv("code");
  }
}

.token.function,
.token.class-name {
  color: cv("code", "define");
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted,
.token.atrule,
.token.attr-value,
.token.keyword {
  color: cv("code", "success");
}

code[class*="language-"],
pre[class*="language-"] {
  color: cv("text");
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: cv("code", "property");
}

.homepage--code-example {
  border-color: transparent;
  background-color: cv("body");

  &--cm-wrapper .CodeMirror {
    border-color: transparent;
    background-color: cv("body");
  }
}

.api-uri {
  &-template {
    border-color: cv("body");
    background-color: cv("body", "obscure");
  }

  &-put strong {
    color: cv("link");
  }
}
