.company-logos--icon {
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    background-color: cv("text") !important;
    background-image: none !important;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &:nth-child(1) {
    mask-image: url("/img/logos/baseball.svg");
  }

  &:nth-child(2) {
    mask-image: url("/img/logos/splunk.svg");
  }

  &:nth-child(3) {
    mask-image: url("/img/logos/adobe.svg");
  }

  &:nth-child(4) {
    mask-image: url("/img/logos/jetblue.svg");
  }

  &:nth-child(5) {
    mask-image: url("/img/logos/experian.svg");
  }
}
