.page-body .content--container {
  color: cv("text");
}

.page-body .content--container pre[class*="language-"] {
  background-color: cv("code");
}

.page-body .content--container :not([class*="language-"]) > code {
  border-color: transparent;
  background-color: cv("text", "accent");

  color: cv("text");
}

.page-body .content--container .edit-on-github .fa {
  color: cv("text");
}

.page-body .content--container blockquote {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  background-color: cv("body", "obscure");
}

.page-body .content--container .vs__selected {
  color: cv("text");
}

.page-body .content--container .vs__dropdown-menu {
  border-color: cv("text", "accent") !important;
}

.page-body .content--container .vs__dropdown-menu .vs__dropdown-option {
  border-bottom: 1px solid var(--c-text-gray);
  background-color: cv("code");

  color: cv("text");
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin-right: 0;
  margin-left: 0;
}

.download-16::before,
.fa-github:before {
  color: cv("text");
}

.page-title [class^="icon-"]:before,
[class*=" icon-"]:before {
  line-height: 2.875rem;
}

.api-label-ie {
  border-color: cv("text");
  background-color: cv("link", "signup");

  color: cv("text");
}

.api-label-limited-ga {
  border-color: cv("text");
  background-color: cv("cyan");

  color: cv("text");
}

.app-footer a:hover {
  color: #b1e4de !important;
}
