.app-footer {
  background-color: cv("footer", "base");
}

.app-footer .social a.link {
  color: cv("white", "base");
}

.app-footer .footer--columns .websites .website {
  align-items: flex-start;
}

.app-footer .footer--columns .websites span.description {
  color: cv("footer", "light");
}

.app-footer .footer--columns .footer--column .column--header {
  color: cv("footer", "gray");
}

.app-footer ul.link-list li.link-list--item i.link-list--icon svg path {
  fill: cv("action", "base");
}
