.sidebar-area,
table,
.CodeMirror-vscrollbar {
  scrollbar-width: thin;
  scrollbar-color: dark;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: cv("body", "obscure");
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid cv("body", "obscure");
    border-radius: 6px;
    background-color: cv("breadcrumb", "svg");
  }
}

.page-body {
  background-color: cv("body");
}

hr {
  color: cv("text");
}
