.sidebar-area,
table,
.CodeMirror-vscrollbar {
  scrollbar-width: thin;
  scrollbar-color: dark;
}

.sidebar-area::-webkit-scrollbar,
table::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 8px;
}

.sidebar-area::-webkit-scrollbar-track,
table::-webkit-scrollbar-track,
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: cv("body", "obscure");
}

.sidebar-area::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: cv("breadcrumb", "svg");
  border: 2px solid cv("body", "obscure");
  border-radius: 6px;
}

.page-body {
  background-color: cv("body");
}

hr {
  color: cv("text");
}
