@include media("<desktop") {
  header.page-header .menu--slideout {
    background-color: cv("body", "obscure");
  }

  header.page-header .menu--slideout .header--links > ul.menu--items:not(.expanded) > li span.link,
  header.page-header .menu--slideout .header--links > ul.menu--items:not(.expanded) > li a.link {
    color: cv("text", "base");
  }

  header.page-header .menu--slideout .header--links > ul.menu--items:not(.expanded) > li a.link.router-link-active {
    color: cv("action", "base") !important;
  }

  header.page-header .menu--slideout .header--links > ul.menu--items li a.link:hover,
  header.page-header .menu--slideout .header--links > ul.menu--items li span.link:hover {
    color: cv("action", "base");
  }

  header.page-header .menu--slideout .header--links > ul.menu--items.expanded li.opened > span {
    color: cv("action", "base");
  }

  header.page-header .menu--slideout .header--links > ul.menu--items.expanded li.opened > span:after {
    background-color: cv("action", "base") !important;
    background-image: none !important;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-image: url("/img/icons/chevron-down-gray.svg");
    mask-image: url("/img/icons/chevron-down-gray.svg");
  }
}

ul.menu--items > li.expandable > span:after,
ul.menu--items > li.expandable > a:after {
  background-image: url("/img/icons/chevron-down-white.svg") !important;
}

ul.menu--items > li.expandable > ul.submenu--items {
  background: cv("header", "search");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--divider {
  border-color: cv("text", "accent");
}

ul.menu--items > li.expandable > ul.submenu--items:before {
  border-bottom-color: cv("header", "search");
}

ul.menu--items > li.expandable > ul.submenu--items li a {
  color: cv("text", "base");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon svg path {
  fill: cv("link", "base");
}
