header.page-header {
    background-color: cv('text', 'gray');
    .sign-up--button {
		color: cv('action'); 
		border-color: cv('action'); 
    }
}

@include media("<desktop") {
    header.page-header {
		.menu--slideout {
			background-color: cv('header');
			.header--links {
				& > ul.menu--items {
					&:not(.expanded) {
						& > li {
							span.link,
							a.link {
								color: cv('text');
							}
							a.link.router-link-active {
								color: cv('action') !important;
							}
						}
					}
					li a.link:hover, 
					li span.link:hover {
						color: cv('action');
					}
				}
				& > ul.menu--items.expanded {
					li.opened > span {
						color: cv('action');
						&:after {
							background-image: none !important;
							mask-repeat: no-repeat;
							mask-position: center;
							background-color: cv('action') !important;
							-webkit-mask-image: url(/img/icons/chevron-down-gray.svg);
							mask-image: url(/img/icons/chevron-down-gray.svg);
						}
					}
				}
			}
		}
    }
}

ul.menu--items > li.expandable {
    & > span:after {
		background-image: url(/img/icons/chevron-down-white.svg) !important;
    }
    & > ul.submenu--items {
		background: cv('body', 'darkgray');
		.menu--divider {
			border-color: cv('text');
		}
		&:before {
			border-bottom-color: cv('body', 'darkgray');
		}
		li a {
			color: cv('text');
		}
		.menu--icons .menu--icon svg path {
			fill: cv('text');
		}
    }
}