header.page-header .sign-up--button {
  border-color: cv("action");

  color: cv("action");
}

header.page-header .menu--slideout {
  @include media("<desktop") {
    background-color: cv("body", "obscure");
  }
}

header.page-header .menu--slideout .header--links > ul.menu--items:not(.expanded) > li span.link,
header.page-header .menu--slideout .header--links > ul.menu--items:not(.expanded) > li a.link {
  @include media("<desktop") {
    color: cv("text");
  }
}

header.page-header .menu--slideout .header--links > ul.menu--items:not(.expanded) > li a.link.router-link-active {
  @include media("<desktop") {
    color: cv("action") !important;
  }
}

header.page-header .menu--slideout .header--links > ul.menu--items li a.link:hover,
header.page-header .menu--slideout .header--links > ul.menu--items li span.link:hover {
  @include media("<desktop") {
    color: cv("action");
  }
}

header.page-header .menu--slideout .header--links > ul.menu--items.expanded li.opened > span {
  @include media("<desktop") {
    color: cv("action");
  }
}

header.page-header .menu--slideout .header--links > ul.menu--items.expanded li.opened > span::after {
  @include media("<desktop") {
    background-color: cv("action") !important;
    background-image: none !important;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("/img/icons/chevron-down-gray.svg");
  }
}

ul.menu--items > li.expandable > span::after,
ul.menu--items > li.expandable > a::after {
  background-image: url("/img/icons/chevron-down-white.svg") !important;
}

ul.menu--items > li.expandable > ul.submenu--items {
  background: cv("header", "search");

  &::before {
    border-bottom-color: cv("header", "search");
  }
}

ul.menu--items > li.expandable > ul.submenu--items .menu--divider {
  border-color: cv("text", "accent");
}

ul.menu--items > li.expandable > ul.submenu--items li a {
  color: cv("text");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon svg path {
  fill: cv("link");
}
