.homepage--section-description {
  color: cv("breadcrumb", "link");
}

.homepage--intro-heading {
  border-color: cv("breadcrumb", "link");
}

.homepage--top-section {
  background: cv("body", "base") url("/img/homepage/black-to-gray-bg.svg") repeat-x left bottom;
}

.homepage--assurance-block-margin {
  background: cv("body", "homepage-lighter-block") url("/img/homepage/gray-to-black-bg.svg") repeat-x left bottom;
}

.homepage--assurance-block-margin .col-xl-4:nth-child(1) span,
.homepage--assurance-block-margin .col-xl-4:nth-child(2) span,
.homepage--assurance-block-margin .col-xl-4:nth-child(3) span {
  background-color: cv("action", "base") !important;
  background-image: none !important;
  mask-repeat: no-repeat;
  mask-position: center;
}

.homepage--assurance-block-margin .col-xl-4:nth-child(1) span {
  -webkit-mask-image: url("/img/homepage/compliance-out-of-box.svg");
  mask-image: url("/img/homepage/compliance-out-of-box.svg");
}

.homepage--assurance-block-margin .col-xl-4:nth-child(2) span {
  -webkit-mask-image: url("/img/homepage/uptime.svg");
  mask-image: url("/img/homepage/uptime.svg");
}

.homepage--assurance-block-margin .col-xl-4:nth-child(3) span {
  -webkit-mask-image: url("/img/homepage/standards.svg");
  mask-image: url("/img/homepage/standards.svg");
}

.oin--bg,
.oin--bg:last-of-type {
  background: cv("body", "base") url("/img/homepage/black-to-gray-bg.svg") repeat-x left bottom !important;
}

.oin-alt-bg {
  background: cv("body", "homepage-lighter-block") url("/img/homepage/gray-to-black-bg.svg") repeat-x left bottom !important;
}

.oin--develop .oin--develop-content .oin--develop-tiles .tile {
  border: 1px solid cv("breadcrumb", "link");
}

.assurance-item--rounded {
  background-color: cv("body", "base");
}
