.login {
  .login--form {
    background-color: cv("code");
    box-shadow: 0px 6px 18px cv("code");
    .fa-github:before {
      color: cv("link", 'github');
    }
    .goto-signup a {
      color: cv("link");
    }
  }
}
