.login .login--form {
  box-shadow: 0 6px 18px cv("code", "base");
  background-color: cv("code", "base");
}

.login .login--form .fa-github:before {
  color: cv("link", "github");
}

.login .login--form .goto-signup a {
  color: cv("link", "base");
}
