.page-body .content--container .mobile-on-this-page {
  color: cv("body", "base");
}

.page-body .content--container .mobile-on-this-page .vs__dropdown-toggle {
  border-color: cv("text", "accent");
}

.page-body .content--container .mobile-on-this-page .vs__dropdown-toggle .vs__open-indicator {
  transform: scale(0.6);
}

.page-body .content--container .on-this-page .title {
  color: cv("text", "base");
}

.page-body .content--container .on-this-page .links {
  border-color: rgb(255 255 255 / 0.2);
}

.page-body .content--container .on-this-page a.router-link-active {
  border-color: cv("action", "base");
}

.mobile-on-this-page .vs__dropdown-menu .vs__dropdown-option--highlight {
  border: 1px solid var(--c-text-base) !important;
}

.mobile-on-this-page .vs__dropdown-menu .vs__dropdown-option {
  border-bottom: 1px solid var(--c-text-gray);
}
