.release-notes {
  --release-notes-divider-color: var(--c-gray-460);
  --release-notes-card-background-color: #1e1e1e;
  --release-notes-title-color: var(--c-gray-350);
  --release-notes-description-color: var(--c-gray-350);
  --release-notes-newest-releases-label-color: var(--c-gray-350);
  --release-notes-newest-releases-link-color: var(--c-gray-350);
}
