.selector-tile--header {
  color: cv("action");

  border-bottom: 1px solid cv("action");

  &:hover {
    color: cv("text");
  }

  &:visited,
  &:active,
  &:focus {
    color: cv("action");
  }
}

.selector-tile--header:hover i {
  color: cv("text");
}

.selector-tile--header i {
  color: cv("action");
}

.selector-tile--data--item {
  border-bottom-color: transparent;

  &:hover {
    color: cv("text");

    background: cv("text", "accent");
  }
}

.selector-tile--data--item:hover > i {
  color: cv("text");
}
