.tree-nav {
  position: relative;

  background-color: cv("code", "base");
}

.tree-nav-toggle svg path:nth-child(1) {
  fill: cv("white", "base");
}

.tree-nav-toggle svg path:nth-child(2) {
  fill: cv("link", "base");
}

.tree-nav-toggle:before {
  background: linear-gradient(-90deg, cv("code", "base"), transparent);
}

.tree-nav .children-active > a {
  color: cv("link", "base") !important;
}

.tree-nav > .sections > .link-wrap > .tree-nav-link a {
  color: cv("white", "base");
}

.tree-nav .sections .link-wrap a {
  color: cv("white", "base");
}

.tree-nav .sections .link-wrap a.router-link-active span {
  color: cv("link", "base");
}

.tree-nav .sections .link-wrap span {
  color: cv("white", "base");
}

.tree-nav .sections .link-wrap.subnav-active > .sections > li.subnav-active > .sections:before {
  background-color: var(--c-lightgray-800);
}

.tree-nav .sections .tree-nav-link {
  color: cv("link", "light");
}

.tree-nav .sections .tree-nav-link-parent a,
.tree-nav .sections .tree-nav-link-parent span {
  color: cv("white", "base");
}

.tree-nav .sections .tree-nav-link i.opened svg path {
  fill: cv("link", "base");
}

.tree-nav .sections .tree-nav-link i.opened + span {
  font-weight: 500;
  color: cv("link", "base");
}

.tree-nav .sections .tree-nav-link i.opened + a {
  font-weight: 500;
  color: cv("link", "base");
}

.tree-nav .sections .tree-nav-link i.opened + a span {
  font-weight: 500;
  color: cv("link", "base");
}

.tree-nav .sections .tree-nav-link > i.parent svg path {
  fill: cv("link", "base");
}

.tree-nav .sections .tree-nav-link.children-active > i.parent svg path {
  fill: cv("action", "base");
}

.tree-nav .sections:first-child > .link-wrap > .tree-nav-link.children-active > .text-holder {
  color: cv("text", "base");
}

.tree-nav .sections .tree-nav-link.router-link-active {
  color: cv("action", "base");
}

.tree-nav .sections .tree-nav-link.router-link-active:before {
  background-color: cv("link", "base");
  -webkit-mask: url("/img/icons/angle-right.svg") no-repeat center center;
  mask: url("/img/icons/angle-right.svg") no-repeat center center;

  background-image: none !important;
  mask-repeat: no-repeat;
  mask-position: center;
}

.tree-nav .scroll-up svg path {
  fill: cv("link", "base");
}

.page-body .content--container .sidebar-area {
  z-index: 1;

  box-shadow: 0 4px 100px rgb(0 0 0 / 0.25);
}

.page-body .content--container .sidebar-fade {
  background: linear-gradient(3.53deg, cv("code", "base") 38.14%, rgb(247 250 255 / 0) 83.09%);
}
