.marketing-c .gdpr-condition input[type="checkbox"] {
  position: relative;

  min-width: 1rem;
  min-height: 1rem;

  outline: 0;
  border: 1px solid cv("border", "checkbox");
  border-radius: 4px;
  background-color: cv("code", "base");
  appearance: none;
  cursor: pointer;
}

.marketing-c .gdpr-condition input[type="checkbox"]::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 5px;

  display: block;
  width: 5px;
  height: 10px;

  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: cv("action", "base");
  transform: rotate(45deg);
  opacity: 0;
}

.marketing-c .gdpr-condition input[type="checkbox"]:checked::before {
  opacity: 1;
}

.dialog {
  box-shadow: rgb(0 0 0 / 0.3) 0 2px 10px;
  background-color: cv("body", "base");
}

.dialog--header,
.dialog p,
.dialog .terms-conditions-btns,
.dialog-text {
  color: cv("text", "base") !important;
}

.dialog-backdrop {
  background-color: rgb(29 29 33 / 0.95);
}

.dialog a {
  color: cv("text", "base");
}

.dialog select {
  border-color: cv("body", "obscure");
  background-color: cv("code", "base");

  color: cv("text", "base");
}

.dialog .terms-conditions-btns .btn-container .btn:not(.social-btn) {
  border-color: transparent;

  color: cv("text", "base");
}

.dialog .terms-conditions-btns .btn-container .btn {
  border-color: cv("link", "base");

  font-weight: 500;
  color: cv("link", "base");
}

.dialog-text .marketing-c .gdpr-condition {
  background-color: cv("body", "base");
}
