.signup {
  background: var(--c-gray-950);
}

.signup__locked {
  color: var(--c-lightgray-450);
}

.signup__mobile-title {
  color: var(--c-lightgray-450);
}

.signup-hero__title {
  color: var(--c-lightgray-450);
}

.signup-hero__divider {
  margin-bottom: 48px;

  border: 0.5px solid #2a2a2a;
}

.signup__form-bottom-cards-divider {
  @include media(">signup") {
    border: 0.5px solid #2a2a2a;
  }
}

.signup-feature-card {
  border: 0.5px solid var(--c-gray-760);
  background-color: #171717;

  color: var(--c-lightgray-450);
}

.signup-feature-card__title {
  color: var(--c-lightgray-450);
}

.signup-feature-card__description {
  color: #e5e5e5;
}

.signup-feature-card__icon-image {
  background-color: rgb(180 155 252 / 0.08);
}

.signup-logos__text {
  color: #e5e5e5;
}

.signup-logos__item {
  border: 0.5px solid #555555;
  background: #171717;
}

.signup-bottom-card__title {
  color: var(--c-lightgray-450);
}

.signup-bottom-card__description {
  color: #e5e5e5;
}

.signup-bottom-card__cta {
  border-color: var(--c-lightgray-450);

  color: var(--c-lightgray-450);
}

.signup-bottom-card__cta:hover {
  border-color: var(--c-green-300);

  color: var(--c-green-300);
}

.signup-bottom-card + .signup-bottom-card {
  border-color: #2a2a2a;
}
