@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Regular.eot");
  src: url("/fonts/aeonik/Aeonik-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/aeonik/Aeonik-Regular.woff2") format("woff2"),
    url("/fonts/aeonik/Aeonik-Regular.woff") format("woff"),
    url("/fonts/aeonik/Aeonik-Regular.ttf") format("truetype"),
    url("/fonts/aeonik/Aeonik-Regular.svg#Aeonik-Regular") format("svg");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Medium.eot");
  src: url("/fonts/aeonik/Aeonik-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/aeonik/Aeonik-Medium.woff2") format("woff2"),
    url("/fonts/aeonik/Aeonik-Medium.woff") format("woff"),
    url("/fonts/aeonik/Aeonik-Medium.ttf") format("truetype"),
    url("/fonts/aeonik/Aeonik-Medium.svg#Aeonik-Medium") format("svg");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "okticon";
  src: url("/fonts/okticon.eot");
  src: url("/fonts/okticon.eot?#iefix") format("embedded-opentype"), url("/fonts/okticon.woff") format("woff"), url("/fonts/okticon.ttf") format("truetype"), url("/fonts/okticon.svg#okticon") format("svg");
}

a {
  text-decoration: none;
  color: cv("link");

  &:visited,
  &:active,
  &:focus {
    color: cv("link");
  }
  @include media(">desktop") {
    &:hover {
      color: #3f59e4 !important;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1.1rem;

  font-weight: 600;
  color: cv("text", "darker");
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.is-link {
  cursor: pointer;
}

blockquote {
  padding: 1.5rem 1.5rem 1.5rem calc(1.5rem + 3px);

  border-top: 1px solid cv("gray", "300");
  border-bottom: 1px solid cv("gray", "300");
  border-left: 3px solid cv("violet", "base");
  border-right: 1px solid cv("gray", "300");
  border-radius: 4px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: "Aeonik";
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  font-family: "Aeonik";
}

textarea:-moz-placeholder,
input:-moz-placeholder {
  font-family: "Aeonik";
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: "Aeonik";
}