@font-face {
  font-weight: 100;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Air.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-AirItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Thin.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 200;
  font-style: italic;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-ThinItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Light.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-LightItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Regular.eot");
  src: url("/fonts/aeonik/Aeonik-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/aeonik/Aeonik-Regular.woff2") format("woff2"),
    url("/fonts/aeonik/Aeonik-Regular.woff") format("woff"),
    url("/fonts/aeonik/Aeonik-Regular.otf") format("opentype"),
    url("/fonts/aeonik/Aeonik-Regular.ttf") format("truetype"),
    url("/fonts/aeonik/Aeonik-Regular.svg#Aeonik-Regular") format("svg");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-RegularItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Medium.eot");
  src: url("/fonts/aeonik/Aeonik-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/aeonik/Aeonik-Medium.woff2") format("woff2"),
    url("/fonts/aeonik/Aeonik-Medium.woff") format("woff"),
    url("/fonts/aeonik/Aeonik-Medium.otf") format("opentype"),
    url("/fonts/aeonik/Aeonik-Medium.ttf") format("truetype"),
    url("/fonts/aeonik/Aeonik-Medium.svg#Aeonik-Medium") format("svg");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-MediumItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-BoldItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-Black.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-style: italic;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/Aeonik-BlackItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "okticon";
  src: url("/fonts/okticon.eot");
  src: url("/fonts/okticon.eot?#iefix") format("embedded-opentype"), url("/fonts/okticon.woff") format("woff"), url("/fonts/okticon.ttf") format("truetype"), url("/fonts/okticon.svg#okticon") format("svg");
}

html {
  font-size: $base-font-size;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: cv("link", "base");
  &:visited,
  &:active,
  &:focus {
    color: cv("link", "base");
  }
  @include media(">desktop") {
    &:hover {
      text-decoration: none;
      color: #3f59e4;
    }
  }
}

p {
  margin-bottom: 1.5rem;

  font-size: 100%;
}

blockquote {
  margin: 0 0 1.5rem;
  padding: 1.5rem 1.5rem 1.5rem calc(1.5rem + 3px);

  border-top: 1px solid cv("gray", "300");
  border-bottom: 1px solid cv("gray", "300");
  border-left: 3px solid cv("violet", "base");
  border-right: 1px solid cv("gray", "300");
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1.1rem;

  font-weight: 600;

  line-height: 1.2;

  color: cv("text", "darker");
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  line-height: 1.5;
}

h6 {
  font-size: 14px;
}

.is-link {
  cursor: pointer;
}

button {
  background: transparent;

  font-family: "Aeonik";
}

input,
textarea {
  font-family: "Aeonik";
}

ol,
ul {
  &:not([class]) {
    margin: 0 0 $base-spacing 0;
    padding: 0 0 0 $base-spacing;

    max-width: $max-line-length;
    list-style-position: outside;

    font-size: 100%;
  }
}

ol:not([class]) li,
ul:not([class]) li {
  margin-bottom: $small-spacing;

  &:last-child {
    margin-bottom: 0;
  }
}

p + ol:not([class]),
p + ul:not([class]) {
  margin-top: -$small-spacing;
}

ol:not([class]):last-child,
ul:not([class]):last-child {
  margin-bottom: 0;
}

code {
  font-family: unset;
  color: unset;
}
