@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/regular/aeonik-regular.woff2") format("woff2"),
    url("/fonts/aeonik/regular/aeonik-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Aeonik";
  src: url("/fonts/aeonik/medium/aeonik-medium.woff2") format("woff2"),
    url("/fonts/aeonik/medium/aeonik-medium.woff") format("woff");
  font-display: swap;
}

a {
  text-decoration: none;
  color: cv("link");

  &:visited,
  &:active,
  &:focus {
    color: cv("link");
  }
  @include media(">desktop") {
    &:hover {
      color: #3f59e4 !important;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1.1rem;

  font-weight: 600;
  color: cv("text", "darker");
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.is-link {
  cursor: pointer;
}

blockquote {
  padding: 1.5rem 1.5rem 1.5rem calc(1.5rem + 3px);

  border-top: 1px solid cv("gray", "300");
  border-bottom: 1px solid cv("gray", "300");
  border-left: 3px solid cv("violet", "base");
  border-right: 1px solid cv("gray", "300");
  border-radius: 4px;
}
