.Hide {
	display: none;
}

@each $_breakpoint in map-keys($breakpoints) {
  @include media(unquote('<#{$_breakpoint}')) {
    .HideOn--#{$_breakpoint} {
      display: none;
    }

    .ShowOn--#{$_breakpoint} {
      display: block;
    }
  }
}
