.Blog {
	@extend %Wrap;
	display: flex;
	max-width: 800px;
	padding-bottom: get-spacing('x-large');
	padding-top: 90 + get-spacing('x-large');
	position: relative;
	width: calc(100% - #{get-spacing('medium') * 2});
	overflow-wrap: break-word;

	&.is-index {
		flex-direction: column;
	}

	&.is-single {
		max-width: 1008px;

		.BlogPost {
			max-width: 900px;
			width: calc(100% - 74px);
		}
	}

	&-pagination {
		@include color('charcoal');
		border-top: 1px solid $shady-lady;
		display: flex;
		font-size: 18px;
		justify-content: center;
		line-height: 18px;
		margin: get-spacing('medium') auto 0;
		padding-top: get-spacing('medium');
		white-space: nowrap;

		a {
			@include color('charcoal');
			@include transition(border normal);
			border-bottom: 1px solid transparent;
			margin: 0 5px;
			text-decoration: none;

			&:active,
			&:hover {
				border-color: currentcolor;
			}
		}

		em {
			font-style: normal;
			font-weight: 700;
			margin: 0 5px;
		}
	}

	&-social {
		margin-right: get-spacing('medium');
		padding-top: 24 + get-spacing('medium');
		text-align: center;
		width: 34px;

		a {
			color: $nobel-2;
			display: block;
			font-size: 34px;
			text-decoration: none;
		}

		a:active,
		a:hover {
			@include color('accent');
		}

		a + a {
			margin-top: get-spacing('small');
		}
	}
}


@include media('<860px') {
	.Blog {
		overflow-x: hidden;

		&.is-single {
			display: block;

			.BlogPost {
				width: 100%;
				max-width: 100%;

				&-title {
					@include line-height('h2');
					@include font-size('h2');
				}

				pre {
					code {
						font-size: 12px;
						line-height: 18px;
					}
				}

			}
		}

		&-social {
			margin-top: -40px;
			margin-bottom: 40px;
			padding-top: 0;
			text-align: left;
			width: 100%;

			a {
				display: inline-block;
				margin-right: get-spacing('small');
			}
		}
	}
}
