.trailing-link {
	@include color('green-dark');
	@include font-size('base');
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;

	&:after {
		color: get-color('green-dark');
		content: "\203A";
		display: inline-block;
		font-size: get-font-size('base') + 2;
		margin-left: 10px;
		position: relative;
		top: -2px;
		vertical-align: middle;
	}
}

#edit-link {
	float: right;
	margin-top: 20px;
}
