%ProductSection {
	@include padding(x-large 0);
	overflow: hidden;

	header {
		@include margin(small 0);
		text-align: center;

		h2 {
			@include color('blue-bright');
			@include font-size('h1');
			@include font-weight('x-small');
		}
	}
	img {
		max-width: 100%;
	}
}

.ProductSection,
[class^='ProductSection--'],
[class*=' ProductSection--'] {
	@extend %ProductSection;
}

.ProductSection--architecture,
.ProductSection--security,
.ProductSection--customers,
.ProductSection--products,
.ProductSection--logs,
.ProductSection--bottom-cta,
.ProductSection--api {
	p, ul, ol {
		font-size: get-font-size('base') + 4;
		font-weight: 500;
		line-height: get-line-height('base') + 4;
	}

	.list--with-bullets li:before {
		top: 17px;
	}
}


.ProductSection--architecture {
	@include color('white');
	background: get-color('blue-bright');
	text-align: center;

	%Wrap {
		max-width: 840px;
	}

	header h2 {
		@include color('white');
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.ProductSection--security {
	background: get-color('gray-lightest');

	%Wrap {
		max-width: 840px;
	}
}

.ProductSection--customers {
	%Wrap {
		max-width: 1220px;
	}
}


.ProductSection--products {
	flex-grow: 1;
	overflow: auto;
	text-align: center;
}

.ProductSection--authentication {
	@include color('white');
	background: $navy-blue;
	background: -webkit-linear-gradient(top, $summer-sky 0%, $navy-blue 74%, $navy-blue 100%);
	background: linear-gradient(to bottom, $summer-sky 0%, $navy-blue 74%, $navy-blue 100%);

	header h2 {
		@include color('white');
	}
}

.ProductSection--sso {
	p,
	img {
		width: 770px;
		max-width: 100%;
		margin: auto;
	}
}

.ProductSection--oan {
	background-color: get-color('blue-products');

	.Row {
		h3 {
			@include color('blue-bright');
			@include font-size('h6');
			line-height: #{get-line-height('h6') * .5};
			text-align: left;
			margin: 0 0 15px 75px;
		}
		p {
			@include font-weight('x-small');
			text-align: left;
			margin: 0 0 0 75px;
		}
	}
}

.ProductSection--logs {
	background-image: image_url("section-bg--features-logs.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 1240px;
	padding-bottom: 500px;


	p {
		@include font-size('h5');
		@include font-weight('x-small');
		max-width: 850px;
		margin: auto;
	}

	@include media("<small") {
		background-size: 400px;
		padding-bottom: 175px;
	}
	@include media(">small") {
		background-size: 720px;
		padding-bottom: 300px;
	}
	@include media(">medium") {
		background-size: 1100px;
		padding-bottom: 440px;
	}
	@include media(">x-large") {
		background-size: 1240px;
		padding-bottom: 500px;
	}
}

.ProductSection--bottom-cta {
	text-align: center;
	background-color: get-color('blue-products');
}

.ProductSection--api {
	@include color('white');
	background: get-color('blue-bright');
	background: -webkit-linear-gradient(top, $summer-sky 0%, $navy-blue 74%, $navy-blue 100%);
	background: linear-gradient(to bottom, $summer-sky 0%, $navy-blue 74%, $navy-blue 100%);

	header {
		h2 {
			@include color('white');
			@include margin(0 0 xx-small);
		}

		p {
			margin-top: 0;
		}
	}

	%Wrap {
		max-width: 1120px;
	}

	%Row {
		align-items: stretch;
	}

	%Column:first-child {
		align-items: center;
		display: flex;

		ul {
			margin: 0 0 0 get-spacing('x-small');

			@include media('<small') {
				margin-left: get-spacing('medium');
			}

			@include media('<x-small') {
				margin-left: get-spacing('small');
			}
		}
	}

	%Column:last-child {
		&:after {
			background: rgba(255, 255, 255, 0.25);
			bottom: $gutter-width * 3;
			content: '';
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			width: 2px;

			@include media('<small') {
				display: none;
			}
		}

		ul {
			@include margin(medium 0);
		}
	}

	.h6 {
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.has-bullets {
		font-size: 18px;
		list-style: disc;
	}

	.has-icons {
		font-weight: 600;
		padding-left: 0;

		img {
			display: inline-block;
			height: 42px;
			margin-right: get-spacing('x-small');
			vertical-align: middle;
			width: 42px;
		}
	}
}
