input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=number],
input[type=url],
input[type=tel],
input[type=datetime],
input[type=date],
input[type=month],
input[type=week],
textarea {
	@include line-height('base');
	@include padding(x-small small);
	@include transition();
	
	border: 1px solid get-color('light-gray');
	font-size: 1rem;
	
	&::placeholder {
		@include color('gray');
	}
	
	&:focus {
		border-color: get-color('dark-gray');
		outline: none;
	}
	
	&:hover {
		border-color: get-color('gray');
	}
	
	&:focus::placeholder,
	&:hover::placeholder {
		@include color('dark-gray');
	}
}
