.BlogPost {
	flex-grow: 1;
	margin: 0;
	overflow-wrap: break-word;

	& + & {
		border-top: 1px solid $shady-lady;
		margin-bottom: 0;
		margin-top: get-spacing('medium');
		padding-top: get-spacing('medium');
	}

	&-header {
		@include margin(medium 0);
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&-title {
		@include font-size('new-h1');
		@include font-weight('new-h1');
		@include line-height('new-h1');
		@include margin(medium 0);

		&,
		a {
			@include color('default');
			@include transition(border normal, color normal);
		}

		a {
			border-bottom: 1px solid transparent;
			text-decoration: none;

			&:active,
			&:hover {
				border-color: currentcolor;
			}
		}
	}

	&-attribution {
		align-items: center;
		display: flex;
	}

	&-date {
		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
	}

	&-author {
		font-size: 24px;
		font-weight: 500;
	}

	&-avatar {
		border-radius: 100%;
		display: block;
		flex-shrink: 0;
		height: 54px;
		margin-right: get-spacing('small');
		overflow: hidden;
		width: 54px;
	}

	&-content {
		@include color('charcoal');

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@include color('charcoal');
			@include margin(large 0 x-small);

			a {
				@include color('default');
				position: relative;
				text-decoration: none;

				&:active,
				&:hover {
					@include color('charcoal');
					text-decoration: none;
				}
			}

			&:hover a:after,
			a:active:after,
			a:hover:after {
				background: image_url('icon-link.svg') no-repeat center;
				background-size: contain;
				content: '';
				display: inline-block;
				height: 18px;
				margin-left: get-spacing('small');
				vertical-align: middle;
				width: 18px;
			}
		}

		h1 {
			font-size: 44px;
			font-weight: 500;
			line-height: 52px;
		}

		h2 {
			font-size: 38px;
			font-weight: 500;
			line-height: 54px;
		}

		h3 {
			font-size: 32px;
			font-weight: 500;
			line-height: 48px;
		}

		h4 {
			font-size: 24px;
			font-weight: 500;
			line-height: 40px;
		}

		h5 {
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
		}

		h6 {
			font-size: 18px;
			font-weight: 500;
			line-height: 24px;
		}

		/* helper classes for images */
		.m-x-sm {
			margin: get-spacing('x-small')
		}

		.img-100px {
			height: 100px;
			width: 100px;
		}

		.img-150px {
			height: 150px;
			width: 150px;
		}

		/* Don't force small images in tables */
		table td img {
			max-width: unset;
		}

		/* Don't put borders on table cells */
		table td, table tbody {
			border-bottom: 0;
		}

		/* Fix margin around sub-lists */
		ol li > ul, ol li > ol, ul li > ul {
			margin: 5px;
		}

		/* Same as what docs uses (in _PageContent.scss) */
		blockquote {
			margin: 24px 24px;
			border-left: 8px solid $cerulean-4;
			background: $pattens-blue-2;
			padding: 24px;
			font-size: 1em;
			p {
				color: get-color('black');
				font-size: 1em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		pre {
			@include padding(15px);
			background: get-color('code-background');
			display: block;
			margin: get-spacing('small') 0;
			max-width: 900px;
			overflow: auto;

			code {
				background: none;
				padding: 0;
			}
		}

		.highlighter-rouge:first-child > pre {
			margin-top: 20px;
		}

		.highlighter-rouge:last-child > pre {
			margin-bottom: 20px;
		}

		/* -------------------------- PYGMENTS */

		.highlight pre { color: $eclipse-2; } /* Base Style */
		.highlight .p { color: $eclipse-2; } /* Punctuation */
		.highlight .err { color: $eclipse-2; } /* Error */
		.highlight .n { color: $dark-cerulean; } /* Base Style */
		.highlight .na { color: $dark-cerulean; } /* Name Attribute */
		.highlight .nb { color: $dark-cerulean; } /* Name Builtin */
		.highlight .nc { color: $dark-cerulean; } /* Name Class */
		.highlight .no { color: $dark-cerulean; } /* Name Constant */
		.highlight .nd { color: $dark-cerulean; } /* Name Decorator */
		.highlight .ni { color: $dark-cerulean; } /* Name Entity */
		.highlight .ne { color: $dark-cerulean; } /* Name Exception */
		.highlight .nf { color: $dark-cerulean; } /* Name Function */
		.highlight .nl { color: $dark-cerulean; } /* Name Label */
		.highlight .nn { color: $puerto-rico; } /* Name Namespace */
		.highlight .nx { color: $dark-cerulean; } /* Name Other */
		.highlight .py { color: $dark-cerulean; } /* Name Property */
		.highlight .nt { color: $dark-cerulean; } /* Name Tag */
		.highlight .nv { color: $dark-cerulean; } /* Name Variable */
		.highlight .vc { color: $dark-cerulean; } /* Name Variable Class */
		.highlight .vg { color: $dark-cerulean; } /* Name Variable Global */
		.highlight .vi { color: $dark-cerulean; } /* Name Variable Instance */
		.highlight .bp { color: $dark-cerulean; } /* Name Builtin Pseudo */
		.highlight .g { color: $eclipse-2; } /* Base Style */
		.highlight .gd { color: $eclipse-2; } /*  */
		.highlight .o { color: $eclipse-2; } /* Base Style */
		.highlight .ow { color: $puerto-rico; } /* Operator Word */
		.highlight .c { color: $nobel-2; font-style: italic; }/* Base Style */
		.highlight .cm { color: $nobel-2; font-style: italic; } /* Comment Multiline */
		.highlight .cp { color: $nobel-2; font-style: italic; } /* Comment Preproc */
		.highlight .c1 { color: $nobel-2; font-style: italic; } /* Comment Single */
		.highlight .cs { color: $nobel-2; font-style: italic; } /* Comment Special */
		.highlight .k { color: $puerto-rico; } /* Base Style */
		.highlight .kc { color: $puerto-rico; } /* Keyword Constant */
		.highlight .kd { color: $puerto-rico; } /* Keyword Declaration */
		.highlight .kn { color: $puerto-rico; } /* Keyword Namespace */
		.highlight .kp { color: $puerto-rico; } /* Keyword Pseudo */
		.highlight .kr { color: $puerto-rico; } /* Keyword Reserved */
		.highlight .kt { color: $puerto-rico; } /* Keyword Type */
		.highlight .l { color: $eclipse-2; } /* Base Style */
		.highlight .ld { color: $jazzberry-jam; } /* Literal Date */
		.highlight .m { color: $jazzberry-jam; } /* Literal Number */
		.highlight .mf { color: $jazzberry-jam; } /* Literal Number Float */
		.highlight .mh { color: $jazzberry-jam; } /* Literal Number Hex */
		.highlight .mi { color: $jazzberry-jam; } /* Literal Number Integer */
		.highlight .mo { color: $jazzberry-jam; } /* Literal Number Oct */
		.highlight .il { color: $jazzberry-jam; } /* Literal Number Integer Long */
		.highlight .s { color: $cerise; } /* Literal String */
		.highlight .sb { color: $cerise; } /* Literal String Backtick */
		.highlight .sc { color: $cerise; } /* Literal String Char */
		.highlight .sd { color: $cerise; } /* Literal String Doc */
		.highlight .s2 { color: $cerise; } /* Literal String Double */
		.highlight .se { color: $jazzberry-jam; } /* Literal String Escape */
		.highlight .sh { color: $cerise; } /* Literal String Heredoc */
		.highlight .si { color: $cerise; } /* Literal String Interpol */
		.highlight .sx { color: $cerise; } /* Literal String Other */
		.highlight .sr { color: $jazzberry-jam; } /* Literal String Regex */
		.highlight .s1 { color: $cerise; } /* Literal String Single */
		.highlight .ss { color: $cerise; } /* Literal String Symbol */
		.highlight .g { color: $eclipse-2; } /* Base Style */
		.highlight .gd { color: $eclipse-2; } /* Generic Deleted */
		.highlight .ge { color: $eclipse-2; } /* Generic Emph */
		.highlight .gr { color: $eclipse-2; } /* Generic Error */
		.highlight .gh { color: $eclipse-2; } /* Generic Heading */
		.highlight .gi { color: $eclipse-2; } /* Generic Inserted */
		.highlight .go { color: $eclipse-2; } /* Generic Output */
		.highlight .gp { color: $eclipse-2; } /* Generic Prompt */
		.highlight .gs { color: $eclipse-2; } /* Generic Strong */
		.highlight .gu { color: $eclipse-2; } /* Generic Subheading */
		.highlight .gt { color: $eclipse-2; } /* Generic Traceback */
		.highlight .x { color: $eclipse-2; } /* Other */
		.highlight .w { color: $eclipse-2; } /* Text Whitespace */

		p, li {
			code {
				@include padding(0 xx-small);
				background: $white-smoke-10;
				line-height: 24px;
			}
		}

		table {
			white-space: normal;
			max-width: 100%;
			overflow: scroll;
			width: 100%;

			thead th {
				background: $white-smoke-4;
				padding: 10px 10px 10px;
				font-weight: bold;
			}
		}
	}

	&-more {
		@include transition(border normal);
		border-bottom: 1px solid transparent;
		font-size: 18px;
		text-decoration: none;

		&:active,
		&:hover {
			border-color: currentcolor;
			text-decoration: none;
		}
	}

	&.is-excerpt &-header {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&.is-excerpt &-avatar {
		height: 96px;
		width: 96px;
	}

	&.is-excerpt &-attribution {
		order: 1;
		width: 50%;
	}

	&.is-excerpt &-date {
		order: 2;
		text-align: right;
		width: 50%;
	}

	&.is-excerpt &-title {
		order: 3;
		margin-bottom: 0;
		width: 100%;
	}

	#disqus {
		margin-top: get-spacing('medium');
	}
}

@include media('<860px') {
	.BlogPost.is-excerpt {
		.BlogPost {
			&-header {
				margin: 20px 0;
			}

			&-title {
				@include line-height('h2');
				@include font-size('h2');
				margin: 20px 0;
			}

			&-date {
				order: 1;
				width: 100%;
				text-align: left;
			}

			&-attribution {
				order: 2;
				width: 100%;
              	padding: 20px 0;

				img {
					width: 56px;
					height: 56px;
				}
			}
		}
	}
}
