@import '../icons/functions';
@import '../icons/variables-unicode';

.breadcrumb-nav {
	border-bottom: 2px solid #e5e9eb;

	ol.breadcrumb li.show-contents {
		visibility: hidden;
		@extend %all-caps;
		font-size: get-font-size('button');
		color: $dark-cerulean;
		cursor: pointer;
	}

	ol.breadcrumb li.show-contents:hover {
		text-decoration: underline
	}

	@include media('>=1024px') {
		margin-top: 95px;
	}
	@include media('<1024px') {
		margin-top: 25px;
	}
	@include media('<860px') {
		margin-top: 5px;
		ol.breadcrumb li.show-contents {
			visibility: visible;
		}
	}
	@include media('<=600px') {
		margin-top: 75px;
	}

}

ol.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	align-items: center;
	height: 50px;


	li.breadcrumb-item {
		display: flex;
		margin: 0;

		&::after {
			margin: 0 8px;
			font-family: 'okticon';
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			color: get-color('iron');
			content: $chevron-small;
			align-items: center;
		}

		&.show-contents::after {
			content: '';
		}

		a {
			@extend %all-caps;
			font-size: get-font-size('button');
			color: $periglacial-blue;
		}
	}
}
