%Button {
	@include color('black');
	@include font-size('button');
	@include font-weight('button');
	@include transition(normal background, normal border, normal color);
	border: 2px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	text-decoration: none;

	> a {
		color: inherit;
	}

	&:active,
	&:hover {
		border-color: $black;
		color: $black;
		text-decoration: none;
	}

	&:visited {
		@include color('black');
	}
}

.Button {
	@extend %Button;
	border-color: get-color('accent');
	color: get-color('accent');

	&:active,
	&:hover {
		border-color: mix(get-color('accent'), get-color('white'), 75%);
		color: mix(get-color('accent'), get-color('white'), 75%);
	}

	&:visited {
		color: get-color('accent');
	}
}

.Button--small {
	border-width: 1px;
	height: 30px;
	line-height: 28px;
	padding: 0 12px;
}

.Button--rounded {
	border-radius: 17px;
}

.Button--large {
	border-radius: 5px;
	font-size: get-font-size('button') + 2;
	font-weight: 600;
	height: 54px;
	line-height: 50px;
	padding: 0 30px;

	&.Button--rounded {
		border-radius: 27px;
	}
}

.Button--blue {
	@extend %Button;
	background-color: $navy-blue;
	border-color: $navy-blue;
	color: get-color('white');

	&:active,
	&:hover {
		background-color: $navy-blue;
		border-color: $navy-blue;
		color: get-color('white');
	}

	&:visited {
		color: get-color('white');
	}
}

.Button--blueOutline {
	@extend %Button;

	&,
	&:active,
	&:hover {
		border-color: get-color('blue-bright');
		color: get-color('blue-bright');
	}

	&:visited {
		color: get-color('blue-bright');
	}
}

.Button--green {
	@extend %Button;
	background-color: get-color('green-dark');
	border-color: get-color('green-dark');
	color: get-color('white');

	&:active,
	&:hover {
		background-color: get-color('green-dark-hover');
		border-color: get-color('green-dark-hover');
		color: get-color('white');
	}

	&:visited {
		color: get-color('white');
	}
}

.Button--greenOutline {
	@extend %Button;

	&,
	&:active,
	&:hover {
		border-color: get-color('green-dark');
		color: get-color('green-dark');
	}

	&:visited {
		color: get-color('green-dark');
	}
}

.Button--white {
	@extend %Button;

	&,
	&:active,
	&:hover {
		background-color: get-color('white');
		border-color: get-color('white');
		color: get-color('blue-bright');
	}

	&:visited {
		color: get-color('blue-bright');
	}
}

.Button--whiteOutline {
	@extend %Button;

	&,
	&:active,
	&:hover {
		border-color: get-color('white');
		color: get-color('white');
	}

	&:visited {
		color: get-color('white');
	}
}

.Button--whiteOutlineOpaque {
	@extend %Button;
	background-color: rgba(255,255,255,0.25);

	&,
	&:active,
	&:hover {
		border-color: get-color('white');
		color: get-color('white');
	}
}

.Button--red {
	@extend %Button;

	&,
	&:active,
	&:hover {
		background-color: get-color('cerise');
		border-color: get-color('cerise');
		color: get-color('white');
	}

	&:visited {
		color: get-color('white');
	}
}
