// Variation for docs pages
.Page--docs-page {

  &.scrolling:not(.PrimaryNav-is-active) {

    * {
      @include transition(all slow);
    }

    .Header {
      background: get-color('white');
      border-bottom: solid 2px get-color('iron');

      #OktaLogo {
        path {
          fill: get-color('ebony-clay');
        }
      }

      .Wrap {
        background: get-color('white');
      }

      .PrimaryNav {
        ul.menu a,
        ul.menu span {
          color: get-color('default');
          text-decoration: none;

          &.active {
            color: get-color('cerise');
            border-bottom: 2px solid get-color('cerise');
          }

          &:hover {
            color: get-color('white');
          }
        }

        .Button {
          &--redOutline {
            @include transition('none');
            color: get-color('cerise');
            box-shadow: none !important;
          }

          &--red {
            @include transition('none');
            color: get-color('white');
            box-shadow: none !important;
          }
        }

        .SearchIcon {
          background: image_url("icons/search.svg") center no-repeat;
        }
      }

      #form_search {
        background: transparent;

        input[type=submit] {
          color: get-color('white');
          background-color: get-color('iron');
        }

        &.button-active {
          input[type=submit] {
            background: get-color('cerise');
            color: $white;
          }
        }
      }
    }
  }

  @include media('<doc-min-toc') {
    .Sidebar {
      background: get-color('ebony-clay');

      &.no-promo {
        margin-top: 20px;
      }

      &-location {
        color: get-color('white');
      }
    }
  }

  @include media('<860px') {
    .Sidebar {
      &.no-promo {
        margin-top: 0;
      }
    }
  }
}
