/*
 * Layout
 ------------------------------------------------------------ */

.event-types {
  .PageContent-main {
    padding-right: 0 !important;
  }

  #event-type-search {
    width: 100%;
    border: 2px solid #d2d2d6;
  }
  #event-type-search::placeholder {
    color: #d2d2d6;
  }
  #event-type-count {
    font-size: 0.9em;
    color: #888;
    margin-left: 0.3em;
    margin-top: -1em;
  }

  .event-type {
    h4 {
      margin: 25px 0 0 0 !important;
      color: #007dc1 !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      clear: left;
      border-left: 3px solid #007dc1;
      padding: 6px 10px;    
    }
    h4:before {
      content: "\f0a2";
      font-family: fontawesome;
      margin-right: 8px;
    }
    
    .event-type-mappings {
      margin: -1em 0 !important;
      color: #888 !important;
      font-size: 0.9em;
      padding: 10px 15px;    
    }
    .event-type-description {
      margin-top: 10px !important;
      margin-bottom: 5px !important;
    }
    .event-type-tag:before {
      content: "\f02b";
      padding: 2px 4px;
      font-family: fontawesome;
    }
    .event-type-tag {
      font-size: 0.7em;
      display: block;
      float: left;
      background-color: white;
      border-radius: 3px;
      padding: 1px 3px 1px 3px;
      margin: 2px;
    }
    .event-type-release {
      clear: both;
      font-size: 0.8em;
      opacity: 0.7;
    }
  }
}

/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
