.Header {
  background: get-color('ebony-clay');

  #OktaLogo {
    path {
      fill: get-color('white');
    }
  }

  a:visited {
    color: $white;
  }

  a[target='_blank']:not([href^='mailto:'])::after {
    display: none;
  }
}
