%Hero {
	@include padding(xx-large 0);
	background: get-color('blue-bright');
	background-image: image_url("bg--hero.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	color: get-color('white');
	overflow: hidden;
}

.Hero {
	@extend %Hero;

	&-title {
		font-size: 40px;
		line-height: 50px;
		margin-bottom: 0;

		span {
			white-space: nowrap;
		}
	}

	&-subtitle {
		@extend %h5;
		@include margin(x-small 0 medium);
	}

	&-image {
		img {
			display: block;
			margin: -70px -30px;
			max-height: 520px;
			max-width: calc(100% + 60px);
		}
	}

	%Row {
		align-items: center;
	}

	%Button + %Button {
		margin-left: get-spacing('x-small');
	}

}

@include media('<small') {
	.Hero {
		@include padding(x-large 0);

		&-title {
			font-size: 32px;
			line-height: 42px;
		}

		&-image {
			order: -1;

			img {
				height: auto;
				margin: -11.5vw -3.5vw -5vw;
				max-height: inherit;
				max-width: inherit;
				width: calc(100% + 7vw);
			}
		}

		&-ctas {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.Button--large {
				display: block;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
				width: calc(50% - #{get-spacing('xx-small')});

				+ .Button--large {
					margin-left: 0;
				}
			}
		}
	}
}

@include media('<xx-small') {
	.Hero {
		& &-ctas {
			flex-direction: column;

			.Button--large {
				margin: 0;
				width: 100%;

				+ .Button--large {
					margin-top: get-spacing('xx-small');
				}
			}
		}
	}
}

.Hero--product {
	@extend %Hero;
	@include padding(large 0);
	background-image: image_url('bg--hero-product.png');
	background-repeat: repeat;
	background-size: auto 100%;
	text-align: center;

	.Wrap {
		max-width: $site-width - 200;
	}

	.Hero-image {
		@include margin(medium 0 0);

		img {
			height: auto !important;
			margin: 0 !important;
			width: 100% !important;
		}
	}
}
.Hero--integrate {
	@extend %Hero;
	padding: 110px 0 115px;
	background-image: image_url('bg--hero-integrate.png');
	background-repeat: repeat;
	background-size: auto 100%;
	text-align: center;

	.Hero-subtitle {
		font-size: 30px;
	}

	.Wrap {
		max-width: $site-width - 200;
		h1 {
			margin: 0.5em 0;
		}
	}

	.oan-logo {
		width: 90px;
		display: inline-block;
	}
}
@include media('<medium-small') {
	.Hero--integrate {
		padding: 100px 0;

		.Hero-title {
			font-size: 30px;
		}

		.Hero-subtitle {
			font-size: 24px;
		}
	}
}
