.page {
	&-content {
		overflow-x: hidden;
	}
}

.Page {
	background: get-color('gray-lightest');
}
.PageContent {
	@extend %Wrap;
	@include padding(0);
	box-sizing: border-box;
	display: flex;
	max-width: $site-width;
	position: relative;
	width: 100%;
	z-index: 10;
	background-color: get-color('gray-lightest');
	padding-top: 75px;

	h1 {
		margin-top: 0px;
		font-size: get-font-size('new-h1');
	}

	&.has-tableOfContents {
		padding-right: 240px;
	}

    &.has-tableOfContents &-main {
        max-width: 840px;
    }

	&-code-tiles {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		> div {
			flex-basis: 18%;
			min-width: 18%;
			max-width: 48%;
			margin-bottom: 3%;

			@include media('<860px') {
				flex-basis: 48%;
				margin-bottom: 5%;
			}
		}
	}

	&-main {
		@include padding(large);
		flex-grow: 1;

		header {
			@include margin(large 0);

			h1 {
				color: get-color('default');
				border: 0;
				margin: 0;

				&:before {
					font-family: fontawesome;
					margin-right: 8px;
					content: '\f12e';
				}
			}

			%Button {
				float: right;
				position: relative;
				top: 24px;
				transform: translateY(-50%);
			}
		}

		a {
			.github {
				text-decoration: none;

				&:before {
					font-family: FontAwesome;
					text-rendering: auto;
					-moz-osx-font-smoothing: grayscale;
					content: "\f09b";
					font-size: get-font-size('h6');
					padding-right: 5px;
					transform: translateY(-2px);
					vertical-align: middle;
				}
			}

			> h3 {
				margin-bottom: -20px !important;
			}
		}


		h1,
		h2 {
			color: get-color('default');
			border-top: 1px solid get-color('gray-medium');
			padding-top: 40px;
		}

		h1:first-child {
			border-top: none;
			padding-top: 0px
		}

		h3, h4, h5, h6 {
			color: get-color('default');

			& img {
				height: 50px;
				margin-bottom: 20px;
				left: 0;
			}
		}

		blockquote {
			margin: 24px 24px;
			border-left: 8px solid $cerulean-4;
			background: $pattens-blue-2;
			padding: 24px;
			font-size: 1em;
			p {
				color: get-color('black');
				font-size: 1em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
		}

		ul {
			padding-left: 20px;
			margin-top: 0 !important;
			margin-bottom: 10px;
			list-style: initial;
			li {
				color: $mortar;
				margin-bottom: 5px;
			}
		}

		ol {
			margin: 0 0 10px 30px;
			list-style: decimal;
			img {
				margin: inherit;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}

		table {
			@include font-size('small');
			@include margin(medium 0);
			width: 100%;
		}

		th {
			text-align: left;
			background: $white-smoke-4;
			padding: 5px;
			font-weight: bold;
			vertical-align: top;
			word-break: normal;
			background: get-color('blue-bright');
			color: white;
		}

		tr {
			border-bottom: 1px dotted $nobel;
			&:nth-child(even) {
			    background-color: $lavender-3;
			}
		}

		input:focus {outline:0;}

		td {
			padding: 3px 5px;
			border-right: 1px dotted $white-smoke-6;
			vertical-align: top;

			code {
				word-break: normal;
				font-size: 12px;
				color: $night-rider;
			}
		}

		code, kbd, pre, samp, pre code {
			font-size: 14px;
		}
		code {
			border-radius: 2px;
			border: 1px solid $solitude-4;
			white-space: normal;
			padding: 1px 5px;
			line-height: 1.428571429;
			background: get-color('code-background');
			color: $night-rider;
			font-size: 80%;
			font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
			word-break: break-all;
		}

		pre>code {
			padding: 0;
			margin: 0;
			font-size: 100%;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}

		blockquote code,
		table code {
			color: get-color('blue-bright');
		}

		pre {
			display: block;
			padding: 9.5px;
			margin: 0 0 10px;
			line-height: 1.428571429;
			color: $night-rider;
			word-break: break-all;
			word-wrap: break-word;
			background-color: $white-smoke-6;
			border-radius: 4px;
			white-space: pre;
			overflow: auto;
			code {
				white-space: pre;
			}
		}

		.header-link {
			position: relative;
			left: 0.5em;
			opacity: 0;
			font-size: 0.8em;

			-webkit-transition: opacity 0.2s ease-in-out 0.1s;
			-moz-transition: opacity 0.2s ease-in-out 0.1s;
			-ms-transition: opacity 0.2s ease-in-out 0.1s;
		}

		h2:hover .header-link,
		h3:hover .header-link,
		h4:hover .header-link,
		h5:hover .header-link,
		h6:hover .header-link {
			opacity: 1;
		}


		/* -------------------------- API */

		#cors-test {
			display: inline-block;
		}

		.api:before {
			font-family: fontawesome;
			margin-right: 8px;
		}

		.api-operation {
			color: get-color('default') !important;
			font-weight: 500!important;
			&:before {
				content: '\f12e';
			}
		}

		.api-request {
			color: get-color('default')!important;
			font-weight: 500!important;
		}

		.api-response {
			color: get-color('default')!important;
			font-weight: 500!important;
		}

		.api-request-params:before {
			content:"\f18e";
		}

		.api-response-params:before {
			content:"\f190";
		}

		.api-request-example:before {
			content:"\f0a9";
		}

		.api-response-example:before {
			content:"\f0a8";
		}

		.api-label {
			color: white;
			font-weight: 500;
			padding: 3px 10px;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			background: get-color('green-dark');
			display: inline-block;
			i {
		    margin-right: 2px;
			}
		}

		.api-label-small {
			font-size:80%;
		}

		.api-label-margin-bottom {
			margin-bottom: 10px;
		}

		.api-label-beta {
		  background: $lemon;
		  color: $black;
		}

		.api-label-ea {
		  background: $puerto-rico;
		}

		.api-label-deprecated {
		  background: $burnt-orange;
		}

		.api-label-cors {
		  background: $dim-gray-3;
		}

		.api-uri-template {
			display:inline-block;
			border-top:1px solid $very-light-gray;
			border-right:1px solid $very-light-gray;
			border-bottom:1px solid $very-light-gray;
			border-radius:.25em;
			padding-right: 10px;
			background:$white-smoke-8;
			margin-right: 5px;
			strong {
				color: $islamic-green;
			}
			.api-label {
				border-top-right-radius:0;
				border-bottom-right-radius:0;
				margin-right:5px
			}
		}

		.api-uri-get {
			strong {
				color: $islamic-green;
			}
			.api-label {
				background: $islamic-green;
			}
		}

		.api-uri-post {
			strong {
				color: $sea-buckthorn;
			}
			.api-label {
				background: $sea-buckthorn;
			}
		}

		.api-uri-put {
			strong {
				color: $cerulean-5;
			}
			.api-label {
				background: $cerulean-5;
			}
		}

		.api-uri-delete {
			strong {
				color: $valencia;
			}
			.api-label {
				background: $valencia;
			}
		}

		.panel-default {
			border-color: $gainsboro-2;
		}

		.form-group {
			&:before {
				display: table;
				content: " ";
				clear: both;
			}
		}

		.form-horizontal .form-group:before, .form-horizontal .form-group:after {
			display: table;
			content: " ";
		}

		.form-horizontal .form-group:after {
			clear: both;
		}

		.panel-body:after {
			clear: both;
		}

		.panel-body:before, .panel-body:after {
			display: table;
			content: " ";
		}

		.form-cors-test {
			margin-bottom:20px;
			.form-group {
				display:inline-block;
				vertical-align:middle;
				width: 50%;
			}
		}

		.form-cors-test .input-group {
			display:inline-table;
			vertical-align:middle;
		}

		.cors-test-result {
			padding-left: 30px;
			width: 80%;
		}
		.btn {
			transition: 0.2s all;
			font-size: 0.92166em;
			background: none;
			border: 1px solid $white-lilac-2;
			border-radius: 3px;
			color: $black;
			display: inline-block;
			padding: .4em .8em;
			text-decoration: none;

			&-primary {
				color: $white;
				background-color: $curious-blue;
				border-color: $curious-blue-2;
				padding: 1em .8em;
			}

			&:active,
			&:focus,
			&:hover {
				background: none;
				border-color: $puerto-rico;
				color: $puerto-rico;
			}
		}


		.input-group {
			position: relative;
			display: table;
			border-collapse: separate;
		}

		.input-group[class*="col-"] {
			float: none;
			padding-right: 0;
			padding-left: 0;
		}

		.input-group .form-control {
			width: 100%;
			margin-bottom: 0;
		}

		.form-horizontal {
			.control-label {
				padding-top: 7px;
				margin-top: 0;
				margin-bottom: 0;
				text-align: right;
			}
			label {
				display: inline-block;
				margin: 5px 0;
				font-weight: bold;
			}
			.form-control-static {
				padding-top: 7px;
			}
		}
		.form-control {
			display: block;
			width: 50%;
			height: 55px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.428571429;
			color: $mortar;
			vertical-align: middle;
			background-color: $white;
			background-image: none;
			border: 1px solid $very-light-gray;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		}

		.input-group-lg > .form-control,
		.input-group-lg > .input-group-addon,
		.input-group-lg > .input-group-btn > .btn {
			height: 46px;
			padding: 10px 16px;
			font-size: 18px;
			line-height: 1.33;
			border-radius: 6px;
		}


		.input-group-addon,
		.input-group-btn,
		.input-group .form-control {
			display: table-cell;
		}

		.input-group-addon:not(:first-child):not(:last-child),
		.input-group-btn:not(:first-child):not(:last-child),
		.input-group .form-control:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		.input-group-addon,
		.input-group-btn {
			width: 1%;
			white-space: nowrap;
			vertical-align: middle;
		}

		.input-group-addon {
			padding: 6px 12px;
			font-size: 14px;
			font-weight: normal;
			line-height: 1;
			color: $mortar;
			text-align: center;
			background-color: $white-smoke-4;
			border: 1px solid $very-light-gray;
			border-radius: 4px;
		}

		.panel {
			margin-bottom: 20px;
			background-color: $white;
			border: 1px solid $gainsboro-2;
			border-radius: 4px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		}

		.panel-default > .panel-heading {
			color: $night-rider;
			background-color: $white-smoke-8;
			border-color: $gainsboro-2;
		}

		.panel-heading {
			padding: 10px 15px;
			border-bottom: 1px solid transparent;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}

		/* -------------------------- beta */

		.beta {
			display: none;
		}

		.excerpt {
			padding-left:40px
		}

		// End old style

		#markdown-toc {
			display: none !important;
		}

		.btn-github {
			margin-top: 20px;
		}

		.docs-index-list {
			margin-left: 10px;

			li:before {
				font-family: fontawesome;
				font-size: 14px;
				color: $very-light-gray;
				content: '\f097';
				margin-right: 5px;
			}
		}
		.bulletsless {
			list-style: none;
		}

		.alert strong {
			font-weight: bold;
		}

		.page-title-block {
			padding-bottom: .5em;
			margin-bottom: 2em;
			border-bottom: 1px solid $suva-gray;
		}

		.table-word-break td{
			word-break: break-word;
		}

		.page-title-block .btn {
			float: right;
			position: relative;
			top: 25px;
			text-decoration: none;
		}

		.CodeRay pre {
			white-space: pre;
			word-wrap: normal;
			overflow-x: auto;
		}

		/* -------------------------- PYGMENTS */

		/* -------------------------- PYGMENTS */

		pre {
			@include padding(15px);
			background: get-color('code-background');
			display: block;
			margin: get-spacing('large') 0;

			code {
				background: none;
				padding: 0;
			}
		}

		.highlighter-rouge:first-child > pre {
			margin-top: 0;
		}

		.highlighter-rouge:last-child > pre {
			margin-bottom: 0;
		}

		p code {
			@include padding(0 xx-small);
		}

		.highlight pre { color: $eclipse-2; } /* Base Style */
		.highlight .p { color: $eclipse-2; } /* Punctuation */
		.highlight .err { color: $eclipse-2; } /* Error */
		.highlight .n { color: $dark-cerulean; } /* Base Style */
		.highlight .na { color: $dark-cerulean; } /* Name Attribute */
		.highlight .nb { color: $dark-cerulean; } /* Name Builtin */
		.highlight .nc { color: $dark-cerulean; } /* Name Class */
		.highlight .no { color: $dark-cerulean; } /* Name Constant */
		.highlight .nd { color: $dark-cerulean; } /* Name Decorator */
		.highlight .ni { color: $dark-cerulean; } /* Name Entity */
		.highlight .ne { color: $dark-cerulean; } /* Name Exception */
		.highlight .nf { color: $dark-cerulean; } /* Name Function */
		.highlight .nl { color: $dark-cerulean; } /* Name Label */
		.highlight .nn { color: $puerto-rico; } /* Name Namespace */
		.highlight .nx { color: $dark-cerulean; } /* Name Other */
		.highlight .py { color: $dark-cerulean; } /* Name Property */
		.highlight .nt { color: $dark-cerulean; } /* Name Tag */
		.highlight .nv { color: $dark-cerulean; } /* Name Variable */
		.highlight .vc { color: $dark-cerulean; } /* Name Variable Class */
		.highlight .vg { color: $dark-cerulean; } /* Name Variable Global */
		.highlight .vi { color: $dark-cerulean; } /* Name Variable Instance */
		.highlight .bp { color: $dark-cerulean; } /* Name Builtin Pseudo */
		.highlight .g { color: $eclipse-2; } /* Base Style */
		.highlight .gd { color: $eclipse-2; } /*  */
		.highlight .o { color: $eclipse-2; } /* Base Style */
		.highlight .ow { color: $puerto-rico; } /* Operator Word */
		.highlight .c { color: $nobel-2; font-style: italic; }/* Base Style */
		.highlight .cm { color: $nobel-2; font-style: italic; } /* Comment Multiline */
		.highlight .cp { color: $nobel-2; font-style: italic; } /* Comment Preproc */
		.highlight .c1 { color: $nobel-2; font-style: italic; } /* Comment Single */
		.highlight .cs { color: $nobel-2; font-style: italic; } /* Comment Special */
		.highlight .k { color: $puerto-rico; } /* Base Style */
		.highlight .kc { color: $puerto-rico; } /* Keyword Constant */
		.highlight .kd { color: $puerto-rico; } /* Keyword Declaration */
		.highlight .kn { color: $puerto-rico; } /* Keyword Namespace */
		.highlight .kp { color: $puerto-rico; } /* Keyword Pseudo */
		.highlight .kr { color: $puerto-rico; } /* Keyword Reserved */
		.highlight .kt { color: $puerto-rico; } /* Keyword Type */
		.highlight .l { color: $eclipse-2; } /* Base Style */
		.highlight .ld { color: $jazzberry-jam; } /* Literal Date */
		.highlight .m { color: $jazzberry-jam; } /* Literal Number */
		.highlight .mf { color: $jazzberry-jam; } /* Literal Number Float */
		.highlight .mh { color: $jazzberry-jam; } /* Literal Number Hex */
		.highlight .mi { color: $jazzberry-jam; } /* Literal Number Integer */
		.highlight .mo { color: $jazzberry-jam; } /* Literal Number Oct */
		.highlight .il { color: $jazzberry-jam; } /* Literal Number Integer Long */
		.highlight .s { color: $cerise; } /* Literal String */
		.highlight .sb { color: $cerise; } /* Literal String Backtick */
		.highlight .sc { color: $cerise; } /* Literal String Char */
		.highlight .sd { color: $cerise; } /* Literal String Doc */
		.highlight .s2 { color: $cerise; } /* Literal String Double */
		.highlight .se { color: $jazzberry-jam; } /* Literal String Escape */
		.highlight .sh { color: $cerise; } /* Literal String Heredoc */
		.highlight .si { color: $cerise; } /* Literal String Interpol */
		.highlight .sx { color: $cerise; } /* Literal String Other */
		.highlight .sr { color: $jazzberry-jam; } /* Literal String Regex */
		.highlight .s1 { color: $cerise; } /* Literal String Single */
		.highlight .ss { color: $cerise; } /* Literal String Symbol */
		.highlight .g { color: $eclipse-2; } /* Base Style */
		.highlight .gd { color: $eclipse-2; } /* Generic Deleted */
		.highlight .ge { color: $eclipse-2; } /* Generic Emph */
		.highlight .gr { color: $eclipse-2; } /* Generic Error */
		.highlight .gh { color: $eclipse-2; } /* Generic Heading */
		.highlight .gi { color: $eclipse-2; } /* Generic Inserted */
		.highlight .go { color: $eclipse-2; } /* Generic Output */
		.highlight .gp { color: $eclipse-2; } /* Generic Prompt */
		.highlight .gs { color: $eclipse-2; } /* Generic Strong */
		.highlight .gu { color: $eclipse-2; } /* Generic Subheading */
		.highlight .gt { color: $eclipse-2; } /* Generic Traceback */
		.highlight .x { color: $eclipse-2; } /* Other */
		.highlight .w { color: $eclipse-2; } /* Text Whitespace */

		#scroll-top-button {
			position: fixed;
			bottom: 5%;
			right: 2%;
			padding: 1em 2em;
			background: $white-smoke-6;
			font-size: 12px;
			border: 1px solid $gainsboro-2;
			opacity: 0;
			-webkit-transition: .2s opacity ease-in,
			.2s background ease-in,
			.2s color ease-in,
			.05s position ease-out;
			transition:         .2s opacity ease-in,
			.2s background ease-in,
			.2s color ease-in,
			.05s position ease-out;
		}

		#scroll-top-button.on {
			opacity: 1;
		}

		#scroll-top-button:before {
			font-family: fontawesome;
			content: '\f0a6';
			margin-right: 10px;
		}

		#scroll-top-button:hover {
			text-decoration: none;
			background: $white-3;
		}
	}

	&.DynamicSidebar {
		.PageContent-main {
			h1 {
				border-top: none;
				padding-top: 0px
			}
		}
	}
}

@include media('<doc-min-toc') {
	.PageContent {
		flex-direction: column;
	}
}

@include media('<large') {
	.PageContent {
		padding-left: 40px;
	}
}

@include media('<medium') {
	.PageContent {
		 padding-top: 0;

		&-main {
			@include padding(medium small);
            flex-grow: 1;
		}
	}
}

@include media('<600px') {
	.PageContent {
		padding-top: 75px;
	}
}

@include media('<doc-min-toc') {
	.PageContent {
		padding-left: 0px;
        &.has-tableOfContents {
			flex-direction: column;
			padding-right: 0;
		}

		&.has-tableOfContents &-main {
			width: 100%;
		}
	}
}
