.Sidebar {
	@include padding(large small large medium);
	background: get-color('ebony-clay');
	min-width: 250px;
	position: relative;
	width: 250px;
	border-left: solid 1px get-color('ebony-clay');

	@include media('>medium') {
		@include padding(large small large small);
	}

	@include media('>1340px') {
		@include padding(large small large 0);
	}

	&-hide {
		display: none;
	}

	&:before {
		background: get-color('ebony-clay');
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		transform: translateX(-100%);
		width: 100vw;
	}

	&-title {
		@include color('white');
		@include font-size('h4');
		@include margin(medium 0 small);
		font-weight: 400;
	}

	&-nav {
		&,
		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul {
			border-left: 1px solid get-color('gray-lightest');
			padding-left: get-spacing('x-small');

			a {
				@include color('iron');
				@include padding(0.1em x-small);
				@include transition(background normal);
				@include font-size('small');
				font-weight: 400;
				border-radius: 3px;
			}

			a:active, a:hover {
				background-color: get-color('cerise');
				color: get-color('white');
			}
		}

		a {
			@include color('white');
			@include font-size('small');
			display: block;
			font-weight: 600;
			text-decoration: none;
			line-height: 20px;
			padding-bottom: 5px;
		}


		> li,
		ul {
			@include margin(x-small 0);
		}

		.is-active {
			> a {
				@include color('cerise');
			}

			> ul {
				display: block;
			}
		}
	}

	&-location {
		display: none;
	}
}

.DynamicSidebar {
    @include media('<doc-min-toc') {
	    .Sidebar {
		    @include padding(x-small small x-small 0);
		    background: get-color('white');
		    min-width: 100%;
		    position: relative;
		    clear: both;
		    order: -2;
		    width: 100%;
		    height: auto;
		    border-bottom: solid 3px get-color('gray-light');
		    z-index: 100;

	        h3,
	        ul {
		        display: none;
	        }
        }
	    .Sidebar-close {
		    @include transition(normal transform);
		    background: image_url("icons/close.svg") no-repeat center;
		    cursor: pointer;
		    position: absolute;
		    width: 22px;
		    height: 22px;
		    z-index: 3;
		    right: 30px;
		    top: 14px;
	    }
	    .Sidebar-location {
			margin: 0 30px;
		    color: get-color('blue-bright');
		    display: block;
		    cursor: pointer;
	    }
	    .Sidebar-active {
		    @include padding(small);
		    h3,
		    ul {
			    display: block;
		    }
	    }
	    .Sidebar-active .Sidebar-close {
		    transform: rotate(180deg);
	    }
	    .Sidebar-active .Sidebar-location {
		    display: none;
	    }
    }
}
