.TableOfContents {
	@include padding(large medium large 0);
	@include transition(transform normal);
	align-self: flex-start;
	bottom: 0;
	left: calc(50% + #{$site-width * 0.5 - 200});
	overflow: hidden;
	position: fixed;
	top: 100px;
	width: 200px + get-spacing('medium');
	z-index: 1000;

	&-indicator {
		@include transition(height normal, transform normal);
		background: get-color('blue-bright');
		height: (get-spacing('xx-small') * 2) + 20;
		left: 0;
		margin-top: 40px + get-spacing('large');
		position: absolute;
		top: 0;
		width: 1px;
		z-index: 10;
	}

	&-item {
		@include font-size('small');
		@include padding(xx-small 0);
		@include transition(color normal);
		display: block;
		line-height: 20px;
		position: relative;

		&,
		&:active
		&:hover {
			@include color('default');
			text-decoration: none;
		}
	}

	&-footer {
		padding-top: get-spacing('small');
	}

	.is-level1 {
		@include font-size('h6');
		font-weight: bold;
		padding-left: 20px;
		padding-bottom: 25px;

		&:nth-child(2) {
			padding-top: 0;
		}
	}

	.is-level2 {
		padding-left: get-spacing('small');
		&:nth-child(1) {
			padding-top: 0;
		}
	}

	.is-level3 {
		padding-left: get-spacing('small') * 2;

		&:before {
			left: get-spacing('small');
		}
	}

	.is-level4 {
		padding-left: get-spacing('small') * 3;

		&:before {
			left: get-spacing('small') * 2;
		}
	}

	.is-level5 {
		padding-left: get-spacing('small') * 4;

		&:before {
			left: get-spacing('small') * 3;
		}
	}

	.is-level6 {
		padding-left: get-spacing('small') * 5;

		&:before {
			left: get-spacing('small') * 4;
		}
	}

	.is-level1,
	.is-level2,
	.is-level3,
	.is-level4,
	.is-level5,
	.is-level6 {
		border-left: 1px solid get-color('iron');
		cursor: pointer;
	}

	.is-level3,
	.is-level4,
	.is-level5,
	.is-level6 {
		&:before {
			@include transition(border normal);
			border: 1px solid get-color('gray-medium');
			border-radius: 100%;
			content: '';
			display: block;
			height: 6px;
			position: absolute;
			top: get-spacing('xx-small') + 6;
			width: 6px;
		}
	}

	.is-active {
		@include color('blue-bright');

		&:before {
			border-color: get-color('blue-bright');
		}
	}
}


@include media('<doc-min-toc') {
	.TableOfContents {
		@include padding(0 large);
		@include color('default');
		order: -1;
		position: static;
		width: 100%;
		z-index: 10;
		margin-bottom: 20px;
		left: inherit;
		right: 0;

		&:before {
			display: none;
		}

		&-indicator {
			display: none;
		}

		.is-level1 {
			margin-left: 0;
			margin-top: 8px;
			font-size: 32px;
			font-weight: 500;
			line-height: 42px;
			border-left: none;
			padding-left: 0;

			&:after {
				display: block;
				@include font-size(h4);
				@include font-weight(h4);
				@include line-height(h4);
				margin: auto;
				margin-top: get-spacing(small);
				margin-bottom: -(get-spacing(x-small));
				content: 'Table of Contents';
				border-bottom: solid 1px get-color('gray-medium');
			}
		}

		.is-level2 {
			border-left: none;
			padding-left: 0;
		}

		.is-level3,
		.is-level4,
		.is-level5,
		.is-level6 {
			display: none;
			border-left: none;
		}

		.is-active {
			@include color('default');
		}

		.TableOfContents-footer {
			display: none;
		}
	}
}

@include media('<medium'){
	.TableOfContents {
		@include padding (0 small);
	}
}

// Used to ensure JavaScript respects doc-min-toc set in variables.scss as mobile/desktop toggle point
body {
	&:before {
		left: -10000px;
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: 0;
		z-index: -1;
	}
}

@include media('<doc-min-toc') {

	body {
		&:before {
			content: 'toc-mobile';
		}
	}

}


.TableOfContentsLoader {
	display: none;
}

.TableOfContentsPreload {
	.TableOfContentsLoader {
		display: block;
		width: 100px;
		height: 100px;
		display: block;
		background-image: image_url("loading.gif");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-top: -30px;
	}
}

.TableOfContents {

	&.large-header {
		.is-level1 {
			margin-bottom: 0;
		}

		.TableOfContents-indicator {
			margin-top: 55px + get-spacing('large');
		}
	}

}
