.customLanding-about {
  padding: 56px 0 87px;

  color: cv("header", "nav-link");
}

.customLanding-about h2 {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: cv("header", "nav-link");
}

.customLanding-about p {
  margin-bottom: 0;
  max-width: 783px;

  font-size: 20px;
  line-height: 30px;
}

.customLanding-about__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
  max-width: 783px;
}

.customLanding-about__info {
  margin-right: 20px;
}

.customLanding-about__info h3 {
  margin-top: 0;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: cv("header", "nav-link");
}

.customLanding-about__info span {
  display: inline-block;
  max-width: 474px;

  font-size: 16px;
  line-height: 25px;
  color: cv("text", "base");
}

.customLanding-about__resourses {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.customLanding-about__explore {
  display: flex;
  align-items: center;
}

.customLanding-about__explore a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
