.customLanding {
    &-features {
        h2 {
            margin: 0 0 0px;
            max-width: 540px;
            font-size: 36px;
            font-weight: 400;
            line-height: 1.25;
            color: cv('header', 'nav-link');
        }

        &__row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 60px 0;
            position: relative;
            &:not(:last-child) {
                svg {
                    display: block;
                }
            }
            svg {
                display: none;
                width: 100%;
                position: absolute;
                bottom: -2px;
                left: 0;
            }
            @media (max-width: 1110px) {
                flex-wrap: wrap;
            }
        }

        &__col {
            width: 370px;

            &:last-child {
                border-radius: 12px;
                width: 415px;
                padding: 41px 43px 41px 54px;
                background-color: cv('body', 'custom-bg-white');
            }

            @media (max-width: 1110px) {
                width: 100%;
                margin-bottom: 20px;

                &:last-child {
                    width: 100%;
                }
            }
        }

        &__title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;

            img {
                width: 30px;
            }

            h3 {
                margin: 0;
                padding-left: 16px;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                color: cv('header', 'nav-link');
            }
        }

        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: cv('header', 'nav-link');
        }

        &__button {
          background-color: cv('blue', '900');
          padding: 0.625rem 1.25rem;
          color: cv('body', 'white');
          display: inline-block;
          font-weight: 400;
          &:hover {
            color: cv('body', 'white');
            background-color: cv('link');
          }
          &:visited,
          &:active,
          &:focus {
            color: cv('body', 'white');
          }
        }
        
        &__caption {
            margin: 0 0 15px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            color: cv('header', 'nav-link');
        }

        &__list-item {
            position: relative;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 18px;
            color: cv('header', 'nav-link');
            font-weight: 400;

            a {
                font-weight: 400;
            }

            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: -18px;
                width: 4px;
                height: 4px;
                background-color: cv('body', 'gray');
                border-radius: 50%;
            }
        }
    }
}