.customLanding-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 0;
}

.customLanding-hero__content {
  max-width: 560px;

  color: cv("header", "nav-link");
}

.customLanding-hero__content h1 {
  margin-top: 0;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: cv("gray", "600");
}

.customLanding-hero__content h2 {
  margin-top: 0;
  margin-bottom: 2.25rem;

  font-weight: 400;
  font-size: 2.25rem;
  color: cv("header", "nav-link");
}

.customLanding-hero__content p {
  margin-bottom: 2.875rem;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.customLanding-hero__content p span {
  display: inline-block;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.customLanding-hero__content h3 {
  margin-bottom: 0.9375rem;

  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: cv("header", "nav-link");
}

.customLanding-hero__content span {
  display: block;
  margin-bottom: 7px;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.customLanding-hero__button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 14px 20px;

  border-radius: 4px;
  background-color: cv("link", "darker");

  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: cv("body", "white");
}

.customLanding-hero__button:hover {
  background-color: cv("link", "base");

  color: cv("body", "white");
}

.customLanding-hero__button:visited,
.customLanding-hero__button:active,
.customLanding-hero__button:focus {
  color: cv("body", "white");
}

.customLanding-hero__link {
  display: inline-block;

  font-weight: 500;
  color: cv("link", "base");
}

.customLanding-hero__image svg {
  width: 222px;
}
