/*
 * Layout
 ------------------------------------------------------------ */
/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #5d5d5d;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em; }

.text-align--center {
  text-align: center; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, ul:first-child, ol:first-child, blockquote:first-child {
  margin-top: 0; }
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:last-child, ol:last-child, blockquote:last-child {
  margin-bottom: 0; }

p, ul, ol, blockquote {
  line-height: 1.5em;
  margin: 12px 0; }
  p.text--medium, ul.text--medium, ol.text--medium, blockquote.text--medium {
    font-size: 1.176em; }
  p.text--large, ul.text--large, ol.text--large, blockquote.text--large {
    font-size: 1.384em; }

h1, h2, h3, h4, h5, h6 {
  color: #007dc1;
  font-weight: 300;
  line-height: 1.1em;
  margin: 48px 0 12px; }
  h1.text--small, h2.text--small, h3.text--small, h4.text--small, h5.text--small, h6.text--small {
    color: #000;
    font-weight: 500;
    text-transform: uppercase; }

h1, .h1 {
  font-size: 2.649em; }
  h1.text--small, .h1.text--small {
    font-size: 1.628em; }

h2, .h2 {
  font-size: 2.252em; }
  h2.text--small, .h2.text--small {
    font-size: 1.501em; }

h3, .h3 {
  font-size: 1.914em; }
  h3.text--small, .h3.text--small {
    font-size: 1.384em; }

h4, .h4 {
  font-size: 1.628em; }
  h4.text--small, .h4.text--small {
    font-size: 1.276em; }

h5, .h5 {
  font-size: 1.384em; }
  h5.text--small, .h5.text--small {
    font-size: 1.176em; }

h6, .h6 {
  font-size: 1.176em; }
  h6.text--small, .h6.text--small {
    font-size: 1.085em; }

a {
  transition: 0.2s all;
  color: #4cbf9c; }
  a:active, a:focus, a:hover {
    color: #5ce5bc; }

b, strong {
  font-weight: 500; }

em {
  font-style: italic; }

code, pre {
  font-size: 0.92166em;
  background: transparent;
  border-radius: 3px;
  color: #5d5d5d;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre; }

pre {
  display: block;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word; }

ul.list--with-bullets li {
  padding-left: 21px;
  position: relative; }
  ul.list--with-bullets li:before {
    background: #4cbf9c;
    border-radius: 3px;
    content: "";
    display: block;
    height: 6px;
    left: 0;
    margin-top: -3px;
    position: absolute;
    top: 0.75em;
    width: 6px; }
  ul.list--with-bullets li + li {
    margin-top: 6px; }

ul.toc {
  background: #fefefe;
  border: 1px solid #fafafa;
  border-radius: 3px;
  padding: 12px 15px; }
  ul.toc ul {
    margin: 0;
    padding-left: 30px; }
  ul.toc li {
    font-size: 0.92166em;
    margin: 3px 0; }
    ul.toc li:before {
      font-family: fontawesome;
      content: '\f097';
      font-size: 12px;
      color: #ccc;
      margin-right: 6px; }
  ul.toc a {
    text-decoration: none; }

ol.list--numbered {
  list-style: decimal;
  padding-left: 21px; }
  ol.list--numbered li + li {
    margin-top: 6px; }

.trailing-link {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase; }
  .trailing-link:after {
    font-size: 1.176em;
    color: #4cbf9c;
    content: "\203A";
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -2px;
    vertical-align: middle; }

body {
  padding-top: 81px; }

.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
  position: relative;
  zoom: 1; }
  .wrap:after {
    clear: both;
    content: "";
    display: table; }

.page-content {
  overflow: hidden;
  position: relative;
  z-index: 10; }

.section--full-width {
  background: #fff;
  padding: 30px 0;
  position: relative;
  margin-bottom: 50px; }
  .section--full-width header {
    margin-bottom: 20px; }
    .section--full-width header:last-child {
      margin-bottom: 0; }
  .section--full-width.bg--dark-blue, .section--full-width.bg--dark-blue h2, .section--full-width.bg--dark-blue h3, .section--full-width.bg--dark-blue h4, .section--full-width.bg--dark-blue h5, .section--full-width.bg--dark-blue h6, .section--full-width.bg--blue, .section--full-width.bg--blue h2, .section--full-width.bg--blue h3, .section--full-width.bg--blue h4, .section--full-width.bg--blue h5, .section--full-width.bg--blue h6 {
    color: #fff; }
  .section--full-width.bg--dark-blue {
    background: #007DC1; }
  .section--full-width.bg--blue {
    background: #007DC1; }
  .section--full-width.bg--blue-gradient {
    background: #007DC1;
    background: -webkit-linear-gradient(top, #46b3e9 0%, #007dc1 74%, #007dc1 100%);
    background: linear-gradient(to bottom, #46b3e9 0%, #007dc1 74%, #007dc1 100%); }
  .section--full-width.bg--light-blue {
    background-image: image_url("okta-home-hero.png");
    background-size: cover; }
  .section--full-width.bg--light-grey {
    background: #fafafa; }
  .section--full-width.bg--legacy-light-blue {
    background: #E0EEF6; }
  .section--full-width.extra-padding--for-anchor {
    margin-top: -81px;
    padding-top: 111px; }
  .section--full-width .wrap + .wrap {
    margin-top: 40px; }
  .section--full-width:nth-child(1) {
    z-index: 9; }
  .section--full-width:nth-child(2) {
    z-index: 8; }
  .section--full-width:nth-child(3) {
    z-index: 7; }
  .section--full-width:nth-child(4) {
    z-index: 6; }
  .section--full-width:nth-child(5) {
    z-index: 5; }
  .section--full-width:nth-child(6) {
    z-index: 4; }
  .section--full-width:nth-child(7) {
    z-index: 3; }
  .section--full-width:nth-child(8) {
    z-index: 2; }
  .section--full-width:nth-child(9) {
    z-index: 1; }
  .section--full-width:nth-child(10) {
    z-index: 0; }

#valprop {
  padding: 50px 0; }
  #valprop h1, #valprop p {
    color: #fff; }
  #valprop p {
    max-width: 640px; }
  #valprop .button--large {
    margin-top: 24px; }

#bottom-cta .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px; }
#bottom-cta .button--large > span {
  display: none; }
#bottom-cta .button--large:after {
  content: "Get a Free Account"; }

img.responsive--full-width {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

.row {
  margin: 48px -30px;
  zoom: 1; }
  .row:after {
    clear: both;
    content: "";
    display: table; }
  .row:first-child {
    margin-top: 0; }
  .row:last-child {
    margin-bottom: 0; }

[class*=col-] {
  box-sizing: border-box;
  float: left;
  padding: 0 30px;
  position: relative;
  width: 100%; }
  [class*=col-] + [class*=col-] {
    margin-top: 30px; }
  [class*=col-].extra-padding--left {
    padding-left: 90px; }
    [class*=col-].extra-padding--left .column-icon {
      left: 75px; }
  [class*=col-].extra-padding--right {
    padding-right: 90px; }

a[class*=col-] {
  color: inherit;
  text-decoration: none; }

.column-icon {
  background-size: 39px;
  height: 39px;
  left: 15px;
  margin-left: -39px;
  margin-top: -20px;
  position: absolute;
  top: 0.75em;
  width: 39px;
  z-index: 10; }

.site-header {
  background: #fff;
  border-bottom: 3px solid #E6E6E8;
  box-sizing: border-box;
  height: 81px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20; }
  .site-header .cta-button {
    display: none;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 160px; }
  .site-header .search-button {
    background: image_url("magnify.svg");
    background-size: 30px;
    display: block;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 25px;
    transition: none;
    width: 30px;
    z-index: 10; }
  .site-header .search-container .gsc-search-box {
    float: right;
    padding: 0; }
  .site-header .search-container .gsc-container {
    background-size: 30px;
    display: block;
    height: 30px;
    position: absolute;
    right: 195px;
    display: none;
    top: 25px;
    transition: none;
    width: 30px;
    z-index: 10; }
    @media screen and (min-width: 768px) {
      .site-header .search-container .gsc-container {
        display: block; } }
  .site-header .search-container .gsc-input {
    padding-right: 0; }
    .site-header .search-container .gsc-input #gsc-i-id1 {
      /*transition: width $tl, border-radius $tl, background $tl, box-shadow $tl;*/
      width: 30px;
      height: 30px;
      border-radius: 15px;
      padding: 0;
      border: none;
      cursor: pointer;
      background: none !important;
      background-position-x: 100% !important;
      background-size: 30px 30px !important;
      color: transparent; }
      .site-header .search-container .gsc-input #gsc-i-id1:focus {
        border: none;
        outline: none;
        box-shadow: none;
        padding-left: 15px;
        cursor: text;
        border: 1px solid #BBB;
        border-radius: auto;
        background-color: white !important;
        color: black;
        margin-right: 40px; }
        @media screen and (min-width: 768px) {
          .site-header .search-container .gsc-input #gsc-i-id1:focus {
            width: 400px; } }
        @media screen and (min-width: 992px) {
          .site-header .search-container .gsc-input #gsc-i-id1:focus {
            width: 550px; } }
        @media screen and (min-width: 1200px) {
          .site-header .search-container .gsc-input #gsc-i-id1:focus {
            width: 700px; } }
  .site-header .search-container .gsc-search-button {
    /*position: absolute;*/
    display: none; }
  .site-header .search-container .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer; }
  .site-header .search-container .gsc-clear-button {
    display: none; }

.site-title {
  background: image_url("logo-new.png?151028") no-repeat center;
  background-size: auto 34px;
  display: block;
  float: left;
  height: 80px;
  margin: 0;
  position: relative;
  width: 157px;
  z-index: 10; }
  .site-title a {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 100%; }

.site-nav {
  height: 80px;
  left: 15px;
  padding: 0 0 0 177px;
  position: absolute;
  right: 65px;
  text-align: right;
  top: 0;
  z-index: 5; }
  .site-nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0; }
  .site-nav > ul > li, .site-nav > .pac-nav--desktop > ul > li {
    float: left;
    line-height: 30px;
    height: 30px;
    padding: 25px 0;
    position: relative; }
  .site-nav > .pac-nav--desktop,
  .site-nav > .pac-nav--mobile,
  .site-nav > .pac-nav--toggle {
    display: block;
    padding: 0;
    height: auto; }
  .site-nav > ul > li > a, .site-nav > .pac-nav--desktop > ul > li > a {
    font-size: 0.92166em;
    color: #333;
    display: inline-block;
    font-weight: 500;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase; }
  .site-nav.loaded {
    opacity: 0; }
  .site-nav .pac-nav--hidden, .site-nav.pac-nav--is-desktop .pac-nav--toggle, .site-nav.pac-nav--is-desktop .pac-nav--mobile {
    display: none !important; }
  .site-nav.pac-nav--is-desktop {
    opacity: 1 !important; }
  .site-nav .pac-nav--toggle {
    cursor: pointer; }
  .site-nav.pac-nav--is-intermediary, .site-nav.pac-nav--is-mobile {
    padding-right: 50px;
    opacity: 1 !important; }
    .site-nav.pac-nav--is-intermediary .pac-nav--toggle, .site-nav.pac-nav--is-mobile .pac-nav--toggle {
      background: no-repeat center;
      background-size: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 25px;
      width: 30px; }
  .site-nav.pac-nav--is-intermediary .pac-nav--toggle {
    background-image: url(/assets/svg/dots-horizontal.svg); }
  .site-nav.pac-nav--is-mobile .pac-nav--toggle {
    background-image: url(/assets/svg/menu.svg); }
  .site-nav .pac-nav--mobile {
    background: #000;
    border-radius: 3px;
    min-width: 180px;
    position: absolute;
    padding: 5px 0;
    right: 0;
    top: 60px;
    z-index: 999; }
    .site-nav .pac-nav--mobile:before {
      border: solid transparent;
      border-bottom-color: #000;
      border-width: 0 5px 5px;
      content: "";
      display: block;
      position: absolute;
      right: 10px;
      top: -5px; }
    .site-nav .pac-nav--mobile ul, .site-nav .pac-nav--mobile li {
      float: none; }
    .site-nav .pac-nav--mobile > ul > li {
      border-bottom: 1px solid #353435;
      margin: 0 10px; }
      .site-nav .pac-nav--mobile > ul > li:last-child {
        border-bottom: 0; }
      .site-nav .pac-nav--mobile > ul > li > a {
        color: #fff;
        display: block;
        margin: 0 -10px;
        padding: 5px 10px;
        text-decoration: none; }
        .site-nav .pac-nav--mobile > ul > li > a:active, .site-nav .pac-nav--mobile > ul > li > a:focus, .site-nav .pac-nav--mobile > ul > li > a:hover {
          background: #353435; }
  .site-nav.pac-nav--is-mobile .pac-nav--mobile {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: left;
    top: 80px; }
    .site-nav.pac-nav--is-mobile .pac-nav--mobile:before {
      border-width: 0 10px 10px;
      right: 70px;
      top: -10px; }
  .site-nav .has-dropdown > a:after {
    border: solid transparent;
    border-bottom-color: #fff;
    border-width: 0 5px 5px;
    content: "";
    display: none;
    left: 50%;
    margin-left: 5px;
    position: absolute;
    top: 55px;
    z-index: 10; }
  .site-nav .dropdown-window {
    background: #fff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 30px;
    display: none;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 5; }
    .site-nav .dropdown-window > p {
      font-size: 0.85034em;
      background: no-repeat top left;
      border-bottom: 1px solid #fafafa;
      height: 40px;
      line-height: 20px;
      margin: 0 0 10px;
      padding: 0 20px 10px 50px;
      position: relative;
      text-align: left;
      white-space: nowrap; }
      .site-nav .dropdown-window > p:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0; }
      .site-nav .dropdown-window > p.stack-overflow {
        background-image: image_url("icons/rounded-stackoverflow--small-blue.png");
        height: 30px;
        padding-top: 10px; }
      .site-nav .dropdown-window > p.email {
        background-image: image_url("icons/rounded-email--small-blue.png"); }
      .site-nav .dropdown-window > p.tel {
        background-image: image_url("icons/rounded-mobile--small-blue.png"); }
    .site-nav .dropdown-window a {
      font-weight: 500;
      text-decoration: none; }
  .site-nav .has-dropdown.dropdown-active > a:after,
  .site-nav .has-dropdown.dropdown-active > a + .dropdown-window {
    display: block; }
  .site-nav .pac-nav--mobile .pac-nav--visible + .has-dropdown {
    margin-bottom: 30px;
    margin-top: 30px; }
    .site-nav .pac-nav--mobile .pac-nav--visible + .has-dropdown:last-child {
      margin-bottom: 0; }
  .site-nav .pac-nav--mobile .has-dropdown > a,
  .site-nav .pac-nav--mobile .has-dropdown > a + .dropdown-window {
    display: block !important; }
  .site-nav .pac-nav--mobile .has-dropdown > a {
    cursor: default; }
    .site-nav .pac-nav--mobile .has-dropdown > a:active, .site-nav .pac-nav--mobile .has-dropdown > a:focus, .site-nav .pac-nav--mobile .has-dropdown > a:hover {
      background: none; }
    .site-nav .pac-nav--mobile .has-dropdown > a:after {
      display: none !important; }
  .site-nav .pac-nav--mobile .has-dropdown .dropdown-window {
    background: none;
    border-top: 1px solid #353435;
    padding: 10px 0 5px;
    position: static; }
    .site-nav .pac-nav--mobile .has-dropdown .dropdown-window a {
      color: #fff;
      display: inline;
      font-weight: 500;
      padding: 0; }
      .site-nav .pac-nav--mobile .has-dropdown .dropdown-window a:active, .site-nav .pac-nav--mobile .has-dropdown .dropdown-window a:focus, .site-nav .pac-nav--mobile .has-dropdown .dropdown-window a:hover {
        text-decoration: underline; }
    .site-nav .pac-nav--mobile .has-dropdown .dropdown-window > p {
      border-bottom-color: #353435;
      color: #E6E6E8; }
      .site-nav .pac-nav--mobile .has-dropdown .dropdown-window > p:last-child {
        border-bottom: 0; }
      .site-nav .pac-nav--mobile .has-dropdown .dropdown-window > p.stack-overflow {
        background-image: image_url("icons/rounded-stackoverflow--small-grey.png"); }
      .site-nav .pac-nav--mobile .has-dropdown .dropdown-window > p.email {
        background-image: image_url("icons/rounded-email--small-grey.png"); }
      .site-nav .pac-nav--mobile .has-dropdown .dropdown-window > p.tel {
        background-image: image_url("icons/rounded-mobile--small-grey.png"); }

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  float: left; }

.site-footer {
  background: #fafafa;
  border-top: 2px solid #007dc1;
  padding: 30px 0;
  position: relative;
  text-align: center;
  z-index: 10; }
  .site-footer ul {
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
    zoom: 1; }
    .site-footer ul + ul {
      margin-top: 20px; }
  .site-footer li {
    display: inline-block;
    vertical-align: top; }
    .site-footer li + li {
      margin-left: 20px; }
  .site-footer a {
    color: #007dc1;
    text-decoration: none; }
    .site-footer a:active, .site-footer a:focus, .site-footer a:hover {
      color: #oktaBlueHighlight; }

.icon i {
  font-size: 48px; }

.clearfix {
  overflow: inherit;
  zoom: 1; }

.logo-placard {
  background: #fff;
  display: block;
  height: 120px;
  line-height: 120px;
  padding: 30px;
  text-align: center; }
  .logo-placard img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle; }

[class*=button--] {
  background: #4cbf9c;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.2s all; }
  [class*=button--]:active, [class*=button--]:focus, [class*=button--]:hover {
    background: #5ec5a6;
    border-color: #567f44;
    color: #fff; }

.button--small {
  font-size: 0.85034em; }

.button--large {
  height: 65px;
  line-height: 65px;
  padding: 0 40px; }

.btn {
  transition: 0.2s all;
  font-size: 0.92166em;
  background: none;
  border: 1px solid #E6E6E8;
  border-radius: 3px;
  color: #000;
  display: inline-block;
  padding: .4em .8em;
  text-decoration: none; }
  .btn:active, .btn:focus, .btn:hover {
    background: none;
    border-color: #4cbf9c;
    color: #4cbf9c; }

.hide {
  display: none; }

[class*=icon-with-hover--] {
  background: no-repeat top;
  background-size: 53px;
  display: inline-block;
  height: 53px;
  overflow: hidden;
  text-indent: 100%;
  transition: none;
  white-space: nowrap;
  width: 53px; }
  [class*=icon-with-hover--]:active, [class*=icon-with-hover--]:focus, [class*=icon-with-hover--]:hover {
    background-position: bottom; }

.icon-with-hover--github {
  background-image: image_url("icons/rounded-github--grey-with-hover.png"); }

.icon-with-hover--twitter {
  background-image: image_url("icons/rounded-twitter--grey-with-hover.png"); }

.icon-with-hover--stack-overflow {
  background-image: image_url("icons/rounded-stackoverflow--grey-with-hover.png"); }

.icon-with-hover--rss {
  background-image: image_url("icons/rounded-rss--grey-with-hover.png"); }

.icon-with-hover--help {
  background-image: image_url("icons/rounded-help--grey-with-hover.png"); }

[class*=icon-small--] {
  background: no-repeat top;
  background-size: 26px;
  display: inline-block;
  height: 26px;
  width: 26px; }

.icon-small--okta {
  background-image: image_url('icons/flat-okta--with-hover.png'); }

.icon-small--folder {
  background-image: image_url('icons/flat-folder--with-hover.png'); }

.icon-small--updown {
  background-image: image_url('icons/flat-updown--with-hover.png'); }

.icon-small--db {
  background-image: image_url('icons/flat-database--with-hover.png'); }

.icon-small--social {
  background-image: image_url('icons/flat-twitter--with-hover.png'); }
