@font-face {
  font-family: 'okticon';
  src: url('/fonts/okticon.eot');
  src: url('/fonts/okticon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/okticon.woff') format('woff'),
    url('/fonts/okticon.ttf') format('truetype'),
    url('/fonts/okticon.svg#okticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

strong {
	font-weight: 600;
}

p,
ul,
ol {
  @include margin(small 0);

  max-width: none;
}

li {
  max-width: none;
}

a[target='_blank'] {
	&:not([href^='mailto:'])::after {
		background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.5%2010.5V13C13.5%2013.3%2013.3%2013.5%2013%2013.5H3C2.7%2013.5%202.5%2013.3%202.5%2013V3C2.5%202.7%202.7%202.5%203%202.5H5.5%22%20stroke%3D%22%23007DC1%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M8%208L14%202%22%20stroke%3D%22%23007DC1%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M9.5%201.5H14.5%22%20stroke%3D%22%23007DC1%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M14.5%206.5V1.5%22%20stroke%3D%22%23007DC1%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
		background-size: 1em;
	}

	&[href^='https://app.getpostman.com']::after {
		display: none;
	}
}

blockquote {
	@include margin(medium 0);
	@include padding(x-small small);
	border-left: 2px solid get-color('blue');
}

table {
	tbody {
		border-top: 0;
		border-bottom: 1px solid get-color('gray-lighter');
	}

	th {
		@include padding(x-small x-small small);
		border-bottom: 1px solid get-color('gray-medium');
		font-weight: 500;
		vertical-align: top;

		p {
			display: inline-block;
			vertical-align: top;
			margin: 0;
		}

		img {
			@include margin(0 x-small);
			display: inline-block;
			vertical-align: text-top;
		}
	}

	td {
		@include padding(x-small);
		border-bottom: 1px solid get-color('gray-light');

		img {
			max-width: 15px;
		}
	}
}

%all-caps {
  font-weight: get-font-weight('button');
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
