@mixin breakpoint($point) {
	@if $point == extra-small {
		@media screen and (min-width: #{$breakpointExtraSmall}) { @content; }
	}
	@else if $point == small {
		@media screen and (min-width: #{$breakpointSmall}) { @content; }
	}
	@else if $point == medium {
		@media screen and (min-width: #{$breakpointMedium}) { @content; }
	}
	@else if $point == large {
		@media screen and (min-width: #{$breakpointLarge}) { @content; }
	}
}

@mixin clearfix() {
	zoom: 1;
	
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}