/*
 * Layout
 ------------------------------------------------------------ */
/*
 * Colors
 ------------------------------------------------------------ */
/*
 * New Colors
 ------------------------------------------------------------ */
/*
 * Typography
 ------------------------------------------------------------ */
#valprop {
  text-align: center; }
  #valprop p {
    margin-left: auto;
    margin-right: auto; }

.gsc-table-result .gs-title {
  font-size: 1.25rem;
  color: #0e6aa8 !important;
  text-decoration: none; }
.gsc-table-result .gsc-url-bottom {
  color: #6c922d !important; }
  .gsc-table-result .gsc-url-bottom .gs-visibleUrl-long {
    color: #6c922d !important; }

.gsc-cursor .gsc-cursor-current-page {
  color: white !important; }

.site-header .search-container, .site-header .search-button {
  display: none; }

.site-container .gsc-search-box #gsc-i-id2 {
  font-size: 18px;
  line-height: 1.3;
  border-radius: 48px;
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: none !important; }
.site-container .gsc-search-box input.gsc-search-button {
  background: image_url("magnify.svg") no-repeat scroll center top transparent;
  border: none;
  background-size: 30px;
  height: 30px;
  transition: none;
  width: 30px;
  z-index: 10;
  outline: 0;
  color: transparent;
  cursor: pointer; }
.site-container .gsc-search-box td.gsc-input {
  padding-right: 0; }
.site-container .gsc-search-box td.gsc-clear-button {
  position: absolute;
  right: 90px;
  top: 18px; }
