%Icon {
	@include transition(normal color);
	align-items: center;
	display: flex;
	height: 40px;
	position: relative;
	text-align: center;
	width: 40px;

	img {
		display: block;
		max-height: 100%;
	}

	svg {
		display: block;
		height: 40px;
		width: 40px;
	}

	[fill] > circle,
	[fill] > ellipse,
	[fill] > path,
	[fill] > polygon,
	[fill] > polyline,
	[fill] > rect,
	g[fill] > use {
		@include transition(normal fill);
		fill: currentColor;
	}

	[fill='none'] > circle,
	[fill='none'] > ellipse,
	[fill='none'] > path,
	[fill='none'] > polygon,
	[fill='none'] > polyline,
	[fill='none'] > rect,
	g[fill='none'] > use {
		fill: none;
	}

	[stroke] > circle,
	[stroke] > ellipse,
	[stroke] > path,
	[stroke] > polygon,
	[stroke] > polyline,
	[stroke] > rect,
	g[stroke] > use {
		@include transition(normal stroke);
		stroke: currentColor;
		vector-effect: non-scaling-stroke;
	}

	[stroke='none'] > circle,
	[stroke='none'] > ellipse,
	[stroke='none'] > path,
	[stroke='none'] > polygon,
	[stroke='none'] > polyline,
	[stroke='none'] > rect,
	g[stroke='none'] > use {
		stroke: none;
	}

	circle[fill],
	ellipse[fill],
	path[fill],
	polygon[fill],
	polyline[fill],
	rect[fill],
	g use[fill] {
		@include transition(normal fill);
		fill: currentColor;
	}

	circle[fill='none'],
	ellipse[fill='none'],
	path[fill='none'],
	polygon[fill='none'],
	polyline[fill='none'],
	rect[fill='none'],
	g use[fill='none'] {
		fill: none;
	}

	circle[stroke],
	ellipse[stroke],
	path[stroke],
	polygon[stroke],
	polyline[stroke],
	rect[stroke],
	g use[stroke] {
		@include transition(normal stroke);
		stroke: currentColor;
		vector-effect: non-scaling-stroke;
	}

	circle[stroke='none'],
	ellipse[stroke='none'],
	path[stroke='none'],
	polygon[stroke='none'],
	polyline[stroke='none'],
	rect[stroke='none'],
	g use[stroke='none'] {
		stroke: none;
	}
}

.Icon,
[class^='Icon--'],
[class*=' Icon--'] {
	@extend %Icon;
}

.Icon--small, .Icon--small > svg {
	height: 32px;
	width: 32px;
}

.Icon--large, .Icon--large > svg {
	height: 60px;
	width: 60px;
}

.Icon--xLarge, .Icon--xLarge > svg {
	height: 80px;
	width: auto;
}

.Icon--circle {
	@include margin(0 auto small);
	border: 2px solid currentColor;
	border-radius: 100%;
	box-sizing: content-box;
	padding: 15px;
}

.Icon--thinStroke {
	[stroke-width],
	[stroke-width] > circle,
	[stroke-width] > ellipse,
	[stroke-width] > path,
	[stroke-width] > polygon,
	[stroke-width] > polyline,
	[stroke-width] > rect,
	circle[stroke-width],
	ellipse[stroke-width],
	path[stroke-width],
	polygon[stroke-width],
	rect[stroke-width] {
		stroke-width: 1px;
	}

	&.Icon--circle {
		border-width: 1px;
	}
}
