//-----------------------------------------------------------------------
// Placeholders
//-----------------------------------------------------------------------
%Row {
	align-content: flex-start;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin: ($line-break * 2) ($gutter-width * -0.5) (($line-break * 2) - $gutter-width);

	+ & {
		margin-top: (-$line-break * 2) + $gutter-width;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: $gutter-width * -1;
	}
}

%Column {
	padding: 0 ($gutter-width * 0.5) $gutter-width;
	position: relative;
}



//-----------------------------------------------------------------------
// Classes
//-----------------------------------------------------------------------
.Row,
[class^='Row--'],
[class*=' Row--'] {
	@extend %Row;
}

.Row--wideGutters {
	margin-bottom: ($line-break * 2) - ($gutter-width * 3);
	margin-left: -($gutter-width * 1.5);
	margin-right: -($gutter-width * 1.5);

	+ .Row--wideGutters {
		margin-top: (-$line-break * 2) + ($gutter-width * 3);
	}

	&:last-child {
		margin-bottom: $gutter-width * -3;
	}

	.Column,
	[class^='Column-'],
	[class*=' Column-'] {
		padding: 0 ($gutter-width * 1.5) ($gutter-width * 3);
	}
}

.Column,
[class^='Column-'],
[class*=' Column-'] {
	@extend %Column;
}

@for $i from 1 through $grid-width {
	.Column--#{$i} {
		width: 100% * ($i / $grid-width);

		// shim for IE because it calculates width, then adds padding (which is backwards and causes wrapping)
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			width: floor(100% * ($i / $grid-width)) - 2;
			flex-basis: floor(100% * ($i / $grid-width)) - 2;
			padding: 0 1% $gutter-width;
		}
	}

	.ColumnOffset--#{$i - 1} {
		margin-left: 100% * (($i - 1) / $grid-width);
	}
}

@each $_breakpoint in map-keys(map-reverse($breakpoints)) {

	@include media(unquote('<#{$_breakpoint}')) {
		@for $i from 1 through $grid-width {
			.Column--#{camelize($_breakpoint)}-#{$i} {
				width: 100% * ($i / $grid-width);
			}

			.ColumnOffset--#{camelize($_breakpoint)}-#{$i - 1} {
				margin-left: 100% * (($i - 1) / $grid-width);
			}
		}
	}
}



//-----------------------------------------------------------------------
// Utility Classes
//-----------------------------------------------------------------------
.u-Flex {
	display: flex;
}

.u-Stretch {
	align-items: stretch;
}

.u-Justify {
	justify-content: center;
}

.u-Wrap {
	flex-wrap: wrap;
}

.u-WrapRow {
	flex-wrap: column;
	display: none;
}
