//-----------------------------------------------------------------------
// Typography
//-----------------------------------------------------------------------

$font-family:				Helvetica, Arial, sans-serif		!default;
$font-family--sans-serif:	Helvetica, Arial, sans-serif		!default;
$font-family--serif:		serif								!default;

$line-height:				1.5									!default;

$font-size:					(
							'base':				16px,
							'h6':				16px,
							'h5':				20px,
							'h4':				24px,
							'h3':				32px,
							'h2':				40px,
							'h1':				48px
							)									!default;

$font-weight:				(
							'base':				400,
							'h6':				400,
							'h5':				400,
							'h4':				400,
							'h3':				400,
							'h2':				400,
							'h1':				400
							)									!default;



//-----------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------

$colors:					(
							'default':			#232323,
							'accent':			#fe5000,
							
							'black':			#000,
							'darker-gray':		#232323,
							'dark-gray':		#4a4a4a,
							'gray':				#9b9b9b,
							'light-gray':		#dedede,
							'lighter-gray':		#fcfcfc,
							'white':			#fff
							)									!default;



//-----------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------

$site-width:				1080px								!default;
$grid-width:				12									!default;

$line-break:				20px								!default;
$gutter-width:				20px								!default;
							 
$breakpoints:				(
							'xx-small':			320px,
							'x-small':			480px,
							'small':			768px,
							'medium':			1024px,
							'large':			1200px,
							'x-large':			1400px,
							'xx-large':			1600px
							)									!default;
						 
$spacing:					(
							'xx-small':			10px,
							'x-small':			20px,
							'small':			30px,
							'medium':			45px,
							'large':			60px,
							'x-large':			75px,
							'xx-large':			90px
							)									!default;



//-----------------------------------------------------------------------
// Transitions
//-----------------------------------------------------------------------

$transition-speed:			(
							'x-slow':			0.8s,
							'slow':				0.6s,
							'normal':			0.4s,
							'fast':				0.2s,
							'x-fast':			0.1s
							)									!default;
