%Wrap {
	@include padding(0 medium);
}

body {
    background: get-color('white');
    position: relative;

  @include media('<medium') {
    padding-top: 70px;
  }

  @include media('<=600px') {
    padding-top: 0;
  }

  &.Page-Full-Width {

    .PageContent {
      max-width: 100%;

      &-main {
        max-width: 1400px;
      }
    }

    &-With-Header {
      @extend .Page-Full-Width;

      #header {
        .Wrap {
          max-width: 100%;
        }
      }
    }

  }

}

.Page {
	overflow: hidden;
}

.fixed {
	position: fixed;
}

