// all variables with "new-" are used for the new style
// When we update the style for the other pages, we should normalize
// them
// Please Note: even though the variables are missing "new-"
// they are still being used

//-----------------------------------------------------------------------
// Paths
//-----------------------------------------------------------------------

$asset-path: "/assets";


//-----------------------------------------------------------------------
// Typography
//-----------------------------------------------------------------------

$font-family:             'proxima-nova', Helvetica, Arial, sans-serif;
$font-family--alt:        'museo', Helvetica, Arial, sans-serif;

$font-size:     (
                'small':            14px,
                'base':             16px,
                'button':           14px,
                'h6':               20px,
                'h5':               22px,
                'h4':               24px,
                'h3':               28px,
                'h2':               32px,
                'h1':               36px,

                'new-small':        12px,
                'new-h2':           28px,
                'new-h1':           44px,

);


$font-weight:   (
                'x-small':          300,
                'small':            400,
                'base':             400,
                'button':           600,
                'h6':               500,
                'h5':               500,
                'h4':               500,
                'h3':               500,
                'h2':               500,
                'h1':               500,
                'light':            300,
                'semibold':         500,
                'mediumbold':       600,
                'bold':             700,

                'new-h2':           500,
                'new-h1':           500
);

$line-height:   (
                'small':            24px,
                'base':             26px,
                'h6':               30px,
                'h5':               32px,
                'h4':               34px,
                'h3':               38px,
                'h2':               42px,
                'h1':               46px,
                'large':            56px,

                'new-h1':           52px,
                'new-h2':           36px,
                'new-small':        20px,
                'new-button':       38px,
);



//-----------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------


// Project/Client Colors

// Abstract definitions:
// (These are consistent with Nim. Changes here should be mirrored there - https://github.com/okta/courage/blob/master/assets/sass/nim/abstracts/_colors.scss)
// Whites
$white: #ffffff;
$white-3: #fafafa;
$white-smoke-4: #eeeeee;
$white-smoke-6: #f0f0f0;
$white-smoke-8: #f5f5f5;
$white-smoke-10: #f4f4f4; // intentional developer color
$gainsboro-2: #dddddd;
$gainsboro-8: #e4e4e4;
// Grays
$dim-gray-3: #5d5d5d;
$eclipse-2: #3d3d3d;
$iron: #c2c3c3;
$lily-white: #f2f5f5;
$mortar: #555555;
$mystic: #dee0df;
$night-rider: #333333;
$nobel: #999999;
$nobel-2: #9a9a9a;
$shady-lady: #979797;
$suva-gray: #888888;
$suva-gray-4: #8f8f8f;
$very-light-gray: #cccccc;
// Blacks
$black: #000000;
// Reds
$jazzberry-jam: #990f69;
$valencia: #d9534f;
// Oranges
$burnt-orange: #ff7640;
$light-coral: #f57f7f;
$red-orange: #ff3333;
$sea-buckthorn: #f39c44;
// Yellows
$lemon: #f7f01b;
// Blues
$blue-whale: #142430; // intentional developer color
$columbia-blue: #a9e6fd;
$cerulean-4: #00659d;
$cerulean-5: #0069aa;
$curious-blue: #428bca;
$curious-blue-2: #357ebd;
$dark-cerulean: #115d8b; // intentional developer color
$ghost: #d2d2d6; // intentional developer color
$maya-blue: #4cc3ff;
$maya-blue-2: #5dd2fc;
$midnight: #20313b; // intentional developer color
$mischka: #b3b3b5;
$navy-blue: #007dc1;
$pacific-blue-3: #0095e5;
$pattens-blue: #e0eef6;
$pattens-blue-2: #deeef6;
$solitude-4: #dbe3e7;
$summer-sky: #46b3e9;
$turquoise: #5ce5bc;
$white-lilac-2: #e6e6e8;
// Greens
$cyprus-2: #153b56; // intentional developer color
$islamic-green: #009900;
$puerto-rico: #4cbf9c;
$puerto-rico-5: #4cbf9d;
$screamin-green: #59ff99;
$shamrock: #4cdb82;
$periglacial-blue: #abadac;
// Purples
$cerise: #e22866; // intentional developer color
$lavender-3: #f7fbfd;
// Browns

// Functional map:
$colors:        (
                'black':                  $black,
                'white':                  $white,

                'default':                $eclipse-2,
                'accent':                 $navy-blue,

                'blue-bright':            $navy-blue,
                'blue-bright-hover':      $pacific-blue-3,

                'blue-medium':            $summer-sky,
                'blue-medium-hover':      $maya-blue,

                'blue-light':             $columbia-blue,
                'blue-light-hover':       $maya-blue-2,

                'green':                  $puerto-rico-5,
                'green-hover':            $turquoise,

                'green-dark':             $puerto-rico,
                'green-dark-hover':       $turquoise,

                'green-light':            $shamrock,
                'green-light-hover':      $screamin-green,

                'charcoal':               $dim-gray-3,
                'charcoal-hover':         $suva-gray-4,

                'gray-dark':              $periglacial-blue,
                'gray-dark-hover':        $mystic,

                'gray-medium':            $iron,
                'gray-medium-hover':      $lily-white,

                'gray-light':             $white-lilac-2,
                'gray-light-hover':       $mischka,

                'gray-lighter':           $gainsboro-8,
                'gray-lighter-hover':     $white-smoke-4,

                'gray-lightest':          $white-3,
                'gray-lightest-hover':    $columbia-blue,

                'blue-products':          $pattens-blue,

                'new-gray-dark':          $eclipse-2,

                'red':                    $light-coral,

                // 2017-07 Redesign Colors
                'ebony-clay':             $midnight, // Background
                'elephant':               $cyprus-2, // Secondary background, table rule
                'big-stone':              $blue-whale, // Card / table background
                'matisse':                $dark-cerulean, // Card / table banner
                'iron':                   $ghost, // Body (type) color (dark bg) // Note difference from $iron
                'cerise':                 $cerise, // CTA buttons, links

                'code-background':        $white-smoke-10,
);


//-----------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------

$site-width:    1280px;
$new-site-width:                1120px;
$new-narrow-site-width:         760px;
$grid-width:    12;

$border-radius:                 3px;
$border-size:                   2px;

$line-break:    20px;
$gutter-width:  20px;

$breakpoints:   (
                'xx-small':               320px,
                'x-small':                480px,
                'small':                  768px,
                'medium-small':           900px,
                'medium':                 1024px,
                'large':                  1200px,
                'doc-min-toc':            1265px,
                'x-large':                1400px,
                'xx-large':               1600px
);

$spacing:       (
                'xx-small':               5px,
                'x-small':                10px,
                'small':                  20px,
                'medium':                 40px,
                'large':                  60px,
                'x-large':                80px,
                'xx-large':               120px
);



//-----------------------------------------------------------------------
// Transitions
//-----------------------------------------------------------------------

$transition-speed:(
                'x-slow':                 0.8s,
                'slow':                   0.6s,
                'normal':                 0.4s,
                'fast':                   0.2s,
                'x-fast':                 0.1s
);
