$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-xl': 1440px,
  'desktop-xx-large': 1920px,
  'bootstrap-xl': 1200px,
  'bootstrap-lg': 992px,
  /* for 'bootstrap-md' use 'tablet' */
  'bootstrap-sm': 576px,
);
