:root {
  // PALETTE LIGHT THEME
  --c-white: #ffffff;
  --c-gray-000: #ffffff;
  --c-gray-100: #ebebed;
  --c-gray-200: #dcdcdc;
  --c-gray-300: #dcdcdc;
  --c-gray-400: #c1c1c8;
  --c-gray-500: #6e6e78;
  --c-gray-600: #6e6e78;
  --c-gray-700: #6e6e78;
  --c-gray-800: #1d1d21;
  --c-gray-900: #1d1d21;
  --c-lightgray-200: #f5f5f5;
  --c-lightgray-300: #f7f7f8;
  --c-lightgray-800: #E7EDF9;
  --c-lightgray-900: #f9f9f9;
  --c-blue-000: #f2f5ff;
  --c-blue-300: #a7b5ec;
  --c-blue-400: #788ee2;
  --c-blue-500: #1662dd;
  --c-blue-900: #00297a;
  --c-blue-whale: #142430;
  --c-success-lightest: #e5fff6;
  --c-success-base: #00d1b3;
  --c-success-dark: #00a08e;
  --c-action-lightest: #e5edfb;
  --c-action-base: #1662dd;
  --c-action-dark: #124a94;
  --c-yellow-lightest: #fcf9e1;
  --c-yellow-base: #ebd551;
  --c-yellow-dark: #bc960f;
  --c-warning-lightest: #feefe2;
  --c-warning-base: #f47c25;
  --c-warning-dark: #cb5500;
  --c-warning-deprecation: #e97107;
  --c-danger-lightest: #fee6ea;
  --c-danger-base: #dd0744;
  --c-danger-dark: #b80047;
  --c-cyan-lightest: #c6fafa;
  --c-cyan-base: #007f9c;
  --c-cyan-dark: #004d6b;
  --c-violet-lightest: #f3eafe;
  --c-violet-base: #8d6e97;
  --c-violet-dark: #5a13b4;
  --c-magenta-base: #c72c86;
  --c-code-purple: #965abe;
  --c-code-orange: #f19b56;
  --c-code-lightblue: #8bc5eb;
  --c-code-lightgray: #c4c4c4;
  --c-cerise-red: #e22866;
  --c-link-blue: #00297a;
  --c-link-lightgray: #b5d0df;
  --c-link-bluelight: #455992;
  --c-body-lightgray: #dcdcdc;
  --c-body: #ffffff;
  --c-tile-gray: #8c8c96;
  --c-form-gray: #c1c1c8;
  --c-black: #000;
  --c-bg-lightblue: #E8EFFC;
  --c-blue-aside: #f7faff;
  --c-blue-aside-lightblue: #EFF4FD;
  --c-gray-blue: #B1BDD8;
  --c-gray-sm: #F8F8F9;
  --c-dark-gray: #D9D9D9;
  --c-gray-md: #F9F9F9;

  // VARIABLES COLORS FOR LIGHT THEME
  --c-cerise: var(--c-cerise-red);
  --c-body-base: var(--c-lightgray-200);
  --c-body-lighter: var(--c-lightgray-300);
  --c-header-base: var(--c-blue-900);
  --c-text-darker: var(--c-gray-900);
  --c-text-base: var(--c-gray-700);
  --c-text-lighter: var(--c-gray-300);
  --c-link-base: var(--c-blue-500);
  --c-link-darker: var(--c-link-blue);
  --c-link-lighterblue: var(--c-link-bluelight);
  --c-link-footer: var(--c-link-lightgray);
  --c-auth-link: var(--c-white);
  --c-code-base: var(--c-gray-000);
  --c-code-keyword: var(--c-code-purple);
  --c-code-define: var(--c-code-orange);
  --c-code-property: var(--c-code-lightblue);
  --c-code-string: var(--c-code-lightgray);
  --c-body-border: var(--c-body-lightgray);
  --c-body-white: var(--c-body);
  --c-tile-angle: var(--c-tile-gray);
  --c-form-input-border: var(--c-form-gray);
  --c-toggle-bg: var(--c-gray-800);
  --c-headerNav-bg: var(--c-bg-lightblue);
  --c-headerNav-link: var(--c-blue-900);
  --c-sidebar: var(--c-blue-aside);
  --c-sidebar-toggle: var(--c-blue-aside-lightblue);
  --c-sidebar-before-bg: var(--c-lightgray-800);
  --c-active-router: var(--c-gray-blue);
  --c-custom-bg-gray: var(--c-gray-sm);
  --c-custom-bg-white: var(--c-white);
  --c-custom-bg-icon: var(--c-blue-000);
  --c-body-gray: var(--c-dark-gray);
  --c-arch-item: var(--c-gray-md);
  --c-arch-card-bg: var(--c-lightgray-900);
  --c-arch-card-hover: var(--c-lightgray-900);
  --c-tag-bg: var(--c-gray-100);
  --c-tag-text: var(--c-gray-800);
}

.dark-theme {
  // PALETTE DARK THEME
  --c-gray-900: #17171b;
  --c-gray-800: #1d1d21;
  --c-gray-750: #2a2a2f;
  --c-gray-700: #232327;
  --c-gray-650: #343439;
  --c-gray-600: #41414b;
  --c-gray-550: #55555b;
  --c-gray-500: #6e6e78;
  --c-gray-400: #8c8c96;
  --c-gray-300: #aaaab4;
  --c-gray-250: #cccccc;
  --c-gray-200: #dcdcdc;
  --c-gray-100: #ebebed;
  --c-gray-000: #f5f5f6;
  --c-checkbox-border: #c1c1c8;
  --c-cyan-base: #30c0bc;
  --c-lightgray: #212125;
  --c-silvery: #212126;
  --c-light: #d7d7dc;
  --c-blue-200: #CFE4F6;
  --c-blue-300: #92bcff;
  --c-blue-800: #234f97;
  --c-blue-darker: #5976a6;
  --c-checkbox-border: #c1c1c8;
  --c-code-purple: #8d6e97;
  --c-code-orange: #e97107;
  --c-code-lightblue: #92bcff;
  --c-code-lightgray: #8c8c96;
  --c-code-green: #00b478;
  --c-warning-base: #b35909;
  --c-warning-deprecation: #e97107;
  --c-success-base: #0d7855;
  --c-light-gray: #aaaab4;
  --c-leaden: #39393d;
  --c-coal: #2e2e35;
  --c-carrot: #f29b56;
  --c-bg-lightblue: #121212;
  --c-blue-aside: #121212;
  --c-blue-aside-lightblue: #222228;
  --c-link-bluelight: #D7D7D7;
  --c-lightgray-800: #26262D;
  --c-lightgray-900: #dddddd;
  --c-gray-blue: #92bcff;
  --c-blue-000: #121212;

  // VARIABLES COLORS FOR DARK THEME
  --c-body-base: var(--c-gray-800);
  --c-body-lighter: var(--c-gray-800);
  --c-header-base: var(--c-gray-700);
  --c-footer-base: var(--c-gray-700);
  --c-text-darker: var(--c-gray-100);
  --c-text-base: var(--c-gray-100);
  --c-text-lighter: var(--c-gray-100);
  --c-text-gray: var(--c-gray-600);
  --c-link-base: var(--c-blue-300);
  --c-link-lightblue: var(--c-blue-200);
  --c-link-signup: var(--c-blue-500);
  --c-code-base: var(--c-gray-900);
  --c-auth-link: var(--c-gray-700);
  --c-action-base: var(--c-blue-300);
  --c-code-keyword: var(--c-code-purple);
  --c-code-define: var(--c-code-orange);
  --c-code-property: var(--c-code-lightblue);
  --c-code-string: var(--c-code-lightgray);
  --c-code-greenstring: var(--c-code-green);
  --c-breadcrumb-link: var(--c-gray-400);
  --c-breadcrumb-svg: var(--c-gray-500);
  --c-footer-gray: var(--c-gray-500);
  --c-footer-light: var(--c-light-gray);
  --c-border: var(--c-gray-300);
  --c-border-light: var(--c-gray-200);
  --c-search: var(--c-silvery);
  --c-banner-close: var(--c-carrot);
  --c-headerNav-bg: var(--c-bg-lightblue);
  --c-headerNav-link: var(--c-white);
  --c-sidebar: var(--c-blue-aside);
  --c-sidebar-toggle: var(--c-blue-aside-lightblue);
  --c-sidebar-before-bg: var(--c-lightgray-800);
  --c-active-router: var(--c-gray-blue);
  --c-custom-bg-white: var(--c-gray-800);
  --c-custom-bg-gray: var(--c-gray-900);
  --c-custom-bg-icon: var(--c-blue-000);
  --c-arch-item: var(--c-coal);
  --c-arch-card-bg: var(--c-gray-750);
  --c-arch-card-hover: var(--c-gray-650);
  --c-tag-bg: var(--c-gray-550);
  --c-tag-text: var(--c-gray-250);
}

$colors: (
  "arch": (
    "item": var(--c-arch-item),
    "card": var(--c-arch-card-bg),
    "card-hover": var(--c-arch-card-hover)
  ),
  "tag": (
    "text": var(--c-tag-text),
    "bg": var(--c-tag-bg)
  ),
  "cerise": (
    "base": var(--c-cerise)
  ),
  "header": (
    "base": var(--c-header-base),
    "search": var(--c-search),
    "gray": var(--c-coal),
    "nav": var(--c-headerNav-bg),
    "nav-link": var(--c-headerNav-link),
  ),
  "breadcrumb": (
    "link": var(--c-breadcrumb-link),
    "svg": var(--c-breadcrumb-svg)
  ),
  "border": (
    "base": var(--c-border-light),
    "gray": var(--c-border),
    "checkbox": var(--c-checkbox-border)
  ),
  "body": (
    "gray": var(--c-body-gray),
    "base": var(--c-body-base),
    "lighter": var(--c-body-lighter),
    "border": var(--c-body-border),
    "white": var(--c-body-white),
    "homepage-lighter-block": var(--c-lightgray),
    "obscure": var(--c-auth-link),
    "orange": var(--c-banner-close),
    "sidebar": var(--c-sidebar),
    "sidebar-toggle": var(--c-sidebar-toggle),
    "sidebar-before": var(--c-sidebar-before-bg),
    "custom-bg-gray": var(--c-custom-bg-gray),
    "custom-bg-white": var(--c-custom-bg-white),
    "custom-bg-icon": var(--c-custom-bg-icon),
  ),
  "footer": (
    "base": var(--c-footer-base),
    "gray": var(--c-footer-gray),
    "light": var(--c-footer-light)
  ),
  "text": (
    "darker": var(--c-text-darker),
    "base": var(--c-text-base),
    "lighter": var(--c-text-lighter),
    "cyan": var(--c-cyan-base),
    "dark": var(--c-black),
    "accent": var(--c-text-gray)
  ),
  "tile": (
    "angle": var(--c-tile-angle)
  ),
  "input": (
    "border": var(--c-checkbox-border)
  ),
  "link": (
    "base": var(--c-link-base),
    "darker": var(--c-link-darker),
    "footer": var(--c-link-footer),
    "signup": var(--c-link-signup),
    "faq": var(--c-white),
    "light": var(--c-light),
    "gray": var(--c-leaden),
    "github": var(--c-link-lightblue),
    "bluelight": var(--c-link-lighterblue),
    "active-router": var(--c-active-router),
  ),
  "code": (
    "base": var(--c-code-base),
    "keyword": var(--c-code-keyword),
    "define": var(--c-code-define),
    "property": var(--c-code-property),
    "string": var(--c-code-string),
    "success": var(--c-code-greenstring)
  ),
  "form": (
    "input-border": var(--c-form-input-border)
  ),
  "success": (
    "lightest": var(--c-success-lightest),
    "base": var(--c-success-base),
    "dark": var(--c-success-dark)
  ),
  "action": (
    "lightest": var(--c-action-lightest),
    "base": var(--c-action-base),
    "dark": var(--c-action-dark)
  ),
  "yellow": (
    "lightest": var(--c-yellow-lightest),
    "base": var(--c-yellow-base),
    "dark": var(--c-yellow-dark)
  ),
  "warning": (
    "lightest": var(--c-warning-lightest),
    "base": var(--c-warning-base),
    "dark": var(--c-warning-dark),
    "deprecation": var(--c-warning-deprecation)
  ),
  "danger": (
    "lightest": var(--c-danger-lightest),
    "base": var(--c-danger-base),
    "dark": var(--c-danger-dark)
  ),
  "cyan": (
    "lightest": var(--c-cyan-lightest),
    "base": var(--c-cyan-base),
    "dark": var(--c-cyan-dark)
  ),
  "violet": (
    "lightest": var(--c-violet-lightest),
    "base": var(--c-violet-base),
    "dark": var(--c-violet-dark)
  ),
  "magenta": (
    "base": var(--c-magenta-base)
  ),
  "blue": (
    "000": var(--c-blue-000),
    "300": var(--c-blue-300),
    "400": var(--c-blue-400),
    "500": var(--c-blue-500),
    "900": var(--c-blue-900),
    "whale": var(--c-blue-whale),
    "darker": var(--c-blue-darker)
  ),
  "gray": (
    "000": var(--c-gray-000),
    "100": var(--c-gray-100),
    "200": var(--c-gray-200),
    "300": var(--c-gray-300),
    "400": var(--c-gray-400),
    "500": var(--c-gray-500),
    "600": var(--c-gray-600),
    "700": var(--c-gray-700),
    "800": var(--c-gray-800),
    "900": var(--c-gray-900)
  ),
  "white": (
    "base": var(--c-white)
  ),
  "theme-toggle": (
    "bg": var(--c-toggle-bg)
  )
);
