$colors: (
  'cerise': (
    'base': #E22866,
  ),
  // redesign 2021-07
  'header': (
    'base': #00297A,
  ),
  'body': (
    'base': #F5F5F6,
    'lighter': #F7F7F8,
    'border': #DCDCDC,
    'white': #ffffff,
  ),
  'text': (
    'darker': #1D1D21,
    'base': #6E6E78,
    'lighter': #D7D7DC,
  ),
  'tile': (
    'angle': #8C8C96,
  ),
  'link': (
    'base': #1662DD,
    'darker': #00297A,
    'footer': #B5D0DF,
  ),
  'code': (
    'keyword': #965ABE,
    'define': #F19B56,
    'property': #8BC5EB,
    'string': #C4C4C4,
  ),
  'form': (
    'input-border': #C1C1C8,
  ),

  // Copied from Odyssey
  'success': (
    'lightest': #e5fff6,
    'base': #00d1b3,
    'dark': #00a08e,
  ),
  'action': (
    'lightest': #e5edfb,
    'base': #1662dd,
    'dark': #124a94,
  ),
  'yellow': (
    'lightest': #fcf9e1,
    'base': #ebd551,
    'dark': #bc960f,
  ),
  'warning': (
    'lightest': #feefe2,
    'base': #f47c25,
    'dark': #cb5500,
  ),
  'danger': (
    'lightest': #fee6ea,
    'base': #dd0744,
    'dark': #b80047,
  ),
  'cyan': (
    'lightest': #c6fafa,
    'base': #007f9c,
    'dark': #004d6b,
  ),
  'violet': (
    'lightest': #f3eafe,
    'base': #963fe6,
    'dark': #5a13b4,
  ),
  'magenta': (
    'base': #c72c86,
  ),
  'blue': (
    '000': #f2f5ff,
    '300': #a7b5ec,
    '400': #788ee2,
    '500': #1662dd,
    '900': #00297a,
    'whale': #142430,
  ),
  'gray': (
    '000': #ffffff,
    '100': #EBEBED,
    '200': #DCDCDC,
    '300': #DCDCDC,
    '400': #C1C1C8,
    '500': #6E6E78,
    '600': #6E6E78,
    '700': #6E6E78,
    '800': #1D1D21,
    '900': #1D1D21,
  ),
);
