//-----------------------------------------------------------------------
// Placeholders
//-----------------------------------------------------------------------
%u-Heading {
	@include margin(($line-break * 3) 0 $line-break);
	font-weight: inherit;

	@include media('<medium') {
		@include margin(($line-break * 2) 0 $line-break);
	}

	@include media('<small') {
		br {
			display: none;
		}
	}

	a,
	a:active,
	a:hover {
		color: inherit;
	}
}



//-----------------------------------------------------------------------
// Classes
//-----------------------------------------------------------------------
html {
	@include color('default');
	font-family: $font-family;
	font-size: get-font-size('base');
	font-weight: get-font-weight('base');
	line-height: get-line-height('base');
}

%h1,
h1,
.h1 {
	@extend %u-Heading;
	@include font-size('h1');
	@include font-weight('h1');
	@include line-height('h1');
}

%h2,
h2,
.h2 {
	@extend %u-Heading;
	@include font-size('h2');
	@include font-weight('h2');
	@include line-height('h2');
}

%h3,
h3,
.h3 {
	@extend %u-Heading;
	@include font-size('h3');
	@include font-weight('h3');
	@include line-height('h3');
}

%h4,
h4,
.h4 {
	@extend %u-Heading;
	@include font-size('h4');
	@include font-weight('h4');
	@include line-height('h4');
}

%h5,
h5,
.h5 {
	@extend %u-Heading;
	@include font-size('h5');
	@include font-weight('h5');
	@include line-height('h5');
}

%h6,
h6,
.h6 {
	@extend %u-Heading;
	@include font-size('h6');
	@include font-weight('h6');
	@include line-height('h6');
}

p,
ul,
ol,
blockquote,
table,
address,
form,
pre {
	@include margin($line-break 0);
}

ol,
ul {
	padding-left: 1.5em;
}

a {
	@include color('accent');
	@include transition(normal color);
	text-decoration: none;

	&:active,
	&:hover {
		color: lighten(get-color('accent'), 10%);
		text-decoration: underline;
	}
}

article {
	@include margin(large 0);
}

strong {
	font-weight: bold;
}

pre {
	display: block;
	white-space: pre-wrap;
}

code {
	display: inline-block;
	white-space: pre;
}

blockquote {
	@include padding(0 0 0 medium);
}

img {
	max-width: 100%;
}

.u-color--Link {
	@include color('accent');
}


.u-AlignCenter {
	text-align: center;
}

.u-AlignLeft {
	text-align: left;
}

.u-AlignRight {
	text-align: right;
}

@include media("<medium") {
	.u-medium--AlignCenter{
		text-align: center;
	}
	.u-medium--AlignLeft{
		text-align: left;
	}
	.u-medium--AlignRight{
		text-align: right;
	}
}
@include media("<small") {
	.u-small--AlignCenter{
		text-align: center;
	}
	.u-small--AlignLeft{
		text-align: left;
	}
	.u-small--AlignRight{
		text-align: right;
	}
}
