{
 :allowed-event-types ["pull_request"]
 :event-queue-delay-ms 100
 :file-size-limit "1 MB"
 :acrolinx-parallel-workers 2
 :allowed-branchname-matches ["master" "main"]
 :track-new-repos true
 :gh-status-when-no-check true ;after 3.0.x is enabled by default
 :acrolinx-check-type "batch"
 :ignored-filetypes ["XML" "YAML" "HTML" "TEXT" "JAVA" "CPP" "PROPERTIES" "JSON" "MS_OFFICE" "PDF"]
 :allowed-filename-matches ["(?i)^(?!packages\\/\@okta\\/vuepress-site\\/(3rd_party_notices|archive|books|code|copyright|docs\\/reference\\/api|docs\\/reference\/release-notes)).*$"]
 :targets ; This requires ":use-gh-statuses" to be enabled
   {
     :counts {
              ;:clarity 0
              ;:consistency 7
              ;:correctness 10
              ;:inclusive 10
              ;:scannability 10
              ;:tone 10
              ;:words_and_phrases 10
              ;:total 2 ; absolute flag count, it should not be used in combination with the other possible categories.
              }
     :scores {
              ;:minimum 50
              ;:clarity 40
              ;:consistency 70
              ;:correctness 40
              ;:inclusive-language 10
              ;:scannability 80
              ;:tone 80
              ;:words_and_phrases 40
              :qualityscore 80
              }
    }
 ;;:guidance-profile "e4ea9087-8bac-43dc-8a6b-104478b4b737" ;; from Okta Prod, This is now controlled by Acrolinx Platform Target Assigments
  :template-header
 "
## Acrolinx score

A minimum Acrolinx Score of **80** is required. The total score is an average of the subscores.

Select **Total score** to review the Acrolinx scorecard for your article. Try to increase your individual scores, for example: Correctness. Your content will be clearer and more consistent.

| Article | **Total score**<br />**Required:70** | Word and phrases<br />(Brand, terms)<br />Preferred: 80 | Correctness<br />(Spelling, grammar)<br />Preferred: 80 | Clarity<br />(Readability)<br />Preferred: 80 | Inclusive language<br />(+ accesibility)<br />Preferred: 80 |
|---------|:------------------------------------:|:--------------------------------------------------------:|:--------------------------------------------------------:|:---------------------------------------------:|:------------------------------------------------------------:|
"

 :template-change
 "| ${s/status} ${s/file} | [${acrolinx/qualityscore}](${acrolinx/scorecard}) | ${acrolinx/scores/words_and_phrases}  | ${acrolinx/scores/correctness}  | ${acrolinx/scores/clarity}  | ${acrolinx/scores/inclusive}  |
"

 :template-footer

  "
  - Scorecard links, by default, are only good for 7 days. [Link for this commit's Content Analysis Report](${acrolinx/aggregdash})
  "
}
{
 :allowed-event-types ["pull_request"]
 :event-queue-delay-ms 100
 :file-size-limit "1 MB"
 :acrolinx-parallel-workers 2
 :allowed-branchname-matches ["master" "main"]
 :track-new-repos true
 :gh-status-when-no-check true ;after 3.0.x is enabled by default
 :acrolinx-check-type "batch"
 :ignored-filetypes ["XML" "YAML" "HTML" "TEXT" "JAVA" "CPP" "PROPERTIES" "JSON" "MS_OFFICE" "PDF"]
 :targets ; This requires ":use-gh-statuses" to be enabled
   {
     :counts {
              ;:clarity 0
              ;:consistency 7
              ;:correctness 10
              ;:inclusive 10
              ;:scannability 10
              ;:tone 10
              ;:words_and_phrases 10
              ;:total 2 ; absolute flag count, it should not be used in convination with the other possible categories.
              }
     :scores {
              ;:minimum 50
              ;:clarity 40
              ;:consistency 70
              ;:correctness 40
              ;:inclusive-language 10
              ;:scannability 80
              ;:tone 80
              ;:words_and_phrases 40
              :qualityscore 70
              }
    }
 ;;:guidance-profile "e4ea9087-8bac-43dc-8a6b-104478b4b737" ;; from Okta Prod, This is now controlled by Acrolinx Platform Target Assigments
  :template-header
 "
## Acrolinx score **DRAFT 01.22.26**

A minimum Acrolinx Score of **70** is required. The total score is an average of the subscores.

Select **Total score** to review the Acrolinx scorecard for your article. Try to increase your individual scores, ex. Correctness. Your article will be clearer and more consistent with Microsoft standards.

| Article | **Total score**<br />**Required:70** | Word and phrases<br />(Brand, terms)<br />Preferred: 80 | Correctness<br />(Spelling, grammar)<br />Preferred: 80 | Clarity<br />(Readability)<br />Preferred: 80 | Inclusive language<br />(+ accesibility)<br />Preferred: 80 |
|---------|:------------------------------------:|:--------------------------------------------------------:|:--------------------------------------------------------:|:---------------------------------------------:|:------------------------------------------------------------:|
"

 :template-change
 "| ${s/status} ${s/file} | [${acrolinx/qualityscore}](${acrolinx/scorecard}) | ${acrolinx/scores/words_and_phrases}  | ${acrolinx/scores/correctness}  | ${acrolinx/scores/clarity}  | ${acrolinx/scores/inclusive}  |
"

 :template-footer

  "
  - Scorecard links, by default, are only good for 7 days. [Link for this commit's Content Analysis Report](${acrolinx/aggregdash})
  "
}
