{
 :allowed-event-types ["pull_request"]
 :event-queue-delay-ms 100
 :file-size-limit "1 MB"
 :acrolinx-parallel-workers 2
 :allowed-branchname-matches ["master" "main"]
 :track-new-repos true
 :gh-status-when-no-check true ;after 3.0.x is enabled by default
 :acrolinx-check-type "batch"
 :ignored-filetypes ["XML" "YAML" "HTML" "TEXT" "JAVA" "CPP" "PROPERTIES" "JSON" "MS_OFFICE" "PDF"]
 :allowed-filename-matches ["(?i)^(?!packages\\/@okta\\/vuepress-site\\/(3rd_party_notices|archive|books|code|copyright|docs\\/reference\\/api|docs\\/release-notes)).*$"]
 :targets ; This requires ":use-gh-statuses" to be enabled
   {
     :counts {
              ;:clarity 0
              ;:consistency 7
              ;:correctness 10
              ;:inclusive 10
              ;:scannability 10
              ;:tone 10
              ;:words_and_phrases 10
              ;:total 2 ; absolute flag count, it should not be used in combination with the other possible categories.
              }
     :scores {
              ;:minimum 50
              ;:clarity 40
              ;:consistency 70
              ;:correctness 40
              ;:inclusive-language 10
              ;:scannability 80
              ;:tone 80
              ;:words_and_phrases 40
              :qualityscore 80
              }
    }
 ;;:guidance-profile "e4ea9087-8bac-43dc-8a6b-104478b4b737" ;; from Okta Prod, This is now controlled by Acrolinx Platform Target Assigments
  :template-header
}
