.archetecture-center {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 24px;
    @include media('<desktop-xl') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include media('<tablet') {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  &__item {
    background-color: cv('arch', 'item');
    border-radius: 12px;
    padding: 37px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .generated-content {
      .content__default {
        p {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
      p {
        padding-left: 0;
      }
    }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-top: 13px;
      }
    h2 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      margin: 0;
    }
    a {
      padding-right: 17px;
      display: inline-flex;
      align-self: flex-end;
      font-size: 14px;
      align-items: center;
      margin-top: 13px;
      // color: cv('link');
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z' fill='%2392BCFF'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: right 8px;
      background-size: 11px 8px;
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z' fill='%231662DD'/%3E%3C/svg%3E%0A");
      }
    }
    
  }
}
