.archetecture-center__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 24px;
}

@include media("<desktop-xl") {
  .archetecture-center__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include media("<tablet") {
  .archetecture-center__items {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.archetecture-center__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px 35px 25px;

  border-radius: 12px;
  background-color: cv("arch", "item");

  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: box-shadow;
}

.archetecture-center__item:hover {
  box-shadow: 0 8px 10px rgb(0 0 0 / 0.14), 0 3px 14px rgb(0 0 0 / 0.12);
  cursor: pointer;
}

.archetecture-center__item .generated-content .content__default p {
  margin-bottom: 0;
  padding-left: 0;
  @include limit_lines(3);
}

.archetecture-center__item .generated-content p {
  padding-left: 0;
}

.archetecture-center__item p {
  margin-top: 13px;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.archetecture-center__item h2 {
  margin: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  @include limit_lines(2);
}

.archetecture-center__item a {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  margin-top: 13px;
  padding-right: 17px;

  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z' fill='%2392BCFF'/%3E%3C/svg%3E%0A");
  background-position: right 8px;
  background-size: 11px 8px;
  background-repeat: no-repeat;

  font-size: 14px;
}

.archetecture-center__item a:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3536 4.35355C10.5488 4.15829 10.5488 3.84171 10.3536 3.64645L7.17157 0.464466C6.97631 0.269204 6.65973 0.269204 6.46447 0.464466C6.2692 0.659728 6.2692 0.976311 6.46447 1.17157L9.29289 4L6.46447 6.82843C6.2692 7.02369 6.2692 7.34027 6.46447 7.53553C6.65973 7.7308 6.97631 7.7308 7.17157 7.53553L10.3536 4.35355ZM0 4.5H10V3.5H0V4.5Z' fill='%231662DD'/%3E%3C/svg%3E%0A");
}
