$border-color: #b7bcc0;
$text-color: #5c6971;
$title-color: #3d3d3d;
$action-base: #1662dd;
$action-dark: #124a94;
$gray-000: #fafafa;
$gray-100: #e4e5e7;
$gray-900: #2f3f4a;
$tiny-spacing: 0.375rem;
$small-spacing: 0.75rem;
$base-spacing: 1.5rem;
$big-spacing: 3rem;

.guide-details-content {
  display: flex;
  padding-top: 20px;

  .next-section + .stack-selector,
  .stack-selector + .next-section {
    margin-top: 20px;
  }
}

.guides-overview {
  display: flex;

  a {
    text-decoration: none;
  }

  .overview-content {
    width: 100%;
  }
}

.featured {
  display: flex;
}

.guide-content {
  width: 100%;
  max-width: 890px;


}

.guide-featured {
  transition: box-shadow 200ms linear;
  border: 0;
  background: white;
  box-shadow: 0 3px 6px rgba(47, 63, 74, 0.2);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  border-radius: 3px;

  &:first-child {
    margin-right: 40px;
  }

  &:hover {
    box-shadow: 0 6px 24px rgba(47, 63, 74, 0.2);
    color: inherit;
    text-decoration: none;
  }

  /* reduce icons to 24px */
  .icon[class*='-32'] {
    &:before {
      font-size: 24px;
    }
    &:after {
      font-size: 24px;
    }
  }

  header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    padding-bottom: 0.75rem;
    margin: 0;

    &:before { /*undo site css */
      content: '';
      margin: 0;
    }

    .title {
      &:before { /* undo site css */
        content: '';
        margin: 0;
        font-family: unset;
      }
      margin: 0 0 0.375rem 0;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.25;
    }
  }

  .excerpt {
    padding: 0.75rem 1.5rem 0.75rem;
    color: #5c6971;
    flex: 1 1 auto; /* stretch to fill container */
  }

  footer {
    padding: 1.5rem;
    padding-top: 0.75rem;
  }
}

.guides-navigation {
  padding-right: 1rem;
  width: 270px;
  flex: 0 0 auto;

  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .guides > li {
    $icon-size: 1.3rem;
    padding-left: $icon-size;

    &:before {
      content: '\f138'; /* chevron-circle-right per https://fontawesome.com/cheatsheet?from=io*/
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -($icon-size);
      width: $icon-size;
    }

    &.active:before {
      content: '\f13a'; /* chevron-circle-down per https://fontawesome.com/cheatsheet?from=io*/
    }

    &.overview:before {
      content: '\2022';
      display: inline-block;
      text-align: center;
      margin-left: -($icon-size);
      width: $icon-size;
    }

    &.overview.active {
      font-weight: bold;
      $indent: 20px;
      border-bottom: 2px solid black;
      background-color: #e5edfb;
      margin-left: -($indent);
      padding-left: $indent;
    }
  }

  a {
    color: $text-color;
    font-size: 0.85rem;
  }

  .sections {
    margin-left: 1.5rem;
    list-style: decimal;

    .section {
      color: $text-color;
      font-size: 0.85rem;
    }

    .active {
      font-weight: bold;

      .highlight {
        $indent: 20px;
        border-bottom: 2px solid black;
        background-color: #e5edfb;
        margin-left: -($indent);
        padding-left: $indent;
      }
    }
  }
}

.stack-selector {

  position: relative;
  border: 1px solid $border-color;
  border-radius: 3px;
  overflow: hidden;

  nav.tabs ul {
    background: $gray-000;
    display: flex; /*fallback*/
    flex-wrap: wrap; /*fallback*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15ch,1fr));
    position: relative;
    padding: 0;
    top: -1px;
    list-style-type: none;
    border-bottom: 1px solid $border-color;

    li {
      display: inline-block; /*fallback*/
      flex-grow: 1; /*fallback*/
      max-width: 30ch; /*fallback*/
      margin: 0;

      &.current a {
        font-weight: 600;
        color: $gray-900;
        border-bottom-width: 3px;
        border-bottom-color: $action-base;

        &:hover {
          background: transparent;
          border-bottom-color: $action-base;
        }
      }

      /* scale icons to 24px */
      .icon {
        width: 24px;
        height: 24px;
        &:before,
        &:after {
          font-size: 24px;
          line-height: 24px;
        }
      }

      a {
        display: flex;
        box-sizing: border-box;
        position: relative;
        top: 1px;
        width: 100%;
        height: 3rem;
        padding: $small-spacing;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $text-color;
        background: transparent;
        border-bottom: 1px solid $border-color;
        transition-property: color, background, border-color, border-width;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        &:hover {
          color: $gray-900;
          background: #e5edfb;
          border-bottom-width: 3px;
          border-bottom-color: $action-dark;
        }

        .framework {
          padding-left: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .stack-content {
    padding: $base-spacing;

    pre {
      margin: 0;
    }
  }
}
