$border-color: #b7bcc0;
$text-color: #5c6971;
$title-color: #3d3d3d;
$action-base: #1662dd;
$action-dark: #124a94;
$gray-000: #fafafa;
$gray-100: #e4e5e7;
$gray-900: #2f3f4a;
$tiny-spacing: 0.375rem;
$small-spacing: 0.75rem;
$base-spacing: 1.5rem;
$big-spacing: 3rem;

.guide-details-content {
  display: flex;
  padding-top: 20px;
}

.guide-details-content .next-section + .stack-selector,
.guide-details-content .stack-selector + .next-section {
  margin-top: 20px;
}

.guides-overview {
  display: flex;
}

.guides-overview a {
  text-decoration: none;
}

.guides-overview .overview-content {
  width: 100%;
}

.featured {
  display: flex;
}

.guide-content {
  width: 100%;
  max-width: 890px;
}

.guide-featured {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 50%;

  box-shadow: 0 3px 6px rgb(47 63 74 / 0.2);
  border: 0;
  border-radius: 3px;
  background: #ffffff;

  text-decoration: none;

  transition: box-shadow 200ms linear;
  cursor: pointer;

  /* reduce icons to 24px */
}

.guide-featured:first-child {
  margin-right: 40px;
}

.guide-featured:hover {
  box-shadow: 0 6px 24px rgb(47 63 74 / 0.2);

  text-decoration: none;
  color: inherit;
}

.guide-featured .icon[class*="-32"]::before {
  font-size: 24px;
}

.guide-featured .icon[class*="-32"]::after {
  font-size: 24px;
}

.guide-featured header {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 1.5rem;
  padding-bottom: 0.75rem;
}

.guide-featured header::before {

  /* undo site css */
  content: "";

  margin: 0;
}

.guide-featured header .title {
  margin: 0 0 0.375rem 0;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
}

.guide-featured header .title::before {

  /* undo site css */
  content: "";

  margin: 0;

  font-family: unset;
}

.guide-featured .excerpt {
  flex: 1 1 auto;

  /* stretch to fill container */
  padding: 0.75rem 1.5rem 0.75rem;

  color: #5c6971;
}

.guide-featured footer {
  padding: 1.5rem;
  padding-top: 0.75rem;
}

.guides-navigation {
  flex: 0 0 auto;
  padding-right: 1rem;
  width: 270px;
}

.guides-navigation ul,
.guides-navigation ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.guides-navigation .guides > li {
  $icon-size: 1.3rem;
  padding-left: $icon-size;
}

.guides-navigation .guides > li::before {
  content: "";

  /* chevron-circle-right per https://fontawesome.com/cheatsheet?from=io */
  display: inline-block;
  margin-left: -($icon-size);
  width: $icon-size;

  font-family: "FontAwesome";
}

.guides-navigation .guides > li.active::before {
  content: "";

  /* chevron-circle-down per https://fontawesome.com/cheatsheet?from=io */
}

.guides-navigation .guides > li.overview::before {
  content: "•";

  display: inline-block;
  margin-left: -($icon-size);
  width: $icon-size;

  text-align: center;
}

.guides-navigation .guides > li.overview.active {
  $indent: 20px;
  margin-left: -($indent);
  padding-left: $indent;

  border-bottom: 2px solid #000000;
  background-color: #e5edfb;

  font-weight: 700;
}

.guides-navigation a {
  font-size: 0.85rem;
  color: $text-color;
}

.guides-navigation .sections {
  margin-left: 1.5rem;
  list-style: decimal;
}

.guides-navigation .sections .section {
  font-size: 0.85rem;
  color: $text-color;
}

.guides-navigation .sections .active {
  font-weight: 700;
}

.guides-navigation .sections .active .highlight {
  $indent: 20px;
  margin-left: -($indent);
  padding-left: $indent;

  border-bottom: 2px solid #000000;
  background-color: #e5edfb;
}

.stack-selector {
  position: relative;

  overflow: hidden;

  border-radius: 3px;
}

.stack-selector nav.tabs ul {
  position: relative;
  top: -1px;

  /* fallback */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  flex-wrap: wrap;

  /* fallback */
  padding: 0;

  border-bottom: 1px solid $border-color;
  background: $gray-000;
  list-style-type: none;
}

.stack-selector nav.tabs ul li {
  display: inline-block;

  /* fallback */
  flex-grow: 1;

  /* fallback */
  margin: 0;
  max-width: 30ch;

  /* fallback */

  /* scale icons to 24px */
}

.stack-selector nav.tabs ul li.current a {
  border-bottom-width: 3px;
  border-bottom-color: $action-base;

  font-weight: 600;
  color: $gray-900;
}

.stack-selector nav.tabs ul li.current a:hover {
  border-bottom-color: $action-base;
  background: transparent;
}

.stack-selector nav.tabs ul li .icon {
  width: 24px;
  height: 24px;
}

.stack-selector nav.tabs ul li .icon::before,
.stack-selector nav.tabs ul li .icon::after {
  font-size: 24px;
  line-height: 24px;
}

.stack-selector nav.tabs ul li a {
  position: relative;
  top: 1px;

  display: flex;
  padding: $small-spacing;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  overflow: hidden;

  border-bottom: 1px solid $border-color;
  background: transparent;

  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $text-color;

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background, border-color, border-width;
}

.stack-selector nav.tabs ul li a:hover {
  border-bottom-width: 3px;
  border-bottom-color: $action-dark;
  background: #e5edfb;

  color: $gray-900;
}

.stack-selector nav.tabs ul li a .framework {
  padding-left: 10px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.stack-selector .stack-content {
  padding: $base-spacing;
}

.stack-selector .stack-content pre {
  margin: 0;
}
