.multi-tenancy {
    //Image format
    .image-at-100 {
        text-align: center;

        img {
            max-width: 100%;
        }
    }
    .image-at-90 {
        text-align: center;

        img {
            max-width: 90%;
        }
    }
    .image-at-80 {
        text-align: center;

        img {
            max-width: 80%;
        }
    }
    .image-at-70 {
        text-align: center;

        img {
            max-width: 70%;
        }
    }
    .image-at-60 {
        text-align: center;

        img {
            max-width: 60%;
        }
    }
    .image-at-50 {
        text-align: center;

        img {
            max-width: 50%;
        }
    }
    //Lists
    .heading-2-subtext {
        font-size: 22px;
        font-weight: 500;
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: auto;
        color: #757575;
    }
}