.multi-tenancy .image-at-100 {
  text-align: center;
}

.multi-tenancy .image-at-100 img {
  max-width: 100%;
}

.multi-tenancy .image-at-90 {
  text-align: center;
}

.multi-tenancy .image-at-90 img {
  max-width: 90%;
}

.multi-tenancy .image-at-80 {
  text-align: center;
}

.multi-tenancy .image-at-80 img {
  max-width: 80%;
}

.multi-tenancy .image-at-70 {
  text-align: center;
}

.multi-tenancy .image-at-70 img {
  max-width: 70%;
}

.multi-tenancy .image-at-60 {
  text-align: center;
}

.multi-tenancy .image-at-60 img {
  max-width: 60%;
}

.multi-tenancy .image-at-50 {
  text-align: center;
}

.multi-tenancy .image-at-50 img {
  max-width: 50%;
}
