.oie-embedded-sdk {

  .common-image-format{
    text-align: center;
  }

  .common-image-format-vertical-margin {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .bordered-image > p > img {
    border: 1px solid cv('gray', '700');
    border-radius: 20px;
    width:auto;
    max-width:100%;
    height:auto;
  }
}
