.oie-embedded-sdk {


  .cleaner-selector {
    border:none;
    margin-bottom: -30px;
    margin-left: -13px;
  }

  .cleaner-selector .selector-control{
    border:none;
    background: none;
  }

  .common-image-format{
    text-align: center;
  }

}
