@import "okta/base";

@import "okta/components/Button.scss";
@import "okta/components/FrameworkIconBlock";

@import "okta/global/fontawesome";
@import "okta/global/fontello";

@import "okta/pages/quickstarts";
@import "okta/pages/guides";

@import "okta/icons/all.scss";

.guide-featured footer {
  margin: 0;
  padding: 1.5rem;
  padding-top: 0.75rem;

  background-color: transparent;
}

.guide-content p {
  max-width: none;
}

.guide-content .stack-selector nav.tabs ul {
  position: relative;
  top: -1px;

  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  flex-wrap: wrap;
  padding: 0;
  max-width: none;

  border-bottom: 1px solid #b7bcc0;
  background: #fafafa;
  list-style-type: none;
}
