@import
  "okta/base",

  "okta/components/Button.scss",
  "okta/components/FrameworkIconBlock",

  "okta/global/fontawesome",
  "okta/global/fontello",

  "okta/pages/quickstarts",
  "okta/pages/guides",

  "okta/icons/all.scss"
;

.guide-featured footer {
  padding: 1.5rem;
  padding-top: 0.75rem;
  margin: 0;

  background-color: transparent;
}

.guide-content p {
  max-width: none;
}

.guide-content .stack-selector nav.tabs ul {
  position: relative;
  top: -1px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  max-width: none;
  padding: 0;

  background: #fafafa;
  list-style-type: none;
  border-bottom: 1px solid #b7bcc0;
}
