@import "~@okta/odyssey/src/scss/odyssey.scss";
@import "~include-media/dist/_include-media.scss";
@import '~prismjs/themes/prism-solarizedlight.css';

// Abstracts
@import 'abstracts/breakpoints';
@import 'abstracts/colors';
@import 'abstracts/variables';

// Icons
@import 'okta/global/fontawesome';
@import 'okta/global/fontello';
@import 'okta/icons/all';

// Base 
@import 'base/typography';
@import 'base/mixins.scss';

// Layouts
@import 'layouts/layout.scss';

// Components
@import 'components/apiLifecycle';
@import 'components/apiOperation';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/code';
@import 'components/content';
@import 'components/editLink';
@import 'components/footer';
@import 'components/pageTitle';
@import 'components/top-bar';
@import 'components/table';
@import 'components/sidebar';
@import 'components/onThisPage';
@import 'components/card';
@import 'components/docLanding';
@import 'components/codePages';
@import 'components/reference';
@import 'components/categoryLinks';
@import 'components/quickstart';
@import 'components/search';
@import 'components/frameworkIconBlock';
@import 'components/featuredGuides';
@import 'components/stackSelector';
@import 'components/nextSectionLink';