@import "~@okta/odyssey/src/scss/odyssey.scss";
@import "~include-media/dist/_include-media.scss";
@import "~prismjs/themes/prism-solarizedlight.css";

// Abstracts
@import "abstracts/breakpoints";
@import "abstracts/colors";
@import "abstracts/variables";

// Icons
@import "okta/global/fontawesome";
@import "okta/global/fontello";
@import "okta/icons/all";

// Specific image styles
@import "okta/global/image-sizing";

// Base
@import "base/typography";
@import "base/mixins.scss";

// Layouts
@import "layouts/layout.scss";
@import "layouts/authorizationLayout.scss";
@import "layouts/darktheme.scss";

// Components
@import "components/hero";
@import "components/apiLifecycle";
@import "components/apiOperation";
@import "components/breadcrumb";
@import "components/button";
@import "components/code";
@import "components/companyLogos";
@import "components/content";
@import "components/editLink";
@import "components/footer";
@import "components/pageTitle";
@import "components/top-bar";
@import "components/table";
@import "components/sidebar";
@import "components/onThisPage";
@import "components/card";
@import "components/codePages";
@import "components/reference";
@import "components/categoryLinks";
@import "components/quickstart";
@import "components/searchBar";
@import "components/search";
@import "components/frameworkIconBlock";
@import "components/header";
@import "components/headerNav";
@import "components/menuItem";
@import "components/featuredGuides";
@import "components/stackSelector";
@import "components/nextSectionLink";
@import "components/homePage";
@import "components/selectorTile";
@import "components/assuranceItem";
@import "components/signUp";
@import "components/login";
@import "components/pricing";
@import "components/oktaIntegrationNetwork";
@import "components/terms";
@import "components/copyright";
@import "components/thankYou";
@import "components/themeModeToggle";
@import "components/errors";
@import "components/dialogWindow";
@import "components/termsAndConditionsDialog";
@import "components/nutritionFacts";
@import "components/support";
@import "components/workforce";
@import "components/resources";
@import "components/news";
@import "components/dont-break-out";
@import "components/visually-hidden";
@import "components/wrapper";
@import "components/feedback";
@import "components/homePageBanner";

//Custom Landing
@import "components/customLanding/main";
@import "components/customLanding/hero";
@import "components/customLanding/about";
@import "components/customLanding/tools";
@import "components/customLanding/features";
@import "components/customLanding/explore";
@import "components/customLanding/start";

//Pages
@import "okta/pages/multi-tenancy";
@import "okta/pages/oie-embedded-sdk";
