.announcement-banner {
  display: flex;
  align-items: center;
  min-height: 140px;
  background-color: cv("blue", "000");
  color: cv("blue", "900");
  position: relative;

  @include media("<=tablet") {
    min-height: 190px;
  }

  &--close {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 34px;
    height: 34px;
    right: 0;
    top: 0;
    cursor: pointer;

    > i {
      pointer-events: none;
    }

    @include media("<=desktop") {
      background-color: cv("body", "orange");
    }
  }

  &--content {
    height: 100%;
    padding: 0 40px 0 135px;
    margin-right: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media("<desktop-xl") {
      padding: 0 57px;
    }

    @include media("<desktop") {
      padding: 0 33px;
    }

    @include media("<=tablet") {
      margin-right: 98px;
    }
  }

  &--title {
    font-size: 21px;
    font-weight: 500;
    line-height: 1.32em;

    @include media("<=desktop-xl") {
      font-size: 14px;
    }
  }

  &--description-wrapper {
    display: flex;
    align-items: start;

    @include media("<=desktop") {
      flex-direction: column;
    }
  }

  &--description {
    font-size: 20px;
    margin-bottom: 0;

    @include media("<=desktop-xl") {
      font-size: 14px;
    }
  }
  
    &--cta  {
    font-size: 18px;
    font-weight: 500;
    color: cv('blue', '500');
    margin-left: 10px;
    flex: 0 0 auto;

    &:link,
    &:visited {
      color: cv('blue', '500');
      text-decoration: none;
      border-bottom: 1px solid currentcolor;
    }
    &:hover {
      border-bottom: 0;
    }

    @include media("<=desktop-xl") {
      font-size: 14px;
    }

    @include media("<=desktop") {
      margin-left: 0px;
      margin-top: 10px;
    }
  }

  &--logo {
    z-index: 1;
    position: absolute;
    right: 100px;
    top: 0;
    height: 100%;
    overflow: hidden;

    @include media("<=tablet") {
      right: 3px;
      top: -2px;
    }

    &--large {
      @include media("<=tablet") {
        display: none;
      }
    }
    &--small {
      @include media(">tablet") {
        display: none;
      }
    }
  }
}
