.announcement-banner {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 140px;

  background-color: cv("blue", "000");

  color: cv("blue", "900");
}

.announcement-banner--close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 35px;
  cursor: pointer;
}

.announcement-banner--close > i {
  pointer-events: none;
}
@include media("<=desktop") {
  .announcement-banner--close {
    background-color: cv("blue", "000");
  }
}

.announcement-banner--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 344px;
  padding: 0 40px 0 135px;
  height: 100%;
}
@include media("<desktop-xl") {
  .announcement-banner--content {
    padding: 0 57px;
  }
}
@include media("<desktop") {
  .announcement-banner--content {
    padding: 0 33px;
  }
}
@include media("<=tablet") {
  .announcement-banner--content {
    margin-right: 98px;
  }
}

.announcement-banner--title {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.32em;
}
@include media("<=desktop-xl") {
  .announcement-banner--title {
    font-size: 14px;
  }
}

.announcement-banner--description-wrapper {
  display: flex;
  align-items: start;
}
@include media("<=desktop") {
  .announcement-banner--description-wrapper {
    flex-direction: column;
  }
}

.announcement-banner--description {
  margin-bottom: 0;

  font-size: 20px;
}
@include media("<=desktop-xl") {
  .announcement-banner--description {
    font-size: 14px;
  }
}

.announcement-banner--cta {
  flex: 0 0 auto;
  margin-left: 10px;

  font-weight: 500;
  font-size: 18px;
  color: cv("blue", "500");
}

.announcement-banner--cta:link,
.announcement-banner--cta:visited {
  border-bottom: 1px solid currentcolor;

  text-decoration: none;
  color: cv("blue", "500");
}

.announcement-banner--cta:hover {
  border-bottom: 0;
}
@include media("<=desktop-xl") {
  .announcement-banner--cta {
    font-size: 14px;
  }
}
@include media("<=desktop") {
  .announcement-banner--cta {
    margin-top: 10px;
    margin-left: 0;
  }
}

.announcement-banner--logo {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 1;

  height: 100%;
  overflow: hidden;
}
@include media("<=tablet") {
  .announcement-banner--logo--large {
    display: none;
  }
}
@include media(">tablet") {
  .announcement-banner--logo--small {
    display: none;
  }
}
@include media("<=tablet") {
  .announcement-banner--logo {
    top: -2px;
    right: 3px;
  }
}
@include media("<=tablet") {
  .announcement-banner {
    min-height: 190px;
  }
}
