.api-uri-template {
  display: flex;
  align-items: center;
  width: fit-content;

  border-top: 1px solid cv("gray", "300");
  border-bottom: 1px solid cv("gray", "300");
  border-right: 1px solid cv("gray", "300");
  border-radius: 0.25em;
  background: cv("gray", "000");

  @include media("<tablet") {
    width: auto;

    overflow-x: scroll;
  }
}

.api-uri-template strong {
  color: cv("success");
}

.api-uri-template .api-label {
  margin-right: 0.5rem;
  padding-right: 0.5rem;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.api-uri-template .api-url {
  padding-right: 0.5rem;
}

.api-uri-get strong {
  color: cv("success");
}

.api-uri-get .api-label {
  background: cv("success");
}

.api-uri-post strong {
  color: cv("warning");
}

.api-uri-post .api-label {
  background: cv("warning");
}

.api-uri-put strong {
  color: cv("action", "dark");
}

.api-uri-put .api-label {
  background: cv("action", "dark");
}

.api-uri-patch strong {
  color: cv("violet");
}

.api-uri-patch .api-label {
  background: cv("violet");
}

.api-uri-delete strong {
  color: cv("danger");
}

.api-uri-delete .api-label {
  background: cv("danger");
}
