.api-uri-template {
  border-top:1px solid cv('gray', '300');
  border-right:1px solid cv('gray', '300');
  border-bottom:1px solid cv('gray', '300');
  border-radius:.25em;
  background: cv('gray', '000');
  display: flex;
  align-items: center;
  @include media('<tablet') {
    width: auto;
    overflow-x: scroll;
  }


  strong {
    color: cv('success');
  }
  .api-label {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }
  .api-url {
    padding-right: 0.5rem;
  }
}

.api-uri-get {
  strong {
    color: cv('success');
  }
  .api-label {
    background: cv('success');
  }
}

.api-uri-post {
  strong {
    color: cv('warning');
  }
  .api-label {
    background: cv('warning');
  }
}

.api-uri-put {
  strong {
    color: cv('action', 'dark');
  }
  .api-label {
    background: cv('action', 'dark');
  }
}

.api-uri-patch {
  strong {
    color: cv('violet');
  }
  .api-label {
    background: cv('violet');
  }
}

.api-uri-delete {
  strong {
    color: cv('danger');
  }
  .api-label {
    background: cv('danger');
  }
}