.api-label {
  display: inline-block;
  padding: 3px 10px;

  border-radius: 0.25em;
  background: cv("success", "dark");

  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  color: #ffffff;
  vertical-align: baseline;
}

.api-label i {
  margin-right: 2px;
}

.api-label-small {
  font-size: 80%;
}

.api-label-margin-bottom {
  margin-bottom: 10px;
}

.api-label-beta {
  margin-bottom: $base-spacing;

  background: cv("yellow", "base");

  color: cv("gray", "900");
}

.api-label-ea {
  margin-bottom: $base-spacing;

  background: cv("violet", "base");
}

.api-label-deprecated {
  margin-bottom: $base-spacing;

  background: cv("warning", "deprecation");
}

.api-label-cors {
  margin-bottom: $base-spacing;

  background: cv("gray", "300");
}

.api-label-ie {
  margin-bottom: $base-spacing;

  background: cv("blue", "900");
}

.api-label-classic-engine {
  margin-bottom: $base-spacing;

  background: cv("gray", "900");
}

.api-label-limited-ga {
  margin-bottom: $base-spacing;

  background: #2d8c9e; // TODO: replace with Odyssey color when it will include it.
}
