.api-label {
  color: white;
  font-weight: 500;
  padding: 3px 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background: cv('success', 'dark');
  display: inline-block;
  i {
    margin-right: 2px;
  }
}

.api-label-small {
  font-size:80%;
}

.api-label-margin-bottom {
  margin-bottom: 10px;
}

.api-label-beta {
  background: cv('yellow');
  color: cv('gray', '900');
  margin-bottom: $base-spacing;
}

.api-label-ea {
  background: cv('violet');
  margin-bottom: $base-spacing;
}

.api-label-deprecated {
  background: cv('warning', 'dark');
  margin-bottom: $base-spacing;
}

.api-label-cors {
  background: cv('gray', '300');
  margin-bottom: $base-spacing;
}

.api-label-ie {
  background: cv('blue', '900');
  margin-bottom: $base-spacing;
}

.api-label-limited-ga {
  background: #2d8c9e; // TODO: replace with Odyssey color when it will include it.
  margin-bottom: $base-spacing;
}
