.assurance-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 49px;
  width: 100%;
}

.assurance-item--rounded {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 100%;
  height: 112px;

  border-radius: 50%;
  background-color: #ffffff;
}

.assurance-item--rounded span {
  min-width: 60px;
  min-height: 60px;
}

.assurance-item--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 0;
  padding: 0;
  height: 100%;
}

.assurance-item--content--title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 18px;
  color: cv("text", "darker");
}

.assurance-item--content--description {
  font-size: 16px;
  color: cv("text", "base");
}

@include media("<desktop") {
  .assurance-item--content {
    text-align: center;
  }
}

@include media("<=bootstrap-xl") {
  .assurance-item {
    margin-bottom: 30px;
  }
}

@include media("<desktop") {
  .assurance-item {
    align-items: center;
    margin-bottom: 60px;
  }
}
