.assurance-item{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 49px;
  @include media("<=bootstrap-xl"){
    margin-bottom: 30px;
  }
  @include media("<=bootstrap-lg"){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &--rounded{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 112px;
    flex-basis: 112x;
    height: 112px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
  }
  &--content{
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &--title{
      font-size: 18px;
      color: cv('text', 'darker');
      font-weight: bold;
      margin-bottom: 12px;
    }
    &--description{
      color: cv('text');
      font-size: 16px;
    }
  }
}
