.breadcrumb {
  padding: 0;
}

.breadcrumb--container {
  padding: 0;
}

.breadcrumb--container ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 9px;
  list-style: none;
}

.breadcrumb--container ol li {
  display: flex;
  align-items: center;
  margin: 0 9px 0 0;
  padding: 9px 0 0;
}

.breadcrumb--container ol li a,
.breadcrumb--container ol li span {
  padding-right: 7px;

  font-weight: 500;
  font-size: 12px;
  text-decoration: none ! important;
  color: cv("text", "darker");
}

@include media("<desktop-xl") {
  .breadcrumb--container ol li a,
  .breadcrumb--container ol li span {
    padding-right: 7px;
  }
}

.breadcrumb--container ol li a {
  color: cv("link", "base");
}

.breadcrumb--container ol li:first-child a,
.breadcrumb--container ol li:first-child span {
  color: cv("text", "darker");
}

.breadcrumb--container ol li:last-child svg {
  display: none;
}

@include media("<desktop-xl") {
  .breadcrumb--container ol li {
    margin-right: 7px;
  }
}

@include media("<tablet") {
  .breadcrumb--container ol li {
    padding-top: 4px;
  }
}

@include media("<desktop-xl") {
  .breadcrumb {
    padding-bottom: 0;
  }
}
