.breadcrumb {
  padding: 0;

  &--container {
    padding: 0px;

    ol {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0 0 9px;
      flex-wrap: wrap;

      li {
        display: flex;
        align-items: center;
        margin: 0 9px 0 0;
        padding: 9px 0 0;

        @include media("<desktop-xl") {
          margin-right: 7px;
        }
        @include media("<tablet") {
          padding-top: 4px;
        }

        a, span {
          text-decoration: none !important;
          color: cv('text', 'darker');
          font-size: 12px;
          font-weight: 500;
          padding-right: 7px;

          @include media("<desktop-xl") {
            padding-right: 7px;
          }
        }
        a {
          color: cv('link');
        }
        &:last-child {
          svg {
            display: none;
          }
        }
      }

    }

  }

  @include media("<desktop-xl") {
    padding-bottom: 0;
  }

}
