.breadcrumb {
  padding: 0 0 20px;

  &--container {
    padding: 0px;

    @include media(">=tablet") {
      padding: 0;
    }

    ol {
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0em;

      li {
        display: flex;
        align-items: center;
        margin: 0em 1em 0em 0em;

        @include media("<=desktop") {
          margin-right: 7px;
        }

        a, span {
          text-decoration: none;
          color: cv('text', 'darker');
          font-size: 0.8em;
          padding-right: 1em;

          @include media("<=desktop") {
            padding-right: 7px;
          }
        }
      }

    }

    .crumb-show-contents {
      font-size: 0.8em;
      color: cv('action');
      cursor: pointer;

      @include media('>=tablet') {
        display: none;
      }
    }

  }

  @include media("<=desktop") {
    padding-bottom: 0;
  }

}
