.is-button-cerise-outline {
  border-color: cv('cerise');
  background-color: transparent;
  color: cv('gray', '000');
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  padding: 1em 3em;

  &:hover,
  &:visited,
  &.is-button-hover {
    border-color: cv('cerise');
    background-color: transparent;
    color: cv('gray', '000');
  }

  &:focus,
  &.is-button-focus {
    border-color: cv('cerise');
    background-color: transparent;
    color: cv('gray', '000');
  }

  &:disabled {
    border-color: fauxpacity(cv('cerise'));
    background-color: transparent;
    color: fauxpacity(cv('gray', '000'));
  }
}

.is-button-cerise {
  border-color: cv('cerise');
  background-color: cv('cerise');
  color: cv('gray', '000');
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  padding: 1em 3em;

  &:hover,
  &:visited,
  &.is-button-hover {
    border-color: cv('cerise');
    background-color: cv('cerise');
    color: cv('gray', '000');
  }

  &:focus,
  &.is-button-focus {
    border-color: cv('cerise');
    background-color: cv('cerise');
  }

  &:disabled {
    border-color: fauxpacity(cv('cerise'));
    background-color: cv('cerise');
    color: fauxpacity(cv('cerise'));
  }
}

%Button {
	@include font-size('button');
	@include font-weight('button');
	@include transition(normal background, normal border, normal color);
	border: 2px solid transparent;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	text-decoration: none;

	> a {
		color: inherit;
	}

	&:active,
	&:hover {
		border-color: cv('gray', '900');
		color: cv('gray', '900');
		text-decoration: none;
	}

	&:visited {
		color: cv('gray', '900');
	}
}

.Button {
	@extend %Button;
	border-color: cv('cerise', 'base');
	color: cv('cerise', 'base');

	&:active,
	&:hover {
		border-color: mix(cv('cerise', 'base'), cv('gray', '000'), 75%);
		color: mix(cv('cerise', 'base'), cv('gray', '000'), 75%);
	}

	&:visited {
		color: cv('cerise', 'base');
	}
}

.Button--small {
	border-width: 1px;
	height: 30px;
	line-height: 28px;
	padding: 0 12px;
}

.Button--rounded {
	border-radius: 17px;
}

.Button--large {
	border-radius: 5px;
	font-size: get-font-size('button') + 2;
	font-weight: 600;
	height: 54px;
	line-height: 50px;
	padding: 0 30px;

	&.Button--rounded {
		border-radius: 27px;
	}
}

.Button--blue {
	@extend %Button;
	background-color: cv('action', 'dark');
	border-color: cv('action', 'dark');
	color: cv('gray', '000');

	&:active,
	&:hover {
		background-color: cv('action', 'dark');
		border-color: cv('action', 'dark');
		color: cv('gray', '000');
	}

	&:visited {
		color: cv('gray', '000');
	}
}

.Button--blueDarkOutline {
	@extend %Button;

	@include media('<tablet') {
		padding: 0 12px;
	}

	border-radius: 4px;
	background-color: white;
	border-color: cv('blue', '900');
	color: cv('blue', '900');

	text-transform: uppercase;
	letter-spacing: .1em;
	white-space: nowrap;

	&:active,
	&:hover {
		background-color: white;
		border-color: cv('blue', '900');
		color: cv('blue', '900');
	}

	&:visited {
		color: cv('blue', '900');
	}
}

.Button--blueOutline {
	@extend %Button;

	&,
	&:active,
	&:hover {
		border-color: cv('action', 'base');
		color: cv('action', 'base');
	}

	&:visited {
		color: cv('action', 'base');
	}
}

.Button--green {
	@extend %Button;
	background-color: cv('success', 'dark');
	border-color: cv('success', 'dark');
	color: cv('gray', '000');

	&:active,
	&:hover {
		background-color: cv('success', 'base');
		border-color: cv('success', 'base');
		color: cv('gray', '000');
	}

	&:visited {
		color: cv('gray', '000');
	}
}

.Button--greenOutline {
	@extend %Button;

	&,
	&:active,
	&:hover {
		border-color: cv('success', 'dark');
		color: cv('success', 'dark');
	}

	&:visited {
		color: cv('success', 'dark');
	}
}

.Button--white {
	@extend %Button;

	&,
	&:active,
	&:hover {
		background-color: cv('gray', '000');
		border-color: cv('gray', '000');
		color: cv('action', 'base');
	}

	&:visited {
		color: cv('action', 'base');
	}
}

.Button--whiteOutline {
	@extend %Button;

	&,
	&:active,
	&:hover {
		border-color: cv('gray', '000');
		color: cv('gray', '000');
	}

	&:visited {
		color: cv('gray', '000');
	}
}

.Button--whiteOutlineOpaque {
	@extend %Button;
	background-color: rgba(255,255,255,0.25);

	&,
	&:active,
	&:hover {
		border-color: cv('gray', '000');
		color: cv('gray', '000');
	}
}

.Button--red {
	@extend %Button;

	&,
	&:active,
	&:hover {
		background-color: cv('cerise');
		border-color: cv('cerise');
		color: cv('gray', '000');
	}

	&:visited {
		color: cv('gray', '000');
	}
}

.Button--blue,
.Button--red {
	&[target='_blank']:not([href^='mailto:'])::after {
		margin-bottom: 0.25em;
		background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.5%2010.5V13C13.5%2013.3%2013.3%2013.5%2013%2013.5H3C2.7%2013.5%202.5%2013.3%202.5%2013V3C2.5%202.7%202.7%202.5%203%202.5H5.5%22%20stroke%3D%22%23FFFFFF%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M8%208L14%202%22%20stroke%3D%22%23FFFFFF%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M9.5%201.5H14.5%22%20stroke%3D%22%23FFFFFF%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M14.5%206.5V1.5%22%20stroke%3D%22%23FFFFFF%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A");
	}
}
