.cards {
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 1fr;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &.cols-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card {
        position: relative;
        align-self: start;
        max-width: 50ch;
        border: 1px solid #b7bcc0;
        border-radius: 4px;

        a {
            text-decoration: none;
        }


        header {
            margin: 0px;

            h2 {
                border-top: none;
            }
        }
    }

    .card--state {
        margin: -1px -1px 0;
        padding: 0.375rem 1.5rem;
        border-radius: 4px 4px 0 0;
        color: #ffffff;
        font-size: 0.66012rem;
        text-align: right;
    }

    .card--media {
        margin: -1px -1px 0;
        padding-bottom: 0.75rem;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
    }

    .card--media-image {
        width: 100%;
    }

    .card--header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.75rem 1.5rem 0.75rem;

        &:first-child {
        padding-top: 1.5rem;
        }

        &:last-child {
        padding-bottom: 1.5rem;
        }

        .card--state + .card--header {
        padding-top: 1.5rem;
        }
    }

    .card--header-icon {
        flex-basis: auto;
        height: 3rem;
        margin: 0.75rem  0.75rem 1rem 0;
        line-height: 1;

        [class^='-75'],
        [class*='-75'] {
            vertical-align: top;
            box-sizing: border-box;
        }

        [class^='-75']::before,
        [class*='-75']::before,
        [class^='-75']::after,
        [class*='-75']::after {
            display: block;
            position: absolute;
            white-space: normal;
            text-indent: 0;

            font-size: 75px;
            font-family: 'okticon';
            font-weight: 300 !important;
            font-style: normal !important;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
        }

        svg {
            height: 100%;
        }
    }

    .card--header-main {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 0;

        h2 {
            padding-top: 0px;
        }
    }

    .card--meta {
        color: #899298;
        font-size: 0.81248rem;
    }

    .card--kebab {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }

    .card--title {
        margin: 0 0 0.375rem 0;
        font-size: 1.2308rem;
        font-weight: 600;
        line-height: 1.2;

        :only-child {
            margin-bottom: 0;
        }
    }

    .card--main {
        padding: 0.75rem 1.5rem 0.75rem;
        color: #2f3f4a;

        &:first-child {
            padding-top: 1.875rem;
        }

        &:last-child {
            padding-bottom: 1.5rem;
        }
    }

    .card--footer {
        padding: 0.75rem 1.5rem 1.5rem;
    }

    .card--actions {
        display: flex;
        justify-content: flex-start;
    }

    .card--link {
        color: #1662dd;
    }

    .is-card-action .card--state {
        background: #1662dd;
    }

    .is-card-error .card--state {
        background: #dd0744;
    }

    .is-card-clickable {
        transition: box-shadow 100ms linear;
        border: 0;
        box-shadow: 0 3px 6px rgba(47, 63, 74, 0.2);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            box-shadow: 0 6px 24px rgba(47, 63, 74, 0.2);
        }
        &:active {
            background: #fafafa;
        }
    }

    .card--list {
        display: grid;
        grid-auto-rows: minmax(0, auto);
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(calc(27ch), 1fr));
    }

}
