:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

  background: #f4f4f4;
}

:not(pre) > code[class*="language-"] .code-copy,
pre[class*="language-"] .code-copy {
  height: 0;

  overflow: hidden;
  user-select: none;
}

:not([class*="language-"]) > code {
  padding: 0.1rem 0.4rem;

  font-size: 80%;
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  line-height: 1.43;
  white-space: normal;
  color: #333333;

  background: cv("gray", "100");
  border: 1px solid cv("gray", "200");
  border-radius: 2px;
}
