:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;

  background: #f4f4f4;
}

:not(pre) > code[class*="language-"] .code-copy,
pre[class*="language-"] .code-copy {
  height: 0;
  overflow: hidden;
  user-select: none;
}

:not([class*="language-"]) > code {
  padding: 0.1rem 0.4rem;

  border: 1px solid cv("gray", "200");
  border-radius: 2px;
  background: cv("gray", "100");

  font-size: 80%;
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  line-height: 1.428571429;
  white-space: normal;
  color: #333333;
}

.highlight-lines {
  user-select: none;

  position: absolute;

  top: 0;
  left: 0;

  padding: 0.5rem 0 0.5rem 0;

  width: 100%;

  .highlighted {
    background-color: cv("code", "highlight-background");
  }
}
