.CodeMirror.cm-s-default .cm-variable,
.CodeMirror.cm-s-default .cm-punctuation,
.CodeMirror.cm-s-default .cm-property,
.CodeMirror.cm-s-default .cm-operator {
  color: #ffffff;
}

.CodeMirror.cm-s-default .cm-keyword {
  color: cv("code", "keyword");
}

.CodeMirror.cm-s-default .cm-def {
  color: cv("code", "define");
}

.CodeMirror.cm-s-default .cm-property {
  color: cv("code", "property");
}

.CodeMirror.cm-s-default .cm-string {
  color: cv("code", "string");
}

.CodeMirror.cm-s-default .CodeMirror-gutters {
  border: none;
  background: none;
}

.CodeMirror.cm-s-default .CodeMirror-linenumber {
  margin-left: -15px;

  color: #737b7f;

  opacity: 0.3;

  @include media("<desktop") {
    margin-left: -10px;
  }
}

.CodeMirror.cm-s-default .CodeMirror-code {
  margin: 30px 0;
  padding: 0 20px;

  font-size: 15px;
  line-height: 1.53em;

  @include media("<desktop") {
    margin: 20px 0;
    padding: 0 15px;
  }
}

.CodeMirror.cm-s-default .CodeMirror-sizer {
  border-right-width: 0 !important;

  @include media("<desktop") {
    min-width: 0 !important;
    max-width: 100%;
  }
}

.CodeMirror.cm-s-default .CodeMirror-selected {
  background: rgb(255 255 255 / 0.1);
}

.CodeMirror.cm-s-default .CodeMirror-focused .CodeMirror-selected {
  background: rgb(255 255 255 / 0.1);
}

.CodeMirror.cm-s-default .CodeMirror-line::selection,
.CodeMirror.cm-s-default .CodeMirror-line > span::selection,
.CodeMirror.cm-s-default .CodeMirror-line > span > span::selection {
  background: transparent;

  color: cv("code", "string");
}
