.CodeMirror.cm-s-default {
  .cm-variable,
  .cm-punctuation,
  .cm-property,
  .cm-operator {
    color: #ffffff;
  }

  .cm-keyword {
    color: cv("code", "keyword");
  }

  .cm-def {
    color: cv("code", "define");
  }

  .cm-property {
    color: cv("code", "property");
  }

  .cm-string {
    color: cv("code", "string");
  }

  .CodeMirror-gutters {
    border: none;
    background: none;
  }

  .CodeMirror-linenumber {
    margin-left: -15px;

    color: #737b7f;
    opacity: 0.3;
    @include media("<desktop") {
      margin-left: -10px;
    }
  }

  .CodeMirror-code {
    margin: 30px 0;
    padding: 0 20px;

    font-size: 15px;
    line-height: 1.53em;
    @include media("<desktop") {
      margin: 20px 0;
      padding: 0 15px;
    }
  }

  .CodeMirror-sizer {
    border-right-width: 0 !important;
    @include media("<desktop") {
      min-width: 0 !important;
      max-width: 100%;
    }
  }

  .CodeMirror-selected {
    background: rgb(255 255 255 / 0.1);
  }

  .CodeMirror-focused .CodeMirror-selected {
    background: rgb(255 255 255 / 0.1);
  }

  .CodeMirror-line::selection,
  .CodeMirror-line > span::selection,
  .CodeMirror-line > span > span::selection {
    background: transparent;

    color: cv("code", "string");
  }
}
