.language-tabs {
  display: flex;
  list-style: none!important;
  margin: 0;
  padding: 20px;
  background-color: cv('brand');
  border-radius: 5px;

  a {
    color: cv('gray', '000');
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;

    &.router-link-exact-active,
    &:hover {
      border-bottom: 1px solid cv('gray', '000');
    }

    i {
      margin-right:0.5rem;
    }
  }
}

.language-ctas {
  display: flex;
  flex-wrap: wrap;

  @include media(">1273px") {
    flex-wrap: nowrap;
  }

  a.Button--blue, a.Button--red {
    height: initial;
    line-height: initial;
    padding: 1rem;
    text-align: center;
  }

  li {
    margin-right: 2rem;
    margin-bottom: 1rem;

  &:last-child {
    margin-right:0rem;
  }

    a {
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
}

.language-reference {
  display: flex;

  .icon {
    width: 16px;
  }
}
