:not(pre)>code[class*=language-], pre[class*=language-] {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background: cv('gray', '100');;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;

  .code-copy {
    height: 0px;
    overflow: hidden;
    user-select: none;
  }
}

:not([class*=language-])>code {
  border-radius: 4px;
  border: none;
  white-space: normal;
  padding: 0.15rem 0.5rem;
  line-height: 1.428571429;
  background: cv('blue', '000');
  color: cv('cyan');
  font-size: 80%;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}
