.content--container {
  display: flex;
  padding-bottom: 2em;


  a[href*="app.getpostman.com"] {
    display: block;
    margin-top: 0.5rem;
  }


  @include media('>=tablet') {
    flex-direction: row;
    margin-top: 4rem;


    p, ol, ul {
      max-width: inherit;
    }

    h3, h4, h5, h6 {
      margin-top: $base-spacing;
    }
  }

  .tree-nav {
    width: 18%;

    @include media('>=desktop') {
      flex-grow: 0;
      flex-shrink: 0;
    }

    @include media('>=tablet') {
      width: 18rem;
    }

    @include media('<tablet') {
      flex-basis: 0;
      width: 40rem;

      .landing-navigation {
        display: none;

        &.active {
          display: block;
          position: static;
          border-right: none;
          padding-top: 3rem;
        }
      }
    }

  }

  .content-area {
    flex: 1;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;
    max-width: 100%;

    @include media('>=tablet') {
      margin: 0rem $big-spacing;
      width: 64%;
      max-width: 64%;
    }

    a {
      text-decoration: underline;
    }

    .language-tabs a,
    .language-ctas a,
    a.card {
      text-decoration: none;
    }

    .mobile-on-this-page {
      @include media('>=desktop') {
        display: none;
      }
    }

    a.header-link svg {
      width: 1rem;
      display: none;
    }

    h2:hover a.header-link svg,
    h3:hover a.header-link svg,
    h4:hover a.header-link svg,
    h5:hover a.header-link svg,
    h6:hover a.header-link svg {
      display: inline-block;
    }

    div[class^='language-'] {
      @include media('>=tablet') {
        td img {
          width:100%;
          max-width: 100%;
        }
      }
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    table {
      overflow-x: scroll;

      @include media('>=tablet') {
        td img {
          width:100%;
          max-width: 100%;
        }
      }
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    h5 {
      margin-top: 2rem;
    }

    p > code {
      overflow-wrap: break-word;
    }
  }

  .on-this-page {
    width: 18%;
    @include media('<desktop') {
      display: none;
    }
  }
}
