.content--container {
  display: flex;
  padding-bottom: 2em;

  @include media('>tablet') {
    flex-direction: row;
  }

  .tree-nav {
    width: 18%;

    @include media('<tablet') {
      width: 40rem;

      .landing-navigation {
        display: none;

        &.active {
          display: block;
          height: 100vh;
        }
      }
    }

  }

  .content-area {
    flex: 1;
    flex-wrap: wrap;
    margin-top: 6rem;
    width: 100%;

    .mobile-on-this-page {
      @include media('>=tablet') {
        display: none;
      }
    }

    @include media('>tablet') {
      margin: 6rem 1rem 0rem;
      width: 64%;
    }

    div[class^='language-'],
    table {
      overflow-x: scroll;
    }

    h5 {
      margin-top: 2rem;
    }
  
  }

  .on-this-page {
    width: 18%;

    @include media('<tablet') {
      display: none;
    }
  }
}