.content--container {
  display: flex;
  padding: 0;

  a[href*="app.getpostman.com"] {
    display: block;
    margin-top: 0.5rem;
  }

  code {
    // line breakes single <code> text if it necessary.
    white-space: pre-wrap; /* css-3 */
    word-break: break-word;
  }

  pre {
    overflow-x: auto;
    code {
      // I'm assuming that all code examples with <pre> tag includes multiple lines.
      // That's why all white-spaces should be in the right position for good readability.
      // In case of code example with multiple lines it will not break line. <pre> scroll will do the trick.
      white-space: pre;
      word-break: keep-all;
    }
  }

  h1,
  h3 {
    word-break: break-word;
  }

  @include media(">=tablet") {
    flex-direction: row;
    // margin-top: 4rem;

    // Normalize usual look in case screen > tablet.
    code {
      white-space: normal;
      word-break: normal;
    }

    p,
    ol,
    ul {
      max-width: inherit;
    }

    h1,
    h3 {
      word-break: normal;
    }

    h3,
    h4,
    h5,
    h6 {
      margin-top: $base-spacing;
    }
  }

  .video-tutorial {
    max-width: 650px;
  }
  
  .tree-nav {
    background: #16272f;
    width: 25%;
    padding: 3rem 0;
    border-right: 1px solid #1f3746;
    overflow: scroll;
    position: sticky;
    top: 70px;

    @include media(">=desktop") {
      flex-grow: 0;
      flex-shrink: 0;
    }

    @include media(">=tablet") {
      width: 18rem;
    }

    @include media("<tablet") {
      flex-basis: 0;
      width: 40rem;

      .landing-navigation {
        display: none;
      }
    }
  }

  &.navigation-only .tree-nav {
    @include media("<tablet") {
      flex-basis: auto;
      margin: 0 1.5rem;

      .landing-navigation {
        display: block;
        position: static;
        border-right: none;
        padding-top: 3rem;
      }
    }
  }

  .content-area {
    flex: 1;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;
    max-width: 100%;

    @include media(">=tablet") {
      margin: 3rem $big-spacing;
      width: 64%;
      max-width: 64%;

      a {
        word-break: normal;
      }
    }

    a {
      text-decoration: underline;
      word-break: break-word;
    }

    .language-tabs a,
    .language-ctas a,
    a.card {
      text-decoration: none;
    }

    .dropdown-button {
      position: relative;

      .caret {
        font-size: 5px;
        vertical-align: middle;
        margin-left: 6px;
        letter-spacing: 0;
      }

      .dropdown-button-options {
        display: none;
        position: absolute;
        z-index: 50;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: left;
        font-weight: 600;
        background-color: white;
      }
      .dropdown-button-option-value {
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        &:hover {
          background: cv("gray", "100");
        }
      }
      a {
        font-size: 14px;
        color: cv("blue", "900");
      }
      &:hover,
      &:active {
        .dropdown-button-options {
          &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
          }
          display: block;
          border: 1px solid cv("blue", "900");
        }
      }

      @include media("<=tablet") {
        &:hover {
          .dropdown-button-options {
            display: none;
          }
        }
        &.dropdown-button-expanded {
          &:hover {
            .dropdown-button-options {
              &:before {
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                width: 100%;
                height: 10px;
              }
              display: block;
              border: 1px solid cv("blue", "900");
            }
          }
        }
      }
    }
    .mobile-on-this-page {
      @include media(">=desktop") {
        display: none;
      }
    }

    a.header-link svg {
      width: 1rem;
      display: none;
    }

    h2:hover a.header-link svg,
    h3:hover a.header-link svg,
    h4:hover a.header-link svg,
    h5:hover a.header-link svg,
    h6:hover a.header-link svg {
      display: inline-block;
    }

    div[class^="language-"] {
      position: relative;
      @include media(">=tablet") {
        td img {
          width: 100%;
          max-width: 100%;
        }
      }
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    table {
      position: relative;
      overflow-x: scroll;

      @include media(">=tablet") {
        td img {
          width: 100%;
          max-width: 100%;
        }
      }
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    h5 {
      margin-top: 2rem;
    }

    p > code {
      overflow-wrap: break-word;
    }
  }

  &.navigation-only .content-area {
    @include media("<tablet") {
      display: none;
    }
  }

  .on-this-page {
    width: 18%;
    @include media("<desktop") {
      display: none;
    }
  }
}
