.content--container {
  display: flex;
  padding: 0;

  a[href*="app.getpostman.com"] {
    display: block;
    margin-top: 0.5rem;
  }

  code {
    // line breakes single <code> text if it necessary.
    white-space: pre-wrap; /* css-3 */
    word-break: break-word;
  }

  pre {
    overflow-x: auto;
    code {
      // I'm assuming that all code examples with <pre> tag includes multiple lines.
      // That's why all white-spaces should be in the right position for good readability.
      // In case of code example with multiple lines it will not break line. <pre> scroll will do the trick.
      white-space: pre;
      word-break: keep-all;
    }
  }
  
  h1,
  h3 {
    word-break: break-word;
  }

  @include media(">=tablet") {
    flex-direction: row;

    // Normalize usual look in case screen > tablet.
    code {
      white-space: normal;
      word-break: normal;
    }

    h1,
    h3 {
      word-break: normal;
    }
  }

  .video-tutorial {
    max-width: 650px;
  }

  .sidebar-area {
    width: 266px;
    position: sticky;
    overflow: auto;
    overflow-x: hidden;
    background: cv('body');
    top: 142px;
    @include media("<desktop-xl") {
      top: 125px;
    }
    @include media("<desktop") {
      display: none;
    }
    .sidebar-fade {
      display: block;
      position: sticky;
      width: 266px;
      height: 176px;
      background: linear-gradient(3.53deg, #F7FAFF 38.14%, rgba(247, 250, 255, 0) 83.09%);
      z-index: 2;
      left: 0;
      bottom: 0;
    }
    &.no-fade {
      .sidebar-fade {
        display: none;
      }
    }
    &.show-scroll-up {
      .scroll-up {
        display: block;
      }
    }
  }

  .content-area {
    flex: 1;
    max-width: calc(82% - 266px);
    padding: 23px 59px;
    @include media("<desktop-xl") {
      max-width: calc(100% - 266px);
      padding: 30px 57px;
    }
    @include media("<desktop") {
      width: 100%;
      max-width: 100%;
      padding: 30px 20px 40px;
    }
    @include media(">=tablet") {
      a {
        word-break: normal;
      }
    }

    .content__default {
      @include media("<desktop-xl") {
        margin-top: 20px;
      }
    }

    a {
      text-decoration: underline;
      word-break: break-word;
    }

    .language-tabs a,
    .language-ctas a,
    a.card {
      text-decoration: none;
    }

    .dropdown-button {
      position: relative;

      .caret {
        font-size: 5px;
        vertical-align: middle;
        margin-left: 6px;
        letter-spacing: 0;
      }

      .dropdown-button-options {
        display: none;
        position: absolute;
        z-index: 50;
        margin-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: left;
        font-weight: 600;
        background-color: white;
      }
      .dropdown-button-option-value {
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        &:hover {
          background: cv("gray", "100");
        }
      }
      a {
        font-size: 14px;
        color: cv("blue", "900");
      }
      &:hover,
      &:active {
        .dropdown-button-options {
          &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
          }
          display: block;
          border: 1px solid cv("blue", "900");
        }
      }

      @include media("<desktop") {
        &:hover {
          .dropdown-button-options {
            display: none;
          }
        }
        &.dropdown-button-expanded {
          &:hover {
            .dropdown-button-options {
              &:before {
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                width: 100%;
                height: 10px;
              }
              display: block;
              border: 1px solid cv("blue", "900");
            }
          }
        }
      }
    }
    
    a.header-link svg {
      width: 1rem;
      display: none;
    }

    h2:hover a.header-link svg,
    h3:hover a.header-link svg,
    h4:hover a.header-link svg,
    h5:hover a.header-link svg,
    h6:hover a.header-link svg {
      display: inline-block;
    }

    div[class^="language-"] {
      position: relative;
      @include media(">=tablet") {
        td img {
          width: 100%;
          max-width: 100%;
        }
      }
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    table {
      position: relative;
      overflow-x: scroll;

      @include media(">=tablet") {
        td img {
          width: 100%;
          max-width: 100%;
        }
      }
      margin-top: $base-spacing;
      margin-bottom: $base-spacing;
    }

    h5 {
      margin-top: 2rem;
    }

    p > code {
      overflow-wrap: break-word;
    }

    .stack-selector {
      display: none;

      @include media("<=desktop-xl") {
        display: block;
      }
    }
  }

  .on-this-page {
    width: 18%;
  }

  &.navigation-only {
    @include media("<desktop") {
      padding: 0;
      .sidebar-area {
        display: block;
        width: 100%;
      }
    }
  }

  &.navigation-only .content-area {
    @include media("<desktop") {
      display: none;
    }
  }
}

.aside-hidden .sidebar-area {
  width: 77px;
}
.aside-hidden .content-area {
  max-width: calc(100% - 77px);
}