.developer-day-banner{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #233e4e;
    position: relative;
    &--close{
        font-size: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        color: grey;
        @include media('<=bootstrap-xl'){
            color: white;
        }
        &:hover{
           color: white; 
           cursor: pointer;
        }
    }
    &--header-no-margin-large{
        margin-bottom: 0px;
        @include media('<=bootstrap-xl'){
            display: none;
        }
    }
    &--header-no-margin-small{
        font-size: 16px;
        text-align: left;
        @include media('>bootstrap-xl'){
            display: none;
        }
    }
    &--cta{
        &-large{
            font-size: 20px;
            color: #a7b2b8;
            @include media('<=bootstrap-xl'){
                display: none;
            }
        }
        &-small{
            font-size: 14px;
            color: white;
            @include media('>bootstrap-xl'){
                display: none;
            }
        }
        >span{
            margin-right: 20px;
        }
        >a{
            color: white;
            border-bottom: 1px solid white;
            letter-spacing: 1.5px;
            @include media('<=bootstrap-xl'){
                display: inline-block;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    
    }

    &--logo-container{
        overflow: hidden;
        height: 220px;
        &--large{
            margin-top: -10px;
            @include media('<=bootstrap-xl'){
                margin-top: 0;
            }
            @include media('<=bootstrap-lg'){
                display: none;
            }
        }
        &--small{
            height: 100%;
              @include media('>bootstrap-lg'){
                display: none;
            }
        }
    }
}