.c-dialog {
  display: flex;

  @include media("<desktop") {
    display: none;
  }
}

.c-dialog,
.c-dialog__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.c-dialog__overlay {
  background: var(--c-gray-750);

  opacity: 0.4;
}

.c-dialog__content {
  position: relative;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 32px;
  padding-top: 40px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1296px;
  height: 95vh;
  max-height: 725px;
  overflow-y: auto;

  box-shadow: 0 1px 4px rgb(29 29 33 / 0.08), 0 4px 10px rgb(29 29 33 / 0.08), 0 8px 30px rgb(29 29 33 /  0.1);
  border-radius: 16px;
  background-color: var(--c-gray-990);

  animation-name: fade-in-down;
  animation-duration: 1s;
  will-change: transform;

  .dont-show-again-checkbox {
    margin-top: 20px;
  }

  .dont-show-again-checkbox input,
  label {
    cursor: pointer;
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.c-dialog__close {
  --dialog-coordinates: 24px;
  --dialog-close-size: 44px;

  position: absolute;
  top: var(--dialog-coordinates);
  right: var(--dialog-coordinates);

  display: flex;
  padding: 0;
  width: var(--dialog-close-size);
  height: var(--dialog-close-size);

  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.c-dialog__close-icon {
  margin: auto;
}

.c-dialog__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--c-lightgray-450);
}

.c-dialog__paragraph {
  margin-top: 0;
  margin-bottom: 48px;

  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: var(--c-lightgray-450);
}

.c-dialog__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.c-dialog__block {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 48px;

  border-radius: 16px;
  background-color: var(--c-gray-980);

  &:hover {
    background: linear-gradient(0deg, rgb(25 25 25 / 0.08), rgb(25 25 25 / 0.08)), var(--c-blue-550);
  }
}

.c-dialog__block-paragraph {
  margin-top: 0;
  margin-bottom: 17px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.005em;
  color: rgb(255 254 250 / 0.7);
}

.c-dialog__block-title {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--c-lightgray-450);
}

.c-dialog__block-wrapper {
  display: flex;
  align-items: center;
}

.c-dialog__block-wrapper-text {
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: auto;

  font-size: 16px;
  letter-spacing: 0.0125em;
  color: var(--c-gray-350);
}

.c-dialog__block-text {
  margin-bottom: 64px;

  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

.c-dialog .c-dialog__link {
  align-self: start;
  padding: 12px 32px;

  border: none;
  border-radius: 6px;
  background-color: var(--c-lightgray-450);

  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--c-gray-950);

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    cursor: pointer;
  }
}

.c-dialog__block_type_secondary .c-dialog__link {
  border: 1px solid currentcolor;
  background-color: transparent;

  color: var(--c-lightgray-450) !important;
}

.c-dialog__block_type_secondary:hover .c-dialog__link {
  color: var(--c-lightgray-450) !important;
}

.c-dialog__block_type_secondary .c-dialog__paragraph {
  max-width: 465px;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
