.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: auto;

  background-color: rgb(29 29 33 / 0.75);
}

.dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dialog {
  max-width: 645px;
  max-height: calc(100% - 64px);
  height: auto;
  padding: 37px 0 31px 0;

  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: 0 6px 25px cv("blue", "whale");

  @import "../components/form";
}

.dialog a {
  color: cv("link");
}

.dialog a:hover {
  text-decoration: underline;
}

.dialog p {
  max-width: 100%;

  font-size: 14px;
}

.dialog .dialog--header,
.dialog .dialog--body {
  padding: 0 32px 0 32px;
}

.dialog .dialog--header {
  margin: 0 0 6px 0;

  font-size: 28px;
  color: cv("text", "darker");
}

.dialog .dialog--body {
  font-size: 14px;
}

.dialog .dialog--footer {
  padding: 0 32px 0 32px;
}
