.dialog-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(29, 29, 33, 0.75);
  color: #fff;
  left: 0;
  right: 0;
  margin: auto;
}

.dialog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.dialog {
  max-width: 645px;
  max-height: calc(100% - 64px);
  height: auto;
  overflow-y: auto;
  padding: 37px 0 31px 0;
  background-color: cv('blue','whale');
  box-shadow: 0px 6px 25px cv('blue','whale');
  a {
    color: cv('cerise','base');
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    max-width: 100%;
    font-size: 14px;
  }
  .dialog--header,
  .dialog--body {
    padding: 0 32px 0 32px;
  }
  .dialog--header {
    margin: 0 0 6px 0;
    font-size: 28px;
  }
  .dialog--body {
    font-size: 16px;
  }
  .dialog--footer {
    padding: 0 32px 0 32px;
  }
}
