.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  margin: auto;
  width: 100%;
  height: 100%;

  background-color: rgb(29 29 33 / 0.75);
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.dialog {
  padding: 37px 0 31px 0;
  max-width: 645px;
  height: auto;
  max-height: calc(100% - 64px);
  overflow-y: auto;

  box-shadow: 0 6px 25px cv("blue", "whale");
  background-color: #ffffff;

  @import "../components/form";
}

.dialog a {
  color: cv("link", "base");
}

.dialog a:hover {
  text-decoration: underline;
}

.dialog p {
  max-width: 100%;

  font-size: 14px;
}

.dialog .dialog--header,
.dialog .dialog--body {
  padding: 0 32px 0 32px;
}

.dialog .dialog--header {
  margin: 0 0 6px 0;

  font-size: 28px;
  color: cv("text", "darker");
}

.dialog .dialog--body {
  font-size: 14px;
}

.dialog .dialog--footer {
  padding: 0 32px 0 32px;
}
