.edit-on-github {
  margin-top: 105px;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-left: 0;

  font-size: 0.9rem;
  text-align: right;

  @include media("<tablet") {
    display: none;
  }
}

.edit-on-github .fa {
  margin-right: 5px;

  font-size: 1.2rem;
  color: #000000;
}
