.errors .errors--container {
  max-width: 668px;
}

.errors .errors--leader {
  flex-grow: 1;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.errors .errors--text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 0;
}

.errors a:hover {
  text-decoration: underline;
}

.errors p {
  max-width: initial;
}
