.errors .errors--container {
  max-width: 668px;
}

.errors .errors--leader {
  margin: 100px 0 30px;
  flex-grow: 1;
}

.errors .errors--text {
  margin: 0 0 100px;
}

.errors a:hover {
  text-decoration: underline;
}

.errors p {
  max-width: initial;
}
