@mixin separator {
  content: "";

  position: absolute;
  bottom: 37px;
  left: 0;

  width: 34px;
  height: 1px;

  background: cv("link", "footer");
}

@mixin separator-full-width {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: cv("link", "footer");
}

.app-footer {
  position: relative;

  flex-shrink: 0;

  background-color: #191919 !important;
}

.app-footer__wrapper {
  padding: 94px 64px;
  padding-bottom: 24px;

  border-top: 1px solid #555555;
}

.app-footer p {
  color: cv("body", "white");
}

.app-footer p a {
  text-decoration: underline;
}

.app-footer .italic {
  font-style: italic;
}

.app-footer .footer--columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-footer .footer--columns .footer--column {
  flex: 0 0 190px;
}

.app-footer .footer--columns .footer--column .column--header {
  margin: 0 0 35px;

  font-weight: 400;
  font-size: 20px;
  line-height: 1.3em;
  color: #bfbfbf !important;
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .footer--column .column--header {
    margin-bottom: 20px;
  }
}

.app-footer .footer--columns .social {
  flex: 0 0 120px;
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .social {
    position: relative;

    flex: 1 0 100%;
    order: 5;
    margin-bottom: 0;
    padding-top: 19px;
  }

  .app-footer .footer--columns .social::after {
    @include separator-full-width;
  }

  .app-footer .footer--columns .social .column--header {
    display: none;
  }

  .app-footer .footer--columns .social ul.link-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 256px;
  }

  .app-footer .footer--columns .social span.link-list--text {
    display: none;
  }
}

.app-footer .footer--columns .contact {
  flex: 0 0 190px;
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .contact {
    flex: 1 0 50%;
    order: 3;
    margin-bottom: 46px;
  }
}

@include media("<phone") {
  .app-footer .footer--columns .contact {
    flex: 1 0 100%;
  }
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .more {
    flex: 1 0 50%;
    order: 4;
    margin-bottom: 32px;
    padding-left: 18px;
  }
}

@include media("<phone") {
  .app-footer .footer--columns .more {
    flex: 1 0 100%;
    padding-left: 0;
  }
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .need-support,
  .app-footer .footer--columns .websites {
    position: relative;

    flex: 1 0 100% !important;
    justify-content: center;
    padding-bottom: 68px;
  }

  .app-footer .footer--columns .need-support::after,
  .app-footer .footer--columns .websites::after {
    @include separator;
  }
}

.app-footer .footer--columns .websites {
  flex: 0 0 300px;
}

.app-footer .footer--columns .websites .website {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.app-footer .footer--columns .websites .website + .website {
  margin-top: 37px;
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .websites .website + .website {
    margin-top: 25px;
  }
}

.app-footer .footer--columns .websites .website .description {
  margin-top: 6px;

  font-size: 16px;
  line-height: 1.7em;
  letter-spacing: 0.01em;
  color: rgb(255 254 250 / 0.8) !important;
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .websites {
    flex: 1 0 40%;
    order: 2;
    margin-bottom: 0;
    margin-bottom: 8px;
    padding-bottom: 73px;
  }
}

@include media("<tablet") {
  .app-footer .footer--columns .websites {
    flex: 1 0 100%;
  }
}

.app-footer .footer--columns .need-support {
  position: relative;

  flex: 0 0 245px;
}

.app-footer .footer--columns .need-support .column--header {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  text-transform: none;
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .need-support .column--header {
    margin-bottom: 16px;
  }
}

.app-footer .footer--columns .need-support p {
  font-weight: 400;
  line-height: 1.8em;
  color: cv("body", "white");
}

.app-footer .footer--columns .need-support p a {
  color: cv("body", "white");
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .need-support p {
    line-height: 1.6rem;
  }
}

.app-footer .footer--columns .copyright {
  margin: 0;
  margin-top: 30px;
  padding-top: 25px;
  width: 100%;

  border-top: 0.5px solid rgba(255 254 250 / 0.5);

  font-weight: 400;
  font-size: 14px;
  color: #fffefa;

  @include media(">desktop") {
    margin-top: 182px;
  }
}

@include media("<desktop-xl") {
  .app-footer .footer--columns .copyright {
    position: relative;
    bottom: auto;

    order: 6;
    margin-top: 28px;
    padding-top: 28px;
    width: 100%;

    text-align: center;
  }

  .app-footer .footer--columns .copyright:before {
    @include separator-full-width;
  }
}

@include media("<desktop-xl") {
  .app-footer .footer--columns {
    margin: 0 auto;
    width: 83%;
  }
}

.app-footer a.link {
  font-size: inherit;
  line-height: 1.3em;
  color: #fffefa !important;
}

.app-footer a.link:hover {
  text-decoration: underline;
}

.app-footer a.link--small {
  font-size: 14px;
}

.app-footer a.link--bold {
  font-weight: 400;
}

.app-footer a.link--uppercase {
  text-transform: uppercase;
}

.app-footer a.link--underline {
  text-decoration: underline;
}

.app-footer a.link--spacing-large {
  letter-spacing: 1.5px;
}

.app-footer a.link--heading {
  color: cv("body", "white") !important;
}

.app-footer a.link[target="_blank"]:not([href^="mailto:"]).link--with-chevron-right::after {
  background-image: url("/img/icons/chevron-right.svg");
}

.app-footer ul.link-list {
  margin-left: 0;
  padding-inline-start: 0;
}

.app-footer ul.link-list li.link-list--item {
  margin-top: 20px;
}

.app-footer ul.link-list li.link-list--item a.link-list--link {
  display: inline;
  align-items: center;

  font-size: 16px;
  line-height: 1.2em;
}

.app-footer ul.link-list li.link-list--item i.link-list--icon {
  display: flex;

  font-size: 16px;
}

.app-footer ul.link-list li.link-list--item i.link-list--icon svg {
  width: 1.2em;
  height: 1.2em;

  fill: cv("body", "white");
}

.app-footer ul.link-list li.link-list--item i.link-list--icon svg path {
  fill: #fffefa !important;
}

.app-footer ul.link-list li.link-list--item i.link-list--icon + span.link-list--text {
  margin-left: 16px;
}

@include media("<desktop-xl") {
  .app-footer ul.link-list li.link-list--item {
    margin-top: 8px;
  }
}

@include media("<desktop-xl") {
  .app-footer {
    padding: 60px 0;
  }
}

.app-footer .link {
  font-weight: 500;
}

.app-footer .websites .link {
  padding-right: 13px;

  background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M1 9.00024L5 5.00024L1 1.00024' stroke='%23FFFEFA' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-position: right center;
  background-repeat: no-repeat;

  line-height: 1;
}

.app-footer .website .description {
  font-weight: 500;
}

.footer-social-networks {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding-top: 32px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 38px;
    height: 1px;

    background-color: #fffefa;

    opacity: 0.5;
  }
}

.app-footer ul.link-list li.link-list--item:last-child i.link-list--icon svg path {
  fill: #000000 !important;
}

.footer-logotype {
  display: inline-block;
  margin-bottom: 30px;

  @include media(">desktop") {
    margin-bottom: 72px;
  }
}

.footer-text {
  margin-bottom: 32px;
}

.app-footer a:hover {
  text-decoration: underline !important;
  color: #b6caff !important;
}
