$redesign_white: #FFFFFF;
$redesign_footer_border: #1F3B54;

.app-footer {
  position: relative;
  background-color: cv('header');
  border-top: 1px solid $redesign_footer_border;
  padding: 100px 60px;

  @include media('<tablet') {
    padding: 46px;
  }

  p {
    color: $redesign_white;
    a {
      text-decoration: underline;
    }
  }

  .italic {
    font-style: italic;
  }

  .footer--columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer--column {
      flex: 0 0 150px;

      .column--header {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 1.5px;
        color: $redesign_white;
        text-transform: uppercase;
        margin-bottom: 35px;

        @include media('<tablet') {
          font-size: 12px;
          margin-bottom: 24px;
        }
      }
    }

    .social {
      @include media('<desktop') {
        flex: 1 0 100%;
        margin-bottom: 46px;

        .column--header {
          display: none;
        }

        ul.link-list {
          display: flex;
          justify-content: space-between;
          max-width: 225px;
          margin: 0 auto;
        }

        span.link-list--text {
          display: none;
        }
      }
    }

    .contact {
      @include media('<desktop') {
        flex: 1 0 30%;
        margin-bottom: 46px;
      }

      @include media('<tablet') {
        flex: 1 0 50%;
      }

      @include media('<phone') {
        flex: 1 0 100%;
      }
    }

    .more {
      @include media('<desktop') {
        flex: 1 0 30%;
        margin-bottom: 46px;
      }

      @include media('<tablet') {
        flex: 1 0 50%;
      }

      @include media('<phone') {
        flex: 1 0 100%;
      }
    }

    .websites {
      flex: 0 0 280px;

      @include media('<desktop') {
        flex: 1 0 40%;
        margin-bottom: 46px;
      }

      @include media('<tablet') {
        flex: 1 0 100%;
      }

      .website {
        display: flex;
        flex-direction: column;

        & + .website {
          margin-top: 25px;
        }

        .description {
          font-size: 16px;
          line-height: 1.7em;
          letter-spacing: 0.01em;
          color: $redesign_white;
          margin-top: 6px;
        }
      }
    }

    .need-support {
      flex: 0 0 255px;

      .column--header {
        font-weight: 400;
        font-size: 20px;
        text-transform: none;
        margin-bottom: 17px;

        @include media('<tablet') {
          font-size: 18px;
        }
      }

      p {
        line-height: 2.5em;
      }

      @include media('<desktop') {
        flex: 1 0 100%;
        justify-content: center;
      }
    }
  }

  a.link {
    font-size: inherit;
    line-height: 1.3em;
    color: $redesign_white;

    &:hover {
      text-decoration: underline;
    }

    &--small {
      font-size: 14px;
    }

    &--bold {
      font-weight: bold;
    }

    &--uppercase {
      text-transform: uppercase;
    }

    &--underline {
      text-decoration: underline;
    }

    &--spacing-large {
      letter-spacing: 1.5px;
    }

    &[target='_blank']:not([href^='mailto:']) {
      &::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-left: 0.2em;
        background-image: url('/img/icons/external--cherry.svg');
        background-repeat: no-repeat;
        vertical-align: middle;
      }
      &.link--with-chevron-right {
        &::after {
          background-image: url('/img/icons/chevron-right.svg');
        }
      }
    }
  }

  ul.link-list {
    margin-left: 0;
    padding-inline-start: 0;

    li.link-list--item {
      margin-top: 20px;

      a.link-list--link {
        font-size: 16px;
        line-height: 1.2em;
        display: flex;
        align-items: center;

        @include media('<tablet') {
          font-size: 14px;
        }
      }

      i.link-list--icon {
        display: flex;
        font-size: 16px;

        svg {
          width: 1.2em;
          height: 1.2em;
          fill: $redesign_white;
          path {
            fill: $redesign_white;
          }
        }
      }

      i.link-list--icon + span.link-list--text {
        margin-left: 16px;
      }
    }
  }
}
