label {
  font-size: 14px;
}

input[type="text"],
input[type="submit"],
input[type="button"],
select {
  display: inline-block;
  margin: 5px 0 0;
  padding: 0 20px;
  width: 100%;
  height: 38px;

  border: 1px solid cv("form", "input-border");
  border-radius: 3px;
  background-color: $white;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  text-align: start;
  text-indent: 0;
  text-transform: none;
  text-shadow: none;
  word-spacing: normal;
  color: cv("text", "base");
  text-rendering: auto;
  appearance: textfield;
}

input[type="text"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
select:focus {
  outline: none;
}

input[type="text"].error,
input[type="submit"].error,
input[type="button"].error,
select.error {
  border: 1px solid cv("cerise", "base");
}

input[type="submit"]:disabled,
input[type="button"]:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

select {
  padding: 0 20px;

  border-radius: 4px;
  background-image: url("/img/icons/select-input-arrow.svg");
  background-position: calc(100% - 22px) center;
  background-size: auto;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
}

a.btn,
input.btn,
button.btn {
  display: block;
  padding: 16px 20px;
  height: auto;

  border: 1px solid cv("header", "base");
  border-radius: 3px;
  background-color: cv("header", "base");

  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
  text-align: center;
  color: $white;
}

a.btn:hover,
input.btn:hover,
button.btn:hover {
  text-decoration: none;
}

a.social-btn,
input.social-btn,
button.social-btn {
  padding: 16px 20px;
  width: 100%;

  background-color: transparent;

  color: cv("link", "darker");
}

a.social-btn i.fa,
input.social-btn i.fa,
button.social-btn i.fa {
  font-size: 37px;
  color: #000000;
}

a.social-btn span.google-logo,
input.social-btn span.google-logo,
button.social-btn span.google-logo {
  width: 32px;
  height: 32px;

  background: url("/img/icons/google-logo-new.png") no-repeat center center;
  background-size: contain;
}

a.social-btn span.google-logo,
a.social-btn i.fa,
input.social-btn span.google-logo,
input.social-btn i.fa,
button.social-btn span.google-logo,
button.social-btn i.fa {
  position: absolute;
  top: 12px;
  left: 24px;

  display: block;
}

@include media("<tablet") {
  a.social-btn span.google-logo,
  a.social-btn i.fa,
  input.social-btn span.google-logo,
  input.social-btn i.fa,
  button.social-btn span.google-logo,
  button.social-btn i.fa {
    display: none;
  }
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}
