#okta-sign-in.main-page-widget-wrapper{
  margin: 0;
  border: none;
  width: 100%;

  .okta-form-title.o-form-head{
      color: #5e5e5e;
      font-weight: bold;
  }

  .okta-form-label.o-form-label{
      color: #777;
      font-weight: bold;
  }
  .okta-form-input-field{
    input{
      color: #5e5e5e;
    }
  }
  .button.button-primary{
    color: #fff;
    background-color: #369f95;
    background: -o-linear-gradient(top, #369f95 0%, #32948a 100%);
    background: -ms-linear-gradient(top, #369f95 0%, #32948a 100%);
    background: linear-gradient(#369f95, #32948a);
    border-color: #23665f;
    border-bottom-color: #205e58;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 0, rgba(255, 255, 255, 0.1) 0 1px 0 0 inset;
  }
}
