.header-nav {
  display: flex;
  align-items: center;
  padding: 0 31px;
  width: 100%;
  overflow-x: auto;

  background-color: #2b2b2b;
}

.header-nav a {
  position: relative;

  margin-right: 40px;
  padding: 18px 0 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  white-space: nowrap;
  color: #fffefa;

  @include media(">desktop") {
    &:hover {
      text-decoration: none;
      color: #b6caff !important;

      &::after {
        background-color: currentcolor;
      }
    }
  }
}

.dark-theme .header-nav a {
  @include media(">desktop") {
    &:hover {
      text-decoration: none;
      color: #b1e4de !important;
    }
  }
}

.header-nav a.router-link-active:hover::after {
  background-color: currentcolor;
}

.header-nav a:before {
  content: attr(title);

  display: block;
  height: 0;
  overflow: hidden;

  font-weight: 700;
  visibility: hidden;
}

.header-nav a:last-child {
  margin-right: 0;
}

.header-nav a:after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: transparent;
}

.header-nav a.router-link-active {
  color: #b6caff;
}

.dark-theme .header-nav a.router-link-active {
  color: #b1e4de;
}

.header-nav a.router-link-active:after {
  background-color: currentcolor;
}

@include media("<desktop-xl") {
  .header-nav {
    top: 60px;
  }
}

@include media("<tablet") {
  .header-nav {
    top: 60px;
  }
}
