header.page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cv('header');
  height: 87px;
  padding: 0 50px;

  .header--logo {
    flex-shrink: 0;
    line-height: 0;

    img {
      width: 157px;
      height: 22px;
    }
  }

  .menu--slideout {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }

  .menu--items:last-child {
    display: none;
  }

  .search--slideout {
    flex: 1 1 260px;
    max-width: 336px;
    margin-left: 61px;
  }

  .header--links {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 37px;

    ul.menu--items + ul.menu--items {
      margin-left: 42px;
    }

    .menu--slideout-home {
      display: none;
    }
  }

  .sign-up--button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 38px;
    padding: 7px 12px;
    background: cv('header');
    border: 1px solid cv('body', 'white');
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: cv('body', 'white');
    outline: none;
  }

  .mobile--toggles {
    display: none;

    .mobile--toggle {
      height: 17px;
      cursor: pointer;

      > span {
        display: block;
        width: 18px;
        height: 2px;
        top: 0;
        margin-bottom: 5px;
        position: relative;
        background: cv('body', 'white');
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    margin 0.05s ease,
                    opacity 0.55s ease;
        &:first-child {
          transform-origin: 0% 0%;
        }
        &:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }
      &.is-opened {
        > span {
          opacity: 1;
          transform: rotate(45deg) scale(1.2, 1) translate(-3px, -8px);
          &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
            margin-bottom: 2px;
          }
          &:nth-last-child(2) {
            transform: rotate(-45deg) scale(1.2, 1) translate(-4px, 10px);
          }
        }
      }
    }

    .mobile--toggle + .mobile--toggle {
      margin-left: 20px;
    }
  }

  .link {
    font-size: 16px;
    line-height: 1.3em;
    color: cv('body', 'white');
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &--black {
      color: cv('gray', '900');

      &:visited, &:active, &:focus {
        color: cv('gray', '900');
      }
    }

    &--semi-bold {
      font-weight: 400;
    }

    &[target="_blank"]:not([href^="mailto:"])::after {
      content: "";
      display: none;
      width: 11px;
      height: 11px;
      margin-left: 0.5em;
      background-image: url("/img/icons/external--white.svg");
      background-repeat: no-repeat;
      background-size: cover;
      vertical-align: middle;
      opacity: 0.5;
    }

    &:visited, &:active, &:focus {
      color: cv('body', 'white');
    }
  }

  @include media("<desktop-xl") {
    padding: 0 35px;
    height: 70px;

    .header--logo > img {
      width: 101px;
      height: 13px;
    }

    ul.menu--items > li + li {
      margin-left: 23px;
    }

    .search--slideout {
      margin-left: 24px;
      max-width: 168px;
    }

    .search--wrapper .SearchBox {
      .CoveoOmnibox.magic-box .magic-box-input input {
        padding-left: 30px;
      }
      .search--form .CoveoSearchButton {
        display: none;
      }
    }

    .header--links {
      padding: 0 15px;
    }

    .sign-up--button {
      padding: 7px 10px;
      font-size: 14px;
      margin-left: 10px;
    }

    .link {
      line-height: 2em;

      &--small {
        font-size: 12px;
      }
    }
  }

  @include media("<desktop") {
    padding: 0 16px;

    .header--logo > img {
      width: 157px;
      height: 22px;
    }

    .mobile--toggles {
      display: flex;
    }

    .search--slideout,
    .menu--slideout {
      display: none;
    }

    .menu--slideout {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: none;
      margin: 0;
      padding: 0 0 20px;
      background-color: cv('body', 'white');
      z-index: -1;
      overflow-y: auto;

      &.opened {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .header--links {
        order: 2;
        width: 100%;
        border-top: 0.5px solid rgba(255, 255, 255, 0.15);
        flex: 0;
        flex-direction: column;
        padding: 16px;

        .menu--slideout-home {
          display: block;
        }

        > ul.menu--items {
          display: flex;
          flex-direction: column;

          &:not(.menu--mobile) {
            display: none;
          }

          & + .menu--items {
            margin: 0;
          }

          li {
            margin: 0 0 9px;

            &.is-home {
              order: -1;
            }

            &.expandable {
              cursor: pointer;
              padding: 0;
  
              &:before {
                display: none;
              }
            }

            .tree-nav-link {
              position: relative;
            }

            a.link,
            span.link {
              font-size: 14px;
              font-weight: 300;
              line-height: 1.5em;
              position: relative;
              display: block;

              &:not(.router-link-exact-active, .router-link-active, .subnav-active) {
                color: cv('text');

                &:visited, &:active, &:focus {
                  color: cv('text');
                }
              }

              &:after {
                transform: rotate(-90deg);
                transition: transform 300ms ease-in-out;
              }

              &:hover {
                text-decoration: none;
                color: cv('text', 'darker');
              }

              &.router-link-active {
                color: cv('link') !important;
              }
            }

            i.fa {
              display: none;
            }
          }

          &:not(.expanded) {
            > li {
              > a.link,
              > span.link {
                font-weight: 500;
                color: cv('text', 'darker');
              }
            }
          }
          &.expanded {
            li {
              padding-left: 27px;
              &.opened {
                margin-left: -12px;
                > span {
                  font-weight: 500;
                  color: cv('text', 'darker');
                  &::after {
                    transform: rotate(90deg);
                    transition: none;
                    right: auto;
                    left: -17px;
                    top: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .sign-up--button {
      margin: 0 32px 0 0;
      font-size: 1rem;
      border: none;
      padding: 0 16px 0 0;
      background: url('/img/icons/arrow-right-white.svg') no-repeat right center;
    }

    .search--slideout {
      max-width: 100%;
      width: 100%;
      margin: 20px 0 0;
      padding: 16px;
      background-color: cv('body', 'white');
      flex: none;
      z-index: 1;

      &.opened {
        display: block;
      }
    }
  }
  @include media("<tablet") {
    height: 60px;

    .menu--slideout {
      top: 60px;
    }

    .sign-up--button {
      display: none;
    }
  }
}
