@mixin mobile-separator {
  content: "";

  position: absolute;
  bottom: 0;
  left: 50%;

  width: 22px;
  height: 1px;
  transform: translateX(-50%);

  background: cv("text", "lighter");
}

.homepage {
  min-height: 100vh;

  background-color: cv("body", "lighter");

  font-family: $font-family;
  color: cv("text", "base");
}

@include media("<desktop") {
  .homepage .content--container {
    padding: 0;
  }
}

.homepage .width-adjuster {
  flex: 4 0 78%;
  max-width: calc(100% - 266px);
}

@include media("<desktop") {
  .homepage .width-adjuster {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.homepage .row {
  height: auto;
}

.homepage--elevated {
  z-index: 11;
}

.homepage .row.justify-content-around.no-wrap,
.homepage .row.justify-content-between.no-wrap {
  flex-wrap: nowrap;
}

.homepage--section-margins {
  padding-right: 135px;
  padding-left: 135px;
}

@include media("<desktop-xl") {
  .homepage--section-margins {
    padding: 40px 57px;
  }
}

@include media("<desktop") {
  .homepage--section-margins {
    padding: 40px 33px;
  }
}

.homepage--top-section {
  padding-top: 38px;
  padding-bottom: 50px;

  background: #ffffff url("/img/homepage/white-to-gray-bg.svg") repeat-x left bottom;
}

@include media("<desktop") {
  .homepage--top-section {
    padding-top: 47px;
    padding-bottom: 103px;
    height: auto;
  }
}

.homepage--selector-block-margin {
  margin-bottom: 150px;
  padding-top: 42px;
}

@include media("<desktop") {
  .homepage--selector-block-margin {
    margin-bottom: 30px;
    padding-top: 54px;
  }
}

.homepage--assurance-block-margin {
  padding-top: 54px;
  padding-bottom: 105px;

  background: cv("body", "lighter") url("/img/homepage/gray-to-white-bg.svg") repeat-x left bottom;
}

@include media("<desktop") {
  .homepage--assurance-block-margin {
    padding-top: 91px;
    padding-bottom: 165px;
  }
}

.homepage--color-main {
  color: cv("text", "darker");
}

.homepage--color-sub {
  color: cv("text", "base");
}

.homepage--intro-heading {
  margin-bottom: 0;
  padding-bottom: 36px;

  border-bottom: 1px solid cv("text", "lighter");
}

.homepage--intro-heading h6 {
  position: relative;

  margin: 0 0 9px;

  font-weight: 500;
  font-size: 1em;
}

@include media("<tablet") {
  .homepage--intro-heading h6 {
    margin-bottom: 21px;
    padding: 0 0 16px;

    font-size: 21px;
    text-align: center;
  }

  .homepage--intro-heading h6::after {
    @include mobile-separator();
  }
}

@include media("<1120px") {
  .homepage--intro-heading p br {
    display: none;
  }
}

@include media("<tablet") {
  .homepage--intro-heading p {
    line-height: 1.45rem;
  }

  .homepage--intro-heading p br {
    display: none;
  }
}

@include media("<tablet") {
  .homepage--intro-heading {
    margin-bottom: 0;
    padding-bottom: 21px;

    border-bottom: none;
  }
}

.homepage--main-heading {
  position: relative;

  margin-top: 60px;
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 32px;
}

@include media("<tablet") {
  .homepage--main-heading {
    margin-top: 25px;
    margin-bottom: 49px;

    font-size: 28px;
    text-align: center;
  }
}

.homepage--section-description {
  max-width: 100%;
}

@include media("<tablet") {
  .homepage--section-description {
    padding-bottom: 30px;

    text-align: center;
  }
}

.homepage--sub-heading {
  margin-bottom: 28px;
}

.homepage--sub-heading h2 {
  margin-top: 71px;
  margin-bottom: 8px;
  padding-bottom: 0;

  font-size: 24px;
}

@include media("<tablet") {
  .homepage--sub-heading h2 {
    position: relative;

    margin: 2px 0 21px;
    padding-bottom: 16px;

    font-size: 21px;
    text-align: center;
  }

  .homepage--sub-heading h2::after {
    @include mobile-separator();
  }
}

.homepage--sub-heading p {
  font-size: 18px;
}

@include media("<tablet") {
  .homepage--sub-heading p {
    font-size: 16px;
    line-height: 1.45rem;
    text-align: center;
  }
}

@include media("<=bootstrap-lg") {
  .homepage--centered-md {
    text-align: center;
  }
}

.homepage--sub-heading-disclaimer {
  margin-bottom: 30px;

  font-size: 18px;
}

.homepage--sub-heading-disclaimer:last-child {
  margin-bottom: 30px;
}

@include media("<desktop") {
  .homepage--sub-heading-disclaimer {
    text-align: center;
  }
}

@keyframes moveToRight {
  from {
    transform: translateY(10px);
  }
}

.isHome .width-adjuster {
  max-width: 100%;
}

.aside-hidden .width-adjuster {
  max-width: calc(100% - 77px);
}

._state_fixed {
  overflow-y: hidden;
}
