.login {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1272px;

  font-size: 16px;
}

.login h1 {
  margin-bottom: 70px;

  text-align: center;
}

.login .login--form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px 48px 40px 48px;
  width: 588px;

  box-shadow: 0 6px 18px rgb(65 65 75 / 0.5);
  background-color: #ffffff;
}

.login .login--form .splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 17px;
  height: 20px;
}

.login .login--form .splitter span:nth-child(2) {
  margin: 0 16px;
}

.login .login--form .splitter span:nth-child(1),
.login .login--form .splitter span:nth-child(3) {
  display: none;
  flex-grow: 1;
  height: 0;

  border: 2px solid cv("header", "base");
}

.login .login--form .goto-signup {
  justify-content: center;
  margin: 0;

  font-size: 14px;
  line-height: 2rem;
}

.login .login--form .goto-signup a {
  text-indent: 5px;
}

.login .login--form .goto-signup a:hover {
  text-decoration: underline;
}

@include media("<tablet") {
  .login .login--form {
    padding: 10px;
    width: 100%;
  }
}
