$redesign_pink: #dd2864;

.redesign {
  ul.menu--items {
    display: flex;

    a.active {
      color: $redesign_pink;
    }

    > li + li {
      margin-left: 15px;
    }

    > li.expanded {
      position: relative;
      padding-right: 8px;

      > a,
      > span {
        padding-right: 10px;
      }

      > ul.submenu--items {
        display: none;
        background: $redesign_white;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
        left: 50%;
        line-height: 20px;
        max-height: calc(100vh - 144px);
        overflow: visible;
        padding: 16px;
        position: absolute;
        top: 42px;
        transform: translateX(-50%);
        width: auto;
        
        @include media("<tablet") {
          display: block;
        }

        &:before {
          content: "";
          position: absolute;
          top: -10px;
          left: 50%;
          transform: translateX(-50%);
          border-bottom: solid 20px $redesign_white;
          border-left: solid 20px transparent;
          border-right: solid 20px transparent;
        }

        > li + li {
          margin-top: 10px;
        }

        .menu--divider {
          margin: 15px 0;
          border: 1px solid $redesign_black;
        }

        .menu--icons {
          display: flex;

          .menu--icon {
            width: 20px;

            svg {
              fill: $redesign_black;
            }
          }

          .menu--icon + .menu--icon {
            margin-left: 15px;
          }
        }
      }

      &:hover:before {
        content: "";
        height: 30px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
      }

      &:hover > ul.submenu--items {
        display: block;
      }
    }

    > li.expanded > a:after,
    > li.expanded > span:after {
      content: "";
      position: absolute;
      right: 0;
      top: 12px;
      background-image: url('data:image/svg+xml;utf8,<svg width="8" height="4" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.471 3.833a.748.748 0 01-.942 0L.195.975a.516.516 0 010-.808.748.748 0 01.943 0L4 2.571 6.862.167a.748.748 0 01.943 0c.26.224.26.585 0 .808L4.47 3.833z" fill="%23ffffff"/></svg>');
      background-repeat: no-repeat;
      width: 8px;
      height: 4px;
    }
  }
}
