ul.menu--items {
  display: flex;
}

ul.menu--items a.router-link-exact-active {
  color: cv("link");
}

ul.menu--items a.router-link-exact-active:visited,
ul.menu--items a.router-link-exact-active:active,
ul.menu--items a.router-link-exact-active:focus {
  color: cv("link");
}

ul.menu--items > li + li {
  margin-left: 29px;
}

ul.menu--items > li span a.link {
  color: cv("text");
}

ul.menu--items > li span.tree-nav-link a.link {
  font-weight: 500 !important;
  color: cv("text", "darker") !important;
}

ul.menu--items > li span.tree-nav-link a.router-link-active {
  color: cv("link") !important;
}

ul.menu--items > li.expandable {
  position: relative;

  padding-right: 8px;
}

ul.menu--items > li.expandable > a,
ul.menu--items > li.expandable > span {
  padding-right: 10px;
}

ul.menu--items > li.expandable span.tree-nav-link {
  display: flex;
}

ul.menu--items > li.expandable span.tree-nav-link a.link {
  font-weight: 500 !important;
  color: cv("text", "darker") !important;
}

ul.menu--items > li.expandable span.tree-nav-link a.router-link-active {
  color: cv("link") !important;
}

ul.menu--items > li.expandable span.tree-nav-link .shevron {
  position: absolute !important;
  right: 0;
  z-index: 20;

  width: 20px;
  height: 20px;
}

ul.menu--items > li.expandable span.tree-nav-link:after {
  transform: rotate(-90deg);
}

ul.menu--items > li.expandable.opened > span.tree-nav-link .shevron {
  right: auto;
  left: -20px;
}

ul.menu--items > li.expandable > ul.submenu--items {
  position: absolute;
  top: 42px;
  left: 50%;

  display: none;
  padding: 16px;
  width: auto;
  max-height: calc(100vh - 144px);
  overflow: visible;

  box-shadow: rgb(0 0 0 / 0.3) 0 2px 10px;
  border-radius: 3px;
  background: cv("body", "white");

  line-height: 20px;
  transform: translateX(-50%);
}

ul.menu--items > li.expandable > ul.submenu--items li a {
  white-space: nowrap;
  color: cv("gray", "900");
}

ul.menu--items > li.expandable > ul.submenu--items li a:after {
  background-color: cv("gray", "900") !important;
  background-image: none !important;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("/img/icons/external--white.svg");
  mask-image: url("/img/icons/external--white.svg");
}

ul.menu--items > li.expandable > ul.submenu--items:before {
  content: "";

  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  border-bottom: solid 20px cv("body", "white");
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}

ul.menu--items > li.expandable > ul.submenu--items > li + li {
  margin-top: 10px;
}

ul.menu--items > li.expandable > ul.submenu--items .menu--divider {
  margin: 15px 0;

  border: 1px solid cv("gray", "900");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons {
  display: flex;
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon {
  width: 20px;
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon svg {
  fill: cv("gray", "900");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon + .menu--icon {
  margin-left: 15px;
}

@include media("<tablet") {
  ul.menu--items > li.expandable > ul.submenu--items {
    display: block;
  }
}

ul.menu--items > li.expandable:hover:before {
  content: "";

  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  height: 30px;
}

ul.menu--items > li.expandable:hover > ul.submenu--items {
  display: block;
}

ul.menu--items > li.expandable > a:after,
ul.menu--items > li.expandable > span:after {
  content: "";

  position: absolute;
  top: 9px;
  right: 0;

  width: 8px;
  height: 4px;

  background-image: url("/img/icons/chevron-down-white.svg");
  background-repeat: no-repeat;
}

@include media("<desktop") {
  ul.menu--items > li.expandable > a:after,
  ul.menu--items > li.expandable > span:after {
    background-image: url("/img/icons/chevron-down-white.svg");
  }
}

.menu--items .link[href="https://www.okta.com/"] {
  font-weight: 700;
}

.menu--items .link[href*="login"] {
  padding-left: 27px;

  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' fill='none'%3E%3Cpath fill='%23FFFEFA' fill-rule='evenodd' d='M11.25 3.75v2.5a2.25 2.25 0 0 1-4.5 0v-2.5a2.25 2.25 0 0 1 4.5 0Zm-6 0a3.75 3.75 0 1 1 7.5 0v2.5a3.75 3.75 0 1 1-7.5 0v-2.5Zm-.992 9.074c.115-.047.293-.074 1.51-.074h6.465c1.216 0 1.394.027 1.51.074.16.066.3.172.407.308.077.098.153.262.487 1.431L15.76 18.5H2.24l1.124-3.937c.334-1.169.41-1.333.486-1.43.108-.137.248-.243.409-.309Zm11.82 1.327 1.243 4.349.429 1.5H.25l.429-1.5 1.242-4.349c.297-1.04.446-1.56.75-1.946a2.5 2.5 0 0 1 1.02-.77c.454-.185.995-.185 2.076-.185h6.466c1.081 0 1.622 0 2.076.186a2.5 2.5 0 0 1 1.02.77c.304.385.453.905.75 1.945Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center left;
  background-repeat: no-repeat;
}
