ul.menu--items {
  display: flex;
}

ul.menu--items a.router-link-exact-active {
  color: cv("link", "base");
}

ul.menu--items a.router-link-exact-active:visited,
ul.menu--items a.router-link-exact-active:active,
ul.menu--items a.router-link-exact-active:focus {
  color: cv("link", "base");
}

ul.menu--items > li + li {
  margin-left: 29px;
}

ul.menu--items > li span a.link {
  color: cv("text", "base");
}

ul.menu--items > li span.tree-nav-link a.link {
  font-weight: 500 !important;
  color: cv("text", "darker") !important;
}

ul.menu--items > li span.tree-nav-link a.router-link-active {
  color: cv("link", "base") !important;
}

ul.menu--items > li.expandable {
  position: relative;

  padding-right: 8px;
}

ul.menu--items > li.expandable > a,
ul.menu--items > li.expandable > span {
  padding-right: 10px;
}

ul.menu--items > li.expandable span.tree-nav-link {
  display: flex;
}

ul.menu--items > li.expandable span.tree-nav-link a.link {
  font-weight: 500 !important;
  color: cv("text", "darker") !important;
}

ul.menu--items > li.expandable span.tree-nav-link a.router-link-active {
  color: cv("link", "base") !important;
}

ul.menu--items > li.expandable span.tree-nav-link .shevron {
  position: absolute !important;
  right: 0;
  z-index: 20;

  width: 20px;
  height: 20px;
}

ul.menu--items > li.expandable span.tree-nav-link:after {
  transform: rotate(-90deg);
}

ul.menu--items > li.expandable.opened > span.tree-nav-link .shevron {
  right: auto;
  left: -20px;
}

ul.menu--items > li.expandable > ul.submenu--items {
  position: absolute;
  top: 42px;
  left: 50%;
  z-index: 1;

  display: none;
  padding: 16px;
  width: auto;
  max-height: calc(100vh - 144px);
  overflow: visible;

  box-shadow: rgb(0 0 0 / 0.3) 0 2px 10px;
  border-radius: 3px;
  background: cv("body", "white");

  line-height: 20px;
  transform: translateX(-50%);
}

ul.menu--items > li.expandable > ul.submenu--items li a {
  white-space: nowrap;
  color: cv("gray", "900");
}

ul.menu--items > li.expandable > ul.submenu--items li a:after {
  background-color: cv("gray", "900") !important;
  background-image: none !important;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("/img/icons/external--white.svg");
  mask-image: url("/img/icons/external--white.svg");
}

ul.menu--items > li.expandable > ul.submenu--items:before {
  content: "";

  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);

  border-bottom: solid 20px cv("body", "white");
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
}

ul.menu--items > li.expandable > ul.submenu--items > li + li {
  margin-top: 10px;
}

ul.menu--items > li.expandable > ul.submenu--items .menu--divider {
  margin: 15px 0;

  border: 1px solid cv("gray", "900");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons {
  display: flex;
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon {
  width: 20px;
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon svg {
  fill: cv("gray", "900");
}

ul.menu--items > li.expandable > ul.submenu--items .menu--icons .menu--icon + .menu--icon {
  margin-left: 15px;
}

@include media("<tablet") {
  ul.menu--items > li.expandable > ul.submenu--items {
    display: block;
  }
}

ul.menu--items > li.expandable:hover:before {
  content: "";

  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  height: 30px;
}

ul.menu--items > li.expandable:hover > ul.submenu--items {
  display: block;
}

ul.menu--items > li.expandable > a:after,
ul.menu--items > li.expandable > span:after {
  content: "";

  position: absolute;
  top: 9px;
  right: 0;

  width: 8px;
  height: 4px;

  background-image: url("/img/icons/chevron-down-gray.svg");
  background-repeat: no-repeat;
}

@include media("<desktop") {
  ul.menu--items > li.expandable > a:after,
  ul.menu--items > li.expandable > span:after {
    background-image: url("/img/icons/chevron-down-gray.svg");
  }
}
