ul.menu--items {
  display: flex;

  a.router-link-exact-active {
    color: cv('link');
    &:visited, &:active, &:focus {
      color: cv('link');
    }
  }

  > li + li {
    margin-left: 29px;
  }

  > li.expandable {
    position: relative;
    padding-right: 8px;

    > a,
    > span {
      padding-right: 10px;
    }

    > ul.submenu--items {
      display: none;
      background: cv('body', 'white');
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
      left: 50%;
      line-height: 20px;
      max-height: calc(100vh - 144px);
      overflow: visible;
      padding: 16px;
      position: absolute;
      top: 42px;
      transform: translateX(-50%);
      width: auto;

      li a {
        white-space: nowrap;
        color: cv('gray', '900'); 
        &:after {
          background-image: none !important;
          mask-repeat: no-repeat;
          mask-position: center;
          background-color: cv('gray', '900') !important;
          -webkit-mask-image: url("/img/icons/external--white.svg");
          mask-image: url("/img/icons/external--white.svg");
        }
      }
      
      @include media("<tablet") {
        display: block;
      }

      &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: solid 20px cv('body', 'white');
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
      }

      > li + li {
        margin-top: 10px;
      }

      .menu--divider {
        margin: 15px 0;
        border: 1px solid cv('gray', '900');
      }

      .menu--icons {
        display: flex;

        .menu--icon {
          width: 20px;

          svg {
            fill: cv('gray', '900');
          }
        }

        .menu--icon + .menu--icon {
          margin-left: 15px;
        }
      }
    }

    &:hover:before {
      content: "";
      height: 30px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
    }

    &:hover > ul.submenu--items {
      display: block;
    }
  }

  > li.expandable > a:after,
  > li.expandable > span:after {
    content: "";
    position: absolute;
    right: 0;
    top: 9px;
    background-image: url('/img/icons/chevron-down-gray.svg');
    background-repeat: no-repeat;
    width: 8px;
    height: 4px;

    @include media("<desktop") {
      background-image: url('/img/icons/chevron-down-gray.svg');
    }
  }
}
