.nutrition-facts {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  border: 1px solid #d7d7dc;
  border-radius: 4px;
}

.nutrition-facts .fact-item {
  display: flex;
  flex-direction: row;
  padding: 12px 24px;

  color: #212126;
  font-size: 14px;
}

.nutrition-facts .fact-item:not(:last-child) {
  border-bottom: 1px solid #d7d7dc;
}

.nutrition-facts .fact-item .fact-item-title {
  flex-basis: 35%;
  font-weight: 900;
}

.nutrition-facts .fact-item .fact-bullet-list {
  flex-basis: 65%;
}

.nutrition-facts .fact-item ul {
  list-style: initial;
}

.nutrition-facts .fact-item.none-list .fact-item-title {
  flex-basis: 33%;
}

.nutrition-facts .fact-item.none-list ul {
  list-style: none;
}
