.on-this-page {
  
  &-navigation {
    padding-right: 1rem;
    flex: 0 0 auto;
    color: cv('action');
    position: sticky;
    overflow-y: auto;
    top: 155px;

    @include media('>=tablet') {
      top: 150px;
    }
  }

  a:visited {
    color: cv('action');
  }

  .title {
    font-size: 1rem;
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    color: cv('gray', '900');
    font-weight: 600;
  }

  .links {
    border-left: 3px solid cv('gray', '200');
    padding-left: 1rem;
  }

  a.router-link-active {
    border-left: 3px solid cv('action', 'base');
    font-weight: 600;
  }

  ul {
    list-style: none;
    list-style-type: none;

    li {
      margin-left: 0;
      margin-bottom: 1rem;

      a.router-link-active {
        margin-left: -1.2rem;
        padding-left: 0.9rem;
      }

      ul {
        margin-top: 1rem;
         
        li {

          a.router-link-active {
            margin-left: -2.7rem;
            padding-left: 2.5rem;
          }

        }

      }

      a {
        text-decoration: none;
        display: block;
      }
    
    }
  
  }
  
}

.mobile-on-this-page {
  margin-bottom: $base-spacing;
  h3{
    &.mobile-header{
    font-size: 1rem;
  }}
  .vs--single.vs--open {
    .vs__selected{
      position: relative;
    }
  }
  .vs__dropdown-toggle{
    min-height: 45px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    .vs__selected-options{
      flex-basis: auto;
      padding: 0;
      max-width: 95%;
      .vs__selected{
        margin: 0;
        padding: 0;
      }
    }
    .vs__actions{
      padding: 0;
    }
    .vs__search{
      height: 0;
      margin: 0;
      padding: 0;
    }
  }
  .vs__dropdown-menu {
    overflow-x: hidden;
    border-top-style: initial;
    
    .vs__dropdown-option {
      padding: 0.7rem 1rem;
      border-bottom: 1px solid cv('gray', '100');
      width: 100%;
      .dropdown-item{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        &.subheading{
          margin-left: 1rem;
        }
      }
      &:last-child {
        border-bottom: none;
      }

      &--highlight {
        background: inherit;
        color: inherit;
        border: 1px solid cv('action');
      }
    }
  }
}
