.on-this-page-navigation {
  position: sticky;
  top: 175px;

  flex: 0 0 auto;
  padding-right: 1rem;
  overflow-y: auto;

  color: cv("action");
}

@include media(">=tablet") {
  .on-this-page-navigation {
    top: 170px;

    padding-bottom: 40px;
    min-height: 450px;
  }
}

.on-this-page a {
  padding: 3px 0;

  line-height: 1.2rem;
  color: cv("text");
}

.on-this-page a:visited {
  color: cv("text");
}

.on-this-page .title {
  margin-bottom: 14px;
  margin-left: 0.8rem;

  font-weight: 500;
  font-size: 1rem;
  color: cv("gray", "900");
}

.on-this-page .links {
  padding-left: 1rem;

  border-left: 3px solid cv("gray", "100");

  font-size: 14px;
}

.on-this-page a.router-link-active {
  border-left: 3px solid cv("action", "base");

  font-weight: 500;
  color: cv("link");
}

.on-this-page ul {
  list-style: none;
  list-style-type: none;
}

.on-this-page ul li {
  margin-bottom: 4px;
  margin-left: 0;
}

.on-this-page ul li a.router-link-active {
  margin-left: -1.2rem;
  padding-left: 0.9rem;
}

.on-this-page ul li ul {
  margin-top: 0;
  padding-left: 1rem;
}

.on-this-page ul li ul li a.router-link-active {
  margin-left: -2.7rem;
  padding-left: 2.5rem;
}

.on-this-page ul li a {
  display: block;

  text-decoration: none;
}

@include media("<desktop-xl") {
  .on-this-page {
    display: none;
  }
}

.mobile-on-this-page {
  margin-bottom: 0;
}

.mobile-on-this-page h3.mobile-header {
  margin: 10px 0 10px;

  font-size: 14px;
}

.mobile-on-this-page .vs--single.vs--open .vs__selected {
  position: relative;
}

.mobile-on-this-page .vs__dropdown-toggle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  min-height: 45px;

  border-color: cv("text", "darker");

  font-size: 14px;
}

.mobile-on-this-page .vs__dropdown-toggle .vs__selected-options {
  flex-basis: auto;
  padding: 0;
  max-width: 95%;
}

.mobile-on-this-page .vs__dropdown-toggle .vs__selected-options .vs__selected {
  margin: 0;
  padding: 0;
}

.mobile-on-this-page .vs__dropdown-toggle .vs__actions {
  padding: 0;
}

.mobile-on-this-page .vs__dropdown-toggle .vs__search {
  margin: 0;
  padding: 0;
  height: 0;
}

.mobile-on-this-page .vs__dropdown-toggle .vs__open-indicator {
  fill: cv("text", "darker");
}

.mobile-on-this-page .vs__dropdown-menu {
  z-index: 50;

  padding: 0;
  overflow-x: hidden;

  border-top-style: initial;
}

.mobile-on-this-page .vs__dropdown-menu .vs__dropdown-option {
  padding: 0.7rem 1rem;
  width: 100%;

  border: 1px solid transparent;
  border-bottom: 1px solid cv("gray", "100");

  color: cv("gray", "900");
}

.mobile-on-this-page .vs__dropdown-menu .vs__dropdown-option .dropdown-item {
  width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
}

.mobile-on-this-page .vs__dropdown-menu .vs__dropdown-option .dropdown-item.subheading {
  margin-left: 1rem;
}

.mobile-on-this-page .vs__dropdown-menu .vs__dropdown-option--highlight {
  border: 1px solid cv("action");
  background: inherit;

  color: inherit;
}

@include media(">=desktop-xl") {
  .mobile-on-this-page {
    display: none;
  }
}
