$blue: #163648;
$darkBlue: #153b56;
$darkerBlue: #142430;
$backgroundBlue: #182933;
$gray: #bbb;
$darkGray: #20313b;
$magenta: #e22866;

.pricing {
  background-color: $backgroundBlue;

  .pricing--container {
    max-width: 1003px;
  }

  h1 {
    color: white;
    font-size: 32px;
    font-weight: normal;
    line-height: 42px;
  }

  h2 {
    color: white;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 16px 0;
  }

  h3 {
    color: white;
    font-size: 22px;
    font-weight: 500;
  }

  h4 {
    color: $gray;
    font-size: 20px;
    font-weight: 500;

    a {
      color: $magenta;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  button {
    font: inherit;
  }

  .Button--red, .Button--whiteOutline {
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
  }

  .pricing--leader {
    margin: 0;
    text-align: left;
    padding: 64px 0;
  }

  h1.pricing--title {
    font-size: 32px;
    font-weight: normal;
    line-height: 42px;
    margin: 0 0 16px;
  }

  p.pricing--subtitle {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
    line-height: 31px;
    max-width: initial;
  }

  .pricing-collapsible-item {
    text-align: left;
    color: $gray;
    margin: 0 auto 15px;

    .pricing-collapsible-item-title {
      width: 100%;
      padding: 18px 50px 16px 24px;
      position: relative;
      color: white;
      background-color: #192d3a;
      border: 1.5px solid #2A4C63;
      border-radius: 6px;
      outline: none;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      line-height: 1em;
      cursor: pointer;

      &:hover {
        background-color: #007dc1;
      }
      &:before {
        content: '';
        background-image: url('/img/icons/icon--plus.svg');
        height: 14px;
        width: 14px;
        position: absolute;
        top: 19px;
        right: 18px;
        margin: auto;
        transform: rotate(0deg);
      }
    }

    .pricing-collapsible-item-content {
      background-color: #16262f;
      font-size: 16px;
      border: 1.5px solid #2A4C63;
      border-top: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      display: none;
    }

    &.is-active {
      .pricing-collapsible-item-title {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:hover {
          background-color: #115d8b;
        }
        &:before {
          transform: rotate(45deg);
        }
      }
      .pricing-collapsible-item-content {
        display: block;
      }
    }
  }

  .pricing--costs {
    flex-grow: 1;
    color: white;

    .pricing-section {
      padding: 40px 0 88px;
      display: flex;
    }

    .pricing-card {
      margin: 0 32px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .pricing-card-top {
      padding: 20px;
      background-color: #1F3B54;
      border-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      position: relative;
      flex-direction: column;

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .pricing-card-mau-lozenge {
        display: flex;
        position: absolute;
        top: 14px;
        right: 14px;
        font-size: 14px;
        border-radius: 40px;

        .lozenge {
          color: #8bc5eb;
          background-color: transparent;
          border: 0;
          outline: 0;
        }

        &.single {
          padding: 6px 12px;
          background-color: #20394a;
        }
        &.multiple {
          padding: 4px;
          background-color: #16262f;

          .lozenge {
            padding: 2px 8px;
            border-radius: 40px;
            cursor: pointer;

            &.active {
              background-color: #1f3b54;
              cursor: initial;
            }
          }
        }
      }

      .pricing-card-amount {
        font-size: 32px;
        margin: 0 0 10px 0;
      }

      .pricing-card-subtitle {
        color: $gray;
        font-size: 16px;
      }

      .Button--red {
        text-align: center;
      }
    }

    .pricing-card-bottom {
      color: $gray;
      padding: 20px;
      border-radius: inherit;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-size: 14px;

      ul {
        flex-grow: 1;
        list-style: none;
        padding: 0;

        li {
          background: url('/img/icons/icon--union.svg') no-repeat left center;
          padding: 0 5px 8px 25px;
          line-height: 1.5em;
          margin: 0;
        }
      }

      @include media('<tablet') {
        flex-direction: column;
      }
    }


    .pricing-card-intro {
      .pricing-card {
        flex-grow: 1;
        flex-basis: 0;
        border: 1px solid #2b4d63;
        border-radius: 15px;
        box-shadow: 0px 5px 25px rgba(11, 18, 22, 0.64);
      }

      @include media('<desktop') {
        .pricing-section {
          flex-direction: column;
        }

        .pricing-card {
        }
      }
    }
  }

  .pricing--editions {
    flex-grow: 1;

    .pricing-card-table {
      color: $gray;
      font-size: 16px;
    }

    .pricing-card-row {
      display: flex;
      border-top: 1px solid #2b4d63;
      margin: 0 24px;

      &:first-child {
        border: 0;
      }

      &.mobile {
        display: none;
      }

      &.desktop {
      }

      @include media('<desktop') {
        &.desktop {
          display: none;
        }
        &.mobile {
          display: block;
        }
      }
    }

    .pricing-card-column {
      background-color: #16262f;
      padding: 20px 15px;
      display: flex;
      flex-basis: 22%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      small {
        font-size: 12px;
        color: #999999;
      }

      @include media('<desktop') {
        &.desktop {
          display: none;
        }
      }

      &.alt {
        background-color: #122027;
      }

      &:first-child {
        flex-grow: 1;
      }

      &.pricing-card-row-header {
        padding-left: 0;
        align-items: flex-start;
      }
    }

    .pricing-card-section-header {
      border: 0;
    }

    .pricing-card-column-header {
      padding-top: 40px;
    }

    .pricing-card-section-header,
    .pricing-card-column-header {
      font-size: 18px;
      color: white;
    }

    img.pricing-card-check {
      width: 16px;
      height: 16px;
    }

    p {
      margin: 10px 0;
    }
  }

  .pricing--faq {
    text-align: left;
    margin: 0 auto 128px;
    flex-grow: 1;

    strong a {
      font-weight: 700;
    }
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }

    .pricing-faq-content {
      padding: 20px 24px;
    }
  }

  .pricing--questions {
    margin: 0 0 18px 0;
    color: white;

    p {
      font-size: 18px;
      color: $gray;
      max-width: initial;
    }
  }

  .pricing--footer {
    background-color: $darkBlue;
    flex-grow: 1;
    padding: 64px 0;
  }

  .pricing--background-curve {
    line-height: 0;
    img {
      width: 100%;
      height: 80px;
    }
  }
}
