$darkBlue: #153b56;
$darkerBlue: #142430;
$gray: #d3d2d6;
$darkGray: #20313b;

.pricing {
  background-color: $darkGray;

  h1, h2, h3, h4 {
    color: white;
  }

  h5 {
    color: $gray;
    font-weight: 500;
  }

  .Button--red {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .pricing--leader {
    margin: 0 auto;
    text-align: center;
    padding: 128px 0;
  }

  h1.pricing--title {
    letter-spacing: 4px;
    font-size: 44px;
    font-weight: 700;
    margin: 0 0 64px;
    line-height: 64px;
  }

  p.pricing--subtitle {
    color: $gray;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .pricing-alt--container {
    background-color: $darkBlue;
  }

  .pricing--costs {
    flex-grow: 1;

    .pricing-section {
      padding: 40px 0 88px;
    }

    .pricing-card {
      color: white;
      background-color: $darkerBlue;
      display: flex;
    }

    .pricing-card-column {
      padding: 30px;
    }

    .pricing-card-intro {
      .pricing-card {
        display: flex;
      }

      .pricing-card-column {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
          border-right: 2px solid #163648;
        }
      }

      @media(max-width: 859px) {
        .pricing-card {
          flex-direction: column;
        }

        .pricing-card-column {
          &:first-child {
            border-right: 0;
            border-bottom: 2px solid #163648;
          }
        }
      }
    }
  }

  .pricing--editions {
    flex-grow: 1;
    color: white;

    .pricing-card-row {
      background-color: $darkerBlue;
      display: flex;
    }

    .pricing-card-column {
      padding: 30px;
    }

    .pricing-card-table {
      .pricing-card-row {
        display: flex;
      }
      .pricing-card-column {
        flex-basis: 20%;

        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }

  .pricing--addons {
    text-align: center;
    margin: 0 auto;
    color: $gray;

    .pricing-addons-tile {
      display: block;
      background-color: $darkerBlue;
      text-align: left;
      padding: 20px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      img {
        margin-bottom: 7px;
        width: 30px;
        height: 30px;
      }
      p {
        color: white;
        font-size: 20px;
      }
    }
  }

  .pricing--faq {
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .pricing--questions {
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .pricing--footer {
    background-color: $darkBlue;
    text-align: center;
    flex-grow: 1;

    .pricing--footer--logos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        padding: 0 40px 30px;
      }
    }

    @media(max-width: 859px) {
      .pricing--footer--logos {
        flex-direction: column;
      }
    }
  }

  .pricing--background-curve {
    line-height: 0;
    img {
      width: 100%;
      height: 80px;
    }
  }
}
