.pricing {
  background-color: cv("body", "white");
}

.pricing .pricing--container {
  max-width: 1003px;
}
@include media("<tablet") {
  .pricing .pricing--container {
    padding: 0 10px;
  }
}

.pricing .pricing--leader {
  margin: 0;
  padding: 64px 0 0;

  text-align: left;
}

.pricing h1.pricing--title {
  margin: 0 0 16px;

  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
}

.pricing p.pricing--subtitle {
  max-width: initial;

  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
}

.pricing .selector-lozenge {
  display: flex;

  border-radius: 40px;

  font-size: 14px;
}

.pricing .selector-lozenge .lozenge {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.pricing .selector-lozenge.single {
  padding: 6px 12px;
}

.pricing .selector-lozenge.single .lozenge {
  flex-grow: 1;
}

.pricing .selector-lozenge.multiple {
  padding: 5px;
}

.pricing .selector-lozenge.multiple .lozenge {
  flex-grow: 1;
  padding: 2px 8px;

  border: 1px solid cv("blue", "900");
  border-radius: 40px;
  cursor: pointer;
}

.pricing .selector-lozenge.multiple .lozenge.active {
  background-color: cv("blue", "900");

  color: cv("gray", "000");
  cursor: initial;
}

.pricing .selector-lozenge.multiple.large {
  padding: 8px;
}

.pricing .selector-lozenge.multiple.large .lozenge {
  padding: 6px 8px;
}

.pricing .pricing-collapsible-item {
  margin: 0 auto 15px;

  text-align: left;
}

.pricing .pricing-collapsible-item:last-child {
  margin-bottom: 0;
}

.pricing .pricing-collapsible-item .pricing-collapsible-item-title {
  position: relative;

  padding: 18px 50px 16px 24px;
  width: 100%;

  outline: none;
  border: none;
  border-radius: 6px;
  background: cv("blue", "900");

  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  text-align: left;
  color: cv("body", "white");
  cursor: pointer;
}

.pricing .pricing-collapsible-item .pricing-collapsible-item-title::before {
  content: "";

  position: absolute;
  top: 19px;
  right: 18px;

  margin: auto;
  width: 14px;
  height: 14px;

  background-image: url("/img/icons/icon--plus.svg");
  transform: rotate(0deg);
}

.pricing .pricing-collapsible-item .pricing-collapsible-item-content {
  display: none;

  border: 1px solid cv("blue", "900");
  border-top: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: cv("body", "white");

  font-size: 16px;
}

.pricing .pricing-collapsible-item.is-active .pricing-collapsible-item-title {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.pricing .pricing-collapsible-item.is-active .pricing-collapsible-item-title::before {
  transform: rotate(45deg);
}

.pricing .pricing-collapsible-item.is-active .pricing-collapsible-item-content {
  display: block;
}

.pricing .pricing--costs {
  flex-grow: 1;
}

.pricing .pricing--costs .pricing-section {
  display: flex;
  padding: 30px 0;
}
@include media("<tablet") {
  .pricing .pricing--costs .pricing-section {
    flex-direction: column;
  }
}

.pricing .pricing--costs .pricing-card {
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 32px 0 0;

  box-shadow: 0 5px 25px rgb(0 0 0 / 0.25);
  border: 1px solid cv("blue", "900");
  border-radius: 15px;
}

.pricing .pricing--costs .pricing-card:last-child {
  margin-right: 0;
}
@include media("<desktop") {
  .pricing .pricing--costs .pricing-card {
    margin-right: 20px;
  }
}
@include media("<tablet") {
  .pricing .pricing--costs .pricing-card {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.pricing .pricing--costs .Button--red,
.pricing .pricing--costs .Button--redOutline {
  text-align: center;
}

.pricing .pricing--costs .pricing-card-top {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 20px;

  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.pricing .pricing--costs .pricing-card-top .selector-lozenge {
  position: absolute;
  top: 14px;
  right: 14px;
}
@include media("<desktop") {
  .pricing .pricing--costs .pricing-card-top .selector-lozenge {
    position: initial;

    margin-bottom: 20px;
  }
}
@include media("<tablet") {
  .pricing .pricing--costs .pricing-card-top .selector-lozenge {
    position: absolute;

    margin-bottom: 0;
  }
}

.pricing .pricing--costs .pricing-card-top h3 {
  margin-top: 1rem;
  margin-bottom: 10px;

  font-size: 18px;
}

.pricing .pricing--costs .pricing-card-top .pricing-card-amount {
  margin: 0 0 10px 0;

  font-size: 32px;
}

.pricing .pricing--costs .pricing-card-top .pricing-card-subtitle {
  height: 4.5em;

  font-size: 16px;
  line-height: 1.5em;
}
@include media("<desktop") {
  .pricing .pricing--costs .pricing-card-top .pricing-card-subtitle {
    height: 6.5em;
  }
}
@include media("<tablet") {
  .pricing .pricing--costs .pricing-card-top .pricing-card-subtitle {
    height: auto;
  }
}

.pricing .pricing--costs .pricing-card-bottom {
  padding: 20px;

  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  font-size: 14px;
}

.pricing .pricing--costs .pricing-card-bottom ul {
  flex-grow: 1;
  list-style: none;

  padding: 0;
}

.pricing .pricing--costs .pricing-card-bottom ul li {
  margin: 0 0 8px;
  padding: 0 5px 0 25px;

  background: url("/img/icons/icon--union.svg") no-repeat left center;

  line-height: 1.5em;
}
@include media("<tablet") {
  .pricing .pricing--costs .pricing-card-bottom {
    flex-direction: column;
  }
}

.pricing .pricing--plans {
  flex-grow: 1;
}

.pricing .pricing--plans .pricing-card-table {
  font-size: 16px;
}
@include media("<tablet") {
  .pricing .pricing--plans .pricing-card-table {
    background-image: none;

    font-size: 14px;
  }
}

.pricing .pricing--plans .selector-lozenge {
  flex-grow: 1;
  margin: 24px 0;
}

.pricing .pricing--plans .pricing-card-row {
  display: flex;
  margin: 0 24px;

  border-top: 1px solid cv("blue", "900");
}

.pricing .pricing--plans .pricing-card-row.no-border {
  border: 0;
}

.pricing .pricing--plans .pricing-card-column {
  display: flex;
  flex-basis: 22%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;

  text-align: center;
}

.pricing .pricing--plans .pricing-card-column small {
  font-size: 12px;
}

.pricing .pricing--plans .pricing-card-column:first-child {
  flex-grow: 1;
}

.pricing .pricing--plans .pricing-card-column.pricing-card-row-header {
  align-items: flex-start;
  padding-left: 0;

  background-color: transparent;

  text-align: left;
}
@include media("<tablet") {
  .pricing .pricing--plans .pricing-card-column {
    flex-basis: 50%;
  }
}

.pricing .pricing--plans .showInMobile {
  display: none;
}

.pricing .pricing--plans .pricing-card-section-header {
  border: 0;
}

.pricing .pricing--plans .pricing-card-column-header {
  padding-top: 40px;
}

.pricing .pricing--plans .pricing-card-section-header,
.pricing .pricing--plans .pricing-card-column-header {
  font-size: 18px;
}
@include media("<tablet") {
  .pricing .pricing--plans .pricing-card-section-header,
  .pricing .pricing--plans .pricing-card-column-header {
    font-size: 16px;
  }
}

.pricing .pricing--plans img.pricing-card-check {
  width: 16px;
  height: 16px;
}

.pricing .pricing--plans p {
  margin: 10px 0;
}
@include media("<tablet") {
  .pricing .pricing--plans .showInMobile {
    display: flex;
  }

  .pricing .pricing--plans .hideInMobile {
    display: none;
  }
}

.pricing .pricing--faq {
  flex-grow: 1;
  margin: 40px auto;

  text-align: left;
}

.pricing .pricing--faq strong a {
  font-weight: 500;
}

.pricing .pricing--faq a:hover {
  text-decoration: underline;
}

.pricing .pricing--faq .pricing-faq-content {
  padding: 20px 24px;
}

.pricing .pricing--questions {
  margin: 0;
}

.pricing .pricing--questions p {
  max-width: initial;

  font-size: 18px;
}

.pricing .pricing--footer {
  flex-grow: 1;
  padding: 60px 0 0;
}

.pricing .company-logos--wrapper h1 {
  color: cv("text", "darker");
}
