$blue: #163648;
$darkBlue: #153b56;
$darkerBlue: #142430;
$gray: #d3d2d6;
$darkGray: #20313b;

.pricing {
  background-color: $darkGray;

  h1, h2, h3, h4 {
    color: white;
  }

  h3 {
    color: white;
    font-size: 22px;
    font-weight: 500;
  }

  h4 {
    color: $gray;
    font-size: 20px;
    font-weight: 500;
  }

  .Button--red, .Button--whiteOutline {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .pricing--leader {
    margin: 0 auto;
    text-align: center;
    padding: 128px 0;
  }

  h1.pricing--title {
    letter-spacing: 4px;
    font-size: 44px;
    font-weight: 700;
    margin: 0 0 64px;
    line-height: 64px;
  }

  p.pricing--subtitle {
    color: $gray;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  ul.pricing--icon-list {
    list-style: disc outside url('/img/icons/icon--check.svg');
    padding-left: 25px;
    li {
      padding: 10px;
    }
  }

  .pricing-alt--container {
    background-color: $darkBlue;
  }

  .pricing--costs {
    flex-grow: 1;
    color: $gray;

    .pricing-section {
      padding: 40px 0 88px;
    }

    .pricing-card {
      background-color: $darkerBlue;
      display: flex;
    }

    .pricing-card-column {
      padding: 30px;
    }

    .pricing-card-lists {
      display: flex;
      ul {
        flex-grow: 1;
      }
    }

    .pricing-card-price {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;

      .pricing-card-amount {
        font-size: 40px;
        font-weight: 400;
        color: #007dc1;
        margin: 0 10px 0 0;
        line-height: 1em;
      }
    }

    .pricing-card-intro {
      .pricing-card {
        display: flex;
      }

      .pricing-card-column {
        flex-grow: 1;
        flex-basis: 0;

        &:first-child {
          border-right: 2px solid $blue;
        }
      }

      @media(max-width: 859px) {
        .pricing-card {
          flex-direction: column;
        }

        .pricing-card-column {
          &:first-child {
            border-right: 0;
            border-bottom: 2px solid $blue;
          }
        }
      }
    }
  }

  .pricing--editions {
    flex-grow: 1;
    color: $gray;

    .Button--red, .Button--whiteOutline {
      font-size: 12px;
      margin-top: auto;
    }

    .pricing-card-row {
      background-color: $darkerBlue;
      display: flex;
      border-bottom: 2px solid $blue;

      &:last-child {
        border-bottom: 0;
      }
    }

    .pricing-card-column {
      padding: 10px 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .pricing-card-header {
      .pricing-card-column {
        padding: 30px;
        justify-content: flex-start;
      }
    }

    .pricing-card-table {
      .pricing-card-row {
        display: flex;
      }
      .pricing-card-column {
        flex-basis: 22%;

        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }

  .pricing--addons {
    text-align: center;
    margin: 0 auto;
    color: $gray;

    .pricing-addons-tile {
      display: block;
      background-color: $darkerBlue;
      text-align: left;
      padding: 20px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      img {
        margin-bottom: 7px;
        width: 30px;
        height: 30px;
      }
      p {
        color: white;
        font-size: 20px;
      }
    }
  }

  .pricing--faq {
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .pricing--questions {
    text-align: center;
    margin: 0 auto;
    color: white;
  }

  .pricing--footer {
    background-color: $darkBlue;
    text-align: center;
    flex-grow: 1;

    .pricing--footer--logos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      img {
        padding: 0 40px 30px;
      }
    }

    @media(max-width: 859px) {
      .pricing--footer--logos {
        flex-direction: column;
      }
    }
  }

  .pricing--background-curve {
    line-height: 0;
    img {
      width: 100%;
      height: 80px;
    }
  }
}
