.quickstart--content .code-selector {
  margin-top: $base-spacing;
  margin-bottom: 10px;
  padding: 20px;

  border-radius: 5px;
  background-color: cv("header", "base");
}

.quickstart--content .code-selector a {
  position: relative;

  display: inline-block;
  margin-right: 20px;
  padding-right: 15px;
  padding-left: 15px;
  height: 42px;

  line-height: 32px;
  text-decoration: none;
  color: cv("gray", "000");
}

.quickstart--content .code-selector a:hover {
  cursor: pointer;

  text-decoration: none;
}

.quickstart--content .code-selector a.active,
.quickstart--content .code-selector a:hover {
  border-bottom: 2px solid cv("gray", "000");
}

.quickstart--content .code-selector a .icon {
  position: absolute;
  left: 5px;
}

.quickstart--content .code-selector h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-weight: 100;
  font-size: 18px;
  color: cv("gray", "000");
}

.quickstart--content .code-selector li {
  margin-bottom: $base-spacing;
}

.quickstart--content .code-selector li.with-icon a {
  padding-left: 45px;
}

.quickstart--content .code-selector ul {
  margin: 0;
  padding: 0;
}

.quickstart--content .code-selector ul li {
  display: inline-block;

  list-style-type: none;
}
