.redesign-homepage{
  background-color: #182a33;
  font-family: $font-family;
  min-height: 100vh;
  color: #ffffff;
  overflow: hidden;
  &--col-no-padding.col-lg-2,
  &--col-no-padding.col-xl-2{
    padding: 0px 0px;
  }
  
  .row{
    height: auto;
  }
  
  &--elevated{
    z-index: 11;
  }

  .row.justify-content-around.no-wrap,
  .row.justify-content-between.no-wrap{
    flex-wrap: nowrap;
  }

  &--selector-block-margin{
    margin-bottom: 80px;
    @include media("<=bootstrap-xl"){
      margin-bottom: 30px;
    }
  }

  &--assurance-block-margin{
    margin-bottom: 90px;
  }

  &--partners-block-margin{
    margin-bottom: 50px;
    @include media("<=bootstrap-xl"){
      margin-bottom: 0px;
    }
  }

  &--customize-your-app-margin.row{
    margin-bottom: 10px;
  }

  &--color-main{
    color: #ffffff;
  }
  &--color-sub{
    color: #92999E;
  }
  &--main-heading{
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 60px;
    @include media("<=bootstrap-md"){
      text-align: center;
    }
  }

  &--sub-heading{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    @include media("<=bootstrap-md"){
      text-align: center;
    }
  }

  &--centered-md{
    @include media("<=bootstrap-lg"){
      text-align: center;
    }
  }

  &--sub-heading-disclaimer{
    font-size: 18px;
    margin-bottom: 30px;
    @include media("<=bootstrap-md"){
      text-align: center;
    }
    &:last-child{
      margin-bottom: 30px;
    }
  }

  &--code-example{
    height: 400px; 
    background-color: #16262F;
    border: 1.5px solid #2A4C63;
    border-radius: 10px;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 33px 30px -26px rgba(18,30,36,1);
    margin-bottom: 30px;
  }

  &--live-widget{
    background-color: #ffffff;
    border: 1px solid #CECECE;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 33px 30px -26px rgba(18,30,36,1);
    margin-bottom: 60px;
    overflow: hidden;
  }

  &--partner-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;
      position: relative;
    >img{
      width: auto !important;
      max-height: 40px !important;
    }
  }

  &--backgrounds{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    width: 100%;
    height: 600px;
    z-index: 0;
    overflow: hidden;

      &--top-layer{
        background-color: #1a2f3b;
        height: 63px;
        position: relative;
        z-index: -1;
        transform: rotate(2deg) scale(1.1);
        &::before{
          content: "";
          position: absolute;
          top: -100%;
          width: 100%;
          height: 70px;
          background: linear-gradient(#1e3645, #1a2f3b);
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
        }
      }
        &--bottom-layer{
          background-color: #203b54;
          position: relative;
          z-index: 1;
          height: 65%;
          width: 100%;
          border-bottom-right-radius: 50%;
          transform: rotate(1.5deg) scaleX(1.2) scaleY(1.2) translateY(60px) translateX(-8%);
          margin-bottom: 67px;
          &::before{
            content: "";
            position: absolute;
            top: -27%;
            width: 103%;
            height: 28%;
            background-color: #203b54;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
          }
        }
        &--circle{
          content: "";
          position: absolute;
          bottom: 0px;
          right: 0;
          transform: translate(25%, 25%);
          width: 400px;
          height: 400px;
          background-color: #DD2864;
          border-radius: 50%;
          z-index: 0;
        }
    }
}
 
