.redesign-homepage{
  background-color: #182a33;
  font-family: $font-family;
  min-height: 100vh;
  color: #ffffff;
  overflow: hidden;
  &--col-no-padding.col-lg-2,
  &--col-no-padding.col-xl-2{
    padding: 0px 0px;
  }
  
  .row{
    height: auto;
  }
  
  &--elevated{
    z-index: 11;
  }

  .row.justify-content-around.no-wrap,
  .row.justify-content-between.no-wrap{
    flex-wrap: nowrap;
  }

  &--selector-block-margin{
    margin-bottom: 80px;
    @include media("<=bootstrap-xl"){
      margin-bottom: 30px;
    }
  }

  &--assurance-block-margin{
    margin-bottom: 90px;
  }

  &--partners-block-margin{
    margin-bottom: 50px;
    @include media("<=bootstrap-xl"){
      margin-bottom: 0px;
    }
  }

  &--customize-your-app-margin.row{
    margin-bottom: 80px;
    min-height: 600px;
  }

  &--color-main{
    color: #ffffff;
  }
  &--color-sub{
    color: #92999E;
  }
  &--main-heading{
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 60px;
    @include media("<=bootstrap-md"){
      text-align: center;
    }
  }

  &--sub-heading{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
    @include media("<=bootstrap-md"){
      text-align: center;
    }
  }

  &--centered-md{
    @include media("<=bootstrap-lg"){
      text-align: center;
    }
  }

  &--sub-heading-disclaimer{
    font-size: 18px;
    margin-bottom: 30px;
    @include media("<=bootstrap-md"){
      text-align: center;
    }
    &:last-child{
      margin-bottom: 30px;
    }
  }

  &--code-example{
    height: 500px; 
    background-color: #16262F;
    border: 1.5px solid #2A4C63;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 33px 30px -26px rgba(18,30,36,1);
    margin-bottom: 30px;
    overflow: hidden;
    &--header{
      height: 50px;
      background: #192e3a;
      padding: 10px 20px;
      font-size: 16px;
    }
    &--cm-wrapper{
      height: 450px;
      .vue-codemirror{
        height: 100%;
      }
      .CodeMirror{
        height: 100%;
      }
    }
  }

  &--live-widget{
    background-color: #f9f9f9;
    border: 1px solid #CECECE;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 33px 30px -26px rgba(18,30,36,1);
    margin-bottom: 60px;
    overflow: hidden;
    min-height: 500px;
  }

  &--welcome-leia{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
    color: #3d3d3d;
    height: 500px;
    padding: 10% 15%;
    @include media('<=bootstrap-md'){
      padding: 10px
    }
    &--header {
      font-size: 26px;
      animation: moveToRight .6s ease both;
      text-align: center;
    }
    &--info{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: #5D5D5D;
    }
    &--actions {
      display: flex;
      flex-direction: row;
      @include media('<=bootstrap-md'){
        flex-direction: column;
      }
      .act-btn{
        display: block;
        font-size: 13px;
        margin-right: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0;
        color: inherit;
        display: block;
        padding: 10px 40px;
        text-decoration: none;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:hover, &:active, &:focus { 
          color: inherit;
        }
      }
      &--cta.act-btn{
        background: #e22866;
        border-color: #e22866;
        color: #ffffff;
        &:hover{
          color: #ffffff;
        }
      }
      &--docs.act-btn{
        color: #e22866;
        border-color: #e22866;
        &:hover{
          background: #e22866;
          border-color: #e22866;
          color: #ffffff;
        }
      }

    }
    &--close{
      text-transform: uppercase;
      letter-spacing: 1px;
      position: absolute;
      top: 20px;
      right: 20px;
      color: #20313B !important;
      z-index: 1;
      cursor: pointer;
    }
  }

  &--partner-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;
      position: relative;
    >img{
      width: auto !important;
      max-height: 40px !important;
    }
  }

  &--backgrounds{
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    width: 100%;
    height: 600px;
    z-index: 0;
    overflow: hidden;

      &--top-layer{
        background-color: #1a2f3b;
        height: 63px;
        position: relative;
        z-index: -1;
        transform: rotate(2deg) scale(1.1);
        &::before{
          content: "";
          position: absolute;
          top: -100%;
          width: 100%;
          height: 70px;
          background: linear-gradient(#1e3645, #1a2f3b);
          border-top-left-radius: 50%;
          border-top-right-radius: 50%;
        }
      }
        &--bottom-layer{
          background-color: #203b54;
          position: relative;
          z-index: 1;
          height: 65%;
          width: 100%;
          border-bottom-right-radius: 50%;
          transform: rotate(1.5deg) scaleX(1.2) scaleY(1.2) translateY(60px) translateX(-8%);
          margin-bottom: 67px;
          &::before{
            content: "";
            position: absolute;
            top: -27%;
            width: 103%;
            height: 28%;
            background-color: #203b54;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
          }
        }
        &--circle{
          content: "";
          position: absolute;
          bottom: 0px;
          right: 0;
          transform: translate(25%, 25%);
          width: 400px;
          height: 400px;
          background-color: #DD2864;
          border-radius: 50%;
          z-index: 0;
        }
    @include media("<=bootstrap-md"){
      height: 50%;
      &--top-layer{
        height: 96px;
        &::before{
          width: 112%;
        }
      }
      &--bottom-layer{
        margin-bottom: 0;
        height: 83%;
        border-bottom-right-radius: 0%;
        
        transform: rotate(1.5deg) scaleX(1.2) scaleY(1.2) translateY(60px) translateX(0%);
        &::before{
            height: 50px;
            top: -2%;
        }
      }
      &--circle{
        display: none;
      }
    }    
    }
}
 
@keyframes moveToRight {
  from { transform: translateY(10px);}
  to {  }
}
