.reference {

  &--container {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    .header-anchor {
      display: none;
    }
  }

  &--list {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    flex-wrap: wrap;

    @include media('>=tablet') {
      flex-direction: row;
    }

    li {
      margin-right: 1.3rem;
      margin-bottom: 1.0rem;
    }

    img {
      width: 1.4em;
      height: 1.4em;
      margin-right: 0.4em;
    }

    a {
      display: flex;
      color: cv('action');
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }

  &--sections {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;

    @include media('>=tablet') {
      flex-direction: row;

      > div {
        flex: 1;
      }
    }
  }

}
