.reference--container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.reference--container .header-anchor {
  display: none;
}

.reference--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 20rem;
}

.reference--list li {
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}

.reference--list img {
  margin-right: 0.4em;
  width: 1.4em;
  height: 1.4em;
}

.reference--list a {
  display: flex;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: cv("action", "base");
}

@include media(">=tablet") {
  .reference--list {
    flex-direction: row;
  }
}

.reference--sections {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

@include media(">=tablet") {
  .reference--sections {
    flex-direction: row;
  }

  .reference--sections > div {
    flex: 1;
  }
}
