.reference--container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

.reference--container .header-anchor {
  display: none;
}

.reference--list {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  flex-wrap: wrap;

  @include media(">=tablet") {
    flex-direction: row;
  }
}

.reference--list li {
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}

.reference--list img {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.4em;
}

.reference--list a {
  display: flex;

  color: cv("action");
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reference--sections {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;

  @include media(">=tablet") {
    flex-direction: row;
  }
}

.reference--sections > div {
  @include media(">=tablet") {
    flex: 1;
  }
}
