.brand_font {
  font-weight: 400;
  font-style: normal;
  font-family: $font-family;
}

#SearchPage {
  position: relative;

  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  max-width: 1280px;
}

#SearchPage .coveo-main-section {
  max-width: 100%;
}

#SearchPage .coveo-results-column {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

#SearchPage .coveo-results-column.coveo-no-results {
  margin: 0 auto;
}

#SearchPage .coveo-facet-column {
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
}

#SearchPage .coveo-facet-column p {
  visibility: hidden;
}

#SearchPage #sourceFilter {
  margin-top: 0;
}

#SearchPage .coveo-result-row {
  margin: 14px 0;
}

#SearchPage .coveo-result-row.is-primary {
  margin: 12px 0;
}

#SearchPage .coveo-result-row.is-secondary {
  margin: 12px 0 16px 0;
}

#SearchPage .coveo-facet-header {
  padding-top: 0;

  background: none;

  color: cv("text", "darker");

  @extend .brand_font;
}

#SearchPage .coveo-facet-header-title {
  display: none;
}

#SearchPage .coveo-facet-header-settings-section,
#SearchPage .coveo-facet-header-wait-animation {
  @include is-visually-hidden;
}

#SearchPage .CoveoQuerySummary,
#SearchPage .coveo-summary-section {
  font-weight: 400;
  color: cv("text", "base");

  @extend .brand_font;
}

#SearchPage .CoveoQuerySummary .coveo-highlight,
#SearchPage .coveo-summary-section .coveo-highlight {
  font-weight: 400;
}

#SearchPage .coveo-facet-value {
  padding: 0;
}

#SearchPage .coveo-facet-value:last-child {
  margin-bottom: 0;
}

#SearchPage .coveo-facet-value .coveo-facet-value-checkbox {
  top: -1px;

  margin-right: 8px;
  width: 16px;
  height: 16px;

  border-color: cv("form", "input-border");
  border-radius: 4px;
}

#SearchPage .coveo-facet-value.coveo-selected .coveo-facet-value-checkbox {
  background-color: cv("link", "base");
}

#SearchPage .coveo-facet-value.coveo-selected .coveo-facet-value-checkbox svg {
  stroke-width: 2;
  fill: $white;
}

#SearchPage .coveo-facet-value .coveo-facet-value-checkbox-svg .coveo-hook-svg {
  fill: $white;
}

#SearchPage .coveo-facet-value:hover {
  background: none;
}

#SearchPage .coveo-facet-value:hover .coveo-facet-value-checkbox-svg .coveo-hook-svg {
  fill: cv("link", "base");
}

#SearchPage .coveo-facet-value.coveo-selected .coveo-facet-value-caption {
  color: cv("text", "darker");
}

#SearchPage .coveo-facet-value.coveo-selected:hover .coveo-facet-value-checkbox-svg .coveo-hook-svg {
  fill: $white;
}

#SearchPage .coveo-facet-search-button,
#SearchPage .coveo-facet-value-exclude,
#SearchPage .coveo-facet-value-count {
  @include is-visually-hidden;
}

#SearchPage .coveo-facet-values {
  margin-bottom: 48px;
  padding-bottom: 48px;

  border-bottom: 1px solid cv("body", "border");
}

#SearchPage .coveo-facet-value-caption {
  margin: 0 0 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: cv("text", "darker");
  height: 18px;
}

#SearchPage .coveo-pager-list-item,
#SearchPage .coveo-pager-list-item-text,
#SearchPage .coveo-pager-anchor,
#SearchPage .coveo-active {
  border: none;
  background: none;

  font-weight: 500;
  text-decoration: none;
  color: cv("link", "base");

  @extend .brand_font;
}

#SearchPage .coveo-pager-list {
  display: flex;
  margin-left: -5px;
}

#SearchPage .coveo-pager-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  border-radius: 3px;

  font-weight: 500;
  font-size: 16px;

  @extend .brand_font;
}

#SearchPage .coveo-pager-list-item:hover {
  border: none;

  text-decoration: none;
  color: cv("link", "base");
}

#SearchPage .coveo-facet-footer {
  display: none;
}

#SearchPage .coveo-active:hover,
#SearchPage .coveo-active > .coveo-pager-anchor {
  text-decoration: none;
  color: cv("text", "darker");
}

#SearchPage .coveo-pager-next,
#SearchPage .coveo-pager-previous {
  border: 1px solid cv("link", "base");
  border-radius: 3px;
}

#SearchPage .coveo-pager-next:hover,
#SearchPage .coveo-pager-previous:hover {
  border: 1px solid cv("link", "base");
}

#SearchPage .coveo-pager-next-icon,
#SearchPage .coveo-pager-previous-icon {
  display: flex;
  width: 100%;
  height: 100%;
}

#SearchPage .coveo-pager-next-icon-svg,
#SearchPage .coveo-pager-previous-icon-svg {
  height: 9px;

  color: cv("link", "base");
}

#SearchPage .coveo-results-header {
  margin: 0;
  padding: 0;
}

#SearchPage .CoveoSearchInterface,
#SearchPage .CoveoSearchInterface * {
  @extend .brand_font;
}

#SearchPage .CoveoResultList {
  margin-top: 0;
}

#SearchPage .CoveoResultLink {
  @extend .brand_font;
}

#SearchPage .CoveoResultLink,
#SearchPage .CoveoResultLink:visited {
  font-weight: 500;
  font-size: 16px;
  color: cv("link", "base");
}

#SearchPage .CoveoResultLink:hover,
#SearchPage .CoveoResultLink:focus {
  color: cv("link", "base");
  cursor: pointer;
}

#SearchPage .CoveoResultLink.coveo-printable-uri-part {
  font-weight: 400;
  font-size: 14px;
  color: cv("text", "base");
}

#SearchPage .is-secondary .CoveoResultLink {
  outline: none;

  font-size: 14px;
  color: cv("text", "base");
}

#SearchPage .is-secondary .CoveoResultLink:hover,
#SearchPage .is-secondary .CoveoResultLink:focus,
#SearchPage .is-secondary .CoveoResultLink:visited {
  color: cv("text", "base");
  cursor: pointer;
}

#SearchPage .is-external-link {
  $icon-size: 0.6em;
  padding-right: calc(#{$icon-size} + 5px);

  background-image: url("/img/icons/external--gray.svg");
  background-position: 100% 50%;
  background-size: $icon-size;
  background-repeat: no-repeat;
}

#SearchPage .CoveoExcerpt {
  font-size: 16px;
  line-height: 1.5;
  color: cv("text", "base");

  @extend .brand_font;
}

#SearchPage .CoveoPrintableUri {
  padding: 0;
}

#SearchPage .CoveoResult {
  padding: 5px 0;

  border: none;

  color: cv("text", "base");

  @extend .brand_font;
}

#SearchPage .CoveoFacet {
  margin-top: 0;

  border: none;
  background: none;

  font-weight: 700;

  @extend .brand_font;
}

#SearchPage .CoveoFieldValue {
  @extend .brand_font;
}

#SearchPage .CoveoFieldValue .highlight {
  display: inline-block;
  padding: 7px;

  border-radius: 4px;
  background: cv("text", "background");

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: cv("text", "darker");
}

#SearchPage .CoveoFieldValue .highlight .coveo-clickable {
  font-weight: 400;
  text-decoration: none;
  color: cv("text", "darker");
}

#SearchPage .CoveoFieldValue.date span {
  margin: 0;

  font-size: 14px;
  color: cv("text", "base");
}

#SearchPage .coveo-dropdown-header-wrapper {
  justify-content: flex-start;
}

#SearchPage .coveo-dropdown-header-wrapper .coveo-facet-dropdown-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;

  @extend .brand_font;
}

#SearchPage .coveo-dropdown-header-wrapper .coveo-facet-dropdown-header > p {
  font-weight: 400;

  @extend .brand_font;
}

#SearchPage .CoveoPager {
  margin-left: 0;
  padding: 10px 0 20px;
}

#SearchPage .CoveoPager + .coveo-facet-help {
  display: none;
}

#SearchPage .CoveoBreadcrumb {
  padding: 5px 0;

  border-color: cv("text", "base");

  @extend .brand_font;
}

#SearchPage .coveo-facet-column-heading {
  margin: 0 0 20px;

  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: cv("text", "darker");

  @extend .brand_font;
}

#SearchPage .coveo-facet-help {
  padding-right: 60px;
}

#SearchPage .coveo-facet-help p {
  visibility: visible;

  color: cv("text", "darker");

  @extend .brand_font;
}

#SearchPage .coveo-facet-help a {
  color: cv("link", "base");
}

#SearchPage .coveo-facet-help a:hover {
  color: cv("link", "base");
}

#SearchPage .u-mb-0 {
  margin-bottom: 0;
}

#SearchPage .u-mt-0 {
  margin-top: 0;
}

@include media("<desktop") {
  #SearchPage .coveo-results-column {
    padding-left: 0;
  }

  #SearchPage .coveo-facet-value.coveo-no-state .coveo-facet-value-checkbox-svg {
    visibility: hidden;
  }
}

@include media("<tablet") {
  #SearchPage {
    padding-top: 100px;
  }

  #SearchPage .coveo-main-section {
    display: flex;
    flex-direction: column;
  }

  #SearchPage .coveo-results-header {
    margin: 0 0 25px;
  }

  #SearchPage .coveo-facet-column,
  #SearchPage .coveo-results-column {
    width: 100%;
  }

  #SearchPage .coveo-facet-values {
    margin-bottom: 0;
    padding-bottom: 25px;
  }

  #SearchPage .coveo-facet-column {
    float: none;
    margin: 0;
    padding: 0;
  }

  #SearchPage .coveo-facet-column .coveo-facet-header,
  #SearchPage .coveo-facet-column .coveo-facet-values,
  #SearchPage .coveo-facet-column .coveo-facet-value {
    margin-left: 0;
    padding-left: 0;
  }

  #SearchPage .CoveoResultList {
    margin-right: 0;
    margin-left: 0;
  }

  #SearchPage .CoveoFacet + .coveo-facet-help {
    display: none;
  }

  #SearchPage .CoveoPager + .coveo-facet-help {
    display: block;
    padding-top: 30px;
  }
}

@include media("<phone") {
  #SearchPage {
    min-width: 100%;
  }
}
