.SearchBox .CoveoOmnibox {
  width: 85%;
  max-width: 710px;
  height: 45px;

  border-color: #b7bcc0;
}

@include media("<desktop") {
  .SearchBox .CoveoOmnibox {
    width: 100%;
    max-width: 100%;
  }
}

.SearchBar {
  top: 0;
  left: 0;
}

.SearchBar .Wrap {
  width: 100%;
}

@include media(">desktop") {
  .SearchBar {
    top: 95px;
  }
}

@include media(">859px") {
  .SearchBar {
    top: 75px;
  }
}

.search--wrapper {
  position: relative;

  width: 100%;

  border-radius: 4px;
  background-color: transparent !important;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input::before {
  content: "ï€‚";

  position: absolute;
  top: 13px;
  left: 10px;

  font: 13px "FontAwesome";
  color: cv("header", "base");

  @include media(">desktop") {
    content: none;
  }
}

.dark-theme .search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input::before {
  z-index: 1;

  color: var(--c-border-light);
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input {
  height: 38px;

  border-radius: none;

  @include media(">desktop") {
    height: 48px;
  }
}

.search--wrapper .input--icon {
  position: absolute;
  top: 11px;
  left: 12px;

  width: 15px;
  height: 15px;
}

.search--wrapper .SearchBox.CoveoSearchInterface {
  min-width: initial;
  max-width: initial;
}

.search--wrapper .SearchBox .search--form {
  display: flex;
  height: 48px;
}

.search--wrapper .SearchBox .search--form .CoveoSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 94px;
  height: auto;

  border: none;
  border-left: 2px solid cv("header", "base");

  font-weight: 600;
  font-size: 14px;
  line-height: 1em;
  color: cv("header", "base");
}

.search--wrapper .SearchBox .search--form .CoveoSearchButton:before {
  display: none;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box {
  width: 100%;

  border: none;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input .magic-box-clear:before {
  border-left: none;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input .magic-box-clear .magic-box-icon:before {
  display: none;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input .magic-box-underlay {
  position: relative;

  padding-right: 12px;
  padding-left: 40px;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-input input {
  padding-right: 12px;
  padding-left: 30px;
  height: 38px;

  font-size: 16px;
  font-family: inherit;
  letter-spacing: 0.02em;
  color: #212121;

  @include media(">desktop") {
    padding-right: 20px;
    padding-left: 44px;
    height: 48px;

    background-color: #222221 !important;
    background-image: url("/img/icons/search-icon.svg");
    background-position: left 19px center;
    background-repeat: no-repeat;

    color: rgb(255 254 250 / 0.7);
  }
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box.magic-box-notEmpty .magic-box-clear {
  position: relative;

  width: 48px;

  background-image: url("/img/icons/icon--close.svg");
  background-position: 50%;
  background-size: 30%;
  background-repeat: no-repeat;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box.has-suggestions-hidden .magic-box-suggestions {
  display: none !important;
}

.search--wrapper .SearchBox .CoveoOmnibox.magic-box .magic-box-suggestion {
  font-size: 14px;
}

@include media("<desktop") {
  .search--wrapper {
    height: 40px;

    border: 1px solid cv("body", "border");
    border-radius: 2px;
  }
}

.Searchbox__button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding-right: 20px;

  background-color: var(--c-gray-950);
}

.magic-box .magic-box-input .magic-box-underlay {
  height: 38px;

  @include media(">desktop") {
    height: 48px;
  }
}

.magic-box .magic-box-input {
  background: transparent !important;
}
