.selector-tile{
  width: 89%;
  margin: 0;
  box-sizing: border-box;
  @include media("<=bootstrap-xl"){
    margin-bottom: 30px;
  }
  @include media("<=tablet"){
    height: auto;
  }

  &--header{
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: cv('text', 'darker');
    margin-bottom: 19px;
    >i,span{
      display: block;
    }
    >i{
      color: cv('text', 'darker');
      font-size: 8px;
    }
    &:hover {
      color: cv('text', 'darker');
    }
    &:visited,&:active,&:focus{
      color: cv('text', 'darker');
    }
  }
  &--data{
    &--item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 13px;
      text-decoration: none;
      color: cv('text', 'darker');

      @include media("<=tablet") {
        &:last-child {
          border-bottom: none;
        }
      }

      &:visited,&:active,&:focus{
        color: cv('text', 'darker');
      }

      >img{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: block;
      }
      >span{
        font-size: 14px;
        font-weight: bold;
        display: block;
        flex-grow: 1;
        padding-left: 19px;
      }
      >i{
        display: block;
        font-weight: 100;
        font-size: 8px;
        color: cv('text', 'border');
      }
      &:hover{
        color: cv('text', 'darker');
        span {
          text-decoration: underline;
        }
      }
    }
  }
}
