.selector-tiles {
  display: flex;
  justify-content: space-between;

  @include media("<=tablet") {
    flex-wrap: wrap;
  }

  .selector-tile-item {
    width: 100%;
    margin: 0 36px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
.selector-tile{
  box-sizing: border-box;

  @include media("<=desktop") {
    margin-bottom: 30px;
  }
  @include media("<=tablet") {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  &--header{
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: cv('text', 'darker');
    margin-bottom: 21px;

    @include media("<=tablet"){
      font-size: 21px;
      font-weight: 500;
    }

    >i,span{
      display: block;
    }
    >i{
      color: cv('text', 'darker');
      font-size: 8px;
      @include media("<=tablet"){
        font-size: 16px;
      }
    }
    &:hover {
      color: cv('text', 'darker');
    }
    &:visited,&:active,&:focus{
      color: cv('text', 'darker');
    }
  }
  &--data{
    &--item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 12px;
      text-decoration: none;
      color: cv('text', 'darker');

      @include media("<=tablet") {
        padding-bottom: 16px;
        &:last-child {
          border-bottom: none;
        }
      }

      &:visited,&:active,&:focus{
        color: cv('text', 'darker');
      }

      >img{
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: block;
        @include media("<=tablet"){
          width: 20px;
          height: 20px;
        }
      }
      >span{
        font-size: 14px;
        font-weight: 500;
        display: block;
        flex-grow: 1;
        padding-left: 13px;
        @include media("<=tablet"){
          font-size: 18px;
        }
      }
      >i{
        display: block;
        font-weight: 100;
        font-size: 8px;
        color: cv('text', 'lighter');
        @include media("<=tablet"){
          font-size: 16px;
        }
      }
      &:hover{
        color: cv('link', 'tile');
        >i {
          color: cv('link', 'tile');
        }
      }
    }
  }
}
