.selector-tiles {
  display: flex;
  justify-content: space-between;

  @include media("<bootstrap-xl") {
    flex-wrap: wrap;
  }
}

.selector-tiles .selector-tile-item {
  margin: 0 36px 0 0;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  @include media("<bootstrap-xl") {
    margin-right: 6%;
    width: 47%;
  }

  @include media("<tablet") {
    margin-right: 0;
    width: 100%;
  }
}

.selector-tiles .selector-tile-item:nth-child(2n) {
  @include media("<bootstrap-xl") {
    margin-right: 0;
  }
}

.selector-tile {
  box-sizing: border-box;

  @include media("<bootstrap-xl") {
    margin-bottom: 48px;
  }

  @include media("<tablet") {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
  }
}

.selector-tile--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 0 10px 7px 0;

  border-bottom: 2px solid cv("text", "darker");

  font-weight: 500;
  font-size: 14px;
  color: cv("text", "darker");

  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: cv("text", "darker");
  }

  @include media("<desktop") {
    padding: 0 0 8px;

    border-bottom-width: 1px;

    font-weight: 500;
    font-size: 21px;
  }
}

.selector-tile--header > i,
.selector-tile--header span {
  display: block;
}

.selector-tile--header > i {
  font-size: 8px;
  color: cv("text", "darker");

  @include media("<desktop") {
    font-size: 16px;
  }
}

.selector-tile--data--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px 12px;

  border-bottom: 1px solid cv("text", "lighter");

  text-decoration: none;
  color: cv("text", "darker");

  &:hover {
    background: cv("blue", "000");

    color: cv("link", "darker");
  }

  &:visited,
  &:active,
  &:focus {
    color: cv("text", "darker");
  }

  @include media("<desktop") {
    padding-right: 0;
    padding-left: 0;
  }
}

.selector-tile--data--item > img {
  display: block;
  width: 25px;
  height: 25px;

  border-radius: 50%;

  @include media("<desktop") {
    width: 30px;
    height: 30px;
  }
}

.selector-tile--data--item > span {
  display: block;
  flex-grow: 1;
  padding-right: 10px;
  padding-left: 13px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1rem;

  @include media("<desktop") {
    font-size: 18px;
  }
}

.selector-tile--data--item > i {
  display: block;

  font-weight: 100;
  font-size: 8px;
  color: cv("tile", "angle");

  @include media("<desktop") {
    font-size: 16px;
  }
}

.selector-tile--data--item:hover > i {
  color: cv("link", "darker");
}
