.selector-tiles {
  display: flex;
  justify-content: space-between;

  @include media("<bootstrap-xl") {
    flex-wrap: wrap;
  }
}

.selector-tiles .selector-tile-item {
  width: 100%;
  margin: 0 36px 0 0;

  @include media("<bootstrap-xl") {
    width: 47%;
    margin-right: 6%;
  }

  @include media("<tablet") {
    margin-right: 0;
    width: 100%;
  }
}

.selector-tiles .selector-tile-item:nth-child(2n) {
  @include media("<bootstrap-xl") {
    margin-right: 0;
  }
}

.selector-tiles .selector-tile-item:last-child {
  margin-right: 0;
}

.selector-tile {
  box-sizing: border-box;

  @include media("<bootstrap-xl") {
    margin-bottom: 48px;
  }

  @include media("<tablet") {
    height: auto;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

.selector-tile--header {
  padding: 0 10px 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  font-size: 14px;
  font-weight: 500;
  color: cv("text", "darker");

  border-bottom: 2px solid cv("text", "darker");

  @include media("<desktop") {
    padding: 0 0 8px;

    font-size: 21px;
    font-weight: 500;

    border-bottom-width: 1px;
  }
}

.selector-tile--header > i,
.selector-tile--header span {
  display: block;
}

.selector-tile--header > i {
  color: cv("text", "darker");
  font-size: 8px;

  @include media("<desktop") {
    font-size: 16px;
  }
}

.selector-tile--header:hover {
  color: cv("text", "darker");
}

.selector-tile--header:visited,
.selector-tile--header:active,
.selector-tile--header:focus {
  color: cv("text", "darker");
}

.selector-tile--data--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px 12px;

  text-decoration: none;
  color: cv("text", "darker");

  border-bottom: 1px solid cv("text", "lighter");

  @include media("<desktop") {
    padding-right: 0;
    padding-left: 0;
  }
}

.selector-tile--data--item:visited,
.selector-tile--data--item:active,
.selector-tile--data--item:focus {
  color: cv("text", "darker");
}

.selector-tile--data--item > img {
  width: 25px;
  height: 25px;
  display: block;

  border-radius: 50%;

  @include media("<desktop") {
    width: 30px;
    height: 30px;
  }
}

.selector-tile--data--item > span {
  display: block;
  flex-grow: 1;
  padding-left: 13px;
  padding-right: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1rem;

  @include media("<desktop") {
    font-size: 18px;
  }
}

.selector-tile--data--item > i {
  display: block;

  font-weight: 100;
  font-size: 8px;
  color: cv("tile", "angle");

  @include media("<desktop") {
    font-size: 16px;
  }
}

.selector-tile--data--item:hover {
  color: cv("link", "darker");

  background: cv("blue", "000");
}

.selector-tile--data--item:hover > i {
  color: cv("link", "darker");
}
