@mixin active-link {
  color: cv('text', 'darker');
  font-weight: 400;

  &> i.parent {
    svg {
      path {
        fill: cv('link', 'darker');
      }
    }
  }
}

.sidebar-inner {
  height: 100%;
}

.aside {
  position: relative;
}

.tree-nav {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 34px 30px 3rem 49px;
  background: cv('body', 'sidebar');
  margin-bottom: -176px;
  .sections {
    position: relative;
  }
  & > .sections {
    margin-top: -52px;
    & > li {
      margin-top: 0;
    }
  }
  .sections.bordered {
    &:before {
      content: '';
      position: absolute;
      left: -43px;
      top: 4px;
      height: calc(100% - 8px);
      width: 10px;
      border-radius: 10px;
      background-color: #E7EDF9;
    }
    @media (max-width: 1439px) {
      &:before {
        left: -38px;
      }
    }
  }
  & > .sections,
  & > .sections > li > .sections {
    &:before {
      display: none;
    }
  } 
  & > .sections > li > .sections > li,
  & > .sections > li > .sections > li > .sections > li,
  & > .sections > li > .sections > li > .sections > li > .sections > li {
    margin-top: 8px;
  }
  & > .sections > .link-wrap > .tree-nav-link,
  & > .sections > .link-wrap > .tree-nav-link a {
    color: cv('link', 'darker');
    font-weight: 400;
    font-size: 16px;
  }
  &-toggle {
    position: sticky;
    right: 14px;
    top: 27px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: cv('body', 'sidebar-toggle');
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    margin-left: -36px;
    &:before {
      content: '';
      position: absolute;
      right: 15px;
      width: 60px;
      background: linear-gradient(-90deg, cv('body', 'sidebar'), transparent);
      height: 20px;
      z-index: 2;
      display: none;
    }
    svg {
      position: relative;
      z-index: 3;
      transform: rotate(180deg);
    }
    &.active {
      margin-left: calc(100% - 36px);
      right: -10px;
      background-color: transparent;
      svg {
        transform: rotate(0);
      }
      &:before {
        display: block;
      }
    }
  }
  @include media("<tablet") {
    flex-basis: 0;
    width: 100%;
    padding: 1rem 0 0 0;
  }
  .sections {
    li > .sections {
      padding-left: 0;
      margin-left: 22px;
    }
    &:first-child {
      & > .link-wrap > .tree-nav-link {
        &> .text-holder {
          @include active-link;
        }
        &.router-link-active {
          &> .text-holder {
            color: cv('link');
          }
        }
      }
    }
    .link-wrap {
      margin-top: 12px;
      a {
        color: cv('link', 'bluelight');
        font-size: 14px;
        &.router-link-active {
          span {
            color: cv('link', 'darker');
            font-weight: 400;
          }
          &:before {
            background-image: none !important;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: cv("link", "active-router") !important;
            -webkit-mask-image: url("/img/icons/angle-right.svg");
            mask-image: url("/img/icons/angle-right.svg");
          }
        }
      }
      span {
        color: cv('link', 'darker');
        font-size: 14px;
        white-space: nowrap;
      }
      .blank-divider {
        cursor: default;
        margin-top: 12px;
        margin-left: -17px;
        font-weight: 400;
        font-size: 14px;
        white-space: nowrap;
      }
    }
    .tree-nav-link {
      position: relative;
      display: inline-flex;
      align-items: baseline;
      justify-content: flex-start;
      font-size: 1em;
      font-weight: 300;
      text-decoration: none;
      color: cv('text');
      cursor: pointer;
      width: 100%;
      &-parent a {
        color: cv('link', 'darker');
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      i.opened {
        margin-bottom: 2px;
        svg {
          min-width: 5px;
          path {
            color: cv('link', 'darker');
          }
        }
        & + span {
          color: cv('link', 'darker');
          font-weight: 400;
        }
        & + a {
          color: cv('link', 'darker');
          font-weight: 400;
          span {
            color: cv('link', 'darker');
            font-weight: 400;
          }
        }
      }
      &.children-active {
        @include active-link;
      }
      &.router-link-active {
        @include active-link;
        color: cv('link');
      }
      > span.text-holder {
        margin-left: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > i.parent {
        position: absolute;
        left: -19px;
        top: 6px;
        font-size: 9px;
        padding-right: 5px;
        svg {
          path {
            fill: rgba(0, 41, 122, .3);
          }
        }
        @include media("<desktop-xl") {
          left: -14px;
        }
        &.opened {
          transform: rotate(90deg);
          top: 7px;
          left: -22px;
          @include media("<desktop-xl") {
            left: -17px;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
  .scroll-up {
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 16px;
    display: none;
  }
}

.aside-hidden .sections {
  display: none;
}
