@mixin active-link {
  font-weight: 400;
  color: cv("text", "darker");

  & > i.parent svg path {
    fill: cv("link", "darker");
  }
}

.sidebar-inner {
  height: 100%;
}

.aside {
  position: relative;
}

.tree-nav {
  position: relative;

  margin-bottom: -176px;
  padding: 34px 30px 3rem 49px;
  width: 100%;
  min-height: 100%;

  background: cv("body", "sidebar");
}

.tree-nav .sections {
  position: relative;
}

.tree-nav > .sections {
  margin-top: -52px;
}

.tree-nav > .sections > li {
  margin-top: 0;
}

.tree-nav .sections.bordered:before {
  content: "";

  position: absolute;
  top: 4px;
  left: -43px;

  width: 10px;
  height: calc(100% - 8px);

  border-radius: 10px;
  background-color: var(--c-lightgray-800);
}

@media (max-width: 1439px) {
  .tree-nav .sections.bordered:before {
    left: -38px;
  }
}

.tree-nav > .sections > li > .sections > li,
.tree-nav > .sections > li > .sections > li > .sections > li,
.tree-nav > .sections > li > .sections > li > .sections > li > .sections > li {
  margin-top: 8px;
  padding-left: 6px;
}

.tree-nav > .sections > .link-wrap > .tree-nav-link,
.tree-nav > .sections > .link-wrap > .tree-nav-link a {
  font-weight: 400;
  font-size: 16px;
  color: cv("link", "darker");
}

.tree-nav-toggle {
  position: sticky;
  top: 27px;
  right: 14px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -36px;
  width: 52px;
  height: 52px;

  border-radius: 50%;
  background-color: cv("body", "sidebar-toggle");
  cursor: pointer;
}

.tree-nav-toggle:before {
  content: "";

  position: absolute;
  right: 15px;
  z-index: 2;

  display: none;
  width: 60px;
  height: 20px;

  background: linear-gradient(-90deg, cv("body", "sidebar"), transparent);
}

.tree-nav-toggle svg {
  position: relative;
  z-index: 3;
  transform: rotate(180deg);
}

.tree-nav-toggle.active {
  right: -10px;

  margin-left: calc(100% - 36px);

  background-color: transparent;
}

.tree-nav-toggle.active svg {
  transform: rotate(0);
}

.tree-nav-toggle.active:before {
  display: block;
}

.tree-nav .sections li > .sections {
  margin-left: 16px;
  padding-left: 0;
}

.tree-nav .sections:first-child > .link-wrap > .tree-nav-link > .text-holder {
  @include active-link;
}

.tree-nav .sections:first-child > .link-wrap > .tree-nav-link.router-link-active > .text-holder {
  color: cv("link", "base");
}

.tree-nav .sections .link-wrap {
  margin-top: 12px;
}

.tree-nav .sections .link-wrap a {
  font-size: 14px;
  color: cv("link", "bluelight");
}

.tree-nav .sections .link-wrap a.router-link-active span {
  font-weight: 700;
  color: cv("link", "darker");
}

.tree-nav .sections .link-wrap:has( > a.router-link-active) {
  background: linear-gradient(90deg, #dce3f0 0, #f7faff 100%);
}

.tree-nav .sections .link-wrap a.router-link-active:before {
  background-color: cv("link", "active-router") !important;
  background-image: none !important;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url("/img/icons/angle-right.svg");
  mask-image: url("/img/icons/angle-right.svg");
}

.tree-nav .sections .link-wrap span {
  font-size: 14px;
  white-space: nowrap;
  color: cv("link", "darker");
}

.tree-nav .sections .link-wrap .blank-divider {
  cursor: default;

  margin-top: 12px;
  margin-left: -17px;

  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
}

.tree-nav .sections .tree-nav-link {
  position: relative;

  display: inline-flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;

  font-weight: 400;
  font-size: 1em;
  text-decoration: none;
  color: cv("text", "base");
  cursor: pointer;
}

.tree-nav .sections .tree-nav-link-parent a {
  overflow: hidden;

  font-size: 14px;
  text-overflow: ellipsis;
  color: cv("link", "darker");
}

.tree-nav .sections .tree-nav-link i.opened {
  margin-bottom: 2px;
}

.tree-nav .sections .tree-nav-link i.opened svg {
  min-width: 5px;
}

.tree-nav .sections .tree-nav-link i.opened svg path {
  color: cv("link", "darker");
}

.tree-nav .sections .tree-nav-link i.opened + span {
  font-weight: 400;
  color: cv("link", "darker");
}

.tree-nav .sections .tree-nav-link i.opened + a {
  font-weight: 400;
  color: cv("link", "darker");
}

.tree-nav .sections .tree-nav-link i.opened + a span {
  font-weight: 400;
  color: cv("link", "darker");
}

.tree-nav .sections .tree-nav-link.children-active {
  @include active-link;
}

.tree-nav .sections .tree-nav-link.router-link-active {
  color: cv("link", "base");
  @include active-link;
}

.tree-nav .sections .tree-nav-link > span.text-holder {
  margin-left: 0;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.tree-nav .sections .tree-nav-link > i.parent {
  position: absolute;
  top: 6px;
  left: -19px;

  padding-right: 5px;

  font-size: 9px;

  transition: transform 0.3s;
}

.tree-nav .sections .tree-nav-link > i.parent svg path {
  fill: rgb(0 41 122 / 0.3);
}

.tree-nav .sections .tree-nav-link > i.parent.opened {
  transform: rotate(90deg);

  top: 7px;
  left: -22px;
}

@include media("<desktop-xl") {
  .tree-nav .sections .tree-nav-link > i.parent.opened {
    left: -17px;
  }
}

@include media("<desktop-xl") {
  .tree-nav .sections .tree-nav-link > i.parent {
    left: -14px;
  }
}

.tree-nav .hidden {
  display: none;
}

.tree-nav .scroll-up {
  position: absolute;
  bottom: 16px;
  left: 20px;

  display: none;
  cursor: pointer;
}

@include media("<tablet") {
  .tree-nav {
    flex-basis: 0;
    padding: 1rem 0 0 0;
    width: 100%;
  }
}

.aside-hidden .sections {
  display: none;
}
