@mixin active-link {
  color: cv('text', 'darker');
  font-weight: 500;

  &> i.parent {
    svg {
      path {
        fill: cv('link', 'darker');
      }
    }
  }
}

.sidebar-inner {
  height: 100%;
}

.tree-nav {
  width: 100%;
  min-height: 100%;
  padding: 29px 1rem 3rem 26px;
  background: cv('body', 'sidebar');
  margin-bottom: -176px;
  & > .sections > .link-wrap > .tree-nav-link,
  & > .sections > .link-wrap > .tree-nav-link a {
    color: cv('link', 'darker');
    font-weight: 500;
    font-size: 16px;
  }
  &-toggle {
    position: absolute;
    right: 14px;
    top: 27px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: cv('body', 'sidebar-toggle');
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      right: 15px;
      width: 60px;
      background: linear-gradient(-90deg, cv('body', 'sidebar'), transparent);
      height: 20px;
      z-index: 2;
    }
    svg {
      position: relative;
      z-index: 3;
      transform: rotate(180deg);
    }
    &.active {
      right: 0;
      background-color: transparent;
      svg {
        transform: rotate(0);
      }
    }
  }
  @include media("<desktop-xl") {
    padding-left: 16px;
  }
  @include media("<tablet") {
    flex-basis: 0;
    width: 100%;
    padding: 1rem 0 0 0;
  }
  .sections {
    margin-left: 17px;
    & > li.subnav-active > .sections {
      position: relative;
      & > li.subnav-active > .sections {
        margin-left: 22px;
        &:before {
          content: '';
          position: absolute;
          left: -22px;
          top: 4px;
          height: calc(100% - 8px);
          width: 10px;
          border-radius: 10px;
          background-color: #E7EDF9;
        }
      }
    }
    &:first-child {
      & > .link-wrap > .tree-nav-link {
        &> .text-holder {
          @include active-link;
        }
        &.router-link-active {
          &> .text-holder {
            color: cv('link');
          }
        }
      }
    }
    .link-wrap {
      margin-top: 12px;
      a {
        color: cv('link', 'bluelight');
        font-size: 14px;
        &.router-link-active {
          padding-left: 13px;
          span {
            color: cv('link', 'darker');
            font-weight: 500;
          }
          &:before {
            background-image: none !important;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: cv("link", "active-router") !important;
            -webkit-mask-image: url("/img/icons/angle-right.svg");
            mask-image: url("/img/icons/angle-right.svg");
          }
        }
      }
      span {
        color: cv('link', 'darker');
        font-size: 14px;
      }
      .blank-divider {
        cursor: default;
        margin-top: 12px;
        margin-left: -17px;
      }
    }
    .tree-nav-link {
      position: relative;
      display: inline-flex;
      align-items: baseline;
      justify-content: flex-start;
      font-size: 1em;
      font-weight: 300;
      text-decoration: none;
      color: cv('text');
      cursor: pointer;
      &-parent a {
        color: cv('link', 'darker');
        font-size: 14px;
      }
      i.opened {
        margin-bottom: 2px;
        svg {
          min-width: 5px;
          path {
            color: cv('link', 'darker');
          }
        }
        & + span {
          color: cv('link', 'darker');
          font-weight: 500;
        }
        & + a {
          color: cv('link', 'darker');
          font-weight: 500;
          span {
            color: cv('link', 'darker');
            font-weight: 500;
          }
        }
      }
      &:hover {
        color: cv('text', 'darker');
      }
      &.children-active {
        @include active-link;
      }
      &.router-link-active {
        @include active-link;
        color: cv('link');
        &::before {
          position: absolute;
          content: '';
          background: url('/img/icons/angle-right.svg') no-repeat center center;
          left: 0;
          top: 5px;
          width: 5px;
          height: 9px;
        }
      }
      > span.text-holder {
        margin-left: 0px;
      }
      > i.parent {
        position: absolute;
        left: -19px;
        top: 4px;
        font-size: 9px;
        padding-right: 5px;
        svg {
          path {
            fill: rgba(0, 41, 122, .3);
          }
        }
        @include media("<desktop-xl") {
          left: -14px;
        }
        &.opened {
          transform: rotate(90deg);
          top: 7px;
          left: -22px;
          @include media("<desktop-xl") {
            left: -17px;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
  .scroll-up {
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: -16px;
    display: none;
  }
}

.aside-hidden .sections {
  display: none;
}
