@mixin active-link {
  color: cv('text', 'darker');
  font-weight: 600;
}

.tree-nav {
  width: 100%;
  min-height: 100%;
  padding: 100px 1rem 3rem 1rem;
  background: cv('body');

  @include media(">=desktop") {
    flex-grow: 0;
    flex-shrink: 0;
  }

  @include media("<tablet") {
    flex-basis: 0;
    width: 100%;
    padding: 1rem 0 0 0;
  }
  .sections {
    margin-left: 24px;
    &:first-child {
      & > .link-wrap > .tree-nav-link {
        &> .text-holder {
          @include active-link;
        }
        &> i.fa {
          color: cv('text', 'darker');
        }
        &.router-link-active {
          &> .text-holder {
            color: cv('text', 'link');
          }
        }
      }
    }
    .link-wrap {
      margin-top: 10px;
      .blank-divider {
        cursor: default;
        margin-top: 12px;
        margin-left: -17px;
      }
    }
    .tree-nav-link {
      position: relative;
      display: inline-flex;
      align-items: baseline;
      justify-content: flex-start;
      font-size: 1em;
      font-weight: normal;
      text-decoration: none;
      color: cv('text');
      cursor: pointer;
      &:hover {
        color: cv('text', 'link');
      }
      &.children-active {
        @include active-link;
      }
      &.router-link-active {
        @include active-link;
        color: cv('text', 'link');
        &::before {
          position: absolute;
          color: cv('text', 'link');
          content: '';
          background: url('/img/icons/active-menu-bg.svg') no-repeat left top;
          left: -15px;
          top: 4px;
          width: 4px;
          height: 16px;
        }
      }
      > span.text-holder {
        margin-left: 0px;
      }
      > i.fa {
        position: absolute;
        left: -20px;
        top: 5px;
        font-size: 12px;
        padding-right: 5px;
      }
    }
  }
  .hidden {
    display: none;
  }
}
