@mixin active-link {
  color: cv('text', 'darker');
  font-weight: 500;

  &> i.parent {
    svg {
      path {
        fill: cv('text', 'darker');
      }
    }
  }
}

.tree-nav {
  width: 100%;
  min-height: 100%;
  padding: 29px 1rem 3rem 26px;
  font-size: 14px;
  background: cv('body', 'sidebar');
  &-toggle {
    position: absolute;
    right: 14px;
    top: 27px;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: cv('body', 'sidebar-toggle');
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      transform: rotate(180deg);
    }
    &.active {
      right: 0;
      background-color: transparent;
      svg {
        transform: rotate(0);
      }
    }
  }
  @include media("<desktop-xl") {
    padding-left: 16px;
  }
  @include media("<tablet") {
    flex-basis: 0;
    width: 100%;
    padding: 1rem 0 0 0;
  }
  .sections {
    margin-left: 17px;
    &.active {
      display: none;
    }
    &:first-child {
      & > .link-wrap > .tree-nav-link {
        &> .text-holder {
          @include active-link;
        }
        &.router-link-active {
          &> .text-holder {
            color: cv('link');
          }
        }
      }
    }
    .link-wrap {
      margin-top: 12px;
      .blank-divider {
        cursor: default;
        margin-top: 12px;
        margin-left: -17px;
      }
    }
    .tree-nav-link {
      position: relative;
      display: inline-flex;
      align-items: baseline;
      justify-content: flex-start;
      font-size: 1em;
      font-weight: 300;
      text-decoration: none;
      color: cv('text');
      cursor: pointer;
      &:hover {
        color: cv('text', 'darker');
      }
      &.children-active {
        @include active-link;
      }
      &.router-link-active {
        @include active-link;
        color: cv('link');
        &::before {
          position: absolute;
          content: '';
          background: cv('link');
          left: -18px;
          top: 6px;
          width: 2px;
          height: 9px;
          @include media("<desktop-xl") {
            left: -13px;
          }
        }
      }
      > span.text-holder {
        margin-left: 0px;
      }
      > i.parent {
        position: absolute;
        left: -19px;
        top: 4px;
        font-size: 9px;
        padding-right: 5px;
        @include media("<desktop-xl") {
          left: -14px;
        }
        &.opened {
          transform: rotate(90deg);
          top: 7px;
          left: -22px;
          @include media("<desktop-xl") {
            left: -17px;
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
