.signup {
  padding: 128px 0 133px;

  background: var(--c-lightgray-450);
}

.signup__wrapper {
  margin: 0 auto;
  max-width: 1314px;
}

.signup__title {
  margin-bottom: 48px;

  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2px;
  color: var(--c-gray-950);
}

.signup__wrapper h1 span {
  color: var(--c-blue-550);
}

.signup__items {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 45px;
  overflow: hidden;

  border: 1px solid transparent;
  border-radius: 12px;
}

.signup__items.active {
  border: 1px solid var(--c-gray-950);
}

.signup__items.active .signup__description-bordered {
  border-color: var(--c-gray-405);
}

.signup__items.active .signup__trigger {
  opacity: 0.25;
}

.signup__items.active .signup__popup {
  display: grid;
}

.signup__popup {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: 100%;
}

.signup__popup:before {
  content: "";

  position: absolute;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 100px;

  background-color: var(--c-gray-075);
}

.signup__popup:after {
  content: "";

  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;

  grid-column: 1 / 3;
  width: calc(100% + 7px);
  height: 100%;
  height: 100%;

  background: var(--c-gray-075);
}

.signup__popup__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 31px 40px 41px;
  width: 100%;
  height: 100%;
}

.signup__popup__title {
  display: flex;
  grid-column: 1 / 4;
  align-items: flex-end;
  padding-bottom: 25px;

  border-bottom: 1px solid var(--c-gray-405);
}

.signup__popup__title h2 {
  margin: 0;

  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.3px;
  color: var(--c-gray-950);
}

.signup__popup__title span {
  margin-bottom: 4px;
  margin-left: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__popup__title a {
  border-bottom: 1px solid var(--c-gray-950);

  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__popup__title a:hover {
  border-color: var(--c-blue-550);
}

.signup__popup__close {
  position: absolute;
  top: 40px;
  right: 40px;

  width: 24px;
  height: 24px;

  background: url("/img/x-circle.svg") 50% 50% no-repeat;
  background-size: cover;

  transition: 0.3s;
  cursor: pointer;
}

.signup__popup__close:hover {
  transform: rotate(180deg);
}

.signup__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column: 2 / 4;
  align-content: flex-start;
  padding: 31px 0 41px;

  border-radius: 12px;
  background-color: var(--c-gray-075);
}

.signup__form {
  display: flex;
  grid-column: 1 / 3;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 35px;
  padding-right: 40px;
  width: calc(100% + 20px);
}

.signup__form__header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 32px;
  column-gap: 24px;
  margin-bottom: 34px;
  width: 100%;
}

.signup__form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup__form__label {
  display: flex;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__form__label-required {
  margin-left: 1px;

  color: var(--c-warning-required);
}

.signup__form__input {
  padding: 12px 20px;
  width: 100%;
  min-height: 48px;

  outline: none;
  border: 1px solid var(--c-gray-450);
  border-radius: 6px;

  font-size: 16px;
  line-height: 24px;
  color: var(--c-gray-950);
  appearance: none;
}

.error-msg {
  margin-top: 2px;

  font-size: 14px;
  line-height: 19px;
  color: var(--c-danger-base);
}

.signup__form__input:active,
.signup__form__input:focus {
  box-shadow: 0 0 0 4px var(--c-blue-350);
  border-color: var(--c-blue-550);
}

.signup__form__body {
  display: flex;
  margin-bottom: 32px;
  width: 100%;
}

.signup__form__body > .error-color {
  margin-top: 13px;
}

.signup__form__recaptcha {
  margin-right: 16px;
  min-height: 78px;

  font-size: 14px;
  line-height: 19px;
  color: var(--c-gray-950);
}

.signup__form__footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 16px;
}

.signup__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  height: 48px;

  border: 1px solid var(--c-gray-950);
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  font-family: "Aeonik";
  line-height: 24px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  color: var(--c-gray-950);
  cursor: pointer;
}

.signup__form__button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.signup__form__button i {
  margin-right: 12px;

  font-size: 20px;
  color: var(--c-gray-950);
}

.signup__form__button span {
  margin-right: 12px;
  width: 18px;
  height: 18px;

  background: url("/img/icons/google-logo-new.png") no-repeat center center;
  background-size: contain;
}

.signup__form__button-dark {
  padding: 12px 64px;

  background: var(--c-gray-950);
}

.signup__form__button-dark input {
  border: none;
  background: transparent;

  font-weight: 500;
  font-size: 16px;
  font-family: "Aeonik";
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--c-lightgray-450);
  cursor: pointer;
}

.signup__form__splitter {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--c-gray-760);
}

.signup__item {
  grid-column: 1 / 2;
  padding: 31px 24px 41px;

  border-radius: 12px;
  background-color: var(--c-gray-075);
}

.signup__item__title {
  position: relative;

  grid-column: 1 / 3;
  padding-bottom: 35px;
  height: 69px;

  border-bottom: 1px solid var(--c-gray-405);

  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  letter-spacing: -0.3px;
  text-align: center;
  color: var(--c-gray-950);
}

.signup__item__title-logo:after {
  content: url("/img/signup-item-logo.svg");

  position: absolute;
  bottom: -12px;
  left: 50%;

  padding: 0 12px;
  width: 189px;
  height: 28px;

  background-color: var(--c-gray-075);
  transform: translateX(-50%);
}

.signup__description {
  margin-top: 47px;
}

.signup__container .signup__item__title {
  margin: 0 40px;
}

.signup__container .signup__description {
  margin-top: 35px;
  padding: 0 40px;
}

.signup__container .signup__content {
  margin-top: 47px;
}

.signup__description-bordered {
  border-left: 1px solid var(--c-gray-760);
}

.signup__rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__rate__title {
  padding-bottom: 8px;
  width: 100%;

  border-bottom: 1px solid var(--c-gray-950);

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: var(--c-gray-950);
}

.signup__rate__text {
  padding-top: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__content {
  position: relative;

  margin-top: 57px;
  padding: 27px 24px 25px;

  border-radius: 12px;
  background-color: var(--c-gray-150);

  text-align: center;
}

.signup__content__title {
  margin-bottom: 13px;

  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  letter-spacing: -0.3px;
  color: var(--c-gray-950);
}

.signup__content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--c-gray-950);
}

.signup__content__tip {
  position: absolute;
  top: -19px;
  left: 50%;

  padding: 4px 12px;

  border-radius: 4px;

  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--c-gray-950);
  transform: translateX(-50%);
}

.signup__content__tip-green {
  background-color: var(--c-green-100);
}

.signup__content__tip-blue {
  background-color: var(--c-blue-600);
}

.signup__link {
  margin-top: 35px;

  border: 1px solid var(--c-gray-950);
  border-radius: 6px;
}

.signup__link a,
.signup__link button {
  display: block;
  padding: 12px;
  width: 100%;

  border: none;
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  font-family: "Aeonik";
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--c-gray-950);
  cursor: pointer;
}

.signup__link button:hover {
  color: var(--c-blue-550);
}

.signup__link a span {
  border-bottom: 1px solid var(--c-gray-950);
}

.signup__link a:hover span {
  border-color: var(--c-blue-550);

  color: var(--c-blue-550);
}

.signup__link-dark {
  background-color: var(--c-gray-950);
}

.signup__link-dark a span {
  border-bottom: 1px solid var(--c-lightgray-450);

  color: var(--c-lightgray-450);
}

.signup__link-dark a:hover span {
  border-color: var(--c-blue-550);

  color: var(--c-blue-550);
}

.signup__footer {
  margin-top: 69px;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--c-gray-760);
}

.signup__footer a {
  border-bottom: 1px solid var(--c-gray-950);

  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__footer a:hover {
  border-bottom: 1px solid var(--c-blue-550);
}
