.signup {
  width: 100%;
  max-width: 1272px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  color: $white;

  @include media("<tablet") {
    padding: 0 36px;
  }

  @include media("<475px") {
    padding: 10px;
  }

  .signup--form {
    width: 100%;
    max-width: 588px;
    margin: 0 80px 0 0;
    padding: 40px 48px 8px 48px;
    background-color: cv("blue", "whale");
    box-shadow: 0px 6px 25px cv("blue", "whale");
    .user-name {
      display: flex;
      .row:nth-child(1) {
        margin-right: 10px;
      }
      @include media("<tablet") {
        .row:nth-child(1) {
          margin-right: 0;
        }
        flex-direction: column;
      }
    }

    @include media("<desktop") {
      margin: 0;
    }

    @include media("<475px") {
      padding: 10px;
    }

    @include media("<=phone") {
      padding: 0;
    }

    .splitter {
      display: flex;
      height: 27px;
      margin: 19.5px 0;
      justify-content: space-between;
      align-items: center;
      span:nth-child(2) {
        margin: 0 16px;
      }
      span:nth-child(1),
      span:nth-child(3) {
        height: 0;
        flex-grow: 1;
        border: 2px solid cv("brand", "base");
      }
    }

    .goto-signin {
      justify-content: center;
      margin: 0;
      a {
        font-size: 17px;
        text-indent: 5px;
        color: cv("cerise", "base");
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .signup--description {
    padding: 30px 0 0 0;
    max-width: 604px;
    h1 {
      font-size: 40px;
      color: $white;
    }
    color: $white;

    .logo-wrapper {
      margin: 40px 0 0 0;
      width: 338px;
      @include media("<=phone") {
        width: 250px;
      }
      h4 {
        font-size: 16px;
        margin: 0 0 18px 0;
        color: $white;
      }
      .partners-logo {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
      }
    }
  }
}
