.signup {
  padding: 88px 0 86px;

  background: var(--c-lightgray-450);
  @include media(">tablet") {
    padding: 128px 0 133px;
  }
}

.signup__wrapper {
  margin: 0 auto;
  max-width: 1315px;
}

.signup__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 43px;
  padding: 0 19px;

  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.7px;
  text-align: center;
  color: var(--c-gray-950);
  @include media(">tablet") {
    display: block;
    margin-bottom: 48px;
    padding: 0;

    font-size: 56px;
    line-height: 64px;

    letter-spacing: -1px;
    text-align: left;
  }
}

.signup__wrapper h1 span {
  color: var(--c-blue-550);
}

.signup__items {
  position: relative;

  display: block;
  margin: 0 32px;
  
  overflow: hidden;

  border: 1px solid transparent;
  border-radius: 12px;
  @include media(">tablet") {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 45px;
    margin: 0;
  }
}

.signup__items.active {
  @include media(">tablet") {
    border: 1px solid var(--c-gray-950);
  }
}

.signup__items.active .signup__description-bordered {
  border-color: var(--c-gray-405);
}

.signup__items.active .signup__trigger {
  opacity: 0.25;
}

.signup__trigger__text {
  display: none;
  @include media(">tablet") {
    display: block;
  }
}

.signup__trigger__text-hidden {
  display: block;
  @include media(">tablet") {
    display: none;
  }
}

.signup__items.active .signup__popup {
  display: block;

  border: 1px solid var(--c-gray-950);
  @include media(">tablet") {
    display: grid;

    border: none;
  }
}

.signup__popup {
  position: relative;
  z-index: 3;

  margin-top: -523px;
  width: 100%;
  height: 100%;

  border-radius: 12px;
  background-color: var(--c-gray-075);
  @include media(">tablet") {
    position: absolute;
    top: 0;
    left: 0;

    display: none;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 0;

    background-color: transparent;
  }
}

.signup__popup:before {
  content: "";

  position: absolute;
  top: 0;
  z-index: 2;

  display: none;

  width: 100%;
  height: 103px;

  background-color: var(--c-gray-075);
  @include media(">tablet") {
    display: block;
  }
}

.signup__popup:after {
  content: "";

  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1;

  display: none;

  grid-column: 1 / 3;
  width: calc(100% + 7px);
  height: 100%;
  height: 100%;

  background: var(--c-gray-075);
  @include media(">tablet") {
    display: block;
  }
}

.signup__popup__container {
  z-index: 3;

  padding: 24px 31px 31px;
  width: 100%;
  height: 100%;
  @include media(">tablet") {
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 31px 40px 40px;
  }
}

.signup__popup__title {
  display: flex;
  flex-direction: column;

  @include media(">tablet") {
    grid-column: 1 / 4;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 24px;

    border-bottom: 1px solid var(--c-gray-405);
  }
}

.signup__popup__title h2 {
  margin: 0;

  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.3px;
  color: var(--c-gray-950);
  @include media(">tablet") {
    line-height: 44px;
  }
}

.signup__popup__title span {
  margin-top: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
  @include media(">tablet") {
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 30px;
  }
}

.signup__popup__title a {
  border-bottom: 1px solid var(--c-gray-950);

  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__popup__title a:hover {
  @include media(">tablet") {
    border-color: var(--c-blue-550);
  }
}

.signup__popup__close {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 24px;
  height: 24px;

  background: url("/img/x-circle.svg") 50% 50% no-repeat;
  background-size: cover;

  transition: 0.3s;
  cursor: pointer;
  @include media(">tablet") {
    top: 40px;
    right: 40px;
  }
}

.signup__popup__close:hover {
  @include media(">tablet") {
    transform: rotate(180deg);
  }
}

.signup__container {
  align-content: flex-start;
  @include media(">tablet") {
    padding: 24px 0 0;
  }

  @include media(">tablet") {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column: 2 / 4;
    margin-left: 8px;
    padding: 31px 0 40px;
    width: calc(100% - 8px);
    max-width: 852px;

    border-radius: 12px;
    background-color: var(--c-gray-075);
  }
}

.signup__container .signup__item__title:before {
  content: "";

  position: absolute;
  right: 33px;
  bottom: 0;
  left: 33px;

  width: calc(100% - 66px);
  height: 1px;

  background-color: var(--c-gray-405);
  @include media(">tablet") {
    display: none;
  }
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2px;
  @include media(">tablet") {
    grid-column: 1 / 3;
    padding-top: 35px;
    padding-right: 40px;
    width: calc(100% + 20px);
  }
}

.signup__form__header {
  margin-bottom: 34px;
  width: 100%;
  @include media(">tablet") {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 32px;
    column-gap: 18px;
  }
}

.signup__form__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  @include media(">tablet") {
    margin-top: 0;
  }
}

.signup__form__label {
  display: flex;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__form__label-required {
  margin-left: 2px;

  color: var(--c-warning-required);
}

.signup__form__input {
  padding: 11px 20px;
  width: 100%;
  min-height: 48px;

  outline: none;
  border: 1px solid var(--c-gray-450);
  border-radius: 6px;

  font-size: 16px;
  line-height: 24px;
  color: var(--c-gray-950);
  appearance: none;
}

select.signup__form__input:required:invalid {
  color: var(--c-gray-450);
}

.signup__form__input option[value=""][disabled] {
  display: none;
}

.signup__form__input option {
  color: var(--c-gray-950);
}

.error-msg {
  margin-top: 2px;

  font-size: 14px;
  line-height: 19px;
  color: var(--c-danger-base);
}

.signup__form__input:active,
.signup__form__input:focus {
  box-shadow: 0 0 0 4px var(--c-blue-350);
  border-color: var(--c-blue-550);
}

.signup__form__body {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  width: 100%;
  @include media(">tablet") {
    flex-direction: row;
    margin-bottom: 32px;
  }
}

.signup__form__body > .error-color {
  margin-top: 13px;
}

.signup__form__recaptcha {
  font-size: 14px;
  line-height: 19px;
  color: var(--c-gray-950);
  -webkit-transform: scale(0.81);
  transform: scale(0.81);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  @include media(">tablet") {
    margin-right: 16px;
    min-height: 76px;
    max-height: 76px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.signup__form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include media(">tablet") {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 16px;
  }
}

.signup__form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  
  height: 48px;

  border: 1px solid var(--c-gray-950);
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  font-family: "Aeonik";
  line-height: 24px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  color: var(--c-gray-950);
  cursor: pointer;
  @include media(">tablet") {
    margin-top: 0;
    padding: 12px 39px;
    width: auto;
  }
}

.signup__form__button:nth-last-child(2) {
  order: 4;
  @include media(">tablet") {
    order: inherit;
  }
}

.signup__form__button.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.signup__form__button i {
  margin-right: 11px;

  font-size: 20px;
  color: var(--c-gray-950);
}

.signup__form__button span {
  margin-right: 11px;
  min-width: 18px;
  min-height: 18px;

  background: url("/img/icons/google-logo-new.png") no-repeat center center;
  background-size: contain;
}

.signup__form__button-dark {
  margin-top: 0;
  padding: 12px 63px;

  background: var(--c-gray-950);
}

.signup__form__button-dark input {
  border: none;
  background: transparent;

  font-weight: 500;
  font-size: 16px;
  font-family: "Aeonik";
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var(--c-lightgray-450);
  cursor: pointer;
}

.signup__form__splitter {
  display: flex;
  align-items: center;
  margin: 24px 0 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--c-gray-760);
  @include media(">tablet") {
    margin-top: 0;
  }
}

.signup__item {
  margin-bottom: 30px;
  padding: 24px 33px 31px;

  border-radius: 12px;
  background-color: var(--c-gray-075);
  @include media(">tablet") {
    grid-column: 1 / 2;
    margin-bottom: 0;
    padding: 31px 0 40px;
    width: calc(100% + 9px);
    max-width: 416px;
  }
}

.signup__item .signup__item__title {
  @include media(">tablet") {
    margin: 0 34px;
  }
}

.signup__item .signup__description {
  @include media(">tablet") {
    padding: 0 40px;
  }
}

.signup__item__title {
  position: relative;

  grid-column: 1 / 3;
  padding-bottom: 26px;

  border-bottom: 1px solid var(--c-gray-405);

  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  color: var(--c-gray-950);
  @include media(">tablet") {
    padding-bottom: 0;
    height: 66px;
    min-height: 66px;

    line-height: 43px;
    letter-spacing: -0.3px;
    white-space: nowrap;
  }
}

.signup__item__title-hidden {
  display: block;
  margin-top: 30px;
  @include media(">tablet") {
    display: none;
  }
}

.signup__item__title-hidden:before {
  display: none;
  @include media(">tablet") {
    display: block;
  }
}

.signup__item__title-logo {
  position: absolute;
  bottom: -16px;
  left: 50%;

  margin-bottom: 0;

  padding: 0 12px;
  width: 154px;
  height: 27px;

  background-color: var(--c-gray-075);
  transform: translateX(-50%);
  @include media(">tablet") {
    bottom: -19px;

    width: 189px;
    height: 28px;
  }
}

.signup__item__title-logo-white {
  display: none;
}

.signup__description {
  margin-top: 27px;
  @include media(">tablet") {
    margin-top: 48px;
  }
}

.signup__container .signup__item__title {
  padding-top: 24px;
  padding-right: 33px;
  padding-left: 33px;

  border-bottom: none;
  border-radius: 12px 12px 0 0;
  background-color: var(--c-gray-075);
  @include media(">tablet") {
    margin: 0 40px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    border-radius: 0;
    background-color: transparent;
  }
}

.signup__container .signup__description {
  margin-top: 0;
  padding: 24px 33px 31px;

  border-radius: 0 0 12px 12px;
  background-color: var(--c-gray-075);
  @include media(">tablet") {
    margin-top: 35px;
    padding: 0 40px 0;

    border-radius: 0;
    background-color: transparent;
  }
}

.signup__container .signup__rate {
  margin-left: 0;
}

.signup__container .signup__content {
  margin-top: 39px;
  padding: 23px 6px 21px;
  @include media(">tablet") {
    margin-top: 47px;
    padding: 31px 28px 18px;
  }
}

.signup__description-bordered {
  @include media(">tablet") {
    border-left: 1px solid var(--c-gray-760);
  }
}

.signup__container .signup__description-bordered {
  padding-top: 2px;
  @include media(">tablet") {
    margin-top: 35px;
    padding-top: 0;
    padding-right: 39px;
  }
}

.signup__rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  padding: 0 29px;
  @include media(">tablet") {
    margin-left: 0;
    padding: 0 30px;
  }
}

.signup__rate__title {
  padding-bottom: 7px;
  width: 100%;

  border-bottom: 1px solid var(--c-gray-950);

  font-weight: 700;

  font-size: 21px;
  line-height: 29px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: var(--c-gray-950);
  @include media(">tablet") {
    font-size: 17px;
    line-height: 24px;
  }
}

.signup__rate__text {
  padding-top: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--c-gray-950);
  @include media(">tablet") {
    padding-top: 8px;
  }
}

.signup__rate__text br {
  display: block;
  @include media(">tablet") {
    display: none;
  }
}

.signup__content {
  position: relative;

  margin-top: 35px;
  padding: 25px 16px 21px;

  border-radius: 12px;
  background-color: var(--c-gray-150);

  text-align: center;
  @include media(">tablet") {
    margin-top: 57px;
    padding: 23px 24px 25px;
  }
}

.signup__content__title {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: var(--c-gray-950);
  @include media(">tablet") {
    margin-bottom: 13px;

    font-size: 25px;
    line-height: 31px;
    letter-spacing: -0.3px;
  }
}

.signup__content__title br {
  @include media(">tablet") {
    display: none;
  }
}

.signup__container .signup__content__title {
  letter-spacing: -1px;
  @include media(">tablet") {
    letter-spacing: 0;
  }
}

.signup__content__text {
  margin: 0 auto;
  max-width: 204px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--c-gray-950);
  @include media(">tablet") {
    max-width: 100%;

    font-size: 16px;
    line-height: 22px;
  }
}

.signup__content__text br {
  display: none;
  @include media(">tablet") {
    display: block;
  }
}

.signup__item .signup__content__tip {
  @include media(">tablet") {
    top: -21px;
  }
}

.signup__content__tip {
  position: absolute;
  top: -15px;
  left: 50%;

  padding: 4px 12px;

  border-radius: 4px;

  font-weight: 500;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--c-gray-950);
  transform: translateX(-50%);
  @include media(">tablet") {
    top: -16px;

    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
  }
}

.signup__content__tip-green {
  background-color: var(--c-green-100);
}

.signup__content__tip-blue {
  background-color: var(--c-blue-600);
}

.signup__link {
  margin-top: 23px;

  border: 1px solid var(--c-gray-950);
  border-radius: 6px;
  @include media(">tablet") {
    margin-top: 35px;
  }
}

.signup__link i {
  display: none;
  @include media(">tablet") {
    display: inline-block;
  }
}

.signup__link a,
.signup__link button {
  display: block;
  padding: 11px 12px;
  width: 100%;

  border: none;
  border-radius: 6px;

  font-weight: 500;
  font-size: 16px;
  font-family: "Aeonik";
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--c-gray-950);
  cursor: pointer;
}

.signup__link button:hover {
  @include media(">tablet") {
    color: var(--c-blue-550);
  }
}

.signup__link a span {
  @include media(">tablet") {
    border-bottom: 1px solid var(--c-gray-950);
  }
}

.signup__link a:hover span {
  @include media(">tablet") {
    border-color: var(--c-blue-550);

    color: var(--c-blue-550);
  }
}

.signup__link-dark {
  background-color: var(--c-gray-950);
}

.signup__link-dark a span {
  color: var(--c-lightgray-450);
  
  @include media(">tablet") {
    border-bottom: 1px solid var(--c-lightgray-450);
  }
}

.signup__link-dark a:hover span {
  @include media(">tablet") {
    border-color: var(--c-blue-550);

    color: var(--c-blue-550);
  }
}

.signup__footer {
  margin-top: 31px;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  color: var(--c-gray-760);
  @include media(">tablet") {
    margin-top: 69px;
  }
}

.signup__footer a {
  margin-top: 5px;

  border-bottom: 1px solid var(--c-gray-950);

  font-weight: 500;
  letter-spacing: 0.3px;
  color: var(--c-gray-950);
}

.signup__footer a:hover {
  @include media(">tablet") {
    border-bottom: 1px solid var(--c-blue-550);
  }
}

.signup__footer p span:nth-child(2) {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: -2px;
  @include media(">tablet") {
    margin: 0;
  }
}

.signup__footer p span.hidden {
  display: none;
  @include media(">tablet") {
    display: inline-block;
  }
}

.signup__footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(">tablet") {
    display: block;
  }
}

.signup__footer p br {
  display: block;
  @include media(">tablet") {
    display: none;
  }
}
