.signup {
  a {
    color: cv('link');

    &:hover {
      text-decoration: underline;
    }
  }

  @include media("<tablet") {
    padding: 0 36px;
  }

  @include media("<475px") {
    padding: 10px;
  }

  .signup--banner-oie {
    width: 100%;
    padding: 10px 26px;
    background-color: #1662dd;
    color: white;
    font-size: 14px;
    margin-bottom: 30px;
  }

  .signup--content {
  width: 100%;
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  color: cv('text', 'darker');

    .signup--form {
      width: 100%;
      max-width: 517px;
      margin: 0 150px 0 0;
      padding: 65px 32px;
      background-color: #fff;
      box-shadow: 0px 6px 18px rgba(65, 65, 75, 0.5);

      .user-name {
        display: flex;

        .row:nth-child(1) {
          margin-right: 0px;
        }

        @include media("<tablet") {
          flex-direction: column;

          .row:nth-child(1) {
            margin-right: 0;
          }
        }
      }

      .signup--recaptcha {
        padding-top: 16px;
      }
      .signup--submit {
        padding-top: 8px;
      }

      .consent--section {
        .consent--section-text {
          font-size: 12px;
          line-height: 20px;
          width: 100%;
          text-align: justify;
          max-width: inherit;
          margin: 24px 0 10px 0;

          p {
            max-width: 100%;
          }
        }

        .consent--section-agree {
          position: relative;
          display: flex;
          flex-direction: column;

          label {
            display: flex;
            align-items: center;
            cursor: pointer;

            input {
              width: 16px;
              height: 16px;
              margin: 0 8px 0 0;
            }
          }
        }
      }

      .error-msg {
        position: absolute;
        bottom: -17px;
        left: 0;
        font-size: 0.8rem;
      }

      a.pending {
        cursor: wait;
        img {
          vertical-align: middle;
          width: 15px;
          height: 15px;
        }
      }

      @include media("<desktop") {
        margin: 0;
      }

      @include media("<475px") {
        padding: 10px;
      }

      @include media("<=phone") {
        padding: 0;
      }

      .splitter {
        display: flex;
        height: 20px;
        margin: 0 0 17px;
        justify-content: center;
        align-items: center;

        span:nth-child(2) {
          margin: 0 16px;
        }
        span:nth-child(1),
        span:nth-child(3) {
          height: 0;
          flex-grow: 1;
          border: 2px solid cv("brand", "base");
          display: none;
        }
      }

      .goto-signin {
        justify-content: center;
        margin: 0;
        padding-top: 15px;
        font-size: 0.9em;

        a {
          text-indent: 5px;
        }
      }
    }
  }

  .signup--description {
    padding: 30px 0 0 0;
    max-width: 604px;
    color: cv('text','darker');
    p, li {
      font-size: 20px;
      line-height: 1.7rem;
    }
    p {
      margin-bottom: 28px;
      line-height: 1.6rem;
    }
    ul {
      li {
        margin-bottom: 5px;
      }
    }
    p + ul {
      margin-top: 0;
    }

    h1 {
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 35px;
    }
    h2, h3, h4, h5 {
      margin-bottom: 2rem;
    }

    a {
      &,
      &:visited,
      &:focus,
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }
}
