.signup {
  @include media("<tablet") {
    padding: 0 36px;
  }

  @include media("<475px") {
    padding: 10px;
  }
}

.signup a {
  color: cv("link");
}

.signup a:hover {
  text-decoration: underline;
}

.signup .signup--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1195px;

  font-size: 16px;
  color: cv("text", "darker");

  @include media("<desktop") {
    justify-content: center;
  }
}

.signup .signup--content .signup--form {
  margin: 0;
  padding: 65px 32px;
  width: 45%;
  max-width: 517px;

  box-shadow: 0 6px 18px rgb(65 65 75 / 0.5);
  background-color: #ffffff;

  @include media("<desktop") {
    margin-bottom: 100px;
    width: 100%;
  }

  @include media("<tablet") {
    padding: 10px;
  }
}

.signup .signup--content .signup--form .user-name {
  display: flex;

  @include media("<tablet") {
    flex-direction: column;
  }
}

.signup .signup--content .signup--form .user-name .row:nth-child(1) {
  margin-right: 0;

  @include media("<tablet") {
    margin-right: 0;
  }
}

.signup .signup--content .signup--form .signup--recaptcha {
  padding-top: 16px;
}

.signup .signup--content .signup--form .signup--submit {
  padding-top: 8px;
}

.signup .signup--content .signup--form .consent--section .consent--section-text {
  margin: 24px 0 10px 0;
  width: 100%;
  max-width: inherit;

  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

.signup .signup--content .signup--form .consent--section .consent--section-text p {
  max-width: 100%;
}

.signup .signup--content .signup--form .consent--section .consent--section-agree {
  position: relative;

  display: flex;
  flex-direction: column;
}

.signup .signup--content .signup--form .consent--section .consent--section-agree label {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.signup .signup--content .signup--form .consent--section .consent--section-agree label input {
  margin: 0 8px 0 0;
  width: 16px;
  height: 16px;
}

.signup .signup--content .signup--form .error-msg {
  position: absolute;
  bottom: -17px;
  left: 0;

  font-size: 0.8rem;
}

.signup .signup--content .signup--form a.pending {
  cursor: wait;
}

.signup .signup--content .signup--form a.pending img {
  width: 15px;
  height: 15px;

  vertical-align: middle;
}

.signup .signup--content .signup--form .splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 17px;
  height: 20px;
}

.signup .signup--content .signup--form .splitter span:nth-child(2) {
  margin: 0 16px;
}

.signup .signup--content .signup--form .splitter span:nth-child(1),
.signup .signup--content .signup--form .splitter span:nth-child(3) {
  display: none;
  flex-grow: 1;
  height: 0;

  border: 2px solid cv("header");
}

.signup .signup--content .signup--form .goto-signin {
  justify-content: center;
  margin: 0;
  padding-top: 15px;

  font-size: 0.9em;
}

.signup .signup--content .signup--form .goto-signin a {
  text-indent: 5px;
}

.signup .signup--description {
  padding: 0;
  width: 44%;
  max-width: 604px;

  color: cv("text", "darker");

  @include media("<desktop") {
    width: 100%;
  }
}

.signup .signup--description p,
.signup .signup--description li {
  font-size: 20px;
  line-height: 1.7rem;
}

.signup .signup--description p {
  margin-bottom: 28px;
}

.signup .signup--description ul li {
  margin-bottom: 5px;
}

.signup .signup--description p + ul {
  margin-top: 0;
}

.signup .signup--description h1 {
  margin-bottom: 35px;

  font-weight: 300;
  font-size: 48px;

  @include media("<desktop") {
    font-size: 36px;
  }
}

.signup .signup--description h2,
.signup .signup--description h3,
.signup .signup--description h4,
.signup .signup--description h5 {
  margin-bottom: 2rem;
}

.signup .signup--description a,
.signup .signup--description a:visited,
.signup .signup--description a:focus,
.signup .signup--description a:hover {
  text-decoration: underline;
  color: #ffffff;
}
