$border-color: #b7bcc0;
$text-color: #5c6971;
$gray-000: #fafafa;
$small-spacing: 0.75rem;

.stack-selector {
  padding-left: 0;
  padding-right: 1rem;
  z-index: 10;
  @include media("<=desktop"){
      padding-right: 0;
  }


  
  &.for-mobile-view-only{
    @include media(">=desktop"){
      display: none;
    }
  }

  .selector-control {
    display: flex;
    flex-direction: column;
    .framework {
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    nav {
      flex: 1;
      background-color: white;
    }
    .instructions-label {
      flex: 0;
      padding: 0.65rem 0.5rem 0.5rem 0;
      font-weight: bold;
      white-space: nowrap;
    }
    .icon {
      width: 24px;
      height: 24px;
      &:before,
      &:after {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }
    .dropdown-item {
      display: flex;
      position: relative;
      top: 1px;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      color: $text-color;
      background: transparent;
      align-items: center;
      width: 100%;
      text-overflow: ellipsis;
    }

  
    .vs__dropdown-toggle{
      min-height: 45px;
      padding: 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      .vs__search {
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
      }
      .vs__selected{
        position: relative;
      }
      .vs__selected-options{
        flex-basis: auto;
      }
    }

    .vs__dropdown-menu {
      overflow-x: hidden;
      border-top-style: initial;
      padding-bottom: 0px;
      z-index: 50;

      .vs__dropdown-option {
        padding: 0.7rem 1rem;
        border: 1px solid transparent;
        border-bottom: 1px solid cv('gray', '100');
        width: 100%;

        &:last-child {
          border-bottom: 1px solid transparent;;
        }

        &--highlight {
          background: inherit;
          color: inherit;
          border: 1px solid cv('action');
          box-sizing: border-box;

          &:last-child {
            border: 1px solid cv('action');
            border-radius: 0 0 4px 4px;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  .stack-content {
    overflow-x: auto;
    padding: $base-spacing;
    pre {
      margin: 0;
    }
  }
}
