$text-color: #5c6971;
$dropdown-toggle-border: #8c8c96;

.stack-selector {
  padding-left: 0;
  z-index: 10;

  @include media("<tablet"){
      display: none;
  }

  &.for-mobile-view-only{
    margin-bottom: 1.5rem;
    display: block;
    @include media(">=tablet"){
      display: none;
    }

  }

  .selector-control {
    display: flex;
    flex-direction: column;
    .framework {
      padding-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    nav {
      flex: 1;
      background-color: cv('white', 'regular');
    }
    .instructions-label {
      flex: 0;
      padding: 0.65rem 0.5rem 0.5rem 0;
      font-weight: bold;
      white-space: nowrap;
    }
    .icon {
      width: 24px;
      height: 24px;
      &:before,
      &:after {
        font-size: 24px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }
    .dropdown-item {
      display: flex;
      position: relative;
      top: 1px;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-decoration: none;
      color: $text-color;
      background: transparent;
      align-items: center;
      width: 100%;
      text-overflow: ellipsis;
    }

    .v-select{
      .vs__dropdown-toggle{
            border-color: $dropdown-toggle-border;
            border-radius: 4px;
            height: 38px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            .vs__open-indicator{
              fill: cv('gray', '900');
            }
            .vs__search {
              height: 0;
              width: 0;
              margin: 0;
              padding: 0;
            }
            .vs__selected{
              border: none;
              padding: 0;
              margin: 0;
              position: relative;
            }
            .vs__selected-options{
              flex-basis: auto;
            }
      }

      .vs__dropdown-menu {
            border: 1px solid #1662de;
            overflow-x: hidden;
            padding: 0px;
            z-index: 50;

            .vs__dropdown-option {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              padding: 0 16px;
              width: 100%;
              height: 36px;

              &--highlight {
                background: cv('blue', '000');
                color: inherit;
                box-sizing: border-box;
              }
            }
      }
      &.vs--open{
        .vs__dropdown-toggle{
          border-color: cv('blue', '500');
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          &::before{
            content: " ";
            position: absolute;
            top: -4px;
            left: -4px;
            border: 4px solid cv('blue', '300');
            width: calc(100% + 8px);
            height: calc(100% + 8px);
            border-radius: 9px;
            border-bottom: none;
          }
        }
        .vs__dropdown-menu{
          overflow-x: visible;
          overflow-y: visible;
          &::before{
            content: " ";
            position: absolute;
            top: -13px;
            left: -5px;
            border: 4px solid #a6b5ec;
            width: calc(100% + 10px);
            height: calc(100% + 18px);
            border-radius: 9px;
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }
   
  }

  .stack-content {
    overflow-x: auto;
    padding: $base-spacing;
    pre {
      margin: 0;
    }
  }
}
