$border-color: #b7bcc0;
$gray-000: #fafafa;
$small-spacing: 0.75rem;

.stack-selector {
  border-radius: 3px;
}

.stack-selector .selector-control {
  display: flex;
  flex-direction: column;
}

.stack-selector .selector-control .framework {
  padding-left: 10px;

  text-overflow: ellipsis;

  overflow: hidden;
}

.stack-selector .selector-control nav {
  flex: 1;

  background-color: #ffffff;
}

.stack-selector .selector-control .instructions-label {
  flex: 0;
  padding: 0.65rem 0.5rem 0.5rem 0;

  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  color: #1d1d21;

  @include media(">desktop-xl") {
    margin-left: 0.8rem;
  }
}

.stack-selector .selector-control .icon {
  width: 24px;
  height: 24px;

  &::before,
  &::after {
    display: inline-block;
    width: 24px;
    height: 24px;

    font-size: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;

    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}

.stack-selector .selector-control .select-dropdown {
  @include media(">desktop-xl") {
    margin-left: 0.8rem;
  }
}

.stack-selector .selector-control .dropdown-item {
  position: relative;
  top: 1px;

  display: flex;
  align-items: center;
  width: 100%;

  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: cv("text");

  background: transparent;
}

.stack-selector .selector-control .vs__search {
  margin-top: 0;
  margin-left: 1.7rem;
}

.stack-selector .selector-control .vs__dropdown-toggle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  padding: 0.5rem;

  font-size: 14px;

  border-color: cv("text", "darker");
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__selected-options {
  flex-basis: auto;
  max-width: 93%;
  padding: 0;
  padding-left: 0.5rem;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__selected-options .vs__selected {
  max-width: 90%;
  margin: 0;
  padding: 0;

  border: 0;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__selected-options .vs__search {
  margin: 0;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__actions {
  padding: 0;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__open-indicator {
  fill: cv("text", "darker");
}

.stack-selector .selector-control .vs__dropdown-menu {
  z-index: 50;

  padding: 0;

  border-top-style: initial;
  overflow-x: hidden;
}

.stack-selector .selector-control .vs__dropdown-menu .vs__dropdown-option {
  width: 100%;
  margin: 0;
  padding: 0.7rem 1rem;

  border: none;
  border-bottom: 1px solid cv("gray", "100");

  &:last-child {
    border-bottom: none;
  }
}

.stack-selector .selector-control .vs__dropdown-menu .vs__dropdown-option--highlight {
  box-sizing: border-box;

  color: inherit;

  background: inherit;
  border: 1px solid cv("action");

  &:last-child {
    box-sizing: border-box;

    border: 1px solid cv("action");
    border-radius: 0 0 4px 4px;
  }
}

.stack-selector .stack-content {
  padding-top: $base-spacing;
}

.stack-selector .stack-content pre {
  margin: 0;
}
