$border-color: #b7bcc0;
$gray-000: #fafafa;
$small-spacing: 0.75rem;

.stack-selector {
  border-radius: 3px;
}

.stack-selector .selector-control {
  display: flex;
  flex-direction: column;
}

.stack-selector .selector-control .framework {
  padding-left: 10px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.stack-selector .selector-control nav {
  flex: 1;

  background-color: #ffffff;
}

.stack-selector .selector-control .instructions-label {
  flex: 0;
  padding: 0.65rem 0.5rem 0.5rem 0;

  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  color: #1d1d21;
}

@include media(">desktop-xl") {
  .stack-selector .selector-control .instructions-label {
    margin-left: 0.8rem;
  }
}

@include media(">desktop-xl") {
  .stack-selector .selector-control .select-dropdown {
    margin-left: 0.8rem;
  }
}

.stack-selector .selector-control .icon {
  width: 24px;
  height: 24px;
}

.stack-selector .selector-control .icon:before,
.stack-selector .selector-control .icon:after {
  display: inline-block;
  width: 24px;
  height: 24px;

  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}

.stack-selector .selector-control .dropdown-item {
  position: relative;
  top: 1px;

  display: flex;
  align-items: center;
  width: 100%;
  width: 100%;

  background: transparent;

  text-decoration: none;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: cv("text");
}

.stack-selector .selector-control .vs__search {
  margin-top: 0;
  margin-left: 1.7rem;

  color: var(--c-text-darker);
}

.stack-selector .selector-control .vs__dropdown-toggle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  min-height: 45px;

  border-color: cv("text", "darker");

  font-size: 14px;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__selected-options {
  flex-basis: auto;
  padding: 0;
  padding-left: 0.5rem;
  max-width: 93%;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__selected-options .vs__selected {
  margin: 0;
  padding: 0;
  max-width: 90%;

  border: 0;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__selected-options .vs__search {
  margin: 0;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__actions {
  padding: 0;
}

.stack-selector .selector-control .vs__dropdown-toggle .vs__open-indicator {
  fill: cv("text", "darker");
}

@media (max-width: 1439px) {
  .stack-selector .selector-control .vs__dropdown-toggle .vs__open-indicator {
    transform: scale(0.6);
  }
}

.stack-selector .selector-control .vs__dropdown-menu {
  z-index: 50;

  padding: 0;
  overflow-x: hidden;

  border-top-style: initial;
}

.stack-selector .selector-control .vs__dropdown-menu .vs__dropdown-option {
  margin: 0;
  padding: 0.7rem 1rem;
  width: 100%;

  border: none;
  border-bottom: 1px solid cv("gray", "100");
}

.stack-selector .selector-control .vs__dropdown-menu .vs__dropdown-option:last-child {
  border-bottom: none;
}

.stack-selector .selector-control .vs__dropdown-menu .vs__dropdown-option--highlight {
  box-sizing: border-box;

  border: 1px solid cv("action");
  background: inherit;

  color: inherit;
}

.stack-selector .selector-control .vs__dropdown-menu .vs__dropdown-option--highlight:last-child {
  box-sizing: border-box;

  border: 1px solid cv("action");
  border-radius: 0 0 4px 4px;
}

.stack-selector .stack-content {
  padding-top: $base-spacing;
}

.stack-selector .stack-content pre {
  margin: 0;
}
