.stack-selector {
  position: relative;

  border-radius: 3px;
  overflow: hidden;
}

.stack-selector nav.tabs ul {
  position: relative;
  top: -1px;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(15ch, 1fr)
  );
  padding: 0;

  background: #fafafa;
  border-bottom: 1px solid #b7bcc0;
  list-style-type: none;
}

.stack-selector nav.tabs ul li {
  display: inline-block;
  flex-grow: 1;
  max-width: 30ch;
  margin: 0;
}

.stack-selector nav.tabs ul li.current a {
  font-weight: 600;
  color: #2f3f4a;

  border-bottom-width: 3px;
  border-bottom-color: #1662dd;
}

.stack-selector nav.tabs ul li.current a:hover {
  background: transparent;
  border-bottom-color: #1662dd;
}

.stack-selector nav.tabs ul li .icon {
  width: 24px;
  height: 24px;
}

.stack-selector nav.tabs ul li .icon::before,
.stack-selector nav.tabs ul li .icon::after {
  font-size: 24px;
  line-height: 24px;
}

.stack-selector nav.tabs ul li a {
  position: relative;
  top: 1px;

  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0.75rem;
  box-sizing: border-box;

  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #5c6971;

  background: transparent;
  border-bottom: 1px solid #b7bcc0;

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background, border-color, border-width;
}

.stack-selector nav.tabs ul li a:hover {
  color: #2f3f4a;

  background: #e5edfb;
  border-bottom-width: 3px;
  border-bottom-color: #124a94;
}

.stack-selector nav.tabs ul li a .framework {
  padding-left: 10px;

  text-overflow: ellipsis;

  overflow: hidden;
}

.stack-selector .stack-content {
  padding: 1.5rem;
}

.stack-selector .stack-content pre {
  margin: 0;
}
