$border-color: #b7bcc0;
$text-color: #5c6971;
$action-base: #1662dd;
$action-dark: #124a94;
$gray-000: #fafafa;
$gray-100: #e4e5e7;
$gray-900: #2f3f4a;
$small-spacing: 0.75rem;
$base-spacing: 1.5rem;

.stack-selector {
  position: relative;

  overflow: hidden;

  border-radius: 3px;
}

.stack-selector nav.tabs ul {
  position: relative;
  top: -1px;

  display: flex;
  /*fallback*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
  flex-wrap: wrap;
  /*fallback*/
  padding: 0;

  border-bottom: 1px solid $border-color;
  background: $gray-000;
  list-style-type: none;
}

.stack-selector nav.tabs ul li {
  display: inline-block;
  /*fallback*/
  flex-grow: 1;
  /*fallback*/
  margin: 0;
  max-width: 30ch;
  /*fallback*/
  /* scale icons to 24px */
}

.stack-selector nav.tabs ul li.current a {
  border-bottom-width: 3px;
  border-bottom-color: $action-base;

  font-weight: 600;
  color: $gray-900;
}

.stack-selector nav.tabs ul li.current a:hover {
  border-bottom-color: $action-base;
  background: transparent;
}

.stack-selector nav.tabs ul li .icon {
  width: 24px;
  height: 24px;
}

.stack-selector nav.tabs ul li .icon:before,
.stack-selector nav.tabs ul li .icon:after {
  font-size: 24px;
  line-height: 24px;
}

.stack-selector nav.tabs ul li a {
  position: relative;
  top: 1px;

  display: flex;
  padding: $small-spacing;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  overflow: hidden;

  border-bottom: 1px solid $border-color;
  background: transparent;

  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $text-color;

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background, border-color, border-width;
}

.stack-selector nav.tabs ul li a:hover {
  border-bottom-width: 3px;
  border-bottom-color: $action-dark;
  background: #e5edfb;

  color: $gray-900;
}

.stack-selector nav.tabs ul li a .framework {
  padding-left: 10px;
  overflow: hidden;

  text-overflow: ellipsis;
}

.stack-selector .stack-content {
  padding: $base-spacing;
}

.stack-selector .stack-content pre {
  margin: 0;
}
