table {
  display: block;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
}

table th,
table td {
  padding: 0.3rem 0.5rem;
}

table thead tr {
  border-bottom: 0.2em solid cv("gray", "600");
}

table thead tr th {
  font-weight: 600;
  text-align: left;
}

table tbody tr {
  border-bottom: 0.05em solid cv("gray", "500");
}

table a svg.icon.outbound {
  display: none;
}
