.tag {
  --tag-space-y: 0;

  display: inline-flex;
  margin-top: var(--tag-space-y);
  margin-bottom: var(--tag-space-y);
  padding: 6px;

  border-radius: 4px;

  background-color: var(--c-tag-bg);

  font-size: 12px;

  line-height: 1;

  color: var(--c-tag-text);
}
