.dialog-text {
  font-size: 14px;

  .marketing-c {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 16px;
      margin: 0 0 8px 0;
      font-weight: 500;
      span {
        color: #bbbbbb;
      }
    }
    .gdpr-condition {
      display: flex;
      margin: 0 0 24px 0;
      font-size: 14px;
      background-color: #F5F5F6;
      align-items: center;
      padding: 12px 16px;
      input[type="checkbox"] {
        margin: 0 16px 0 0;
      }
    }
  }
  .tac-row {
    margin: 8px 0 24px 0;
  }
  select {
    display: block;
  }
  label {
    cursor: pointer;
  }
}
.agree-policy {
  .splitter {
    border-top: 1px solid cv("body", "border");
    margin: 0 0 24px 0;
  }
}
.terms-conditions-btns {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0 0 0;
  .btn-container {
    width: auto;
    &:nth-child(1) {
      margin-right: 15px;
    }
    .btn {
      display: table-cell;
      vertical-align: middle;
      height: 32px;
      padding: 0 15px;
      border: 1px solid cv("link", "darker");
      font-size: 14px;
    }
  }
}
