.terms {

  .terms--container {
    max-width: 668px;
  }

  .terms--leader {
    margin: 100px 0 30px;
    flex-grow: 1;
    text-align: center;
  }

  .terms--text {
    margin: 0 0 100px;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    max-width: initial;
  }

  ul {
    li {
      margin-bottom: 0.3rem;
    }
  }
}
