.terms .terms--container {
  max-width: 668px;
}

.terms .terms--leader {
  flex-grow: 1;
  margin: 100px 0 30px;

  text-align: center;
}

.terms .terms--text {
  margin: 0 0 100px;
}

.terms a:hover {
  text-decoration: underline;
}

.terms p {
  max-width: initial;
}

.terms ul li {
  margin-bottom: 0.3rem;
}
