.thank-you {
  padding: 0 30px;
}

.thank-you--title {
  margin-top: -5px;
  margin-bottom: 15px;

  text-align: center;

  img {
    margin-bottom: 10px;
    min-width: 40px;
  }

  h2 {
    margin: 0.5em 0;
    margin-bottom: 16px;
  }
}

.thank-you--description {
  text-align: center;
}
