.toggle-switch {
  display: flex;
  align-items: center;
  margin-left: 1.75rem;
  padding: 0 0.56rem;
  height: 43px;

  border-radius: 30px;
  background: cv("theme-toggle", "bg");
}

.toggle-switch span {
  display: inline-flex;
  justify-content: center;
  width: 32px;
  height: 32px;

  border-radius: 50%;

  cursor: pointer;
}

.toggle-switch span.active {
  background: cv("blue", "300");
}

.toggle-switch.switch-theme span::after {
  content: "";

  width: 100%;
  height: 100%;

  background-color: cv("gray", "000");
  mask: url("/img/icons/mode-dark.svg") no-repeat center center;
}

.toggle-switch.switch-theme span.light-mode::after {
  mask-image: url("/img/icons/mode-light.svg");
}

.toggle-switch.switch-theme span.active::after {
  background-color: cv("theme-toggle", "bg");
}
