.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.75rem;
  width: 88px;
  height: 48px;

  border-radius: 30px;
  background: #282827;
}

.toggle-switch span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  cursor: pointer;
}

.toggle-switch span.active {
  --icon-color: #2b2b2b;

  background: #3f59e4;
}

.dark-theme .toggle-switch span.active {
  background: linear-gradient(0deg, rgb(25 25 25 / 0.08), rgb(25 25 25 / 0.08)), #4cb7a3;
}
