.toggle-switch {
  background: cv('theme-toggle', 'bg');
  border-radius: 30px;
  padding: 0 0.5625rem;
  height: 43px;
  display: flex;
  align-items: center;
  margin-left: 1.75rem;

  span {
    border-radius: 50%;
    width: 32px;
    cursor: pointer;
    height: 32px;
    display: inline-flex;
    justify-content: center;

    &.active {
      background: cv('blue', '300');
    }
  }

  &.switch-theme {
    span {
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: cv('gray', '000');
        -webkit-mask: url("/img/icons/mode-dark.svg") no-repeat center center;
        mask: url("/img/icons/mode-dark.svg") no-repeat center center;
      }
      &.light-mode:after {
        -webkit-mask-image: url("/img/icons/mode-light.svg");
        mask-image: url("/img/icons/mode-light.svg");
      }

      &.active:after {
        background-color: cv('theme-toggle', 'bg');
      }
    }
  }
}
