$gray-900: #2f3f4a;

.top-bar-nav{
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  font-size: 14px;
  height: 95px;
  @include media("<=tablet") {
    padding: 20px 30px;
    height: 75px;
    justify-content: space-between;
  }
  &--logo{
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 32px;
    position: relative;
    z-index: 15;
    svg {
      fill: cv('gray', '000');
      width: 91.54967px;
    }
  }
  .navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    flex-grow: 1;
    max-width: calc(100% - 20px);
    padding-left: 51px;
    position: relative;
    letter-spacing: 1.5px;
    line-height: 24px;
      .menu{
        display: flex;
        flex-direction: inherit;
        text-transform: uppercase;
        position: relative;
        justify-content: space-between;
        align-items: center;
        // pointer-events: none !important;
        @include media("<=tablet"){
          overflow: scroll;
          flex-direction: column;
          align-items: flex-start;
          height: calc(100vh - 245px);
          li{
            margin-top: 10px;
            margin-bottom: 10px;
            letter-spacing: 1.5px;
          }
        }
        >li{
          margin-right: 22px;
          height: 38px;
          display: flex;
          align-items: center;
        }
      
        a {
          letter-spacing: 1.5px;
          line-height: 24px;
          color: white; 
          &.active{
            border-bottom: 2px solid white;
          }
          &:hover {
            color: $white;
          }
          @include media("<=tablet"){
            font-size: 16px;
            font-weight: 300;
            &.active{
              border: none;
              padding: none;
            }
          }
        }
        .hasSubMenu{
          position: relative;
          .caret {
            font-size: 5px;
            color: $white;
            vertical-align: middle;
            margin-left: 6px;
            letter-spacing: 0;
            @include media("<=tablet"){
              display: none;
            }
          }
          .submenu{
            display: none;
            .non-link{
              padding: 5px 25px;
              cursor: default;
              display: block;
              color: #142430;
              text-transform: none;
              font-size: 18px;
              letter-spacing: 0;
            }
            .divider{
              border-top: 1px solid #d2d2d6;
              margin: 10px 24px;
            }
            @include media("<=tablet"){
              display: block;
              margin-left: 10px;

              .non-link{
              text-transform: uppercase;
              font-weight: 400;
              color: white;
              padding: 0;
              font-size: 16px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
              letter-spacing: 1.5px;
              }
              
              .divider{
                display: none;
              }
            }
        }
        @include media(">=tablet"){
        &:hover{
          .submenu{
            background: #f4f4f4;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
            display: block;
            position: absolute;
            top: 42px;
            left: 50%;
            transform: translateX(-50%);
            padding: 25px 0;
            z-index: 50;
            &::before {
              content: '';
              display: block;
              position: absolute;
              top: -10px;
              left: 50%;
              transform: translateX(-50%);
              border-bottom: solid 20px #f4f4f4;
              border-left: solid 20px transparent;
              border-right: solid 20px transparent;
            }
            >li{
              white-space: nowrap;
              color: #e22866;
              display: block;
              font-weight: 600;
              >a.link{
                padding: 5px 25px;
                width: 100%;
                color: #e22866;
                transition: 0.4s color;
                display: block;
                &:hover{
                  background: #e22866;
                  color: #fff;
                  text-decoration: underline;
              }
            }
          }
          }
        }
        }
      }
    }
    .buttons-block{
      display: flex;
      margin-left: auto;
      &--button{
        color: white;
        border: 2px solid cv('cerise');
        border-radius: 3px;
        padding: 0 45px;
        height: 41px;
        display: flex;
        align-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;
        margin-left: 30px;
        letter-spacing: 2px;
        &.red{
          background: cv(cerise);
          color: white;
        }
        @include media("<=tablet"){
          margin: 0;
        }
      }
      @include media("<=tablet"){
        margin-left: 0;
        margin-bottom: 35px;
        justify-content: space-around;
      }
    }
    @include media("<=tablet") {
      display: none;

      &.expanded{
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      position: absolute;
      height: calc(100vh - 75px);
      padding: 35px;
      margin: 0;
      top: 100%;
      left: 0;
      min-width: 100%;
      background-color: #153b56;
          .menu{
            display: flex;
          }
        }
      }
    }
  &--controls{
    display: flex;
    justify-items: inherit;
    align-content: inherit;
    .search-icon{
      background: url(https://developer.okta.com/sites/all/themes/developer/media/icon-search.svg) center no-repeat;
      background-size: contain;
      height: 24px;
      width: 40px;
      outline: none;
      border: none;
      align-self: center;
      margin-left: 20px;
      &.active{
        background: url(https://developer.okta.com/sites/all/themes/developer/media/icon-close.svg) center no-repeat;
      }
      &:hover{
        cursor: pointer;
      }
    }
    &--toggle {
      width: 2em;
      cursor: pointer;
      margin-left: 1rem;
      display: flex;
      height: 40px;
  
      @include media(">=tablet") {
        display: none;
  
      }
  
  
      svg.toggle {
        fill: cv('cerise');
        width: 1.4em;
      }
      svg.toggle-close {
        fill: cv('gray', '200');
        width: 1.6em;
      }
    }
  }
  

}