.top-bar {
  display: flex;
  align-items: center;
  padding: 2em 1.5em;
  justify-content: space-between;
  max-width: $container-width;
  margin: 0 auto;
  border-bottom: none;

  &--logo {
    flex-shrink: 0;

    svg {
      fill: cv('gray', '000');
      width: 6em;
      height: 2.1em;
      margin-top: -0.4em;
    }
  }

  &--nav-toggle {
    align-self: flex-end;
    flex-shrink: 0;

    @include media('>tablet') {
      display: none;
    }

    .toggle {
      width:1.3em;
      fill: cv('cerise');
    } 
  } 

  &--primary-nav {
    flex-grow: 1;
    display: none;

    @include media('>tablet') {
      display: flex;
    }

    ul {
      display: flex;

      li {
        margin-left: 1em;
      }
      
      a {
        color: cv('gray', '000');
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
        letter-spacing: 0.2em;
        padding-bottom: 0.5em;

        &.active {
          border-bottom: 1px solid white;
        }
      }

      
    }
  }

  &--search-container {
    width: 1.5em;
    margin-left: 1.2em;
    fill: cv('gray', '000');
    flex-shrink: 0;
  }
  
}