.top-bar {
  height: 4.7em;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  justify-content: space-between;
  max-width: $container-width;
  margin: 0 auto;

  &--logo {
    flex-shrink: 0;

    svg {
      fill: cv('gray', '000');
      width: 6em;
      height: 2.1em;
      margin-top: -0.4em;
    }
  }

  &--nav-toggle {
    align-self: flex-end;
    display: initial;
    flex-shrink: 0;

    .toggle {
      width:20px;
      fill: cv('cerise');
    } 
  } 

  &--primary-nav {
    flex-grow: 1;

    ul {
      display: flex;
    }
  }
  
}