@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "okta";
  src: url("#{$asset-path}/fonts/okta.eot?37443478");
  src: url("#{$asset-path}/fonts/okta.eot?37443478#iefix") format("embedded-opentype"),
       url("#{$asset-path}/fonts/okta.woff?37443478") format("woff"),
       url("#{$asset-path}/fonts/okta.ttf?37443478") format("truetype"),
       url("#{$asset-path}/fonts/okta.svg?37443478#okta") format("svg");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: 400;
  font-style: 400;
  font-variant: normal;
  font-family: "okta", sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
}

.icon-search::before {
  content: "\e800";
}

.icon-facebook::before {
  content: "\e801";
}

.icon-twitter::before {
  content: "\e802";
}

.icon-linkedin::before {
  content: "\e803";
}

.icon-gplus::before {
  content: "\e804";
}

.icon-youtube-play::before {
  content: "\e805";
}

.icon-rss::before {
  content: "\e806";
}

.icon-down-open::before {
  content: "\e807";
}

.icon-left-open::before {
  content: "\e808";
}

.icon-right-open::before {
  content: "\e809";
}

.icon-up-open::before {
  content: "\e80a";
}

.icon-down-open-mini::before {
  content: "\e80b";
}

.icon-left-open-mini::before {
  content: "\e80c";
}

.icon-right-open-mini::before {
  content: "\e80d";
}

.icon-up-open-mini::before {
  content: "\e80e";
}

.icon-down-open-big::before {
  content: "\e80f";
}

.icon-left-open-big::before {
  content: "\e810";
}

.icon-right-open-big::before {
  content: "\e811";
}

.icon-up-open-big::before {
  content: "\e812";
}

.icon-cancel::before {
  content: "\e813";
}

.icon-cancel-1::before {
  content: "\e814";
}

.icon-plus::before {
  content: "\e815";
}

.icon-plus-1::before {
  content: "\e816";
}

.icon-plus-2::before {
  content: "\e817";
}

.icon-ok::before {
  content: "\e818";
}

.icon-ok-1::before {
  content: "\e819";
}

.icon-ok-2::before {
  content: "\e81a";
}

.icon-quote-left::before {
  content: "\e81b";
}

.icon-quote-right::before {
  content: "\e81c";
}

.icon-quote::before {
  content: "\e81d";
}

.icon-cancel-2::before {
  content: "\e81e";
}
