.code-icon {
  display: inline-block;
  margin-right: 14px;
}

ul.code-list {
  list-style: none;
  padding-left: 0px;
}


.language-content a:not([class="header-anchor header-link"]) {
  display: block;
}

.language-content ul:not([class="language-tabs"]) {
  padding-left: 0 !important;
}

.language-content li {
  list-style: none;
}

