.code-icon {
  display: inline-block;
  margin-right: 14px;
}

ul.code-list {
  list-style: none;
  padding-left: 0px;
}


.language-content .language-reference {
  display: block;
}

.language-content ul:not([class="language-tabs"]) {
  padding-left: 0;
}

.language-content li {
  list-style: none;
}

