.Docs {
  padding-bottom: 80px;

  .docs-title {
    padding-top: 120px;
    text-align: center;

    @media (min-width: 1024px) {
      padding-top: 218px;
    }
  }

  .docs-languages {
    max-width: 860px;
    margin: 40px auto 0;
    text-align: center;

    p {
      margin-right: auto;
      margin-left: auto;
    }

    .docs-page-tiles {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5rem;
      margin-bottom: -40px;
      justify-content: center;
    }

    a {
      @extend %all-caps;

      display: inline-block;
      width: 132px;
      padding: 24px 0 12px;
      color: get-color('charcoal');
      font-size: 14px;
      text-decoration: none;

      &.active,
      &:hover {
        color: get-color('charcoal-hover');
      }
    }
  }

  i.icon.docsPage {
    &::before,
    &::after {
      font-size: 48px;
    }
  }

  .docs-changelog {
    max-width: 24rem;
    margin: 2rem auto;
    padding-top: 2.5rem;
    border-top: 1px solid $base-border-color;
    text-align: center;

    a {
      color: get-color('blue-bright');
      font-size: 18px;

      i.icon {
        display: inline-block;
        width: 24px;

        &::before {
          color: inherit;
        }
      }

      &:hover {
        i.icon::before {
          color: inherit;
        }
      }
    }
  }

  &-content {
    .Row {
      /*margin-left: -32px;
      margin-right: -32px;*/
    }
    [class^='Column-'] {
      padding: 0 32px 32px;
    }
    h2 {
      margin: 40px 0 0 0;
      color: get-color('default');
    }
    a {
      &:hover {
        .h4 {
          color: get-color('blue-bright-hover');
        }
      }
      .h4 {
        color: get-color('blue-bright');
      }
    }
    p {
      margin: 1rem 0 2rem;
    }
  }

}

.docs-elsewhere {
  padding: 80px 0 20px;
  background: get-color('elephant');
  color: get-color('white');
  text-align: center;

  .docs-elsewhere-block {
    padding-bottom: 80px;

    img {
      width: 36px;
      height: 36px;
    }

    h4 {
      margin-top: 0;
      color: get-color('white');
    }

    p {
      margin-right: auto;
      margin-left: auto;
      max-width: 40ch;
    }

    a {
      @extend %all-caps;

      color: get-color('white');
    }
  }
}
