.Docs {
  padding-bottom: 80px;

  .Hero--docs {
    padding-bottom: 80px;
    color: get-color('white');
    background: get-color('ebony-clay');
    @media (max-width: 767px) {
      padding-top: 120px;
    }
    @media (min-width: 1024px) {
      padding-top: 218px;
    }
  	.Hero-subtitle {
      margin: 64px auto 0;
      font-size: 20px;
      font-weight: 400;
  	}
  }

  #docs-languages {
    margin: 40px auto 0;
    max-width: 860px;
    .docs-page-tiles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    a {
      @extend %all-caps;
      display: inline-block;
      width: 132px;
      font-size: 14px;
      text-decoration: none;
      padding: 24px 0;
      color: get-color('iron');
      &.active,
      &:hover {
        color: get-color('white');
      }
      i.icon.docsPage {
        text-shadow: none;
        &::before,
        &::after {
          font-size: 48px;
        }
      }
    }
  }

  &-content {
    .Row {
      margin-left: -32px;
      margin-right: -32px;
    }
    [class^='Column-'] {
      padding: 0 32px 32px;
    }
		h2 {
			margin: 40px 0 0 0;
			color: get-color('default');
		}
		a {
      &:hover {
        .h4 {
          color: get-color('blue-bright-hover');
        }
      }
      .h4 {
        color: get-color('blue-bright');
      }
    }
    p {
      margin: 10px 0;
    }
	}

}
