$border-color: #b7bcc0;
$text-color: #5c6971;
$title-color: #3d3d3d;
$action-base: #1662dd;
$action-dark: #124a94;
$gray-000: #fafafa;
$gray-100: #e4e5e7;
$gray-900: #2f3f4a;
$tiny-spacing: 0.375rem;
$small-spacing: 0.75rem;
$base-spacing: 1.5rem;
$big-spacing: 3rem;

.guide-details { 
  display: flex;
}

.guides-overview {
  display: flex;

  .overview-content { 
    width: 100%;
  }
}

.featured { 
  display: flex;
}

.guide-featured { 
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  margin-right: 20px;
  padding: 20px;
  min-height: 150px;

  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a { 
    color: $title-color;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .framework-icon-block { 
    padding-top: 40px;
  }
}

.guides-navigation { 
  width: 30%;
  min-width: 230px; 
  padding-right: 1rem;

  ul, ol { 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .guides > li {
    $icon-size: 1.3rem;
    padding-left: $icon-size;
    &:before {
      content: "\f138"; /* chevron-circle-right per https://fontawesome.com/cheatsheet?from=io*/
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -($icon-size);
      width: $icon-size;
    }
    &.active:before { 
      content: "\f13a"; /* chevron-circle-down per https://fontawesome.com/cheatsheet?from=io*/
    }
    &.overview { 
    }
    &.overview:before { 
      content: '\2022';
      display: inline-block;
      text-align: center;
      margin-left: -($icon-size);
      width: $icon-size;
    }
    &.overview.active { 
      font-weight: bold;
      $indent: 20px;
      border-bottom: 2px solid black;
      background-color: #e5edfb;
      margin-left: -($indent);
      padding-left: $indent;
    }
  }

  a { 
    color: $text-color;
    font-size: 0.85rem;
  }

  .sections { 
    margin-left: 1.5rem;
    list-style: decimal;
    .section {
      color: $text-color;
      font-size: 0.85rem;
    }
    .active {
      font-weight: bold;
      .highlight { 
        $indent: 20px;
        border-bottom: 2px solid black;
        background-color: #e5edfb;
        margin-left: -($indent);
        padding-left: $indent;
      }
    }
  }
}

.stack-selector {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 3px;
  overflow: hidden;

  nav.tabs ul {
    background: $gray-000;
    display: flex; /*fallback*/
    flex-wrap: wrap; /*fallback*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15ch,1fr));
    position: relative;
    top: -1px;
    list-style-type: none;
    border-bottom: 1px solid $border-color;
    li {
      display: inline-block; /*fallback*/
      flex-grow: 1; /*fallback*/
      max-width: 30ch; /*fallback*/
      &.current a {
        font-weight: 600;
        color: $gray-900;
        border-bottom-width: 3px;
        border-bottom-color: $action-base;
        &:hover {
          background: transparent;
          border-bottom-color: $action-base;
        }
      }
      a {
        display: block;
        box-sizing: border-box;
        position: relative;
        top: 1px;
        width: 100%;
        height: 3rem;
        padding: $small-spacing;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $text-color;
        background: transparent;
        border-bottom: 1px solid $border-color;
        transition-property: color, background, border-color, border-width;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;
        &:hover {
          color: $gray-900;
          background: #e5edfb;
          border-bottom-width: 3px;
          border-bottom-color: $action-dark;
        }
        &:focus {
          outline: 0;
          &::before { 
            /* same as buttons, except:
             * width and height _minus_ padding
             * no border radius */
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% - 0.75em);
            height: calc(100% - 0.75em);
            transform: translate(-50%, -50%);
            border: 2px dotted $text-color;
            border-radius: 0;
          }
        }
      }
    }
  }
  .stack-content {
    padding: $base-spacing;

    pre { 
      margin: 0;
    }
  }
}

