.okta-landing .TableOfContents {
  top: 160px;
  z-index: 10;
}
.landing-page-content {
  display: flex;
  padding-top: 20px;

  @include media('<860px') {
    .landing-navigation {
      display: none;
    }
  }
  
}

.landing-content { 
  max-width: 750px;
  overflow: scroll;
}

.landing-content.full-width {
  max-width: 100%;
}

.landing-navigation {
  padding-right: 2rem;
  width: 250px;
  flex: 0 0 auto;
  
	@include media('<860px') {
	  &.main {
      display: none;
    }
	}
  a {
    cursor: pointer
  }

  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .landing > li {
    $icon-size: 1.3rem;

    &:before {
      content: '';
      display: inline-block;
      text-align: center;
      margin-left: -($icon-size);
      width: $icon-size;
      color: #1662DD;
    }

    &:first-child:before {
      content: ''
    }

    a:hover,
    a:hover:before {
      color: #124A94;
      text-decoration: none;
    }
    

    a.active {
      font-weight: bold;
      border-left: 2px solid #2F3F4A;
      margin-left: -12px;
      padding-left: 10px;
      color: #2F3F4A;
    }

    &.subnav > a.active {
      border-left: none;
      padding-left: 12px;
    }

    &.subnav:before {
        content: '\f0da'; 
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -($icon-size);
        width: $icon-size;
        color: #1662DD;
    }
    &.subnav.open:before {
      content: '\f0d7'; 
    }

  }

  a {
    color: #1662DD;
    font-size: 0.85rem;
  }

  .sections {
    margin-left: 1.5rem;

    a {
      color: #1662DD;
      font-size: 0.85rem;
    }

    .active {
      font-weight: bold;

      .highlight {
        $indent: 20px;
        border-bottom: 2px solid black;
        background-color: #e5edfb;
        margin-left: -($indent);
        padding-left: $indent;
      }
    }
  }
}