.facebook-square-16::before {
  content: $facebook-square;

  color: $icon-color-facebook;
}

.facebook-16::before {
  content: $facebook;

  color: $icon-color-facebook;
}

.google-square-16::before {
  content: $google-square;

  color: $icon-color-google;
}

.google-16::before {
  content: $google;

  color: $icon-color-google;
}

.twitter-square-16::before {
  content: $twitter-square;

  color: $icon-color-dark;
}

.twitter-16::before {
  content: $twitter;

  color: $icon-color-dark;
}

.linkedin-square-16::before {
  content: $linkedin-square;

  color: $icon-color-dark;
}

.linkedin-16::before {
  content: $linkedin;

  color: $icon-color-dark;
}

.openid-16::before {
  content: $openid;

  color: $icon-color-dark;
}
