/*
 * Layout
 ------------------------------------------------------------ */
$headerHeight:			81px;
$stickyNavHeight:		60px;
$pageWidth:				1230px;
$gutterWidth:			60px;

$breakpointExtraSmall:	468px;
$breakpointSmall:		768px;
$breakpointMedium:		992px;
$breakpointLarge:		1200px;


/*
 * Colors
 ------------------------------------------------------------ */
$colorBlue:				#007DC1;
$colorBlueDark:			#007DC1;
$colorBlueLight:		#46b3e9;
$colorGreen:			#4cbf9c;
$colorGreenDark:		#43712f;
$colorGrey:				#818081;
$colorGreyDark:			#353435;
$colorGreyLight:		#E6E6E8;
$colorGreyLighter:		#fafafa;

$colorBlack:			#000;
$colorWhite:			#fff;
$colorCyan: 			#0acacc;
$colorOrange:			#fc5f35;


$oktaHighlightBlue:				#0095e5;
$oktaBlue:			#007dc1;
$oktaGreen: #4cbf9c;
$oktaHighlightGreen: #5ce5bc;




/*
 * New Colors
 ------------------------------------------------------------ */
$colorBrightBlue: #007dc1;
$colorMediumBlue: #46b3e9;
$colorLightBlue:  #a9e6fd;
$colorDarkGreen:  #4cbf9c;
$colorLightGreen: #4cdb82;

$colorCharcoal:   #5d5d5d;
$colorDarkGray:   #abadac;
$colorMediumGray: #c2c3c3;
$colorLightGray:  #e6e6e8;
$colorOffWhite:   #fafafa;


/*
 * Typography
 ------------------------------------------------------------ */
$fontSize:				16px;
$mobileFontSize:		14px;
$intermediaryFontSize:	15px;
$desktopFontSize:		$fontSize;

$fontColor:				#5d5d5d;
$fontFamily:			proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$navFontFamily: museo-sans, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$lineHeight:			1.5;
$sizingRatio:			1.225;
$sideBarWidth:			270px;




// pre-calculated the powers used to remove compass dependency
$calculatedPower_0_4:	1.085; // pow(sizingRatio, 0.4)
$calculatedPower_0_8:	1.176; // pow(sizingRatio, 0.8)
$calculatedPower_1_2:	1.276; // pow(sizingRatio, 1.2)
$calculatedPower_1_6:	1.384; // pow(sizingRatio, 1.6)
$calculatedPower_2_0:	1.501; // pow(sizingRatio, 2.0)
$calculatedPower_2_4:	1.628; // pow(sizingRatio, 2.4)
$calculatedPower_2_8:	1.765; // pow(sizingRatio, 2.8)
$calculatedPower_3_2:	1.914; // pow(sizingRatio, 3.2)
$calculatedPower_3_6:	2.076; // pow(sizingRatio, 3.6)
$calculatedPower_4_0:	2.252; // pow(sizingRatio, 4.0)
$calculatedPower_4_4:	2.442; // pow(sizingRatio, 4.4)
$calculatedPower_4_8:	2.649; // pow(sizingRatio, 4.8)
