name: Nightly Job

# on:
#  schedule:
#    - cron: "1 5 * * *" # This schedule runs every night at 12:01 AM Eastern time (adjust according to your timezone)

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: '--max_old_space_size=3584'

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - name: Checkout repository!
        uses: actions/checkout@v3
      - name: Setup node - ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
         node-version: ${{ matrix.node-version }}
         cache: 'npm'
      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run script and capture logs  #broken link checker script
        run: yarn build

      - name: Run link checker #broken link checker script
        run: yarn broken-link-checker:external > output.txt 2>&1 || true

     # - name: Extract URLs from log
        # run: |
       #   cat output.txt | grep -Eo 'https?://[^ ]+' > urls.txt
       # continue-on-error: true

      - name: Extract URLs from log
        run: |
          cat output.txt | grep -oP 'Link: \Khttp[^\s]+' > urls.txt
        continue-on-error: true

      - name: Remove False Positives
        run: |
          comm -23 <(sort extracted_urls.txt) <(sort falsepos.txt) > filtered_urls.txt

      - name: Read URLs from file
        id: read-urls
        run: echo "::set-output name=urls::$(cat urls.txt)"

      #- name: Slack notification with URLs
      #  if: success()
      #  uses: rtCamp/action-slack-notify@v2
      #  env:
      #    SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} #developer-docs-404s
      #  with:
      #    args: '{"text": "${{ steps.read-urls.outputs.urls }}"}'
      #  run: |
      #    curl -X POST -H 'Content-type: application/json' --data '{"text":"The GitHub Action workflow is complete!"}' $SLACK_WEBHOOK_URL